.blocks-suggest{
  position: relative;
  height: 36px;
  border-radius: 7px;
  //background-color: #fafafa;
  //box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.07);
  //border: solid 1px rgba(0, 0, 0, 0.09);

  //&.error {
  //  box-shadow: inset 0 1px 3px 0 rgba(81, 0, 0, 0.07)!important;
  //  border: solid 1px #e9604a!important;
  //  background-color: #fff5f4!important;
  //}


  br {content: ''}

  .bs-content{
    width: 100%;
    padding: 7px 8px;
    height: 44px;
    margin: -4px 0;
    overflow: hidden;

    cursor: text;
    white-space: nowrap;

      .blocks-list{
        display: inline-block;
        vertical-align: top;

        .block-item{
          position: relative;
          display: inline-block;
          vertical-align: top;
          height: 28px;
          border-radius: 7px;
          background-color: #e0e0e0;
          border: solid 1px rgba(0, 0, 0, 0.21);
          padding: 0;
          margin: 0 8px 0 0;

        //  cursor: pointer;
          cursor: default;

          &:last-child{
            margin: 0;
          }

          &::after{
            content: ',';
            position: absolute;
            top: -1px;
            right: -8px;
            width: 16px;
            height: 28px;
            line-height: 28px;
            font-size: 16px;
            padding: 0 0 0 11px;
            color: #aaaaaa;
          }

          &:last-child{
            &::after{
              display: none;
            }
          }

          .block-title{
            display: inline-block;
            vertical-align: top;
            white-space: nowrap;
            line-height: 28px;
            height: 28px;
            outline: none;
            padding: 0 7px;

            font-size: 16px;
            color: #000000;
            min-width: 10px;
            -webkit-user-select: none!important;
            -moz-user-select: none!important;
            -ms-user-select: none!important;
            user-select: none!important;

            cursor: pointer;
          }

          .trash-popup{
            left: auto;
            right: -8px;
            top: -8px;
          }

          &:hover{
            .trash-popup{
              transform: scale(1, 1);
              opacity: 1;
            }
          }
        }
      }

      .bs-input{
        display: inline-block;
        vertical-align: top;
        padding: 0 0 0 4px;
        line-height: 28px;
        height: 28px;
        min-width: 140px;
        outline: none;
        -webkit-user-select: auto!important;
        -moz-user-select: auto!important;
        -ms-user-select: auto!important;
        user-select: auto!important;
        //&:empty::before{
        //  content: '-';
        //  color: transparent;
        //}

        br {
          content: '';
        }
      }

      .bs-placeholder{
        position: absolute;
        top: 3px;
        left: 3px;
        padding: 0 0 0 8px;
        font-size: 16px;
        line-height: 1.75;
        color: #a6a6a6;
        white-space: nowrap;
        pointer-events: none;
      }

  }

  .bs-popup{
    position: absolute;
    top: 35px;
    cursor: auto;
    z-index: 1000000;
    min-width: 220px;
    height: auto;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.13);
    border: solid 1px rgba(0, 0, 0, 0.09);
    max-height: 1px;
    max-width: 1px;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    transition: opacity cubic-bezier(0.2, 0.7, 0.5, 1) 200ms, max-height cubic-bezier(0.2, 0.7, 0.5, 1) 200ms, max-width 0ms 200ms;
    color: #000000;

    &.open{
      max-height: 370px;
      max-width: 500px;
      opacity: 1;
      pointer-events: all;
      transition: opacity cubic-bezier(0.2, 0.7, 0.5, 1) 200ms, max-height cubic-bezier(0.2, 0.7, 0.5, 1) 200ms, max-width 0ms 0ms;
    }

    .add-block{
      position: relative;
      height: 41px;
      line-height: 40px;
      border-bottom: 1px solid #e0e0e0;
      font-size: 16px;
      padding: 0 10px 0 34px;
      cursor: pointer;
      white-space: nowrap;

      &.void{
        border-bottom: none;
        height: 40px;
        border-radius: 7px;
      }

      &::before{
        content: '';
        top: 12px;
        left: 11px;
        position: absolute;
        opacity: .3;
        width: 16px;
        height: 16px;
        background: url('../images/ic_add_small.svg') center center no-repeat;
      }

      &.act{
        background-color: #f1f2f2;
        &::before{
          opacity: 1;
        }
      }

      span{
        display: inline-block;
        max-width: 138px;
        overflow: hidden;
        white-space: nowrap;
        vertical-align: bottom;
        text-overflow: ellipsis;
      }
    }

    ul{
      padding: 0;
      margin: 0;
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 327px;
      li{
        margin: 0;
        white-space: nowrap;



        &.group-title{
          font-size: 13px;
          line-height: 24px;
          color: #767676;
          text-transform: uppercase;
          padding: 8px 0 0 16px;
          pointer-events: none;
        }

        &.bs-item{
          height: 40px;
          line-height: 40px;
          font-size: 16px;
          color: #000000;
          padding: 0 16px 0 28px;
          cursor: pointer;

          &.act{
            background-color: #f1f2f2;
          }
        }

        &.group-title, &.bs-item{
          max-width: 290px;
          text-overflow: ellipsis;
          overflow: hidden;

          span{
            display: inline-block;
            height: 18px;
            line-height: 18px;
            border-radius: 3px;
            background-color: #ffe287;
            padding: 0 1px;
            margin: 0 -1px;
          }
        }
      }
    }
  }
}
