<div>
  <div class="instagram-lock" ng-if="vm.item.config.recipe == 'instagram'">
    <div>
      Unfortunately, this plugin does not work anymore because of the new Instagram <a href="http://blog.ifttt.com/post/144557559688/a-change-in-how-instagram-works-with-ifttt" target="_blank">API changes</a>, please use new IFTTT – Instagram plugin.
    </div>
  </div>

    <p class="title" ng-bind="'Instagram (IFTTT)'"></p>
    <div class="content autopost">
        <div class="line sub-title">
          Instruction:
        </div>
        <ol>
          <li>Register on <a href="https://ifttt.com/" target="_blank">IFTTT</a>.</li>
          <li>Copy this link: <div class="copy-link" no-input-select-text>{{vm.API_URL}}/hooks/ifttt/{{vm.item.id}}</div></li>
          <li>Paste previous link to <a href="https://ifttt.com/recipes/427101-your-instagram-to-chatfuel" target="_blank">Instagram recipe</a>.</li>
          <li>That’s it! Now all the updates are automatically sent to your users.</li>
        </ol>
    </div>

    <a href="https://help.chatfuel.com/facebook-messenger/plugins/ifttt" target="_blank">
      <div class="asc"></div>
    </a>
    <localization item="vm.item"></localization>
</div>
