div.broadcast-null{

  //padding: 17px 0 0 0;

  max-width: 960px;

    > div.pop{
      position: absolute;
      width: 296px;
      border-radius: 3px;
      background-color: #69a1f3;
      font-size: 14px;
      line-height: 1.4;
      color: #ffffff;
      padding: 4px 8px;
      z-index: 1;

      &::before{
        content: ' ';
        position: absolute;
        width: 8px;
        height: 8px;
        top: 50%;
        left: -7px;
        -webkit-transform: rotate(45deg) translateY(-50%);
        transform: rotate(45deg) translateY(-50%);
        background-color: #69a1f3;
      }

    }


  & + .tutorials-and-guides{
    position: absolute;
    bottom: 0;
    z-index: 2;
  }
}
