div.structure-null{
  padding: 0;

  max-width: 960px;

  h2{
    font-weight: 300;
    font-size: 32px;
    line-height: 1.4;
    color: #000000;
    text-align: left;
    margin: 0 0 32px;
    padding: 0;
  }

  iframe{
    border: 1px solid rgba(0,0,0,0.05);
    margin: 0 0 120px;
  }




}
