.date-range-selector{
  height: 36px;
  line-height: 36px;
  margin: 32px 0 0;
  text-align: right;
  position: relative;

  .fast-selector{
    vertical-align: middle;
    font-size: 15px;
    color: #448af1;
    cursor: pointer;
    margin: 0 28px 0 0;
    display: inline-block;
    line-height: normal;
    &:hover{
      text-decoration: underline;
    }
    &.act{
      color: #3c3f40;
      pointer-events: none;
    }
  }

  .open-popup-button{
    display: inline-block;
    position: relative;
    height: 36px;
    line-height: 34px;
    padding: 0 54px 0 15px;
    text-transform: none;
    width: 255px;
    text-align: left;

    &::after{
      content: '';
      position: absolute;
      background: url('../images/ic_dropdown.svg') no-repeat center center;
      width: 24px;
      height: 24px;
      top: 5px;
      right: 6px;
    }
  }

  .date-popup{
    text-align: center;
    position: absolute;
    right: 0;
    top: 37px;
    z-index: 10;
    background-color: #ffffff;
    padding: 24px;
    line-height: normal;

    border-radius: 7px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12), 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;

    opacity: 0;
    pointer-events: none;
    height: 1px;
    width: 255px;
    transition: all 150ms cubic-bezier(0.22, 0.61, 0.36, 1);

    white-space: nowrap;
    .uib-datepicker{
      display: inline-block;
      vertical-align: top;
      margin: 0;
      white-space: normal;

      &:first-child{
        margin: 0 24px 0 0;
      }

      .future-day, .prev-day2{
        color: #cccccc;
        background-color: transparent;
        pointer-events: none;
      }

      .range-day{
        background-color: rgba(33, 123 , 247, 0.1);
      }

      .range-day-start{
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
      }

      .range-day-end{
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;
      }

      tbody tr td{
        padding: 0;
        transition: background-color 100ms;
      }
    }

    .done-button{
      position: absolute;
      right: 24px;
      bottom: 24px;
    }
  }

  &.open{
    .date-popup{
      opacity: 1;
      width: 582px;
      height: 365px;
      pointer-events: auto;
    }

    .open-popup-button{
      cursor: default;
      pointer-events: none;
    }
  }

}
