<div class="content" ng-bind-html="vm.content"></div>

<div class="footer">
  <div class="button b-false" ng-click="vm.close()">Ok</div>
</div>

<div class="button close" ng-click="vm.close()"></div>
