<div class="buy-button">
  <div class="info">
    <!--div class="no-enabled" ng-if="vm.botStatusConnected === false || vm.botStatusPaymentEnabled === false">
      <p>
        To use payments you'll need to:
      </p>
      <p ng-class="{done: vm.botStatusConnected}">
        1. <span class="link" ng-click="vm.goSettings()">Make your bot public</span> by connecting it to FB Page
      </p>
      <p ng-class="{done: vm.botStatusPaymentEnabled, disabled: !vm.botStatusConnected}">
        2. Run <span ng-class="{link: vm.botStatusConnected}"  ng-click="vm.openWizard()">payments setup wizard</span>
      </p>
    </div-->
    <div class="no-enabled-v2" ng-if="(vm.botStatusConnected === false || vm.botStatusPaymentEnabled === false || vm.paymentsAccess === false) && vm.items.length === 1">
      <div class="l-border-box">
        <p class="title" ng-if="vm.botStatusConnected === true && vm.botStatusPaymentEnabled === false">
          To enable Native Payments you'll need to complete the <span class="link" ng-click="vm.openWizard()">payment setup wizard</span>
        </p>
        <p class="title" ng-if="vm.botStatusConnected === true && vm.botStatusPaymentEnabled === true &&  vm.paymentsAccess === false">
          To enable Native Payments you'll need to enable Payment Permission in the <span class="link" ng-click="vm.openWizard()">payment setup wizard</span>
        </p>
        <p class="title" ng-if="vm.botStatusConnected === false && vm.botStatusPaymentEnabled === false">
          To enable Native Payments you'll need to:
        </p>
        <ol ng-if="vm.botStatusConnected === false && vm.botStatusPaymentEnabled === false">
          <li>
            <span class="link" ng-click="vm.goSettings()">Make your bot public</span>
          </li>
          <li class="disabled">
            Complete the Native Payment setup wizard
          </li>
        </ol>
      </div>
      <div class="foot">
        Page admins can see the native Buy Button in test mode
      </div>
    </div>

    <div class="multi-button" ng-if="vm.index !== 0">
      <p>
        <b>Buy button</b> only works with Gallery cards and it must be the first (Facebook limitation).
      </p>
      <p>
        <span class="link" ng-click="vm.moveToFirst()">Move Buy button to the first position and enable</span>
      </p>
    </div>
  </div>



  <div class="cost-items-list" ng-if="vm.index === 0">
    <div class="cost-item" ng-repeat="item in vm.item.payment_summary.price_list track by $index">
      <div class="cost-item-name">
        <input
          maxlength="20"
          type="text"
          placeholder="Enter name"
          ng-model="vm.item.payment_summary.price_list[$index].label"
          ng-keydown="vm.onKeyDownPriceLabel($event, $index)"
        />
      </div>
      <div class="cost-item-value">
        <input
          type="text"
          placeholder="$0.00"
          art-currency
          ng-model="vm.item.payment_summary.price_list[$index].amount"
          ng-change="vm.updateTotal()"
          ng-keydown="vm.onKeyDownPriceAmount($event, $index)"
        />
      </div>
      <div class="button-ver2 trash-popup mini" ng-click="vm.removeCostItem($index)"></div>
    </div>
    <div class="cost-item add" ng-click="vm.addCostItem()">
      ADD TAXES, SHIPPING, ETC.
    </div>
  </div>

  <div class="advanced-settings" ng-class="{open: vm.advOpen}" ng-if="vm.index === 0">
    <div class="link" ng-click="vm.advToggle();">Advanced settings</div>
    <div ng-if="vm.aBoxShow">
      <div class="title" ng-if="vm.botStatusConnected === true && vm.botStatusPaymentEnabled === true">Fallback URL for non-US users</div>
      <div class="title" ng-if="vm.botStatusConnected === false || vm.botStatusPaymentEnabled === false">Fallback URL</div>
      <art-textarea-expand
        class="cf-input auto-error-off{{vm.validateURL(vm.item.fallback_url)?'':' error'}}"
        placeholder="Enter a link to an online store item"
        value="vm.item.fallback_url"
      ></art-textarea-expand>

      <div class="title">DATA REQUESTED FROM USER</div>
      <div class="requested-user-info" ng-click="vm.testError()">
        <label>
          <art-checkbox name="contact_name" ng-model="contactName" in-array="vm.item.payment_summary.requested_user_info"></art-checkbox>Name
        </label>
        <label>
          <art-checkbox name="contact_phone" ng-model="contactPhone" in-array="vm.item.payment_summary.requested_user_info"></art-checkbox>Phone
        </label>
        <label>
          <art-checkbox name="contact_email" ng-model="contactEmail" in-array="vm.item.payment_summary.requested_user_info"></art-checkbox>Email
        </label>
        <label>
          <art-checkbox name="shipping_address" ng-model="shippingAddress" in-array="vm.item.payment_summary.requested_user_info"></art-checkbox>Shipping address
        </label>
      </div>


      <div class="title">VARIABLES ATTACHED TO THE ORDER</div>
      <art-vars-suggest ng-model="vm.item.variables"></art-vars-suggest>

      <div class="title">AFTER PURCHASE SHOW THIS BLOCK</div>
      <blocks-suggest blocks="vm.item.payment_blocks" blocks-titles="[]" exclude-blocks="[]" index="0" auto-on-show-error="false"></blocks-suggest>
    </div>
  </div>
</div>
