<div class="error-container">
  <div class="error-message-wrapper">
    <span class=error-logo></span>
    <div class="error-message">{{vm.errorText}}</div>
    <div class="error-message help">Сonnect to page again if you fixed this issue.</div>
  </div>
  <div class="button-ver2 orange-rounded" ng-if="vm.buttonText" ng-click="vm.goToPage(vm.buttonUrl)">{{vm.buttonText}}</div>
</div>
