<section class="bot-selector draft" ng-if="bsc.opened">
  <div>
    <div class="logo"
      uib-tooltip="Go to Dashboard"
      tooltip-placement="right"
      tooltip-class="logo-tooltip">
      <a ui-sref="bots" class="logo-mini">
      </a>
    </div>
    <div class="breadcrumbs"><a ui-sref="bots" ng-click="bsc.backArrClick()"></a></div>

    <div class="selector selector-bot" ng-class="{ act: bsc.selectorOpened, disabled: !(bsc.bots.length > 1) }">
      <img class="bot-image" ng-src="{{bsc.currentBot.status.page_info.picture || '../../../assets/images/av_def_bot.png'}}" alt="" />
      <div class="label" ng-class="{'one-bot': bsc.bots.length === 1}">
        <span class="current" ng-click="$event.stopPropagation(); bsc.selectorOpened = !bsc.selectorOpened">{{bsc.currentBot.title}}</span>
        <span class="loading-bar" loading-bar></span>
      </div>
      <ul>
        <li ng-repeat="bot in bsc.bots track by bot.id" ng-click="bsc.selectorOpened = false; bsc.link = false" ng-class="{'firstElem': (bot.id === bsc.$stateParams.bot_id) }">
          <img class="bot-image-selector" ng-src="{{bot.status.page_info.picture || '../../../assets/images/av_def_bot.png'}}" alt="" /><a title-slicer ng-click="bsc.changeBot(bot.id); bsc.pageLink = ''" ui-sref="app.structure.block({ bot_id: bot.id, id: bot.first_block.id })">{{bot.title}}</a>
        </li>
      </ul>
    </div>

    <div ng-if="!!bsc.currentBot.status.page" class="page-link" ng-mouseenter="bsc.pageLink = bsc.currentBot.status.page" ng-mouseleave="bsc.pageLink = bsc.currentBot.status.page.slice(0, 5)+'...'; bsc.closeTooltip()" ng-class="{'copied-tooltip': bsc.copy}">
      <input type="text" class="input-to-copy" value="{{'m.me/' + bsc.currentBot.status.page}}">
      <div class="page-link-full" ng-click="bsc.openPage()">m.me/{{bsc.pageLink || bsc.currentBot.status.page.slice(0, 5)+'...'}}</div><span uib-tooltip="{{bsc.copy ? 'Copied' : 'Copy to clipboard'}}" tooltip-placement="right" tooltip-class="copy-tooltip" class="icon-copy" ng-click="bsc.copyLink()"></span>
    </div>

    <div class="button-box" ng-class="{'isLinked': bsc.link}">
      <div class="button connect" ng-click="bsc.goWizard()" ng-bind="bsc.wizardButtonTitle" ng-if="!bsc.currentBot.status.page && bsc.showConnectBtn && bsc.showConnectButton"></div>      <div
        class="fb-button-place"
        ng-bind-html="bsc.testPageCode"
        ng-class="{'fb-button-place--hide': bsc.link, 'loaded' : bsc.fbButtonLoadedEmulate}"
        fb-test-bot-btn-click
        link="bsc.link"></div>
      <div class="open-in-messenger" ng-class="{'open-in-messenger--to-right': bsc.currentBot.status.page, 'open-in-messenger--bigger': bsc.link}" ng-class="{connected: bsc.currentBot.status.page}">
        <a class="link" href="#" ng-click="bsc.openMessenger($event)">view on messenger.com</a>
      </div>
    </div>

    <nav>
      <sidebar></sidebar>
    </nav>
  </div>
</section>
