.menu-item{
  position: relative;
  width: auto;
  height: 46px;
  line-height: 44px;
  border-top: solid 2px #ebebeb;
  background-color: #ffffff;

  &:last-child{
    border-bottom: solid 2px #ebebeb;
  }

  .title{
    position: relative;
    text-align: center;
    font-size: 17px;
    color: #448af1;
    width: 266px;
    height: 44px;
    cursor: pointer;
    border:none;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 2px;
    text-overflow: ellipsis;
    resize:none;
    background-color:transparent;

  }
  .discount{
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 10px;
    color: #ffffff;
    opacity: 0;
    transition: opacity 100ms;

    line-height: 14px;
    padding: 0 4px;
    height: 14px;
    border-radius: 8px;
    background-color: #5dc991;
  }

  textarea:focus + .discount{
    opacity: 1;
  }



  .preview{
    display: none;
    position: absolute;
    z-index: 10;
    height: 38px;
    top: 3px;
    right: 3px;
    width: 48%;
    overflow: hidden;
    line-height: 36px;
    font-size: 13px;
    padding: 0 5px;
    cursor: pointer;
    white-space: nowrap;

    &.act{
      display: block;
    }

    span{
      display: inline-block;
      position: relative;
      vertical-align: middle;
      height: 32px;
      border-radius: 3px;
      background-color: rgba(0,0,0,0.1);
      padding: 0 8px;
      font-size: 12px;
      line-height: 32px;
      margin-right: 8px;
      margin-top: -2px;

      &::after{
        content: ',';
        position: absolute;
        right: -5px;
        top: 0;
        z-index: 100;
      }

      &:last-child{
        &:after{
          content: '';
        }
      }
    }
  }


  .popup-editor{
    position: absolute;
    top: -2px;
    right: -2px;
    width: 390px;
    height: 48px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(0, 0, 0, 0.05);
    z-index: 100000;
    overflow: hidden;

    .editor-type-buttons{
      display: block!important;
      right: auto;
      left: 8px;
      top: 7px;
      width: auto;
    }

    .editor-type-buttons::after{
      // display: none;
    }

    .content{
      position: absolute;
      left: 70px;
      top:7px;
      height: 32px;
      width: 268px;
      padding: 0;
      > input{
        display: block;
        border:0;
        height: 100%;
        width: 100%;
        font-size: 12px;
        line-height: 1.3;
        color: #000000;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    }

    .save-close-buttons{
      height: 48px;
      position: absolute;
      right: 0;
      top: 0;
      white-space: nowrap;
      width: 48px;


      .button{
        display: inline-block;
        opacity: 0.3;
        width: 48px;
        height: 46px;
        background-position: center center;
        background-repeat: no-repeat;
      }

      .button.save:hover{
        opacity: 1;
      }

      .button.save{
        background-image: url('../images/ic_done.svg');
        background-size: 25px 25px;
        margin-right: -4px;
      }

      .button.cancel{
        position: relative;
        opacity: 1;
        background-color: #f3f2f2;

        &::after{
          content: ' ';
          display: block;
          height: 100%;
          width: 100%;
          background-position: center center;
          background-repeat: no-repeat;
          background-image: url('../images/ic_trash.svg');
          background-size: 23px 23px;
          opacity: 0.3;
        }

        &:hover::after{
          opacity: 1;
        }
      }
    }
  }

  .editor-type-buttons{
    display: none;
    position: absolute;
    top:6px;
    right: 2px;
    height: 32px;
    width: 55px;
    text-align: right;
    white-space: nowrap;
    z-index: 100;
    background-color: #ffffff;
    padding-right: 2px;

    &.act{
      display: block;
    }

    .button{
      display: inline-block;
      opacity: 0.3;
      width: 24px;
      height: 24px;
    }

    .button:hover,
    .button.act{
      opacity: 1;
      display: inline-block !important;
    }

    .button.tag{
      margin-right: 2px;
      background-image: url('../images/ic_hash.svg');
    }

    .button.url{
      background-image: url('../images/ic_link.svg');
    }
  }

  .editor-type-buttons::after{
    position: absolute;
    content: ' ';
    width: 2px;
    height: 24px;
    background-color: #ebebeb;
    top:4px;
    left: 26px;
  }

  &.error{
    border-top: solid 2px transparent;
    box-shadow: 0 0 0 2px #e9604a;
    z-index: 500;

    .editor-type-buttons{
      .button.tag{
        background-image: url('../images/ic_hash_red.svg');
        opacity: 1;
      }
      .button.url{
        background-image: url('../images/ic_link_red.svg');
        opacity: 1;
      }
    }
  }

  .button.float{
    opacity: 0;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 11px;
    padding: 0;
    transition: opacity 60ms;

    &:hover{
      opacity: 0.9!important;
    }

    &.drag{
      background: url(../images/ic_drag_ver.svg) center center no-repeat;
      cursor: ns-resize;
      left: -21px;
    }

    &.remove{
      background: url("../images/ic_trash.svg") center center no-repeat;
      right: -21px;
    }
  }

  &:hover{
    .button{
      opacity: 0.35;
    }
  }

  &.disabled{
    pointer-events: none;


    textarea, .preview{
      opacity:0.6;
    }
  }
}
