<p class="title">
  Are you sure you want to create a<br> Facebook App?
</p>
<p>
  You will run setup wizard to create a Facebook App, after that you can connect your chatbot to it. This approach is suitable when you don’t want to give any manage permissions to Chatfuel App.
</p>
<p class="gray">
  Note that review process takes from 2 up to 7 days.
</p>
