<div class="bottom-align-right">

  <div>

    <div class="border-box connect-to-page" ng-class="{'no-paddings': (vm.isChatfuelApp && vm.pagesAccessed &&  vm.appId !=-1 && vm.pages.length > 0 && !vm.otherUserConnected) || vm.otherUserConnected || (!vm.isChatfuelApp && vm.appId > 0 && !vm.otherUserConnected), 'height-149': (vm.isChatfuelApp && vm.pagesAccessed &&  vm.appId !=-1 && vm.pages.length > 0 && !vm.otherUserConnected) || vm.otherUserConnected || (!vm.isChatfuelApp && vm.appId > 0 && !vm.otherUserConnected), 'no-spiner': (vm.isChatfuelApp && vm.pagesAccessed &&  vm.appId !=-1 && vm.pages.length > 0 && !vm.otherUserConnected) || (!vm.pagesAccessed && vm.appId == 0 && !vm.otherUserConnected) || (vm.isChatfuelApp && vm.pagesAccessed &&  vm.appId != -1 && vm.pages.length == 0 && !vm.otherUserConnected) || (!vm.isChatfuelApp && vm.appId > 0 && !vm.otherUserConnected) || vm.otherUserConnected}">

      <div class="state state-default" ng-class="{ 'act': (!vm.pagesAccessed && vm.appId == 0 && !vm.otherUserConnected)}">
        <h2 class="publish-header">Bot publishing</h2>
        <div class="button db-link" ng-click="vm.goWizard()">CONNECT VIA APP</div>
        <div class="steps-container">
          <div class="step step1" ng-class="{active: true, completed: false}">
            <span class="step-logo">1</span>
            <div class="step-text">
              GIVE PERMISSIONS (1 min)
            </div>
            <span class="step-divider"></span>
          </div>
          <div class="step step2" ng-class="{active: false, completed: false}">
            <span class="step-logo">2</span>
            <div class="step-text">
              CREATE A FACEBOOK PAGE (2 min)
            </div>
            <span class="step-divider"></span>
          </div>
          <div class="step step3" ng-class="{active: false, completed: false}">
            <span class="step-logo">3</span>
            <div class="step-text">
              CONNECT BOT TO A FACEBOOK PAGE (less than a minute)
            </div>
          </div>
        </div>
        <div class="state-wrapper">
          <div class="state-img"></div>
          <div class="state-content">
            <div class="schem">
              A Facebook chatbot works this way:
              <div class="schem-point chatbot">
                <span class="schem-logo"></span><span ng-bind="vm.bot.title"></span><span class="aditional">+</span>
              </div>
              <div class="schem-point facebook">
                <span class="schem-logo"></span>Facebook Page
              </div>
            </div>
            <p>
              <span class="dark">Chatfuel needs necessary Facebook Page permissions to do the bot building.</span></br>
              Don't worry, it is safe — Facebook Page <span class="underline">is not your personal page</span>, but a page dedicated to your brand, business, band etc or just any test page (like the <a class="link" href="https://www.facebook.com/chatfuel" target="_blank">Chatfuel Facebook Page</a>).
            </p>
            <div class="button-box">
              <div ng-click="vm.requestPagesAccess();" class="button db-orange" id="requestPagesAccessButton">GIVE NECESSARY PERMISSIONS</div>
            </div>
          </div>
        </div>
      </div>

      <div class="state state-pages-list-void" ng-class="{ 'act': (vm.isChatfuelApp && vm.pagesAccessed &&  vm.appId != -1 && vm.pages.length == 0 && !vm.otherUserConnected)}">
        <h2 class="publish-header">Bot publishing</h2>
        <div class="button db-link" ng-click="vm.goWizard()">CONNECT VIA APP</div>
        <div class="steps-container">
          <div class="step step1" ng-class="{active: false, completed: true}">
            <span class="step-logo">1</span>
            <div class="step-text">
              GIVE PERMISSIONS (1 min)
            </div>
            <span class="step-divider"></span>
          </div>
          <div class="step step2" ng-class="{active: true, completed: false}">
            <span class="step-logo">2</span>
            <div class="step-text">
              CREATE A FACEBOOK PAGE (2 min)
            </div>
            <span class="step-divider"></span>
          </div>
          <div class="step step3" ng-class="{active: false, completed: false}">
            <span class="step-logo">3</span>
            <div class="step-text">
              CONNECT BOT TO A FACEBOOK PAGE (less than a minute)
            </div>
          </div>
        </div>

        <div class="state-wrapper">
          <div class="state-img"></div>
          <div class="state-content">
            <p class="full-black top-text">
              Looks like you don't have any Facebook Pages.
            </p>
            <p class="full-black">
              Facebook Page is essential for a chatbot to chat with users.</br>
              You can create a Facebook Page right now with a mere flick of your wrist:
            </p>
            <div class="button-box">
              <a class="button db-orange" href="https://www.facebook.com/pages/create/" target="_blank" ng-click="vm.setNeedRefresh()">CREATE A FACEBOOK PAGE</a>
            </div>
          </div>
        </div>
      </div>

      <div class="state state-pages-list" ng-class="{ 'act': (vm.isChatfuelApp && vm.pagesAccessed &&  vm.appId !=-1 && vm.pages.length > 0 && !vm.otherUserConnected), 'state-height-149': (vm.isChatfuelApp && vm.pagesAccessed &&  vm.appId !=-1 && vm.pages.length == 1 && !vm.otherUserConnected && vm.bot.status.page)}">
        <div class="pages-list-header">
          <h2 class="publish-header-connected">Bot publishing</h2>
          <div class="buttons-header" ng-if="!vm.bot.status.page" ng-hide="vm.connecting">
            <div ng-click="vm.goWizard()" class="button db-link">CONNECT VIA APP</div>
            <a href="https://www.facebook.com/pages/create/" target="_blank" class="button button-ver2 white-rounded" ng-click="vm.setNeedRefresh()">Create Facebook page</a>
          </div>
        </div>

        <div class="steps-container" ng-if="!vm.bot.status.page" ng-hide="vm.connecting">
          <div class="step step1" ng-class="{active: false, completed: true}">
            <span class="step-logo">1</span>
            <div class="step-text">
              GIVE PERMISSIONS (1 min)
            </div>
            <span class="step-divider"></span>
          </div>
          <div class="step step2" ng-class="{active: false, completed: true}">
            <span class="step-logo">2</span>
            <div class="step-text">
              CREATE A FACEBOOK PAGE (2 min)
            </div>
            <span class="step-divider"></span>
          </div>
          <div class="step step3" ng-class="{active: true, completed: false}">
            <span class="step-logo">3</span>
            <div class="step-text">
              CONNECT BOT TO A FACEBOOK PAGE (less than a minute)
            </div>
          </div>
        </div>

        <div class="fb-pages-header" ng-if="!vm.bot.status.page" ng-hide="vm.connecting">
          FACEBOOK PAGES
        </div>
        <error-buble errors="vm.errorData" ng-if="vm.showError"></error-buble>
        <div class="pages-list">
          <div
            ng-class="{ 'act': (vm.selectedPage == page.id && vm.bot.status.page != page.id), 'connected': vm.bot.status.page == page.id, 'disabled': (vm.botToPage[page.id] && vm.bot.status.page != page.id)}"
            class="page-item"
            ng-attr-bot-name="{{vm.botToPage[page.id].title}}"
            ng-repeat="page in vm.pages | filter: vm.bot.status.page || vm.pageIdTemporary || ''">
            <span class="page-item-container" ng-click="vm.goToPage(page.id)"><div class="page-item-image" ng-style="{ 'background-image': 'url(' + page.picture + ')' }"></div><span class="page-item-text">{{page.title}}</span></span>
            <div ng-click="vm.bind($event, page.id)" ng-hide="vm.connecting" ng-if="!vm.bot.status.page || vm.bot.status.page != page.id" class="button button-ver2 white">CONNECT TO PAGE</div>
            <div ng-click="vm.unBind($event, page.id)" ng-if="vm.bot.status.page && vm.bot.status.page == page.id" class="button button-ver2 white">DISCONNECT</div>
            <div class="status-block" ng-if="vm.bot.status.page"><span class="icon-connected"></span>Published</div>
            <div class="status-block connecting" ng-if="vm.connecting"><span class="icon-connecting"></span>Publishing</div>
            <div class="connected-to">
              <span class="connected-to-text" ng-class="{'red-text': false}">{{true ? 'connected to' : 'lost connection with'}}</span>
              <span class="connected-to-bot"><a ui-sref="app.structure({ bot_id: page.bot_id })">{{page.bot_title}}</a></span>
            </div>
          </div>
        </div>
      </div>

      <div class="state state-app-connected" ng-class="{ 'act': !vm.isChatfuelApp && vm.appId > 0 && !vm.otherUserConnected}">
        <h2 class="app-header">Bot publishing</h2>
        <div class="app-connected-container">
          <div class="col1">
            <span class="app-item-header">Connected to a Facebook Page:</span>
            <span class="app-item">
              <span class="page-item-container" ng-click="vm.goToPage(vm.page.id)"><div class="page-item-image" ng-style="{ 'background-image': 'url(' + vm.page.picture + ')' }"></div><span class="page-item-text">{{vm.page.title}}</span></span>
            </span>
          </div>
          <div class="col2">
            <span class="app-item-header">Facebook App ID:</span>
            <span class="app-item"><a ng-href="https://developers.facebook.com/apps/{{vm.appId}}" target="_blank" ng-bind="vm.appId"></a></span>
          </div>
          <div class="col3">
            <span class="app-item-header">Status:</span>
            <span class="app-item status" ng-class="{publish: vm.bot.status.status === 'published'}"><a ng-href="{{vm.appUrl}}" target="_blank">{{vm.bot.status.status}}</a></span>
          </div>
          <div class="button-box">
            <div class="button button-ver2 white" ng-click="vm.unBind()">DISCONNECT FROM APP</div>
          </div>
        </div>
      </div>

      <div class="state state-other-user-connected" ng-class="{ 'act': vm.otherUserConnected }">
        <h2 class="user-header">Bot publishing</h2>
        <div class="other-user-container">
          <div class="app-item">
            <span class="page-item-container" ng-click="vm.goToPage(vm.bot.status.page)"><div class="page-item-image" ng-style="{ 'background-image': 'url(' + vm.bot.status.page_info.picture + ')' }"></div><span class="page-item-text">{{vm.bot.status.page_info.title}}</span></span>
          </div>
          <div class="button-box">
            <div class="button button-ver2 white" ng-click="vm.unBindBot()">DISCONNECT</div>
          </div>
          <div class="user-connected-by"><span class="icon-connected"></span>Published by<span class="user-picture" ng-style="{ 'background-image': 'url(' + vm.otherUserConnected.picture + ')' }"></span><span class="user-name" ng-bind="vm.otherUserConnected.name"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">

      <div>
        <div class="border-box persistent-menu">
          <h2>Persistent menu</h2>
          <p>The Persistent Menu is always available to the user in Mesenger by tapping on the 3-caret icon on the left of the text input.</p>
          <div ng-class="{ 'disabled': vm.menu.length > 3 }" class="button db-border add" ng-click="vm.menuItemAdd()">Add menu Item</div>
          <div class="items-list" ng-model="vm.menu" ui-sortable="vm.$sortable">
            <menu-item index="$index" itemIndex="$index" item="menuItem" ng-repeat="menuItem in vm.menu track by $index"></menu-item>
            <div class="menu-item disabled">
              <textarea class="title" style="padding-right: 40px" maxlength="20" spellcheck="false" wrap="hard" >Powered by Chatfuel</textarea>
              <div class="preview act">
                <span>Powered by Chatfuel</span>
              </div>
              <div class="editor-type-buttons">
                <div class="button tag act"></div>
                <div class="button url"></div>
              </div>
            </div>
          </div>
          <p class="sub" ng-if="!vm.bot.status.page && vm.appId !=-1">
            * This menu will be shown on your page. Connect this bot to your page in Settings tab to see it.
          </p>
        </div>
      </div>

      <payments-settings bot="vm.bot" user="vm.user" ng-if="vm.bot.status.page"></payments-settings>
    </div>

    <div class="col">
      <admins bot="vm.bot" user="vm.user"></admins>
      <div class="timezone-box">
        <div class="border-box timezone">
          <h2>Time zone</h2>
          <p>Scheduled messages are sent based on the time zone you’ve set:</p>
          <select
            class="dropdown settings__dropdown"
            ng-class="{'no-timezone': !vm.timeZone || (vm.timeZone === 'Unknown')}"
            ng-model="vm.timeZone"
            ng-change="vm.updateTimeZone()"
            ng-options="value as value for value in vm.timeZones"
          >
            <option value="" disabled selected>Select your time zone</option>
          </select>
        </div>
      </div>
    </div>

</div>
