.art-mini-dropdown{
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  span{
    display: inline-block;
    color: #448af1;
    cursor: pointer;
    &::after{
      content: ' ▾';
    }
  }

  ul {
    position: absolute;
    margin: 0;
    padding: 0;
    top: -2px;
    left: -13px;
    z-index: 100000;
    overflow: hidden;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.12);
    border: solid 1px rgba(0, 0, 0, 0.24);
    display: none;

    &:hover{
      li{
        background-color: #ffffff!important;
      }
    }

    li{
      display: block;
      height: 28px;
      line-height: 28px;
      padding: 0 12px;
      margin: 0;
      cursor: pointer;
      white-space: nowrap;
      color: #000000;

      &:first-child{
        &::after{
          content: ' ▾';
        }
      }

      &:hover{
        background-color: #f3f2f2!important;
      }

      &.act{
        background-color: #f3f2f2;
      }

    }
  }

  &.open{
    ul{
      display: block;
    }
  }
}
