*[suggest-template]{

  position: relative;

  > .auto-box{
    display: none;

    position: absolute;
    z-index: 100000;
    top: 65px;
    left: 0;
    min-width: 200px;
    max-height: 294px;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(0, 0, 0, 0.15);
    padding: 2px 0;
    margin: 0;

    &.act{
      display: block;
    }
    li {
      cursor: pointer;
      padding: 5px;
     > span{
      display: inline;
      position: relative;
      padding: 2px 10px;
      height: 26px;
      line-height: 26px;
      background-color: #906d60;
      font-size: 16px;
      color: #ffffff;
      border-radius: 13px;

      &::before{
        content: '{{';
        font-size: 16px;
        position: relative;
        left: -2px;
        top: -1px;
        color: #e0995d;
      }
      &::after {
        content: '}}';
        font-size: 16px;
        position: relative;
        left: 2px;
        top: -1px;
        color: #e0995d;
      }

    }
    &:hover, &.act{
      background-color: #f3f2f2;
    }
  }
  }

  > .wrap-mask {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 30px;
    // top: 23px;
    //top: 21px;
    top: 32px;
    left: 0;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: pre;
    padding: 3px 0 0 13px;

    > .mask {
      color: rgba(0, 0, 0, 0);
      display:inline-block;
      > span {
        // position: relative;
        // display: inline-block;
        // height: 28px;
        // border-radius: 3px;
        // background-color: #907258;
        // color: #ffffff;
        // padding: 0 9px;
        // line-height: 28px;
        // margin: -3px 3px 0;
        // opacity: 1;
        //
        // &::before,
        // &::after {
        //   content: ' ';
        //   position: absolute;
        //   height: 28px;
        //   width: 4px;
        //   background-color: #ffffff;
        //   top: 0;
        // }
        //
        // &::before {
        //   left: -4px;
        // }
        // &::after {
        //   right: -4px;
        // }
        display: inline-block;
        position: relative;
        padding: 0px 0px;
        height: 26px;
        line-height: 26px;
        background-color: #906d60;
        font-size: 16px;
        color: #ffffff;
        cursor: pointer;
        border-radius: 13px;

        &::before{
          content: '{{';
          font-size: 16px;
          position: relative;
          left: 0px;
          top: -1px;
          color: #e0995d;
        }
        &::after {
          content: '}}';
          font-size: 16px;
          position: relative;
          left: 0px;
          top: -1px;
          color: #e0995d;
        }
      }
    }
  }

  &.url{
    > .wrap-mask {
      top: 0;
      left: 1px;
      width: 246px;
      padding: 3px 3px 0px 0px;

      > .mask{
        > span{
          height: 16px;
          border-radius: 13px;
          padding: 0 1px 0 1px;
          line-height: 16px;
          margin: 0px -4px 0 4px;
          font-size: 12px;

          &::before{
            content: '{{';
            font-size: 13px;
            position: relative;
            left: 0px;
            top: -1px;
            color: #e0995d;
          }
          &::after {
            content: '}}';
            font-size: 13px;
            position: relative;
            left: 0px;
            top: -1px;
            color: #e0995d;
          }
        }
      }
    }

    .auto-box{
      top: 4px;
    }
  }
}


.action-item[suggest-template]{
  div.wrap-mask{
    top: -3px;
    text-align: center;
    width: 266px;
    left: -19px;
    font-size: 17px;
    height: 45px;
  }

  > .auto-box{
    top: 20px;
    margin-left: -20px;
  }
}
