.buy-button{
  position: relative;
  padding: 2px 0 0;

  &::after{
    content: '';
    margin: 0 -16px;
    height: 1px;
    background-color: #e1e1e1;
    display: block;
  }

  .info{
    margin: 0 0 12px;

    span{
      &.link{
        color: #448af1;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
      }
    }

    p{
      font-size: 14px;
      line-height: 1.71;
      color: #666666;
      margin: 0;
      padding: 0;



      &.done{
        text-decoration: line-through;
        color: #a6a6a6!important;
        pointer-events: none;
        * {
          color: #a6a6a6!important;
          text-decoration: line-through!important;
        }
      }

      &.disabled{
        text-decoration: none;
        color: #a6a6a6!important;
        pointer-events: none;
        * {
          color: #a6a6a6!important;
          text-decoration: none!important;
        }
      }
    }

    .no-enabled{
      padding: 0 0 0 30px;
      background: url(../images/ic_warning.svg) left top no-repeat;
      p{
        color: #e9604a;
      }
    }

    .no-enabled-v2{
      margin: 0 0 24px;
      .l-border-box{
        border-left: 2px solid #666666;
        padding: 0 0 0 14px;
        margin: 0 0 12px;
        overflow: hidden;

        .title{
          font-size: 14px;
          font-weight: 600;
          color: #3c3f40;
          margin: -4px 0 6px;

          &:last-child{
            margin: -4px 0 0;
          }
        }

        ol{
          margin: 0;
          padding: 0;

          counter-reset: item;
          li{
            &.disabled{
              color: #a6a6a6!important;
              text-decoration: none!important;
              pointer-events: none;
            }


            &::before{
              counter-increment: item;
              content: counter(item) ".";
            }

            margin: 0 0 6px;
            padding: 0;
            display: block;
            font-size: 14px;
            color: #3c3f40;

            &:last-child{
              margin: 0;
            }

          }
        }
      }
      .foot{
        font-size: 14px;
        color: #a6a6a6;
      }
    }
  }

  .cost-items-list{
    margin: 0 0 16px;
    .cost-item{
      position: relative;
      height: 35px;
      line-height: 34px;
      background-color: #f3f2f2;
      border-bottom: 1px solid #ffffff;
      padding: 0 12px;
      white-space: nowrap;

      &:first-child{
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
      }
      &:last-child{
        border-bottom: none;
        height: 34px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
      }

      input{
        font-size: 14px;
        line-height: 1.29;
        color: #000000;
        border: none;
        background-color: rgba(0, 0, 0, 0);
      }

      .cost-item-name{
        display: inline-block;
        vertical-align: top;
        width: 240px;
        input{
          width: 240px;
        }
      }
      .cost-item-value{
        display: inline-block;
        vertical-align: top;
        width: 100px;
        text-align: right;
        input{
          width: 100px;
          text-align: right;
        }
      }

      .trash-popup{
        left: auto;
        right: -6px;
      }

      &:hover{
        .trash-popup{
          opacity: 1;
          transform: scale(1, 1);
        }
      }

      &.add{
        font-size: 12px;
        color: #000000;
        cursor: pointer;

        &::before{
          display: inline-block;
          vertical-align: -4px;
          content: '';
          background: url('../images/ic_add_small.svg') center center no-repeat;
          width: 16px;
          height: 16px;
          margin: 0 4px 0 0;
          opacity: 0.3;
          transition: opacity 100ms;
        }

        &:hover{
          &::before{
            opacity: 1;
          }
        }
      }
    }
  }

  .advanced-settings{
    overflow: hidden;
    max-height: 40px;
    transition: max-height 200ms, overflow 0ms 0ms;

    .link{
      width: 160px;
      font-size: 16px;
      line-height: 1.5;
      color: #000000;
      margin: 0 0 16px;
      background: url('../images/ic_dropdown_off.svg') right top no-repeat;
      cursor: pointer;
    }

    &.open{
      max-height: 800px;
      overflow: visible;
      transition: max-height 200ms, overflow 0ms 200ms;
      .link{
        background-image: url('../images/ic_dropdown_on.svg');
      }
    }

    .title{
      font-size: 12px;
      line-height: 1.5;
      color: #666666;
      text-transform: uppercase;
      margin: 0 0 8px;
      i{
        font-style: normal;
        color: #a6a6a6;
      }
    }

    .requested-user-info{
      line-height: 24px;
      margin: 0 0 16px;
      label{
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
        margin: 0 6px 0 0;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:last-child{
          margin: 0;
        }

        > *:first-child{
          margin: 0 1px 0 0;
        }
      }
    }

    .art-vars-suggest{
      margin: 0 0 16px;
    }

    .art-textarea-expand{
      margin: 0 0 16px;
      max-height: 438px;
      br{
        content: '';
      }

      *{
        display: inline;
      }
    }

    .blocks-suggest{
      margin: 0 0 16px;
    }
  }
}
