<div class="menu-item {{ vm.$showError ? 'error' : '' }}" ng-click="$event.stopPropagation(); $event.preventDefault(); vm.$showError = false">
  <textarea
    class="title"
    style="padding-right: 40px"
    maxlength="{{vm.$maxDiscount}}"
    spellcheck="false"
    wrap="hard"
    placeholder="Button Name"
    ng-model="vm.item.title"
    ng-keyup="vm.$updateDiscount()"
    ng-trim="false"
    ng-blur="vm.save($event, 'title')"
    ng-focus="vm.$showError = false"
    ng-key></textarea>
  <div class="discount" ng-bind="vm.$discount" ng-class="{bgRed: vm.$discount < 7}"></div>
  <div
    class="preview act"
    ng-if="vm.item.url"
    ng-bind="vm.item.url"
    ng-click="vm.$edit($event)">
  </div>
  <div
    class="preview act"
    ng-if="!vm.item.url && vm.block_ids && vm.block_ids[0]"
    ng-click="vm.$edit($event)">
    <span ng-bind="block.title"  ng-repeat="block in vm.block_ids track by $index"></span>
  </div>
  <div class="editor-type-buttons" ng-class="{act: !vm.item.url && (!vm.block_ids || vm.block_ids.length === 0)}">
    <div class="button tag" ng-class="{act: vm.block_ids.length > 0}" ng-click="vm.$editTag($event)"></div>
    <div class="button url" ng-class="{act: vm.item.url}" ng-click="vm.$editUrl($event)"></div>
  </div>
  <div class="popup-editor" style="overflow: visible"  ng-show="vm.$editedUrl && vm.item === vm.SettingsController.activeButton || vm.$editedTag && vm.item === vm.SettingsController.activeButton">
    <div class="editor-type-buttons">
      <div class="button tag" ng-class="{act: vm.$editedTag}" ng-click="vm.$editTag($event)"></div>
      <div class="button url" ng-class="{act: vm.$editedUrl}" ng-click="vm.$editUrl($event)"></div>
    </div>
    <div class="content" ng-if="vm.$editedUrl">
      <input
        type="text"
        class="url"
        placeholder="Enter a URL"
        ng-model="vm.item.url"
        ng-key
        show-focus="vm.$editedUrl"
        uib-tooltip="{{vm.$errors.url.message}}"
        tooltip-is-open="vm.$errors.url.show"
        tooltip-trigger="none">
    </div>
    <div class="content" ng-if="vm.$editedTag">
      <tags-input
        class="suggest vertical"
        min-length="0"
        autofocus="true"
        show-focus="vm.$editedTag"
        ng-model="vm.block_ids"
        placeholder="Enter a block"
        display-property="title"
        key-property="id"
        replace-spaces-with-dashes="false"
        add-from-autocomplete-only="true"
        uib-tooltip="{{vm.$errors.tag.message}}"
        tooltip-is-open="vm.$errors.tag.show"
        tooltip-trigger="none">
        <auto-complete
          min-length="0"
          load-on-focus="true"
          load-on-empty="true"
          source="vm.load($query)"
          debounce-delay="0"
          max-results-to-show="20"
          select-first-match="true"></auto-complete>
      </tags-input>
    </div>
    <div class="save-close-buttons">
      <div class="button save" ng-click="vm.save($event, vm.$editedUrl ? 'url' : 'tag')"></div>
    </div>
  </div>

  <div class="button float db-sq drag ui-sortable-handle"></div>
  <div class="button float db-sq remove" ng-click="vm.remove($event)"></div>
</div>
