<section class="wizard-header"
         ng-class="{ steps: !('wizard.quickSetup' | isState) }"
         ng-if="whc.$opened"><!-- class="wizard-header steps" -->
  <div>


    <h1>
      Your first draft chatbot
    </h1>

    <ol>
      <li ng-click="whc.goBack(1)" ng-class="{ done: ('wizard.page2' | isState) || ('wizard.page3' | isState), act: ('wizard.page1' | isState) }">Create Facebook App</li>
      <li ng-click="whc.goBack(2)" ng-class="{ done: ('wizard.page3' | isState), act: ('wizard.page2' | isState) }">Fill the required fields</li>
      <li ng-click="whc.goBack(3)" ng-class="{ act: ('wizard.page3' | isState), disabled: !whc.alow3Step  }">Facebook App review</li>
    </ol>

    <a ng-click="whc.close()" class="button close">Close wizard</a>
  </div>
</section>
