<div>
    <p class="title" ng-bind="vm.getZapierTitle(vm.item.plugin_id, 'autoposting')" ng-class="{'has-error': vm.hasValidationError}"></p>
    <div class="content autopost">
        <div class="line sub-title">
          Instruction:
        </div>


        <ol ng-if="vm.item.plugin_id !== 'autoposting/zapier_plugin'">
          <li>Set up <a href="{{vm.getZapierUrl(vm.item.plugin_id, 'autoposting')}}" target="_blank">this example workflow</a>.</li>
          <li>Authenticate in Chatfuel for Facebook app using Chatfuel key: <span class="copy-link" no-input-select-text>{{vm.item.id}}</span></li>
          <li>That’s it! Now all the updates are automatically sent to your users.</li>
        </ol>
        <ol ng-if="vm.item.plugin_id === 'autoposting/zapier_plugin'">
          <li><a href="https://zapier.com/app/editor" target="_blank">Create a zap</a> with Chatfuel for Facebook as an action app.</li>
          <li>Authenticate in the app using Chatfuel key: <span class="copy-link" no-input-select-text>{{vm.item.id}}</span></li>
          <li>That’s it! Now all the updates are automatically sent to your users.</li>
        </ol>
    </div>

    <a href="https://help.chatfuel.com/facebook-messenger/plugins/zapier-plugin/" target="_blank">
      <div class="asc"></div>
    </a>
    <localization item="vm.item"></localization>
</div>
