      .art-baloons-input{
        position: relative;
        min-height: 36px;
        border-radius: 7px;
        box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
        border: solid 1px rgba(0, 0, 0, 0.2);
        background-color: rgba(0, 0, 0, 0.01);
        transition: box-shadow 100ms, border-color 100ms;
        cursor: text;
        padding: 4px 0 0 8px;
        line-height: 26px;

        &.error{
          box-shadow: inset 0 1px 3px 0 rgba(81, 0, 0, 0.07);
          border: solid 1px #e9604a;
          background-color: #fff5f4;

          .placeholder{
            color: #e9604a;

            span{
              background-image: url(../images/ic_enter_red.svg);
              opacity: 1;
            }
          }
        }


        .placeholder{
          display: none;
          position: absolute;
          top: 4px;
          left: 0;
          font-size: 16px;
          line-height: 26px;
          color: #a6a6a6;
          padding: 0 10px 4px 15px;
          pointer-events: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          span{
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            background: url(../images/ic_enter.svg) no-repeat center center;
            background-size: cover;
            opacity: 0.3;
          }
        }

        &.empty{
          .placeholder{
            display: block;
          }
        }

        .green{
          display: inline-block;
          position: relative;
          vertical-align: top;
          line-height: 26px;
          min-height: 26px;
          max-width: 98.5%;
          word-wrap: break-word;
          border-radius: 18px;
          background-color: #45c195;
          padding: 0 8px;
          font-size: 16px;
          color: #ffffff;
          margin: 0 8px 4px 0;

          &.empty:last-child{
            background-color: transparent;
            span{
              color: #000000;
              outline: 1px solid rgba(0,0,0,0);
            }

            .trash-popup{
              display: none;
            }
          }

          span:not(.trash-popup){
            outline: 1px solid rgba(0,0,0,0);
            display: inline-block;
            min-width: 10px;
            max-width: 100%;
            line-height: 1.5;
            -webkit-user-select: auto;
            -moz-user-select: all;
            -ms-user-select: all;
            user-select: all;

            &:empty::before{
              display: inline-block;
              content: '_';
              color: rgba(0,0,0,0);
            }
          }

          .trash-popup{
            top: -6px;
            right: -6px;
            left: auto;
          }

          &:hover{
            .trash-popup{
              opacity: 1;
              transform: scale(1, 1);
            }
          }

          &::after{
            content: ',';
            width: 18px;
            position: absolute;
            bottom: 0;
            right: -8px;
            font-size: 16px;
            line-height: 1.5;
            color: #a6a6a6;
            padding: 0 2px 0 0;

            height: 26px;
            text-align: right;
          }

          &:last-child{
            &::after{
              display: none;
            }
          }


          .discount{
            position: absolute;
            right: 10px;
            bottom: -8px;
            text-align: center;
            font-size: 10px;
            color: #ffffff;
            opacity: 0;
          //  transition: opacity 100ms;
            line-height: 14px;
            padding: 0 4px;
            height: 14px;
            border-radius: 8px;
            background-color: #5dc991;
            box-shadow: 0 0 0 1px #ffffff;
            z-index: 1000;
            transform: translateX(100%);
          }

          .line:not(:empty):focus ~ .discount{
            opacity: 1;
          }
        }

        .current{
          display: inline-block;
          position: relative;
          vertical-align: top;
          line-height: 26px;
          min-height: 26px;
          max-width: 98.5%;
          word-wrap: break-word;
          outline: none;
          padding: 0;
          font-size: 16px;
          color: #000000;
          margin: 0 8px 4px 0;

          &:empty::before{
            content: '_';
            color: rgba(0,0,0,0);
          }
        }


      }
