<div>
  <p ng-class="{'has-error': vm.hasValidationError}"  class="title icon subscriber">
    Subscriber
  </p>
  <p class="info">
    Subscribes a user to a «Google site search», «Bing search» or «RSS import» plugins result specified in another block.
  </p>
  <div class="content">
    <div class="l-col">
      <div class="line sub-title">
        Input:
      </div>
      <div class="line border-block">
        Link to a block a with plugin:
        <div class="control size-337 block-autocomplete" ng-class="{selected: vm.currentBlock.length}">
          <tags-input
            class="suggest"
            min-length="0"
            ng-model="vm.currentBlock"
            placeholder="Enter block name"
            display-property="title"
            key-property="id"
            replace-spaces-with-dashes="false"
            add-from-autocomplete-only="true"
            on-tag-removed="vm.onTagRemoved()"
            on-tag-added="vm.save()"
          >
            <auto-complete
              ng-show="!vm.currentBlock || vm.currentBlock.length==0"
              min-length="0"
              load-on-focus="true"
              load-on-empty="true"
              source="vm.load($query)"
              debounce-delay="0"
              max-results-to-show="20"
              select-first-match="true"></auto-complete>
          </tags-input>
        </div>
      </div>
    </div>
  </div>
  <a href="https://help.chatfuel.com/facebook-messenger/plugins/subscriber/" target="_blank">
    <div class="asc"></div>
  </a>
  <localization item="vm.item"></localization>
</div>
