<div class="filters">
  <div class="filters-list">
    <div class="filter-item" ng-repeat="(filterIndex, filter) in vm.userFilter.parameters track by $index">
      <div class="if">
        <span ng-if="$index === 0">if</span>
        <span ng-if="$index > 0">and</span>
      </div>
      <div class="selector-ver2" ng-class="{act: vm.$showSelect === $index}">
        <div class="label" ng-click="$event.stopPropagation(); vm.$showSelect = $index; vm.valuesPopUpOpen = null">
          <span class="placeholder" ng-if="!filter.name">Choose User Variable</span>
          <span class="selected" ng-bind="filter.name" ng-if="filter.name"></span>
        </div>
        <ul class="namesPopup">
          <div>
            <li class="disabled">Choose User Variable:</li>
            <li ng-if="vm.variablesFilter(key)" ng-click="vm.onVariableClick(key, filter, filterIndex)" ng-repeat="(key, value) in vm.parameterStats.parameters">
              <span class="name">
                <span class="name-var">{{key}}</span>
              </span>
              <span class="stat">{{vm.compileUserText(vm.parameterStats.parametersTotalCounts[key])}}</span>
            </li>
          </div>
        </ul>
      </div>
      <div class="if is">is</div>
      <div class="values" ng-click="vm.valuesClick($event, $index)" ng-class="{act: vm.valuesPopUpOpen === $index}">
        <div class="values-list">
          <div class="value-item" ng-class="{noresponse: value === 'NOT SET'}" ng-repeat="value in filter.values track by $index"><span>{{(filter.name === 'fb_timezone' && value >= 0) ? 'GMT+' : ''}}{{(filter.name === 'fb_timezone' && 0 > value) ? 'GMT' : ''}}{{value}}</span><div class="button-ver2 trash-popup mini" ng-click="vm.removeValueItem($event, $index, filterIndex)"></div></div>
          <div class="popup-box" ng-class="{'hidden-placeholder': filter.values.length}">
            <div class="valuePopup">
              <ul ng-if="vm.valuesPopUpOpen === $index">
                <li
                  ng-click="filter.values.push(sKey); vm.updateUserCount();"
                  ng-repeat="(sKey, sValue) in vm.filterShow(filter, vm.parameterStats.parameters[filter.name], filterIndex) track by $index"
                  ng-mouseenter="vm.valuePopupAct = $index;"
                  ng-class="{act: vm.valuePopupAct === $index, firstValue: sKey === 'NOT SET'}"
                >
                <span class="name" ng-class="{noresponse: sKey === 'NOT SET'}">
                  <span>{{(filter.name === 'fb_timezone' && sKey >= 0) ? 'GMT+' : ''}}{{(filter.name === 'fb_timezone' && 0 > sKey) ? 'GMT' : ''}}{{sKey}}</span>
                </span>
                  <span class="stat">{{vm.compileUserText(sValue)}}</span>
                </li>
              </ul>
            </div>
            <input type="text" placeholder="{{!filter.values.length ? 'Choose value of the variable' : ''}}"
                   ng-focus="vm.onInputFocus($event, $index)"
                   ng-blur="vm.onInputBlur($event, $index)"
                   ng-keydown="vm.onKeyDown($event, filterIndex)"
                   ng-model="vm.inputModels[filterIndex]"
            />
          </div>
        </div>
      </div>
      <div class="button-ver2 trash-popup" ng-click="vm.remove($index);"></div>
    </div>
  </div>
  <div class="button-ver2 white-rounded add" ng-click="vm.add()">ADD FILTER</div>
</div>
