<div class="faq-container">
  <!--intercom></intercom-->

  <div class="faq bt" ng-class="{'presed': faq.faqPresed}" ng-click="faq.faqPresed = !faq.faqPresed; $event.stopPropagation()"></div>
  <div uib-tooltip="FAQ in Messenger" tooltip-placement="left" tooltip-trigger="click mouseenter" tooltip-class="faq-tooltip" class="faq-bot bt" ng-click="faq.goToFaqPage('faq'); faq.faqPresed = false" ng-class="{'show': faq.faqPresed}"></div>
  <div uib-tooltip="Community" tooltip-placement="left" tooltip-trigger="click mouseenter" tooltip-class="community-tooltip" class="community bt" ng-click="faq.goToFaqPage('community'); faq.faqPresed = false" ng-class="{'show': faq.faqPresed}"></div>
  <div uib-tooltip="Quick step-by-step tutorial" tooltip-placement="left" tooltip-trigger="click mouseenter" tooltip-class="tutorial-tooltip" class="tutorial bt" ng-click="faq.goToFaqPage('tutorial'); faq.faqPresed = false" ng-class="{'show': faq.faqPresed}"></div>
  <a href="mailto:team@chatfuel.com"><div uib-tooltip="Support via email" tooltip-placement="left" tooltip-trigger="click mouseenter" tooltip-class="intercom-tooltip" class="email bt" ng-click="faq.faqPresed = false" ng-class="{'show': faq.faqPresed}"></div></a>
  <!-- <a id="my_intercom_link" href="mailto:mca3oa0n@incoming.intercom.io"><div uib-tooltip="Submit a bug" tooltip-placement="left" tooltip-trigger="click mouseenter" tooltip-class="intercom-active-tooltip" class="intercom bt" ng-click="faq.faqPresed = false" ng-class="{'show': faq.faqPresed}"></div></a> -->
</div>
