*[suggest-template-multiline]{

  position: relative;

  > .auto-box{
    display: none;

    position: absolute;
    z-index: 100000;
    top: 38px;
    left: 0;
    min-width: 200px;
    max-height: 294px;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(0, 0, 0, 0.15);
    padding: 2px 0;

    &.act{
      display: block;
    }
    li {
      cursor: pointer;
      padding: 5px;
     > span{
      display: inline;
      position: relative;
      padding: 2px 10px;
      height: 26px;
      line-height: 26px;
      background-color: #906d60;
      font-size: 16px;
      color: #ffffff;
      border-radius: 13px;

      &::before{
        content: '{{';
        font-size: 16px;
        position: relative;
        left: -2px;
        top: -1px;
        color: #e0995d;
      }
      &::after {
        content: '}}';
        font-size: 16px;
        position: relative;
        left: 2px;
        top: -1px;
        color: #e0995d;
      }

    }
    &:hover, &.act{
      background-color: #f3f2f2;
    }
  }
  }

  > .wrap-mask {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: auto!important;
    top: 0;
    left: 0;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 2px 6px;
    margin: 2px 0 0 0;
    white-space: pre-wrap;
    border: 1px solid rgba(0, 0, 0, 0)!important;

    background-color: transparent!important;

    > .mask {
      color: rgba(0, 0, 0, 0);
      display: block;
      word-wrap: break-word;
      > span {
        display: inline;
        border-radius: 13px;
        background-color: #906d60;
        color: #ffffff;
        padding: 0;
        margin: 0;
        opacity: 1;
        vertical-align: inherit;
        i{
          color: #e0995d;
          opacity: 1;
          font-style: normal;
          position: relative;
          top: -1px;
        }
      }
    }
  }
}
