<div
  class="art-baloons-input"
  ng-mousedown ="$artBaloonsInput.tfClick($event);"
  ng-class="{
    empty: (!$artBaloonsInput.ngModel.length || ($artBaloonsInput.ngModel.length === 1 && $artBaloonsInput.ngModel[0].length === 0)),
    focused: $artBaloonsInput.focused,
    error: !$artBaloonsInput.ngModel.length && !$artBaloonsInput.focused && $artBaloonsInput.showError,
  }"
>
  <div class="placeholder">
    Press “<span></span> Enter” to add more phrases
  </div>

  <span
    class="green"
    ng-repeat="line in $artBaloonsInput.ngModel track by $index"
    ng-mousedown = "$event.stopPropagation()"
    ng-class="{ empty: !$artBaloonsInput.ngModel[$index].length }"
  ><span class="line"
    contenteditable="true"
    ng-model="$artBaloonsInput.ngModel[$index]"
    ng-keydown="$artBaloonsInput.greenKeyDown($event, $index)"
    ng-blur = "$artBaloonsInput.greenBlur($event, $index)"
    ng-focus="$artBaloonsInput.greenFocus($event)"
    ng-keyup="$artBaloonsInput.updateDiscount($event)"
    ng-model-options="{ debounce: 50 }"
  > </span>
    <span ng-mousedown="$artBaloonsInput.removeLine($event, $index)" class="button-ver2 trash-popup mini"></span>
    <div
      class="discount"
      ng-if="$artBaloonsInput.itemMaxLength > 0"
      ng-class="{bgRed: $artBaloonsInput.discount < 7}"
      ng-bind="$artBaloonsInput.discount"
    ></div>
  </span>
</div>
