<div>

  <div class="warring">
    <p class="title">Important!</p>
    <p>Before publishing your chatbot to Facebook ensure that your chatbot is fully functional, so it will have much better chance to be submitted.</p>
  </div>

  <ol>

    <li>
      <h2>
        Create a Facebook Page
      </h2>
      <p>
        To create a Facebook Page go to your <a href="https://www.facebook.com/bookmarks/pages" target="_blank">Pages Section</a>:
      </p>
      <div class="pic n1"></div>
    </li>

    <li>
      <h2>
        Register on developers.facebook.com if not already
      </h2>
      <div class="pic n2"></div>
    </li>

    <li>
      <h2>
        Add a new App
      </h2>
      <ul>
        <li>In <b>My apps</b> dropdown click on <b>Add a New App</b></li>
        <li>Choose <b>Website</b> application type</li>
        <li>Enter App name and click on <b>Create New Facebook App ID</b></li>
        <li>Fill in required fields, choose <b>Messenger Bot</b> category and click on <b>Create App ID</b></li>
      </ul>
      <div class="pic n3"></div>
    </li>
  </ol>

  <p>
    <a ui-sref="wizard.page2({ bot_id: vm.$stateParams.bot_id })" class="button db-orange next">CONNECT TO FACEBOOK PAGE</a>
  </p>

</div>
