<div
  class="intent-item"
  ng-mousedown="vm.setFocus()"
>
  <div class="lines">
    <div class="title">
      IF USER SAYS SOMETHING SIMILAR TO:
    </div>
    <art-baloons-input
      ng-model="vm.intent.lines"
      index="vm.index"
      item-max-length="0"
    ></art-baloons-input>
  </div>
  <div class="actions">
    <div class="actions-list" ng-if="vm.intent.action.random">
      <div
        class="action-item"
        ng-repeat="item in vm.intent.action.items track by $index"
      >
        <div class="title">
          <span class="first">BOT REPLIES WITH</span>
          <span class="other">OR</span>
          <art-mini-dropdown-intent value="vm.intent.action.items[$index].item_type" index="$index"></art-mini-dropdown-intent>
        </div>
        <div class="target">
          <div ng-if="item.item_type === 'text'">
            <art-textarea-expand

              placeholder="Enter text"
              value="vm.intent.action.items[$index].text"
              index="$index"
              max-length="320"
            ></art-textarea-expand>
          </div>
          <div ng-if="item.item_type === 'block'">
            <blocks-suggest ng-if="item.item_type === 'block'" blocks="vm.intent.action.items[$index].blocks" blocks-titles="vm.blocksTitles" exclude-blocks="vm.excludeBlocks" index="$index"></blocks-suggest>
          </div>
        </div>
        <div class="button-ver2 trash-popup" ng-if="vm.intent.action.items.length > 1 && vm.intent.action.random" ng-click="vm.removeAction($index)"></div>
      </div>
    </div>
    <div class="actions-list" ng-if="!vm.intent.action.random">
      <div
        class="action-item"
      >
        <div class="title">
          <span class="first">BOT REPLIES WITH</span>
          <span class="other">OR</span>
          <art-mini-dropdown-intent value="vm.intent.action.items[0].item_type" index="0"></art-mini-dropdown-intent>
        </div>
        <div class="target">
          <art-textarea-expand
            ng-if="vm.intent.action.items[0].item_type === 'text'"
            placeholder="Enter text"
            value="vm.intent.action.items[0].text"
            index="0"
            max-length="320"
          ></art-textarea-expand>
          <blocks-suggest ng-if="vm.intent.action.items[0].item_type === 'block'" blocks="vm.intent.action.items[0].blocks" blocks-titles="vm.blocksTitles" exclude-blocks="vm.excludeBlocks" index="0"></blocks-suggest>
        </div>
      </div>
    </div>

    <div
      class="button-ver2 white-rounded add-action"
      ng-if="vm.intent.action.random && vm.intent.action.items.length < 20"
      ng-click="vm.addAction()"
    >ADD ANSWER</div>

    <div class="random-switcher" ng-click="vm.randomModeChange()">
      <art-switcher ng-model="vm.intent.action.random"></art-switcher>
      <span>RANDOM</span>
    </div>
  </div>
  <span class="button-ver2 trash-popup mega" ng-click="vm.removeIntent();"></span>
</div>
