<div class="go-to-block">
  <p ng-class="{'has-error': vm.hasValidationError}" class="title icon go-to-block">
    Go to block
  </p>
  <p class="info">
    Lets you redirect users to random or specific block depending on User Variables when entering a block with this plugin.
  </p>
  <div class="content">
    <div class="l-col">

      <div class="line">
        <user-filter user-filter="vm.userFilter" user-filtered-count="0"></user-filter>
      </div>

      <div class="line" ng-repeat="blockItem in vm.blockItems track by $index" ng-if="$index === 0 || vm.randomSwitchOn">
        <div class="control size-full">
          <div class="control-title"><span ng-if="$index === 0 && vm.userFilter.parameters.length === 0">redirect to block</span><span ng-if="$index !== 0">or</span><span ng-if="$index === 0 && vm.userFilter.parameters.length > 0">then redirect to block</span><span class="red" ng-if="$index === 0">*</span>
            <div class="random-switcher" ng-if="$index === 0" ng-click="vm.changeRandom()">
              <art-switcher ng-model="vm.randomSwitchOn"></art-switcher>
              <span>RANDOM</span>
            </div>
          </div>
          <div class="blocks-suggest-wrapper">
            <blocks-suggest blocks="blockItem.blocks" blocks-titles="vm.blocksTitles[$index]" exclude-blocks="vm.excludeBlocks" index="$index"></blocks-suggest>
            <div class="button-ver2 trash-popup remove-line" ng-if="vm.blockItems.length > 1 && vm.randomSwitchOn" ng-click="vm.removeBlockItems($index)"></div>
          </div>
        </div>
      </div>

      <div class="line add-blocks-line" ng-if="vm.randomSwitchOn">
        <div class="button-ver2 white-rounded add" ng-click="vm.addBlockItems($event)">ADD RANDOM BLOCK</div>
      </div>
    </div>
  </div>
</div>
