.segmentation{
  position: relative;
  border-top: solid 1px rgba(0, 0, 0, 0.09);
  border-bottom: solid 1px rgba(0, 0, 0, 0.09);
  padding: 18px 32px 18px 36px;
  background-color: #f3f2f2;
  margin: 0 -36px 40px;
  min-height: 93px;
  min-width: 735px;

  .content{
    padding: 0 250px 0 0;

    .title{
      font-size: 16px;
      line-height: 1.5;
      color: #000000;

      .green{
        font-weight: 600;
        color: #45c195;
      }

      .info{
        font-size: 14px;
        line-height: 1.71;
        color: #767676;
      }
    }

    .info{
      font-size: 14px;
      line-height: 1.71;
      color: #767676;
      margin: 2px 0 0;
    }

    .filters-list{
      margin: 7px 0 -10px;

      .filter{
        display: inline-block;
        line-height: 26px;
        /* height: 24px; */
        /* white-space: nowrap; */
        margin: 0 0 10px 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:last-child{
          .and{
            display: none;
          }
        }

        .name{
          display: inline-block;
          height: 24px;
          line-height: 26px;
          border-radius: 12px;
          background-color: #906d60;
          padding: 0 8px;
          color: #ffffff;
          font-size: 14px;
          cursor: pointer;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 250px;
          vertical-align: -6px;

          &::before{
            content: '{{';
            font-size: 14px;
            position: relative;
            left: -2px;
            top: -2px;
            color: #e0995d;
          }
          &::after {
            content: '}}';
            font-size: 14px;
            position: relative;
            left: 2px;
            top: -2px;
            color: #e0995d;
          }
        }
        .is {
          display: inline-block;
          font-size: 14px;
          color: #000000;
          margin: 0 2px;
        }
        .value{
          display: inline-block;
          position: relative;
          height: 24px;
          line-height: 24px;
          border-radius: 12px;
          background-color: #f4ae63;
          padding: 0 12px;
          color: #ffffff;
          font-size: 14px;
          cursor: pointer;
          margin: 0 8px 0 0;
          max-width: 200px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          vertical-align: -6px;

          &::after{
            content: ',';
            position: absolute;
            right: -6px;
            color: #000000;
          }

          &:nth-last-child(2){
            margin: 0;

            &::after{
              content: '';
            }
          }
          &.noresponse {
            background-color: #c3c3c3;
          }
        }
        .and{
          display: inline-block;
          font-size: 14px;
          color: #a6a6a6;
          margin: 0 8px;
        }
      }
    }
  }

  .buttons{
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;

    > .button-ver2{
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 0 8px;

      &.remove-all{
        width: 34px;
        height: 34px;
        background-color: #ffffff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
        border: solid 1px rgba(0, 0, 0, 0.1);
        border-radius: 50%;

        &::before{
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background: url('../../assets/images/ic_trash.svg') no-repeat center center;
          opacity: 0.3;
        }

        &:hover{
          box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
          border: solid 1px rgba(0, 0, 0, 0.20);
          &::before{
            opacity: 1;
          }
        }
      }

      &.user-filter{
        padding: 0 24px 0 20px;
        margin: 0 0 0 14px;

        &::before{
          content: '';
          width: 24px;
          height: 24px;
          vertical-align: middle;
          margin: 0 8px 0 0;
          display: inline-block;
          background: url('../../assets/images/ic_recipients_white.svg') no-repeat center center;
        }
      }
    }
  }
}
