.button-ver2{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: pointer;

  &.icon{
    width: 24px;
    height: 24px;
    background: center center no-repeat;

    transition: opacity 60ms;
    -webkit-transition: opacity 60ms;
    opacity: 0.3;

    &:hover{
      opacity: 0.9!important;
    }

    &.trash{
      background-image: url('../../images/ic_trash.svg');
    }

    &.h-drag{
      background-image: url('../../images/ic_drag_hor.svg');
      cursor: ew-resize;
    }

    &.v-drag{
      background-image: url('../../images/ic_drag_ver.svg');
      cursor: ns-resize;
    }

    &.add-block{
      background-image: url('../../images/ic_hash.svg');
    }

    &.done{
      background-image: url('../../images/ic_done.svg');
    }

    &.close{
      background-image: url('../../images/ic_close.svg');
    }

    &.close-small{
      background-image: url('../../images/ic_cross_small.svg');
    }

    &.close-white{
      background-image: url('../../images/ic_close_white.svg');
    }

    &.help{
      background-image: url('../../images/ic_info.svg');
    }

    &.help-mini{
      width: 16px;
      height: 16px;
      background-image: url('../../images/ic_info_small.svg');
    }

    &.clear{
      background-image: url('../../images/ic_clear.svg');
    }

    &.lock{
      background-image: url('../../images/ic_lock.svg');
    }

    &.search{
      background-image: url('../../images/ic_search.svg');
    }

    &.prev{
      background-image: url('../../images/ic_arrow_left.svg');
    }

    &.warring{
      background-image: url('../../images/ic_warning.svg');
      opacity: 1!important;
    }

    &.duplicate{
      background-image: url('../../images/ic_duplicate_small.svg');
      width: 16px;
      height: 16px;
    }

    &.min-max{
      &.max{
        background-image: url('../../images/ic_collapse_small.svg');
      }
      &.min{
        background-image: url('../../images/ic_expand_small.svg');
      }
    }

  }

  &.trash-popup{
    position: absolute;
    z-index: 10000;
    top: -6px;
    left: -6px;
    width: 28px;
    height: 28px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
    border: solid 1px rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    transform: scale(0.3);
    opacity: 0;
    transition: transform cubic-bezier(0.2,0.7,0.5,1) 200ms, opacity cubic-bezier(0.2,0.7,0.5,1) 200ms;

    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url('../../images/ic_trash_midle.svg') no-repeat center center;
      opacity: 0.3;
      background-size: 24px 24px;
    }

    &:hover{
      &::before {
        opacity: 1;
      }
    }

    &.mini{
      width: 20px;
      height: 20px;

      &::before{
        background: url('../../images/ic_trash_mini.svg') no-repeat center center;
      }
    }

    &.mega{
      width: 32px;
      height: 32px;

      &::before{
        background: url('../../images/ic_trash.svg') no-repeat center center;
      }
    }

  }

  &.white{
    display: inline-block;
    width: auto;
    padding: 0 24px;
    height: 36px;
    line-height: 34px;
    border-radius: 3px;
    background-color: #ffffff;
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;


    border: 1px solid rgba(0, 0, 0, 0.13);
    border-bottom-color: rgba(0, 0, 0, 0.17);
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.13);
    transition: box-shadow 80ms ease 0s, border-top-color 80ms ease 0s, border-right-color 80ms ease 0s, border-bottom-color 80ms ease 0s, border-left-color 80ms ease 0s, background-color 80ms ease 0s;

    &:hover{
      border-color: rgba(0, 0, 0, 0.17) rgba(0, 0, 0, 0.17) rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.17);
    }

    &:active{
      background-color: #fafafa;
      border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.22);
      box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.2);
      transition: box-shadow 20ms ease 0s, border-color 20ms ease 0s;
    }
  }

  &.bc-temp-white{
    text-align: center;
    cursor: pointer;
    color: #000000;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 34px;
    border-radius: 7px;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .13);
    border: 1px solid rgba(0, 0, 0, .13);
    border-bottom-color: rgba(0, 0, 0, .17);
    transition: box-shadow 80ms ease, border-color 80ms ease, background-color 80ms ease;
    min-width: 100px;

    &.gray {
      background-color: #f3f2f2;
      box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .13);
      border: 1px solid rgba(0, 0, 0, .09);
      border-bottom-color: rgba(0, 0, 0, .13);
    }

    &:hover{
      box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .17);
      border: 1px solid rgba(0, 0, 0, .17);
      border-bottom-color: rgba(0, 0, 0, .2);
    }

    &:active{
      box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .2);
      background-color: #FAFAFA;
      border: 1px solid rgba(0, 0, 0, .2);
      border-bottom-color: rgba(0, 0, 0, .22);
      transition: box-shadow 20ms ease, border-color 20ms ease;
    }


    &.act{
      background-color: #053748!important;
      border-color: #053748!important;
      pointer-events: none;
      color: #ffffff;
    }

  }



  &.white-rounded, &.orange-rounded{
    min-width: 100px;
    height: 34px;
    line-height: 32px;
    padding: 0 24px;
    text-align: center;
    color: #000000;
    background-color: #fff;
    font-size: 14px;
    border-radius: 7px;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .13);
    border: 1px solid rgba(0, 0, 0, .13);
    border-bottom-color: rgba(0, 0, 0, .17);
    transition: box-shadow 80ms ease, border-color 80ms ease, background-color 80ms ease;
    text-transform: uppercase;

    &:hover, &:focus{
      box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .17);
      border-top-color: rgba(0, 0, 0, .17);
      border-left-color: rgba(0, 0, 0, .17);
      border-right-color: rgba(0, 0, 0, .17);
      border-bottom-color: rgba(0, 0, 0, .2);
      outline: none;
    }

    &:active{
      box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .2);
      background-color: #FAFAFA;
      border-top-color: rgba(0, 0, 0, .2);
      border-left-color: rgba(0, 0, 0, .2);
      border-right-color: rgba(0, 0, 0, .2);
      border-bottom-color: rgba(0, 0, 0, .22);
      transition: box-shadow 20ms ease, border-color 20ms ease;
    }
  }

  &.orange-rounded{
    background-color: #e9604a;
    border: none!important;
    color: #ffffff;
    line-height: 34px;

    &:active{
      background-color: #d9503a;
    }

    &.disabled{
      opacity: 0.6;
      pointer-events: none;
    }
  }

  &.green{
    display: inline-block;
    width: auto;
    height: 36px;
    line-height: 36px;
    border-radius: 7px;
    background-color: #45c195;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);
    font-size: 14px;
    color: #ffffff;
    padding: 0 24px;

    &:hover{
      box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
    }
  }

}
