.cf-input{
  border-radius: 7px!important;
  background-color: rgba(0, 0, 0, 0.01)!important;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08)!important;
  border: solid 1px rgba(0, 0, 0, 0.12)!important;
  outline: none!important;
  color: #000000;

  transition: background-color 100ms, border 100ms, background-color 100ms;


  &:hover{
    background-color: rgba(0, 0, 0, 0.01)!important;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08)!important;
    border: solid 1px rgba(0, 0, 0, 0.24)!important;
  }

  &:focus,
  &:active,
  &.focus{
    background-color: rgba(0, 0, 0, 0.01)!important;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08)!important;
    border: solid 1px rgba(0, 0, 0, 0.24)!important;
  }

  &:empty:not(.auto-error-off){
    &:not(:focus):not(input){
      background-color: rgba(233, 96, 74, 0.02)!important;
      box-shadow: inset 0 1px 3px 0 rgba(81, 0, 0, 0.08)!important;
      border: solid 1px #e9604a!important;
      color: #e9604a!important;

      &::-webkit-input-placeholder {color:#e9604a!important;}
      &::-moz-placeholder          {color:#e9604a!important;}
      &:-moz-placeholder           {color:#e9604a!important;}
      &:-ms-input-placeholder      {color:#e9604a!important;}
      &:-o-input-placeholder      {color:#e9604a!important;}
      &:input-placeholder      {color:#e9604a!important;}

      &::before{
        color: #e9604a!important;
      }
    }
  }

  &.empty:not(.blocks-suggest):not(.auto-error-off){
    &:not(.focus){
      background-color: rgba(233, 96, 74, 0.02)!important;
      box-shadow: inset 0 1px 3px 0 rgba(81, 0, 0, 0.08)!important;
      border: solid 1px #e9604a!important;
      color: #e9604a!important;

      &::-webkit-input-placeholder {color:#e9604a!important;}
      &::-moz-placeholder          {color:#e9604a!important;}
      &:-moz-placeholder           {color:#e9604a!important;}
      &:-ms-input-placeholder      {color:#e9604a!important;}
      &:-o-input-placeholder      {color:#e9604a!important;}
      &:input-placeholder      {color:#e9604a!important;}

      &::before{
        color: #e9604a!important;
      }
    }
  }

  &.error:not(:focus), &.super-error{
    background-color: rgba(233, 96, 74, 0.02)!important;
    box-shadow: inset 0 1px 3px 0 rgba(81, 0, 0, 0.08)!important;
    border: solid 1px #e9604a!important;
    color: #e9604a!important;

    &::-webkit-input-placeholder {color:#e9604a!important;}
    &::-moz-placeholder          {color:#e9604a!important;}
    &:-moz-placeholder           {color:#e9604a!important;}
    &:-ms-input-placeholder      {color:#e9604a!important;}
    &:-o-input-placeholder      {color:#e9604a!important;}
    &:input-placeholder      {color:#e9604a!important;}

    &::before{
      color: #e9604a!important;
    }
  }
}
