// div placeholder

  [contenteditable]:empty:before{
    content: attr(placeholder);
    display: block;
    color: #a6a6a6;
  }

  .error *[contenteditable]:empty:before{
    color: #e9604a;
  }


// selector

.selector-ver2{
  width: 240px;
  height: 36px;
  line-height: 34px;
  background-color: #ffffff;
  font-size: 16px;
  color: #000000;
  position: relative;
  margin:0 0 24px;
  white-space: nowrap;

  border-radius: 7px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  border: solid 1px rgba(0, 0, 0, 0.24);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .label{
    cursor: pointer;
    padding: 0 24px 0 12px;
  }

  .label::after{
    content: '';
    width: 24px;
    height: 24px;
    font-size: 18px;
    position: absolute;
    right: 6px;
    top: 5px;
    background: url('../../images/ic-dropdown-white.svg');
  }

  div.disabled{
    color:#9b9b9b;
    pointer-events: none;
  }

  div.disabled:hover{
    background-color: #ffffff;
  }

  .current{
    pointer-events: none;
    font-weight: bold;
  }

   > ul{
    display: none;
    position: absolute;
    top: -2px;
    left: -1px;
    width: 240px;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(0, 0, 0, 0.0);
    padding: 0;
    margin: 0;
    z-index: 10;
    max-height: 274px;
    overflow: auto;

    li{
      display: block;
      padding: 0 12px;
      margin: 0;
      height: 36px;
      line-height: 36px;
      cursor: pointer;
      &:last-child{
        border-radius: 0 0 3px 0;
      }
    }

    li:hover{
      background-color: rgba(0,0,0,0.05);
    }

    li.disabled{
      color:#9b9b9b;
      pointer-events: none;
    }

    li.disabled:hover{
      background-color: #ffffff;
    }

    &::after{
      content: "";
      font-size: 18px;
      position: absolute;
      right: 10px;
      top: 0;
      line-height: 32px;
    }
  }

  .popup{
    display: none;
    position: absolute;
    top: -2px;
    left: -1px;
    width: 240px;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow:  0 0 0 1px rgba(0, 0, 0, 0.12), 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 10;

    > ul{
      padding: 0;
      margin: 0;
      overflow: auto;
      width: 100%;
      height: 100%;
      max-height: 274px;

      li{
        display: block;
        padding: 0 12px;
        margin: 0;
        height: 36px;
        line-height: 36px;
        cursor: pointer;
        &:last-child{
          border-radius: 0 0 3px 0;
        }
      }

      li:hover{
        background-color: rgba(0,0,0,0.05);
      }

      li.disabled{
        color:#9b9b9b;
        pointer-events: none;
      }

      li.disabled:hover{
        background-color: #ffffff;
      }

      &::after{
        content: "";
        font-size: 18px;
        position: absolute;
        right: 10px;
        top: 0;
        line-height: 32px;
      }
    }
  }

  &.act{
     > ul{
      z-index: 100;
      display: block;
    }

    .popup{
      z-index: 100;
      display: block;
    }
  }

}

.bgRed{
  background-color: #E9604A!important;
}
