<div class="box" ng-class="{loading: vm.loading}"  ng-model-options="{ debounce: 200 }">
  <div class="content">
    <div class="h1">
      Set up AI

      <div class="h1-controls-box">
        <div class="selector-ver2 languages" ng-class="{act: vm.$showSelect}">
          <div class="label placeholder" ng-click="$event.stopPropagation(); vm.$showSelect = true" ng-bind="(vm.currentLanguage) ? vm.currentLanguage.name : 'Choose a language'"></div>
          <div class="popup">
            <ul>
              <li class="disabled">Choose a language</li>
              <li class="current" ng-bind="vm.currentLanguage.name" ng-if="vm.currentLanguage"></li>
              <li ng-click="vm.selectLanguage(language)"  ng-if="vm.currentLanguage.code !== language.code" ng-repeat="language in vm.languages | orderBy: 'name' track by $index">{{language.name}}</li>
            </ul>
          </div>
        </div>
        <div class="search-box">
          <input
            type="text"
            class="cf-input auto-error-off"
            ng-model="vm.searchText"
            placeholder="Search text..."
            ng-change="vm.setSearch()"
            ng-class="{'super-error': vm.searchText && vm.intents.length && !vm.currentIntents.length}"
          />
          <div class="button-ver2 icon search"></div>
        </div>
      </div>

    </div>
    <div class="note">
      It is a set of keyphrases and corresponding bot repllies. A chatbot will understand user phrases similar to those you’ve set up and reply with a text or a block.
    </div>

    <div class="groups-list" ng-if="false">
      <div class="group-item act">
        <span contenteditable="true" placeholder="Enter name">Default group</span>
        <div class="button-ver2 trash-popup mini"></div>
      </div><div class="group-item add button-ver2 white-rounded">Add Group</div>
    </div>

    <div class="rules">
      <div class="button-ver2 orange-rounded add-rule" ng-click="vm.addIntent();">ADD AI RULE</div>
      <div class="intents-list" style="padding:{{vm.padding}};">
        <intent
          ng-repeat="currentIntentId in vm.intentsIdsToShow track by $index"
          intents="vm.intents"
          intent="vm.currentIntents[currentIntentId]"
          index="$index"
          intent-id="{{vm.currentIntentsMap[currentIntentId]}}"
        ></intent>
      </div>
    </div>

    <div class="preloader" ng-if="vm.rendingPreloader" ></div>
  </div>
</div>
