div.ref-link {
  display: inline-block;
  font-size: 0;
  margin-left: 16px;
  align-self: center;
  -webkit-align-self: center;
  .ref-link-container {
    display: table;
    width: 100%;
    height: 40px;
    .ref-link-icon {
      display: inline-block;
      content: '';
      background: url('../images/ic_link_referral.png') no-repeat center 0;
      background-size: 48px;
      width: 48px;
      height: 18px;
      position: relative;
      top: 0px;
      margin-right: 6px;
      &:hover {
        background-position: center -18px;
      }
    }
    &.ref-active {
      .ref-link-icon {
        background-position: center -18px;
      }
    }
    .tooltip.top {
      top: -34px !important;
      .tooltip-inner {
        background-color: #053748;
      }
      .tooltip-arrow {
        border-top-color: #053748;
      }
    }
    .dtc {
      display: table-cell;
      vertical-align: middle;
      float: none;
      line-height: 1;
    }
  }
  .page-link {
    display: inline-block;
    position: relative;
    top: 0;
    cursor: pointer;
    white-space: nowrap;
    .page-link-full {
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      display: inline-block;
      color: #3c3f40;
      padding: 10px 0;
    }
    .icon-copy {
      background: url('../images/ic_clipboard_small.svg') no-repeat center;
      content: '';
      display: inline-block;
      width: 40px;
      height: 40px;
      vertical-align: middle;
      opacity: 0;
      position: absolute;
      pointer-events: none;
      &:hover {
        background: url('../images/ic_clipboard_small_hover.svg') no-repeat center;
      }
    }
    &:hover {
      .page-link-full {
        color: #448af1;
      }
      .icon-copy {
        opacity: 1;
        pointer-events: all;
      }
    }
    .copy-tooltip {
      pointer-events: none;
      .tooltip-inner {
        width: 102px;
        min-width: 51px;
        height: 20px;
        border-radius: 2px;
        background-color: #053748;
        font-size: 10px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        color: #ffffff;
        line-height: 16px;
      }
      .tooltip-arrow {
        border-right-color: #053748;
      }
    }
    &.copied-tooltip {
      .copy-tooltip {
        .tooltip-inner {
          width: 51px !important;
          background-color: #45c195;
        }
        .tooltip-arrow {
          border-right-color: #45c195;
        }
      }
    }
    .input-to-copy-link {
      position: absolute;
      opacity: 0;
      pointer-events: none;
      left: -99999px;
      font-size: 12px;
    }
  }
}
