<div class="typing-container">
  <div class="typing-body">
    <div class="typing-title">
      <span class="typing-logo"></span>Show "typing…" for at least
    </div>
    <div class="typing-selector">
      <rzslider rz-slider-model="vm.item.config.timeout_milliseconds" rz-slider-options="vm.sliderDelay.options"></rzslider>
    </div>
  </div>
  <!--a ng-href="" target="_blank">
    <div class="asc"></div>
  </a-->
  <localization item="vm.item"></localization>
</div>
