<div class="set-up-variable">
  <p ng-class="{'has-error': vm.hasValidationError}" class="title icon set-up-variable">
    Set up a variable
  </p>
  <p class="info">
    Set a value for an existing user valiable or add a new one.  Use it to segment users for broadcast subscriptions, to define bot flow scenarios, or to analyze users' activity.
  </p>
  <div class="content">
    <div class="l-col">
      <div class="line">
      </div>
      <div class="line">
        <div class="control size-300 required top">
          <div class="control-title">USER VARIABLE</div>
        </div>
        <div  class="control size-300 required top">
          <div class="control-title">VALUE</div>
        </div>
      </div>
      <div class="line" ng-repeat="lItem in vm.item.config.items track by $index">
        <div class="control size-300">
          <svp-variables
            items="vm.item.config.items"
            value="vm.item.config.items[$index].variable_name"
            vars="vm.parameterStats.parametersSort"
            index="{{$index}}"
            is-new="{{vm.isNewArray.indexOf($index) !== -1 ? 'true' : 'false'}}"
            save="vm.save()"
            update-vars-map="vm.updateVarsMap(false)"
          ></svp-variables>
        </div>
        <div  class="control size-300">
          <svp-values
            value="vm.item.config.items[$index].value"
            vars="vm.parameterStats.parameters[vm.item.config.items[$index].variable_name]"
            is-new="{{vm.isNewArray.indexOf($index) !== -1 ? 'true' : 'false'}}"
            save="vm.save()"
            var-name="{{vm.item.config.items[$index].variable_name}}"
          ></svp-values>
        </div>
        <div class="button-ver2 trash-popup" ng-click="vm.removeVar($index)" ng-if="vm.item.config.items.length > 1"></div>
      </div>

      <div class="line">
        <div class="control size-300">
          <div class="comment">
            You can select one of the existing variables or create a new one.
          </div>
        </div>
        <div class="control size-300">
          <div class="comment">
            Set any value or clear user variable using «NOT SET» option
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="button-ver2 white-rounded add" ng-click="vm.addVar()">ADD VARIABLE</div>
  </div>
</div>
