.popup.plugin-browser{
  overflow: auto;

 .scroll-box {
   width: 100%;
   height: 100%;

   .window {
     padding: 32px 16px 0 32px;
     width: 680px;
     min-height: 100px;
     overflow: visible;

     .content {
       h2 {
         font-weight: 300;
         font-size: 24px;
         line-height: 1.0;
         color: #000000;
         padding: 0;
         margin: 0 0 38px;
       }

       h3 {
         font-weight: bold;
         font-size: 16px;
         line-height: 1.5;
         color: #000000;
         margin: 0 0 16px;
       }

       > ul {
         padding: 0;
         margin: 0 0 16px;

         > li {
           display: inline-block;
           position: relative;
           vertical-align: top;
           margin: 0 12px 16px 0;
           padding: 0px 42px;

           height: 36px;
           line-height: 34px;
           border-radius: 3px;
           background-color: #ffffff;
           box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
           border: solid 1px rgba(0, 0, 0, 0.15);

           font-size: 16px;
           font-weight: normal;
           color: #000000;

           background-repeat: no-repeat;
           background-position: 12px center;
           background-size: auto 20px;

           cursor: pointer;

           -webkit-user-select: none;
           -moz-user-select: none;
           -ms-user-select: none;
           user-select: none;

           &.rss {
             background-image: url('images/ic_r_rss@2x.png');
           }
           &.twitter {
             background-image: url('images/ic_r_twitter@2x.png');
           }
           &.youtube {
             background-image: url('images/ic_r_youtube@2x.png');
           }
           &.facebook {
             background-image: url('images/ic_facebook_round.svg');
           }
           &.instagram {
             background-image: url('images/ic_r_instagram@2x.png');
           }
           &.ifttt {
             background-image: url('images/ic_ifttt_round.svg');
           }
           &.google {
             background-image: url('images/ic_r_google@2x.png');
           }
           &.bind {
             background-image: url('images/ic_r_bing@2x.png');
           }
           &.swiftype {
             background-image: url('images/ic_r_swiftype.svg');
           }
           &.contact {
             background-image: url('images/ic_r_contact@2x.png');
           }
           &.typing {
             background-image: url('images/ic_typing_round.svg');
           }
           &.form {
             background-image: url('images/ic_r_forms@2x.png');
           }
           &.json {
             background-image: url('images/ic_r_file@2x.png');
           }
           &.subscriptions-manager {
             background-image: url('images/ic_r_sub_mngr@2x.png');
           }
           &.subscriptions-publisher {
             background-image: url('images/ic_r_sub_pblshr@2x.png');
           }
           &.zapier {
             background-image: url('images/ic_r_zapier@2x.png');
           }
           &.calendar {
             background-image: url('images/ic_gcalendar_round.svg');
           }
           &.sheets {
             background-image: url('images/ic_gsheets_round.svg');
           }
           &.slack {
             background-image: url('images/ic_slack_round.svg');
           }
           &.wordpress {
             background-image: url('images/ic_wordpress_round.svg');
           }
           &.vimeo {
             background-image: url('images/ic_vimeo_round.svg');
           }
           &.subscriber {
             background-image: url('../../plugins/assets/images/icons/ic_r_subscriber.svg');
           }
           &.setup-varibale {
             background-image: url('../../plugins/assets/images/icons/ic_parameter_round.svg');
           }
           &.go-to-block {
             background-image: url('images/ic_go_to_block_round.svg');
           }
           &.audio-plugin {
             background-image: url('images/ic_audio_round.svg');
           }
           &.video-plugin {
             background-image: url('images/ic_video_round.svg');
           }
           &.chatroom {
             background-image: url('images/ic_chatroom_round.svg');
           }

           &:hover {
             border: solid 1px rgba(0, 0, 0, 0.8);
           }

           > div {
             position: absolute;
             right: 7px;
             top: 7px;
             width: 20px;
             height: 20px;
             cursor: pointer;
             background: url('images/ic_info.svg') center center no-repeat;
             background-size: cover;
             opacity: 0.25;

             .popup-help {
               border-radius: 7px;
               background-color: #f0efef;
               box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
               border: solid 1px rgba(0, 0, 0, 0.05);
               position: absolute;
               z-index: 1000;
               padding: 24px;
               height: 1px;
               width: 1px;
               overflow: hidden;

               font-size: 14px;
               line-height: 18px;
               color: #807e7e;

               opacity: 0;
               left: -9999px;
               top: 50%;
               transform: translateY(-50%);
               transition: left 0ms 100ms, opacity 100ms 0ms;

               cursor: default;

               ul {
                 padding: 0 0 0 20px;
                 list-style-type: disc;
                 margin-top: -10px;
               }

               p {
                 padding: 0;
                 margin: 0 0 14px;
               }

               &::after {
                 content: ' ';
                 position: absolute;
                 width: 20px;
                 height: 20px;
                 background-color: #f0efef;
                 transform: translateY(-50%) rotate(-45deg);
               }

               .button.close {
                 pointer-events: auto;
                 position: absolute;
                 right: 24px;
                 top: 24px;
                 background-size: 20px auto;
                 opacity: 0.25;
                 &:hover {
                   opacity: 1;
                 }
               }
             }

             &:hover {
               opacity: 1;
             }

             &.act {
               opacity: 1;
               .popup-help {
                 width: 380px;
                 overflow: visible;
                 opacity: 1;
                 transition: left 0ms 0ms, opacity 100ms 0ms;
               }
             }

             &.top {
               .popup-help {
                 height: 345px;
                 top: -194px;
                 left: -179px;
                 &::after {
                   border-bottom: solid 1px rgba(0, 0, 0, 0.05);
                   border-left: solid 1px rgba(0, 0, 0, 0.05);
                   margin-left: -10px;
                   top: 100%;
                   left: 50%;
                 }
               }
             }

             &.right {
               .popup-help {
                 height: auto;
                 left: 42px;
                 &::after {
                   border-top: solid 1px rgba(0, 0, 0, 0.05);
                   border-left: solid 1px rgba(0, 0, 0, 0.05);
                   top: 50%;
                   left: -10px;
                 }
               }
             }

             &.bottom {
               .popup-help {
                 height: 350px;
                 top: 217px;
                 left: -180px;
                 &::after {
                   border-top: solid 1px rgba(0, 0, 0, 0.05);
                   border-right: solid 1px rgba(0, 0, 0, 0.05);
                   margin-left: -10px;
                   top: 0;
                   left: 50%;
                 }
               }
             }

           }
         }

       }

     }
      .content-autopost {
        > ul {
          > li {
            padding: 0px 15px 0 42px;
          }
        }
      }
     .button.close {
       right: 32px;
       top: 32px;
     }
   }
 }
}
