<div>
  <p class="title" ng-bind="'IFTTT'"></p>
  <div class="content autopost">
      <div class="line sub-title">
        Instruction:
      </div>
      <ol>
        <li>Register on <a href="https://ifttt.com/" target="_blank">IFTTT</a>.</li>
        <li>Copy this link: <div class="copy-link" no-input-select-text>{{vm.API_URL}}/hooks/ifttt/{{vm.item.id}}</div></li>
        <li>Paste previous link to your custom recipe (use <a href="https://ifttt.com/recipes/427101-your-instagram-to-chatfuel" target="_blank">this one</a> as an example).</li>
        <li>That’s it! Now all the updates are automatically sent to your users.</li>
      </ol>
  </div>

  <a href="https://help.chatfuel.com/facebook-messenger/plugins/ifttt" target="_blank">
    <div class="asc"></div>
  </a>
  <localization item="vm.item"></localization>
</div>
