<div class="support" ng-class="{ act: $ctrl.supportOpened }"  ng-click="$event.stopPropagation(); $ctrl.supportOpened = true">
  <span class="support__text">Need help?</span>

  <div class='fb-messengermessageus' id='fb-messengermessageus' messenger_app_id='1678638095724206' page_id='791843450960342' color='white' size='large'></div>
</div>
