section.settings {
  .error-container {
    background-color: rgba(233, 96, 74, 0.1);
    padding: 0 24px 0 48px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .error-message-wrapper {
      display: inline-block;
      margin: 10px 0;
      .error-logo {
        background: url('../images/avatar_chatbot_red_eye.svg') center center no-repeat;
        position: absolute;
        content: '';
        width: 16px;
        height: 16px;
        left: 24px;
        top: 50%;
        transform: translateY(-50%);
      }
      .error-message {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        color: #e9604a;
        line-height: 1.43;
        &.help {
          color: #a6a6a6;
        }
      }
    }
    .button-ver2.orange-rounded {
      display: inline-block;
      margin: 0 0 0 14px;
      font-size: 12px;
      height: 32px;
      flex-shrink: 0;
      line-height: 33px;
    }
  }
}
