<div class="alert red-gradient" ng-class="{ act: hae.HeaderAlertErrorsService.errorText, 'full-width': hae.fullWidth, 'hidden': hae.hidden }" ng-if="hae.showAlert">
  <span class="logo"></span>
  <div class="text">{{ hae.HeaderAlertErrorsService.errorText }}</div>
  <div class="button-ver2 transparent-rounded" ng-if="hae.HeaderAlertErrorsService.buttonText" ng-click="hae.goToPage(hae.HeaderAlertErrorsService.buttonUrl)">{{hae.HeaderAlertErrorsService.buttonText}}</div>
</div>
