.button{
  display: block;
  text-decoration: none;

  text-align: center;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;

   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
  user-select: none;

  transition: opacity 60ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);
  -webkit-transition: opacity 60ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);
}

.button.big-orange{
  width: 208px;
  height: 48px;

  border-radius: 3px;
  background-color: #e9604a;

  line-height: 48px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  transition: background-color 60ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);
  -webkit-transition: background-color 60ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);
}

.button.big-orange:hover{
  background-color: #ff7157;
}

.button.biger{
  width: 468px;
  height: 64px;

  line-height: 64px;

  font-size: 28px;
}

.button.add-to{
  width: auto;
  padding: 0 10px;
  height: 28px;
  border-radius: 3px;
  border: solid 1px #2da5e0;
  line-height: 26px;
  text-align: center;
  font-size: 14px;
  color: #2da5e0;
}

.button.add-to::after{
  content: " ";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 10px;
  vertical-align: -2px;
  background: url("/images/ic_telegram.svg") center center no-repeat;
}

.button.add-to:hover{
  color: #ffffff;
  background-color: #2da5e0;
}

.button.add-to:hover::after{
  background-image: url("/images/ic_telegram_.svg");
}

.button.mobile-menu{
  display: none;
  height: 48px;
  width: 48px;
  background: url("/images/ic_menu.svg") center center no-repeat;
}

.button.close{
  height: 48px;
  width: 48px;
  background: url("../../images/ic_close.svg") center center no-repeat;
}

.button.blue{
  width: 201px;
  height: 48px;
  line-height: 48px;
  border-radius: 3px;
  background-color: #2da5e0;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  transition: background-color 60ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);
  -webkit-transition: background-color 60ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);
}

.button.blue:hover{
  background-color: #3db5f0;
}

.button.dark{
  display: inline-block;
  width: 158px;
  height: 36px;
  line-height: 34px;
  border-radius: 3px;
  background-color: #053748;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  transition: background-color 60ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);
  -webkit-transition: background-color 60ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);
  padding: 0;
}

.button.dark:hover{
  background-color: #154758;
}

.button.dark.disabled{
  background-color: #053748!important;
}

.button.disabled{
  opacity: 0.3;
  cursor: auto;
  pointer-events: none;
}

.button.continue-reading{
  width: 218px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  color: #ffffff!important;
}

.button.continue-reading::after{
  content: " >";
  font-size: 16px;
  display: inline-block;
  font-weight: 600;
  transform: scale(0.8,1.7);
  margin-left: 5px;
}

.button.blog{
  color: #ffffff!important;
  width: 220px;
  height: 48px;
  font-size: 16px;
  text-decoration: none!important;
}

.button.head{
  width: 154px;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
}

.button.bordered-orange{
  width: 226px;
  height: 48px;
  line-height: 44px;
  border-radius: 3px;
  background-color: transparent;
  border: solid 2px #e9604a;
  font-size: 20px;
  color: #ffffff;
}

.button.db-sq{
  width: 24px;
  height: 24px;
  background-position: center center;
  background-repeat: no-repeat;
}

.button.db-orange{
  width: 202px;
  height: 36px;
  line-height: 36px;
  border-radius: 3px;
  background-color: #e9604a;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;

  &:hover{
    background-color: #ff7157;
    text-decoration: none;
  }
  &[disabled],
  &.disabled{
    pointer-events: none;
    cursor: auto;
    color: #ffffff;
    background-color: #e6e5e4;
  }
}

.button.db-border{
   width: 202px;
   height: 36px;
   line-height: 36px;
   border-radius: 3px;
   border: solid 1px #d9d9d9;
   background-color: #ffffff;
   text-align: center;
   text-transform: uppercase;
   font-size: 14px;
   color: #000000;
   text-decoration: none;

   &:hover{
     border: solid 1px #999999;
   }
   &[disabled],
   &.disabled{
     pointer-events: none;
     cursor: auto;
     color: rgba(0,0,0,0.3);
   }
}

.button.db-link{
   width: auto;
   height: 36px;
   line-height: 36px;
   border-radius: 3px;
   border: solid 1px rgba(0,0,0,0);
   background-color: rgba(0,0,0,0);
   text-align: center;
   text-transform: uppercase;
   font-size: 14px;
   color: #807e7e;
   text-decoration: none;


   &:hover{
     color: #000000;
   }
   &[disabled],
   &.disabled{
     pointer-events: none;
     cursor: auto;
   }
}

.button.db-blue,
a.button.db-blue{
  width: 361px;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  background-color: #448af1;
  font-size: 16px;
  color: #ffffff;
  text-align: center;

  &:hover{
    background-color: #549aff;
  }
}

.button.db-dark{
  width: 320px;
  height: 48px;
  line-height: 48px;
  border-radius: 3px;
  background-color: #053748;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  &:hover{
    background-color: #184A5B;
    text-decoration: none;
  }
}

.button.db-white{
  display: inline-block;
  vertical-align: top;
  width: auto;
  height: 44px;
  line-height: 42px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
  border: solid 1px rgba(0, 0, 0, 0.15);
  padding: 0 15px;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
  text-transform: none;

  &:hover{
    border: solid 1px rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }
}


