.tooltip {
  position: absolute !important;
  display: block;
  z-index: 99999;
  font-size: 14px;
  opacity: 0;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;

  &.in {
    opacity: 1;
  }

  &.top {
    padding: 4px 0;
  }

  &.right {
    margin-left: 3px;
    padding: 0 5px;
  }

  &.bottom {
    margin-top: 3px;
    padding: 5px 0;
  }

  &.left {
    margin-left: -3px;
    padding: 0 5px;
  }

  .tooltip-inner {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    height: 28px;
    line-height: 22px;
    min-width: 100px;
    padding: 2px 8px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #e9604a;
  }

  .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }

  &.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #e9604a;
  }

  &.top-left .tooltip-arrow {
    bottom: 0;
    right: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #e9604a;
  }

  &.top-right .tooltip-arrow {
    bottom: 0;
    left: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #e9604a;
  }

  &.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #e9604a;
  }

  &.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #e9604a;
  }

  &.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #e9604a;
  }

  &.bottom-left .tooltip-arrow {
    top: 0;
    right: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #e9604a;
  }

  &.bottom-right .tooltip-arrow {
    top: 0;
    left: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #e9604a;
  }

  &.two-rows .tooltip-inner {
    height: 46px;
  }
}
