div.alert {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  position: absolute;
  left: -99999px;
  width: auto;
  height: 34px;
  background-color: red;

  margin-top: -34px;
  -webkit-transition: margin-top 200ms 0ms;
  transition: margin-top 200ms 0ms;
  z-index: 9999;


  .text{
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    color: #ffffff;
    padding: 0 12px;

    max-width: inherit;
    min-width: inherit;


  }

  .close.button{
    position: absolute;
    top:5px;
    right: 10px;
    width: 24px;
    height: 24px;
    background: url(../../images/ic-close-white.svg) no-repeat center center;
    max-width: inherit;
    min-width: inherit;
  }
}

div.alert.red{
  background-color: #ed7f6e;
}

div.alert.blue{
  background-color: #69a1f3;
}

div.red-gradient {
  margin-top: -54px;
  height: 54px;
  background-image: linear-gradient(272deg, #e66900, #e9604a);
  box-shadow: 0 2px 4px 0 #a6a6a6;
  min-width: 570px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  overflow: hidden;
  .logo {
    background: url('../../images/avatar_chatbot_white.svg') center center no-repeat;
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    min-width: 16px;
    display: inline-block;
    left: 29px;
    top: 50%;
    transform: translateY(-50%);
  }
  .text {
    font-size: 14px;
    height: auto;
    line-height: 18px;
    padding: 0px 12px 0 53px;
    display: inline-block;
    width: auto;
    flex-grow: 1;
    height: auto;
  }
  .transparent-rounded {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 7px;
    border: solid 1px #ffffff;
    min-width: 100px;
    height: 34px;
    line-height: 32px;
    padding: 0 24px;
    text-align: center;
    width: auto;
    margin: 10px 29px 10px 0;
    flex-shrink: 0;
  }
  &.hidden.act {
    left: -99999px !important;
    right: auto !important;
  }
}

div.alert.act{
  margin-top: 0;
  left: 160px;
  right: 0;
  position: fixed;
  top: 64px;
  -webkit-transition: margin-top 200ms 0ms;
  transition: margin-top 200ms 0ms;
  &.red-gradient {
    left: 0;
    top: 0;
  }
}


@media (max-width: 1024px){
  div.alert.act{
    left: 72px;
  }
}

body{
  > .popup{
    position: fixed;
    z-index: 1000000;
    width: 1px;
    height: 1px;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;

    transition: width 0ms 200ms, height 0ms 200ms, opacity 200ms 0ms;
    -webkit-transition: width 0ms 200ms, height 0ms 200ms, opacity 200ms 0ms;

    * > {
      max-width: inherit;
      min-width: inherit;
    }

    .back{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;

      background-color: rgba(235,234,234,0.8);
    }

    .window {

      transition: transform 100ms 0ms;
      -webkit-transition: transform 100ms 0ms;


      position: absolute;
      transform: translate(-50%,-50%) scale(0.01,0.01);
      top: 50%;
      left: 50%;
      z-index: 1;
      overflow: hidden;

      width: 400px;
      border-radius: 7px;
      background-color: #ffffff;
      box-shadow: 0 16px 48px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.12);

      padding: 32px 32px 100px;

      &.window-crop {
        @width: 480px;
        padding: 0 0 68px;
        width: @width;

        & .title {
          height: 52px;
          padding-top: 16px;
          padding-left: 24px;
          font-size: 16px;
          line-height: 1.5;
        }

        & .content {
          position: relative;
          overflow: hidden;
          height: 270px;

            img {
              width: @width;
            }

        }
      }

      &.window-payments {
        width: 640px;
        height: 434px;
        padding: 24px 24px 16px 24px;
      }

      &.window-invite {
        @width: 640px;
        width: @width;
        padding: 24px 24px 93px 24px;

        .title {
          margin: 0 0 16px;
        }
        .modal-description {
          margin: 0 0 12px;
        }

        .footer {
          padding: 0 24px;
          .button.b-false {
            border-radius: 7px;
          }
        }
        .selectInput{
          display: inline-block;
          width: 472px;
          height: 36px;
          line-height: 34px;
          border-radius: 7px;
          background-color: #fafafa;
          border: solid 1px rgba(0, 0, 0, 0.09);
          font-size: 16px;
          font-weight: 400;
          padding: 0 10px;
          white-space: nowrap;
          margin-right: 16px;
        }
        .button-ver2.white.b-copy-invite {
          border-radius: 7px;
          padding: 0 24px 0 18px;
          &:before {
            background: url('../../images/ic_clipboard_small.svg') center center no-repeat;
            content: '';
            width: 16px;
            height: 16px;
            display: inline-block;
            vertical-align: middle;
            opacity: 0.3;
            margin-right: 8px;
          }
          &:hover {
            &:before {
              opacity: 1;
            }
          }
        }
        .tooltip-copied {
          animation: tooltip 1240ms cubic-bezier(0.2,0.7,0.5,1);
          -webkit-animation: tooltip 1240ms cubic-bezier(0.2,0.7,0.5,1);
          opacity: 0;
          padding: 0;
          .tooltip-inner {
            background-color: #45c195;
            min-width: 108px;
            height: 20px;
            font-size: 10px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            color: #ffffff;
            border-radius: 2px;
            line-height: 16px;
          }
          .tooltip-arrow {
            border-top-color: #45c195;
            bottom: -5px;
          }
        }
        @keyframes tooltip {
          0% { opacity: 0; }
          10% { opacity: 1; margin: -8px 0}
          90% { opacity: 1; margin: -8px 0}
          100% { opacity: 0; margin: -16px 0}
        }
        @-webkit-keyframes tooltip {
          0% { opacity: 0; }
          10% { opacity: 1; margin: -8px 0}
          90% { opacity: 1; margin: -8px 0}
          100% { opacity: 0; margin: -16px 0}
        }
      }
      &.window-block-link {
        @width: 554px;
        width: @width;
        padding: 24px;
        min-height: 166px;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        .content {
          transition: height 0.1s cubic-bezier(0.2,0.7,0.5,1), margin 0.2s cubic-bezier(0.2,0.7,0.5,1);
          height: 117px;
        }

        .title {
          margin: 0 0 16px;
          font-size: 18px;
          font-weight: 400 !important;
          .art-switcher {
            display: inline-block;
            vertical-align: middle;
            margin-left: 16px;
          }
        }
        .modal-description {
          margin: 0;
          color: #767676;
          .ref-mask {
            font-size: 13px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.23;
            color: #ffffff;
            border-radius: 8px;
            background-color: #906d60;
            padding: 0 3px 1px 3px;
            display: inline-block;
            &:before, &:after {
              font-size: 11px;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.27;
              color: #e0995d;
              vertical-align: top;
            }
            &:before {
              content: '{{ ';
            }
            &:after {
              content: ' }}';
            }
          }
        }

        .footer {
          padding: 0 24px;
          .button.b-false {
            border-radius: 7px;
          }
          .button-ver2.white.b-copy-invite {
            border-radius: 7px;
            padding: 0 12px;
            float: left;
            margin-top: 16px;
            &:before {
              background: url('../../images/ic_clipboard_small.svg') center center no-repeat;
              content: '';
              width: 16px;
              height: 16px;
              display: inline-block;
              vertical-align: middle;
              opacity: 0.3;
              margin-right: 8px;
            }
            &:hover {
              &:before {
                opacity: 1;
              }
            }
            &.disabled {
              opacity: 0.3;
              cursor: auto;
              pointer-events: none;
            }
          }
          .tooltip-copied {
            animation: tooltip 1240ms cubic-bezier(0.2,0.7,0.5,1);
            -webkit-animation: tooltip 1240ms cubic-bezier(0.2,0.7,0.5,1);
            opacity: 0;
            padding: 0;
            .tooltip-inner {
              background-color: #45c195;
              min-width: 108px;
              height: 20px;
              font-size: 10px;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              color: #ffffff;
              border-radius: 2px;
              line-height: 16px;
            }
            .tooltip-arrow {
              border-top-color: #45c195;
              bottom: -5px;
            }
          }
        }
        .content.block-link-on {
          margin-bottom: 61px;
          height: 177px;
          .modal-description {
            margin-bottom: 24px;
          }
          .modal-block-link {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            .link-to-block {
              display: inline-block;
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.71;
              align-self: center;
              -webkit-align-self: center;
              white-space: nowrap;
            }
            .selectInput{
              display: inline-block;
              height: 36px;
              border-radius: 7px;
              background-color: #fafafa;
              border: solid 1px rgba(0, 0, 0, 0.09);
              font-size: 14px;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.71;
              font-weight: 400;
              padding: 0 10px;
              white-space: nowrap;
              margin-left: 6px;
              flex-grow: 1;
              -webkit-flex-grow: 1;
            }
          }
        }
        .input-to-copy {
          position: absolute;
          opacity: 0;
          pointer-events: none;
          left: -99999px;
        }
        .tooltip.referral-error {
          .tooltip-inner {
            height: auto;
            max-width: 250px;
          }
        }
      }

      .content{
        font-size: 16px;
        line-height: 1.5;
        color: #000000;

        p{
          padding: 0;
          margin: 0 0 24px;
          b{
            font-weight: 600;
          }
          i{
            font-weight: 300;
            font-style: normal;
          }

          &.title{
            font-weight: bold;
          }

          &.gray{
            color: #807e7e;
          }

          &.mini{
            font-size: 14px;
            line-height: 1.4;
            margin-top: -8px!important;
          }

          .red{
            color: #ea6550;
          }

          label{
            font-size: 16px;
            line-height: 1.5;
            color: #807e7e;

            input{
              width: 100%;
              height: 36px;
              line-height: 34px;
              border-radius: 3px;
              background-color: #ffffff;
              border: solid 1px #d9d9d9;
              font-size: 16px;
              padding: 0 10px;
              margin: 12px 0 0;
              color: #000000;
            }
          }


        }

        p:last-child{
          margin: 0;
        }

        .selector{
          margin: 0 0 24px;
          width: 100%;
          ul{
            width: 101%;
          }
        }

      }

      .footer{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 68px;
        line-height: 67px;
        border-top: 1px solid #d9d9d9;
        text-align: right;
        padding: 0 32px;

        .button{
          display: inline-block;
          width: auto;
          min-width: 100px;
          padding: 0 24px;
          height: 36px;
          border-radius: 3px;
          line-height: 34px;
          font-size: 14px;
          text-transform: uppercase;
          margin-left: 16px;
        }

        .button.b-true{
          background-color: #ffffff;
          border: solid 1px #d9d9d9;
        }

        .button.b-false{
          background-color: #e9604a;
          border: solid 1px #e9604a;
          color: #ffffff;
          &[disabled]{
            background-color: #e6e5e4;
            border: solid 1px #e6e5e4;
            pointer-events: none;
          }
          &.crop-btn-disabled {
            opacity: 0.5;
          }
        }
      }

      .close.button{
        position: absolute;
        width: 24px;
        height: 24px;
        top: 12px;
        right: 12px;
        background: url(../../images/ic_close.svg) no-repeat center center;
        background-size: 19px 19px;
        opacity: 0.3;
        transition: opacity 60ms;
      }

      .close.button:hover{
        opacity: 1;
      }
    }


    &.readonly{

      overflow: auto;

      .back{
        pointer-events: none;
        position: fixed;
      }

      .window{
        top: 165px;
        width: 960px;
        height: 772px;
        transform: translate(-50%, 0%)!important;
        -webkit-transform: translate(-50%, 0%)!important;
        padding: 0;

        .content{
          background-color: #f3f2f2;
          padding: 48px;
          text-align: center;

          h2{
            font-weight: 300;
            font-size: 32px;
            line-height: 1.4;
            color: #000000;
            margin: 0 0 24px;
          }

          p{
            font-size: 16px;
            line-height: 1.5;
            margin: 0 0 20px;
            padding: 0;
          }

          .button{
            display: inline-block;
            padding: 0 24px;
            width: auto;
          }
        }
        .footer{
          text-align: center;
          padding: 32px 0 0;
          position: static;
          left: auto;
          bottom: auto;
          line-height: normal;

          h2{
            font-weight: 300;
            font-size: 32px;
            line-height: 1.4;
            color: #000000;
            margin: 0 0 32px;
          }

          ul{
            padding: 0;
            margin: 0;
            border-bottom: 1px solid #dcdcdc;
            width: 100%;
            text-align: center;

            li{
              display: inline-block;
              margin: 0 6px -1px;
              padding: 0 8px 11px;
              border-bottom: 2px solid transparent;
              cursor: pointer;
              font-size: 16px;
              color: #000000;
              line-height: 1;

              &.act{
                border-bottom: 2px solid #e9604a;
                pointer-events: none;
                cursor: auto;
              }
            }
          }

          .tabs-box{
            padding: 48px 173px 0;

            .tab-item{
              display: none;

              font-size: 16px;
              line-height: 1.5;
              color: #000000;

              padding: 0 0 0 34px;

              text-align: left;

              &.act{
                display: block;
              }

              p{
                margin: 0 0 16px;
                &.title{
                  font-weight: 600;
                }


              }

              ol{
                padding: 0;
                margin: 0 0 16px;
                counter-reset: item;
                li{
                  display: block;
                  position: relative;
                  padding: 0;
                  margin: 0 0 16px;
                  counter-increment: item;

                  &::before{

                    content: counter(item);
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    line-height: 22px;
                    left: -34px;
                    top: 0;
                    border: solid 1px rgba(0,0,0,0.3);
                    border-radius: 50%;
                    font-size: 16px;
                    color: #000000;
                    text-align: center;
                  }
                }
              }

              p, ol, ul{
                a{
                  color: #5494f3;
                  text-decoration: none;
                  &:hover{
                    text-decoration: underline;
                  }
                }
              }


              > div:last-child{
                position: absolute;
                bottom: 48px;
                left: 0;
                width: 100%;
                text-align: center;

                .button{
                  margin: 0 16px;
                  padding: 0 30px;
                  width: auto;
                  min-width: 160px;
                  height: 48px;
                  line-height: 46px;
                  font-weight: 300;
                  font-size: 20px;
                  text-transform: uppercase;
                }
              }

              &:nth-child(2){
                margin: 0 -125px;
                padding: 0;

                .img{
                  background: url('../../images/pics/pic_wiz_12.png') no-repeat center center;
                  background-size: cover;
                  width: 468px;
                  height: 116px;
                  float: right;
                  margin: 0 0 0 36px;
                }
              }
            }
          }

          .fb-box{
            vertical-align: -7px;
          }
        }
      }
    }
  }
}

body.show-modal-popup{
  overflow: hidden;
  .popup{
    width: 100%;
    height: 100%;
    opacity: 1;

    transition: width 0ms 0ms, height 0ms 0ms, opacity 200ms 0ms;
    -webkit-transition: width 0ms 0ms, height 0ms 0ms, opacity 200ms 0ms;

    .window{
      transform: translate(-50%,-50%) scale(1,1);
    }
  }
}

body.header-alert-error {
  padding-top: 118px !important;
  header > div, section.bot-selector, .wizard-header {
    top: 54px !important;
  }
  section.bot-selector {
    div > nav {
      top: 118px !important;
      ul {
        min-height: 658px !important;
        span.bottom-list {
          bottom: 118px !important;
        }
      }
    }
  }
}





.button.switch {
  position: relative;
  width: 52px;
  height: 24px;
  border-radius: 100px;
  font-size: 11px;
  line-height: 24px;

  &.on {
    background-color: #448af1;
    color: #ffffff;
    span.off {
      opacity: 0;
    }
    span.on {
      opacity: 1;
    }
  }

  &.off {
    background-color: #e5e5e5;
    color: #000000;
    span.off {
      opacity: 1;
    }
    span.on {
      opacity: 0;
    }
  }

  span {
    display: block;
    padding: 0 8px 0 6px;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transition: opacity 220ms,background-color 220ms;

    &.on {
      text-align: left;
    }
    &.off {
      text-align: right;
    }
  }
}

.button.switch::after{
  content: " ";
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top:2px;
  z-index: 2;
  transition: left 220ms;
}

.button.switch.on::after{
  left: 29px;
}

.button.switch.off::after{
  left: 2px
}
