<div
  class="blocks-suggest cf-input"
  ng-click="vm.setFocusToInput($event)"
  ng-class="{
    empty: !vm.blocksTitles.length,
    error: !vm.blocksTitles.length && !vm.focused && vm.showError,
    focus: vm.focused,
  }"
>
  <div class="bs-content">
    <div class="blocks-list">
      <div class="block-item" ng-repeat="block in vm.localBlocks track by $index">
        <div
          class="block-title"
          contenteditable--off="true"
          ng-click--off="$event.stopPropagation()"
          ng-focus--off="vm.onFocusBlock($event, $index)"
          ng-blur--off="vm.onBlurBlock($event, $index)"
          ng-keyup--off="vm.onChangeBlock($event, $index)"
          ng-keydown--off="vm.onKeyDownBlock($event, $index)"
          ng-model--off="vm.localBlocksTitles[$index]"
          ng-click---off="vm.go(vm.localBlocks[$index]); $event.stopPropagation()"
          ng-dblclick="vm.go(vm.localBlocks[$index]); $event.stopPropagation()"
          ng-bind="vm.localBlocksTitles[$index]"
          title="Double-click to open the block"
        ></div>
        <div class="button-ver2 trash-popup mini" ng-click="vm.removeBlock($event, $index)"></div>
      </div>
    </div>

    <div
      class="bs-input"
      ng-show="vm.localBlocks.length < 10"
      ng-click="$event.stopPropagation()"
      ng-focus="vm.onFocusInput($event)"
      ng-blur="vm.onBlurInput($event)"
      ng-keyup="vm.onChangeInput($event)"
      ng-keydown="vm.onKeyDownInput($event)"
      contenteditable="true"
      placeholder="Enter block name"
    ></div>

    <!--div class="bs-placeholder" ng-if="vm.localBlocks.length === 0 && !vm.currentQuery"></div-->
  </div>

  <div class="bs-popup"
       ng-class="{open: vm.popupShowed && ((vm.currentQueryTitle && !vm.mapTitleToId[vm.currentQueryTitle.toLowerCase()]) || vm.outPopup.length)}"
       ng-style="{left: vm.popupLeft}"
       ng-click="$event.stopPropagation()">
    <div
      class="add-block"
      ng-if="vm.currentQueryTitle && !vm.mapTitleToId[vm.currentQueryTitle.toLowerCase()]"
      ng-class="{void: !vm.outPopup.length, act: vm.popupItemHover === -1}"
      ng-click="vm.createBlock()"
      ng-mouseenter="vm.popupItemHover = -1"
    >
      Create “<span ng-bind="vm.currentQueryTitle"></span>” block
    </div>
    <ul>
      <li
        ng-class="{'group-title': item.type === 'group', 'bs-item': item.type === 'block', act: vm.popupItemHover === $index}"
        ng-repeat="item in vm.outPopup track by $index"
        ng-bind-html="item.title"
        ng-click="vm.setBlock($event, item.id)"
        ng-mousedown="$event.preventDefault()"
        ng-mouseenter="vm.popupItemHover = $index"
      ></li>
    </ul>
  </div>
</div>
