.aside{

  padding: 32px 0;

 // width: 314px;
  width: 100%;
//  border-right: 1px solid #f3f2f2;
  min-height: 100%;
  //background-color: #ffffff;
  //
  //box-shadow: 1px 0 0 0 rgba(0,0,0,0.03), 1px 0 3px 0 rgba(0,0,0,0.07);
  //max-width: 314px;
  //
  //
  //@media (min-width: 1340px){
  //  max-width: 408px;
  //}
  //@media (min-width: 1460px){
  //  max-width: 528px;
  //}


  .header{
    padding: 0 24px 0 0;
    position: relative;
    margin: 0 28px 12px;

    .title{
      font-size: 24px;
      font-weight: 300;
      line-height: 1.5;
      color: #000000;
    }

    .search-box{
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);

      input{
        display: none;
      }

      .button-ver2.search{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
      }
    }
  }

  .groups-list{

    .group-item{
      padding: 10px 0 6px 28px;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      background-color: rgba(255,255,255,0);
      transition: border-color 400ms ease;

      &.builtin{
        .group-title{
          input{
            pointer-events: none;
          }
        }

        .blocks-list {
          div.block-item {
            width: 126px;

            @media (min-width: 1340px){
              width: 172px;
            }
            @media (min-width: 1460px){
              width: 152px;
            }

            span{
              font-size: 12px;
              line-height: 16px;
            }
          }
        }

      }

      &:hover{
        border-color: rgba(0, 0, 0, .07);
        background-color: rgba(255,255,255,1);
        box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0);
      }

      &.ui-sortable-helper {
        border-color: rgba(0, 0, 0, 0);
        box-shadow: 0 12px 16px -1px rgba(0, 0, 0, 0);
        transition: transform 80ms ease, box-shadow 200ms ease, border-color 80ms ease;
        &:active{
          border-color: rgba(0, 0, 0, .07);
          box-shadow: 0 12px 16px -1px rgba(0, 0, 0, .13);
          transform: scale(1.02,1.02); background:white;
        }
      }

      .group-title{
        position: relative;
        margin: 0px 54px 6px 0;

        input{
          width: 100%;
          display: block;
          font-size: 13px;
          font-weight: 600;
          line-height: 26px;
          height: 28px;
          color: #767676;
          border-radius: 7px;
          border: solid 1px rgba(0, 0, 0, 0);
          padding: 0 4px;
          margin: 0 -4px;
          text-transform: uppercase;

          &::-webkit-input-placeholder {color:#e9604a;}
          &::-moz-placeholder          {color:#e9604a;}
          &:-moz-placeholder           {color:#e9604a;}
          &:-ms-input-placeholder      {color:#e9604a;}
          &:-o-input-placeholder      {color:#e9604a;}
          &:input-placeholder      {color:#e9604a;}



          &:focus{
            color: #000000;
            background-color: #fafafa;
            box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.07);
            border: solid 1px rgba(0, 0, 0, 0.09);

            & + .discount{
              opacity: 1!important;
            }

            & ~ div.button-ver2{
              opacity: 0;
            }
          }
        }

        .discount{
          position: absolute;
          right: 4px;
          bottom: 0;
          width: 20px;
          height: 14px;
          border-radius: 8px;
          background-color: #5dc991;
          font-size: 10px;
          line-height: 14px;
          text-align: center;
          color: #ffffff;
          z-index: 10;
          opacity: 0;
          transition: opacity 100ms;

        }

        .button-ver2{
          position: absolute;
          z-index: 10;
          top: 50%;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          opacity: 0;

          &.lock{
            pointer-events: none;
          }

          &:hover{
            opacity: 1!important;
          }

          &.v-drag{
            left: -25px;

            &:active{
              & ~ .button-ver2{
                opacity: 0!important;
              }
            }
          }

          &.trash, &.lock{

            left: 234px;

            @media (min-width: 1340px){
              left: 328px;
            }
            @media (min-width: 1460px){
              left: 447px;
            }
          }
        }


      }

      &:hover{
        .button-ver2{
          opacity: 0.3;
        }
      }

      .blocks-list{
        margin: 0;

        .block-item{
          display: inline-block;
          position: relative;
          vertical-align: top;
          box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .13);
          border: 1px solid rgba(0, 0, 0, .09);
          border-bottom-color: rgba(0, 0, 0, .13);
          transition: box-shadow 80ms ease, border-color 80ms ease, background-color 80ms ease;
          width: 82px;
          height: 36px;
          line-height: 34px;
          text-align: center;
          border-radius: 7px;
          background-color: #f3f2f2;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          cursor: pointer;
          margin: 0 6px 12px 0;
          padding: 0 3px;



          @media (min-width: 1340px){
            width: 112px;
            margin: 0 8px 12px 0;
          }
          //@media (min-width: 1460px){
          //  width: 112px;
          //  margin: 0 8px 12px 0;
          //}

          &.act{
            background-color: #053748!important;
            border: 1px solid #053748!important;
//            box-shadow: none!important;
            box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.13);
            cursor: default;
            span{
              color: #ffffff;
            }
          }


          &:hover{
            box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .13);
            background-color: #F6F5F5;
            border-top-color: rgba(0, 0, 0, .13);
            border-left-color: rgba(0, 0, 0, .13);
            border-right-color: rgba(0, 0, 0, .13);
            border-bottom-color: rgba(0, 0, 0, .17);
          }

          &:active{
            box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .2);
            border-color: rgba(0, 0, 0, .1);
            border-bottom-color: rgba(0, 0, 0, .2);
            background-color: #f3f2f2;
            transition: box-shadow 20ms ease, border-color 20ms ease;
          }

          &.ui-sortable-helper{
            border-color: rgba(0, 0, 0, 0);
            box-shadow: 0 12px 16px -1px rgba(0, 0, 0, 0);
            transition: transform 80ms ease, box-shadow 200ms ease, border-color 80ms ease;
            cursor: -webkit-grabbing!important;
            cursor: -moz-grabbing!important;
            cursor: grabbing!important;
            &:active {
              border-color: rgba(0, 0, 0, .07);
              box-shadow: 0 12px 16px -1px rgba(0, 0, 0, .13);
              transform: scale(1.02,1.02);
              background: #ffffff;
            }
          }

          span{
            display: inline-block;
            vertical-align: middle;
            font-size: 12px;
            line-height: 16px;
            color: #000000;
            overflow: hidden;
            word-wrap: break-word;
            max-width: 100%;
            max-height: 30px;
            padding: 0 0 4px;


            @media (min-width: 1340px){
              font-size: 13px;
              line-height: 16px;
            }

            &.big-text{
              font-size: 11px;
              line-height: 13px;

              @media (min-width: 1340px){
                font-size: 12px;
                line-height: 13px;
              }
            }
          }

          .context{
            position: absolute;
            display: none;
            border-radius: 3px;
            background-color: #ffffff;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.13);
            border: solid 1px rgba(0, 0, 0, 0.09);
            left: -2px;
            top: 100%;
            padding: 0;
            margin: 5px 0 0 0;
            z-index: 10;
            text-align: left;

            li{
              display: block;
              height: 48px;
              line-height: 48px;
              font-size: 16px;
              color: #000000;
              padding: 0 15px;
              &:hover{
                background-color: #fafafa;
              }
            }

            &.act{
              display: block;
            }
          }

          &.add{
            background-color: #ffffff;
            text-align: center;


            > span{
              display: none;
              font-size: 13px;
              color: #000000;
              margin: 0 0 0 5px;


              //display: inline-block;
              //font-size: 10px;
              //color: #000000;
              //margin: 0 0 0 2px;


              @media (min-width: 1340px){
                display: inline-block;
                //font-size: 13px;
                //color: #000000;
                //margin: 0 0 0 5px;
              }
            }

            &::before{
              content: '';
              display: inline-block;
              background: url('../../assets/images/ic_add_small.svg') no-repeat center center;
              width: 13px;
              height: 24px;
              opacity: 0.3;
              vertical-align: -6px;
            }

            &:hover{
              box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .17);
              border-top-color: rgba(0, 0, 0, .17);
              border-left-color: rgba(0, 0, 0, .17);
              border-right-color: rgba(0, 0, 0, .17);
              border-bottom-color: rgba(0, 0, 0, .2);

              &::before{
                opacity: 1;
              }
            }

            &:active{
              box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .2);
              background-color: #FAFAFA;
              border-top-color: rgba(0, 0, 0, .2);
              border-left-color: rgba(0, 0, 0, .2);
              border-right-color: rgba(0, 0, 0, .2);
              border-bottom-color: rgba(0, 0, 0, .22);
              transition: box-shadow 20ms ease, border-color 20ms ease;
            }
          }

          &.error{
            &::after{
              content: '';
              background: #E9604A;
              width: 10px;
              height: 10px;
              border: 2px solid #F3F2F2;
              position: absolute;
              border-radius: 5px;
              right: 1px;
              top: 1px;
            }
          }
        }
      }
    }

    > .add{
      display: inline-block;
      font-size: 14px;
      line-height: 1.71;
      color: #767676;
      text-transform: uppercase;
      transition: color 20ms ease;
      cursor: pointer;
      margin: 12px 28px 0;

      &::before{
        content: '';
        background: url('../../assets/images/ic_add_small.svg') no-repeat center center;
        width: 16px;
        height: 16px;
        margin: 3px 8px 5px 0;
        opacity: 0.3;
        display: inline-block;
        vertical-align: middle;
        transition: opacity 20ms ease;
      }

      &:hover{
        color: #000000;

        &::before{
          opacity: 1;
        }
      }
    }
  }
}
