<div>
  <p ng-class="{'has-error': vm.hasValidationError}" class="title">
    RSS
  </p>
  <p class="info auto-post">
    Enter RSS link
  </p>
  <div class="content autopost">
    <div class="line">
      <div smart-save="url" class="control size-365 required" suggest-template>
        <input type="text" ng-blur="vm.save()" placeholder="Required" ng-model="vm.item.config.url"/>
      </div>
    </div>
  </div>

  <a href="https://help.chatfuel.com/facebook-messenger/plugins/rss-import/" target="_blank">
    <div class="asc"></div>
  </a>
  <localization item="vm.item"></localization>
</div>
