<div class="alert red" ng-class="{ act: hac.HeaderAlertService.text }" ng-if="hac.ready">
  <div class="text">{{ hac.HeaderAlertService.text }}</div>
  <div class="button close" ng-click="hac.HeaderAlertService.clearText()"></div>
</div>
