.quick-replies{
  padding: 8px 0 0;
  position: relative;
  margin: 0;

  .or{
   width: 254px;
   height: 24px;
   font-size: 12px;
   line-height: 24px;
   text-align: center;
   color: #a6a6a6;
   text-transform: uppercase;
   margin: -8px 0 0;
  }

  .items-list{
    position: relative;
    white-space: nowrap;

    .item{
      cursor: pointer;


      display: inline-block;
      vertical-align: top;
      position: relative;
      height: 40px;
      line-height: 38px;
      margin: 0 8px 0 0;
      border-radius: 20px;
      white-space: nowrap;
      background-color: #ffffff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
      padding: 6px 0 0;
      transition: padding 100ms;

      border: solid 1px #448af1;

      &.has-preview{
        padding: 0;
      }

      &.add{
        font-size: 14px;
        text-align: center;
        color: #000000;
        padding: 0;
        outline: none;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 188px;

        text-transform: uppercase;

        background-color: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.13);
        border-bottom-color: rgba(0, 0, 0, 0.17);
        box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.13);
        transition: box-shadow 80ms ease 0s, border-top-color 80ms ease 0s, border-right-color 80ms ease 0s, border-bottom-color 80ms ease 0s, border-left-color 80ms ease 0s, background-color 80ms ease 0s;

        &::before{
          content: '';
          width: 16px;
          height: 16px;
          display: inline-block;
          background: url(../../assets/images/ic_add_small.svg) no-repeat center center;
          opacity: 0.25;
          vertical-align: -3px;
          transition: opacity 60ms;
          margin: 0 6px 0 0;
        }

        &:hover{
          &::before{
            opacity: 1;
          }

          border-color: rgba(0, 0, 0, 0.17) rgba(0, 0, 0, 0.17) rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.17);
        }

        &:active{
          background-color: #fafafa;
          border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.22);
          box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.2);
          transition: box-shadow 20ms ease 0s, border-color 20ms ease 0s;
        }

        &:first-child{
          width: 254px;
          padding: 0 33px 0 24px;
        }
      }


      .art-textarea-expand{
        pointer-events: none;
        background-color: transparent;
        border: none;
        box-shadow: none;
        padding: 0 23px;
        line-height: 21px;
        min-height: unset;
        color: #448af1;
        margin: 3px 0 0px;
        overflow: hidden;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        br{
          content: '';
          &::after{
            content: ' ';
          }
        }

        &::after{
          bottom: 4px;
          transition: opacity 100ms;
        }
      }

      .preview{
        text-align: center;
        line-height: 14px;
        position: absolute;
        left: 0;
        width: 100%;
        padding: 0 3px;
        opacity: 1;
        transition: opacity 100ms;
        pointer-events: none;

        > div{
          overflow: hidden;
          white-space: nowrap;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          span{
            display: inline-block;
            position: relative;
            vertical-align: top;
            height: 14px;
            border-radius: 3px;
            background-color: #f3f2f2;
            font-size: 12px;
            line-height: 14px;
            color: #767676;
            padding: 0 2px;
            margin: 0 5px 0 0;

            &::after{
              content: ',';
              position: absolute;
              top: 0;
              right: -3px;
            }

            &:last-child{
              margin: 0;
              &::after{
                display: none;
              }
            }
          }
        }


      }

      > .buttons{
        position: absolute;
        white-space: nowrap;
        bottom: -22px;
        height: 22px;;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        opacity: 0;

        transition: opacity 60ms;
        -webkit-transition: opacity 60ms;

        .button-ver2{
          display: inline-block;
          vertical-align: top;
          width: 48px;
          height: 19px;
          background-position: center -2px;
        }
      }


      &.error{
        border: solid 1px #e9604a;
        .title {
          .input {
            color: #e9604a;
          }
        }
      }

      > .trash-popup{
        left: auto;
        right: -6px;
      }

      &:hover{
        .buttons{
          opacity: 1;
        }

         > .trash-popup{
          opacity: 1!important;
          transform: scale(1);
        }
      }

      .popup{
        pointer-events: none;
        transform: scale(0.3) translateY(-30px);
        transition: opacity 100ms, transform 100ms;
        opacity: 0;

        position: absolute;
        left: 0;
        top: 39px;
        z-index: 10;
        width: 280px;
        height: 120px;
        border-radius: 7px;
        background-color: #ffffff;
        box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.16);
        border: solid 1px rgba(0, 0, 0, 0.12);
        padding: 16px;

        .buttons{
          text-align: right;
          padding: 16px 0 0;
          line-height: normal;
          .button-ver2{
            display: inline-block;
            vertical-align: top;
            width: 104px;
            height: 36px;
            margin: 0 0 0 12px;
            line-height: 34px;
            &.orange-rounded{
              line-height: 36px;
            }
          }
        }
      }

      &.edit{
        cursor: auto;
        pointer-events: auto;
        padding: 6px 0 0;

        .preview{
          opacity: 0;
        }

        .art-textarea-expand{
          pointer-events: auto;
          -webkit-user-select: auto;
          -moz-user-select: all;
          -ms-user-select: all;
          user-select: all;
        }

        .popup{
          transform: scale(1) translateY(0);
          opacity: 1;
          pointer-events: auto;
        }

        > .trash-popup{
          opacity: 0!important;
          transform: scale(0.3);
          pointer-events: none;
        }
      }

    }
  }

  .user-property{
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    position: relative;
    height: 36px;
    line-height: 36px;
    margin: 0 6px 0 16px;

    .button-ver2.white{
      padding: 0 24px 0 20px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);
      border: solid 1px rgba(0, 0, 0, 0.09);
      background-color: #f3f2f2;
      border-radius: 7px;
      &::before{
        content: ' ';
        display: inline-block;
        background: url("../../assets/images/ic_user_variable.svg") no-repeat center center;
        width: 24px;
        height: 24px;
        vertical-align: middle;
        opacity: 0.35;
        margin: -3px 8px 0 0;
      }
      &:hover {
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
        border: solid 1px rgba(0, 0, 0, 0.2);
      }
    }

    .title{
      display: inline-block;
      margin: 0 4px 0 -4px;
      font-size: 14px;
      color: #7b7b7b;
      height: 36px;
      line-height: 36px;

      i{
        font-style: normal;
        color: #cecece;
      }
    }

    .property{
      display: inline-block;
      position: relative;
      padding: 0 6px;
      height: 26px;
      line-height: 26px;
      background-color: #906d60;
      font-size: 16px;
      color: #ffffff;
      cursor: pointer;
      border-radius: 13px;

      &::before{
        content: '{{';
        font-size: 16px;
        position: relative;
        left: 2px;
        top: -1px;
        color: #e0995d;
      }
      &::after {
        content: '}}';
        font-size: 16px;
        position: relative;
        left: -2px;
        top: -1px;
        color: #e0995d;
      }

      .button-ver2.trash{
        position: absolute;
        bottom: -31px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        opacity: 0;

        transition: opacity 60ms;
        -webkit-transition: opacity 60ms;
      }

      &:hover{
        .trash{
          opacity: 0.3;
        }
      }
    }


  }

  .help-box{
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 36px;

    .button-ver2.help{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 22px;
      height: 22px;
      background-size: contain;
    }

    .tool-tips{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 34px;
      white-space: normal;
      z-index: 10;

      div{


        p{
          margin: 0 0 24px;

          &:last-child{
            margin: 0;
          }

          &.title{
            font-weight: bold;
          }
        }
      }

      .tt1, .tt2{
        position: relative;

        &::before{
          content: ' ';
          background-color: #053748;
          position: absolute;
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
          left: -5px;
          width: 12px;
          height: 12px;
        }

        .button-ver2{
          position: absolute;
          background-size: 18px auto;
        }
      }

      .tt1{
        width: 480px;
        height: 289px;
        border-radius: 7px;
        padding: 16px 228px 16px 16px;
        font-size: 14px;
        line-height: 1.71;
        color: #ffffff;
        background: url('../../assets/images/pic_qr_tips.png') no-repeat 264px 53px #053748;
        background-size: 200px auto;

        .button-ver2{
          top: 8px;
          right: 8px;
        }
      }

      .tt2{
        border-radius: 3px;
        width: 259px;
        height: 114px;
        padding: 12px 28px 12px 12px;
        font-size: 14px;
        line-height: 1.29;
        color: #ffffff;
        background-color: #053748;
        margin-left: -408px;

        .button-ver2{
          top: 4px;
          right: 4px;
        }
      }

    }
  }

  > .trash.button-ver2{
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    opacity: 0;
  //  display: none;
    z-index: 10;
    margin: 4px 0 0 0;
  }

  &:hover{
    > .trash{
      opacity: 0.30;
      display: block;
    }
  }

  &::before{
    content: ' ';
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 10px;
    height: 24px;
  }
}
