section.settings {
  > div {
    .border-box {
      &.payments-settings{
        width: 100%;
        min-width: unset;
        min-height: 212px;

        transition: border-color 100ms;

        &.g-error{
          border-color: #e9604a;
        }

        &::before{
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: url('../images/spinner_b.svg') center center no-repeat #FFFFFF;
          background-size: 32px 32px;
          width: 32px;
          height: 32px;
        }

        &.ready{
          &::before {
            display: none;
          }
        }

        h2.ok{
          &::before{
            content: '';
            display: inline-block;
            width: 24px;
            height: 24px;
            margin: 0 10px 0 0;
            vertical-align: -3px;
            background: url('../images/ic_ok.svg') no-repeat center center;
          }
        }

        .state{
          &.state-1{
            p{
              margin: 0 0 24px;
              &:last-child{
                margin: 0;
                text-align: right;

                .white-rounded{
                  display: inline-block;
                }
              }
            }
          }

          &.state-2{
            p{
              &.red{
                color: #e9604a;
              }

              &:last-child{
                margin: 0;
                text-align: right;
                padding: 32px 0 0;

                .white-rounded{
                  display: inline-block;
                }
              }
            }

            .form{
              .line{
                margin: 0 0 16px;

                &:last-child{
                  margin: 0;
                }
                .control{
                  display: inline-block;
                  width: 211px;
                  margin: 0 19px 0 0;
                  &:last-child{
                    margin: 0;
                  }
                  .label{
                    font-size: 12px;
                    line-height: 1.5;
                    color: #666666;
                    text-transform: uppercase;
                    margin: 0 0 6px;
                    .req{
                      color: #e9604a;
                    }
                  }
                  .input-box{
                    input{
                      width: 100%;
                      height: 36px;
                      line-height: 34px;
                      padding: 0 16px;
                    }
                  }
                }

                &:first-child{
                  .control{
                    width: 100%;
                    margin: 0 8px 0 0;
                  }

                  a{
                    display: inline-block;
                    width: 138px;
                    height: 32px;
                    font-size: 12px;
                    line-height: 1.33;
                    color: #448af1;
                    vertical-align: -6px;
                  }
                }
              }
            }


          }
        }
      }
    }
  }


  .tooltip{
    .tooltip-inner{
      height: auto;
      max-width: 430px;
    }
  }
}

