<div
  class="svp-variables cf-input"
  ng-class="{focus: focused, error: (!$svpVariables.localValue || $svpVariables.localValue.trim().length === 0) && $svpVariables.wasBlured && !focused}"
  ng-click="$svpVariables.elClick($event);"
  ng-mouseup="$event.stopPropagation();"
>

  <div class="cvp-input-box">
    <div
      class="cvp-input"
      contenteditable="true"
      ng-model="$svpVariables.localValue"
      placeholder="Type variable name"
      ng-keydown="$svpVariables.onKeyDown($event)"
      ng-change="$svpVariables.update()"
      ng-focus="focused = true; $svpVariables.onFocusInput($event)"
      ng-blur="focused = false; $svpVariables.onBlurInput()"
      ng-click="$event.stopPropagation();"
    ></div>
    <div class="sk left">{{</div>
    <div class="sk right">}}</div>
    <div class="button-ver2 trash-popup mini" ng-click="$svpVariables.remove($event);"></div>
  </div>

  <div class="svp-popup" ng-class="{open: $svpVariables.popUpOpen && $svpVariables.emptyPopUp}">
    <ul>
      <li
        ng-click="$svpVariables.setVar(sKey);"
        ng-repeat="(sKey, sValue) in $svpVariables.filterShow() track by $index"
        ng-mouseenter="$svpVariables.popupAct = $index;"
        ng-class="{act: $svpVariables.popupAct === $index}"
      >
                  <span class="name">
                    <span ng-bind="sKey"></span>
                  </span>
        <span class="stat" ng-bind="$svpVariables.compileUserText(sValue)"></span>
      </li>
    </ul>
  </div>
</div>
