.mobile-warring{
  position: fixed;
  background-color: #e9604a;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;

  p{
    display: inline-block;
    vertical-align: middle;
    line-height: 1.33;
    font-size: 15px;
    padding: 0 50px;
  }

  .button{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 48px;
    height: 48px;
    min-width: initial;
    background: url('../../../../assets/images/ic_close_white.svg') center center no-repeat;
    background-size: 18px auto;
  }
}
