<div class="tos" ng-class="{show: tos.show, 'animate-show': tos.animateShow}" ng-if="tos.enabled">
  <div class="window">
    <div class="content">
      <p ng-if="!$newuser">
        Chatfuel has updated its Terms of Service. To continute using Chatfuel please read and accept our new Terms of Service
      </p>
      <p ng-if="$newuser">
        Accept Chatfuel Terms of Service to finish signing in and start creating your chatbot
      </p>
      <p>
        <label>
          <art-checkbox ng-model="tos.uConfirm"></art-checkbox> I have read and agree to the <a href="https://chatfuel.com/TermsOfUse.pdf" target="_blank">Terms of Service</a>
        </label>
      </p>
      <p>
        <span class="button-ver2 orange-rounded" ng-class="{disabled: !tos.uConfirm}" ng-click="tos.go()">OK, LET ME IN</span>
      </p>
    </div>
    <div class="footer" ng-if="$newuser">
      <label>
        <art-checkbox ng-model="tos.uSubscribe"></art-checkbox> Keep me up to date by e-mail about new features
      </label>
    </div>
  </div>
  <div class="back"></div>
</div>
