div.localization{
  .sub-title{
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    cursor: pointer;
    margin: 32px 0 0 0;
    font-weight: bold;
    width: 125px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:after {
      content: '';
      display: inline-block;
      width: 24px;
      height: 24px;
      top: 7px;
      position: relative;
      background-image: url('../../assets/images/ic_dropdown.svg');
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
  }
  .opened {
    &:after {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  .header {
    &-title {
      float: left;
      width: 206px;
      height: 24px;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.71;
      color: #767676;
      margin: 0 0 4px 0;
    }
    .left {
      // margin-right: 137px;

    }
    &:after {
      border: 1px solid #dfdddd;
      content: '';
      display: block;
      clear: both;
    }
  }
  .main {
    display: block;
    margin-top: 16px;
  }
  table {
    td {
      width: 410px;
      padding: 24px 0 0 0;
    }
  }
  .phrase-title {
    font-size: 15px;
    color: #000000;
    margin: 0;
    padding: 0 5px 0 0;
  }
  .phrase-description {
    font-size: 12px;
    color: #767676;
    margin: 2px 0;
  }
  .caption {
    width: 410px;
    height: 36px;
    border-radius: 3px;
    padding: 6px 16px 6px 16px;
    background-color: #ffffff;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.07);
    border: solid 1px rgba(0, 0, 0, 0.13);
  }
}
