<div class="localization">
  <p class="sub-title" ng-click="vm.opened = !vm.opened" ng-class="{'opened': vm.opened}" ng-show="vm.show">Localization</p>
  <div class="main" ng-if="vm.opened">
    <div class="header">
      <p class="header-title left">
        Phrase
      </p>
      <p class="header-title">
        Translation
      </p>
    </div>
  <div>
    <table>
      <tbody>
        <tr ng-repeat="(phrase, ext) in vm.localizationStorage track by $index">
          <td>
            <p class="phrase-title" ng-bind="phrase"></p>
            <p class="phrase-description" ng-bind="ext.description"></p>
          </td>
          <td>
            <input ng-blur="vm.save(vm.localizationStorage)" class="caption" type="text" placeholder="Enter caption" ng-model="ext.default">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>
