<div class="tutorials-and-guides">
  <div class="box" ng-if="!!vm.items.length">
    <div class="title" ng-bind="vm.title"></div>
    <ul ng-class="{'tutorials-and-guides--resize': vm.isBotsState}">
      <li ng-repeat="item in vm.items"><a ng-href="{{item.href}}" target="_blank" ng-bind="item.title"></a></li>
    </ul>
  </div>
</div>
