<div class="broadcast-date">
  <div class="title">Schedule your posts <span>{{ vm.$getTimeZone() }}</span></div>
  <uib-datepicker ng-model="vm.date" ng-change="vm.changeDate()" datepicker-options="vm.$datepicker"></uib-datepicker>

  <div class="title">Events on {{vm.date | date:'EEEE, MMMM'}} {{vm.date | date:'d' | ordinal}}</div>
  <div class="tags">
    <span
      class="button-ver2 bc-temp-white gray"
      ng-class="{'block-error': broadcast.is_valid === false}"
      ui-sref-active="act"
      ui-sref="app.broadcast.block({ id: broadcast.block_id, broadcast_id: broadcast.id, type: 'schedule' })"
      ng-bind="broadcast.block_title"
      ng-repeat="broadcast in vm.$getBroadcasts() track by broadcast.id"></span><span class="add button-ver2 bc-temp-white"
          ng-click="vm.addSchedule()"
          ng-if--off="vm.$countSchedules(vm.date) < 2 && vm.$allowAddSchedule()"
          ng-if="vm.$allowAddSchedule()"
    ></span>
  </div>
</div>
