<div>
  <p class="title icon subscriptions-manager">
    Subscriptions list
  </p>
  <p class="info">
    Shows user subscriptions. Allows users to unsubbscribe or get stories from RSS feed or search result.
  </p>
  <div class="content">
    <div class="l-col">
      <div class="line sub-title">
        Settings:
      </div>
      <div class="line border-block">
        If no subscriptions found then show this block:
        <div class="control new-line block-autocomplete" ng-class="{selected: vm.currentBlock.length}">
          <tags-input
            class="suggest"
            min-length="0"
            ng-model="vm.currentBlock"
            placeholder="Enter block name"
            display-property="title"
            key-property="id"
            replace-spaces-with-dashes="false"
            add-from-autocomplete-only="true"
            on-tag-removed="vm.onTagRemoved()"
            on-tag-added="vm.save()"
          >
            <auto-complete
              ng-show="!vm.currentBlock || vm.currentBlock.length==0"
              min-length="0"
              load-on-focus="true"
              load-on-empty="true"
              source="vm.load($query)"
              debounce-delay="0"
              max-results-to-show="20"
              select-first-match="true"></auto-complete>
          </tags-input>
        </div>
      </div>
    </div>
  </div>
  <a href="https://help.chatfuel.com/facebook-messenger/plugins/subscriptions-list/" target="_blank">
    <div class="asc"></div>
  </a>
  <localization item="vm.item"></localization>
</div>
