<div class="aside">
  <div class="header">
    <div class="title">
      Bot structure
    </div>
    <div class="search-box" ng-if="false">
      <input type="text" name="search" placeholder="Search blocks and groups">
      <span class="button-ver2 icon search"></span>
    </div>
  </div>

  <div class="groups-list" ng-model="aside.groups" ui-sortable="aside.$sortableGroups">
    <aside-group group="aside.groups[$index]" groups="aside.groups" ng-repeat="group in aside.groups track by group.id"></aside-group>
    <div class="add" ng-click="aside.addGroup()">ADD A GROUP</div>
  </div>
</div>



