<div>

  <h2>
    Quick setup
  </h2>

  <p>
    To set up your Facebook chatbot, first you need to create a Facebook page and App for it.
  </p>

  <form>
    <!--
    <select>
      <option value="">Select a Facebook Page</option>
    </select>
    -->
    <label>
      Callback URL
      <input type="text" readonly="readonly" ng-model="vm.appParams.url" select-text />
    </label>
    <label>
      Verify Token
      <input type="text" readonly="readonly" ng-model="vm.appParams.token" select-text />
    </label>
    <input type="text" placeholder="Page Access Token goes here" ng-model="vm.accessToken">
    <button class="button db-orange" ng-click="vm.bindBotToPage()" ng-disabled="!vm.accessToken">Link to a Facebook app</button>
  </form>

  <h2>
    Setup wizard
  </h2>

  <p>
    Follow the instructions of the setup wizard to successfully submit your chatbot to Facebook.
  </p>

  <a ui-sref="wizard.page1({ bot_id: vm.$stateParams.bot_id })" class="button db-dark">Setup wizard</a>
</div>
