.filters {
  margin-bottom: 24px;

  .filters-title{
    font-size: 16px;
    line-height: 1.75;
    color: #767676;
    margin: 0 0 6px;
  }

  .filters-list {

    .filter-item {
      white-space: nowrap;
      margin: 0 0 16px;
      position: relative;

      .trash-popup{
        right: -38px;
        top: 4px;
        transform: scale(0.5, 0.5);
        left: auto;

        &:hover{
          opacity: 1;
          transform: scale(1,1);
        }

        &::after{
          content: '';
          position: absolute;
          height: 100%;
          width: 8px;
          left: -8px;
          top: 0;
        }
      }

      .if{
        display: inline-block;
        vertical-align: top;
        line-height: 34px;
        text-align: center;
        font-size: 14px;
        color: #767676;
        margin: 0 8px 0 0;
        text-transform: uppercase;
        width: 64px;
        height: 36px;
        opacity: 0.5;
        border-radius: 7px;
        background-color: #ffffff;
        border: solid 1px rgba(0, 0, 0, 0.16);
      }

      .is{
        color: #a6a6a6;
        margin: 0 4px;
        width: 44px;
      }

      .selector-ver2 {
        display: inline-block;
        vertical-align: top;
        width: 220px;
        border-radius: 7px;
        background-color: #ffffff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);
        border: solid 1px rgba(0, 0, 0, 0.13);
        margin: 0;

        .label{
          padding: 0 24px 0 5px;
          overflow: hidden;
          .placeholder{
            padding: 0 0 0 7px;
          }
          .selected{
            display: inline-block;
            height: 26px;
            border-radius: 13px;
            background-color: #906d60;
            padding: 0 10px;
            font-size: 16px;
            line-height: 26px;
            color: #ffffff;
            max-width: 100%;
            overflow: hidden;
            margin-top: 4px;
            text-overflow: ellipsis;
            &::before{
              content: '{{ ';
              font-size: 16px;
              position: relative;
              left: 0;
              top: -1px;
              color: #e0995d;
            }
            &::after {
              content: ' }}';
              font-size: 16px;
              position: relative;
              left: 0;
              top: -1px;
              color: #e0995d;
            }
          }
        }

        &.act{
          ul.namesPopup{
            border-radius: 7px;
            border: solid 1px rgba(0, 0, 0, 0.13);
            width: auto;
            padding: 34px 0 0;
            min-width: 220px;
            background-color: #ffffff;
            max-height: 258px;
            overflow-y: auto;
            overflow-x: hidden;

            > div{
              display: table;
              min-width: unset;
              width: 100%;
              li {
                display: table-row;
                height: 48px;
                line-height: 48px;

                background-color: #ffffff;

                &:first-child{
                  display: block;
                  position: absolute;
                  top: 0;
                  background-color: #ffffff;
                  line-height: 36px;
                  pointer-events: none;
                  height: 34px;
                  width: 100%;
                }

                > span {
                  display: table-cell;
                  padding: 0 5px;
                  min-width: 0;

                  &.name{
                    span{
                      display: inline-block;
                      height: 26px;
                      border-radius: 13px;
                      background-color: #906d60;
                      padding: 0 10px;
                      font-size: 16px;
                      line-height: 26px;
                      color: #ffffff;
                      &::before{
                        content: '{{';
                        font-size: 16px;
                        position: relative;
                        left: -2px;
                        top: -1px;
                        color: #e0995d;
                      }
                      &::after {
                        content: '}}';
                        font-size: 16px;
                        position: relative;
                        left: 2px;
                        top: -1px;
                        color: #e0995d;
                      }
                    }
                  }

                  &.stat{
                    color: #b5b5b5;
                    font-size: 14px;
                    padding: 0 16px 0 4px;
                  }
                }

                &:hover{
                  background-color: #f3f3f3;
                }
              }
            }
          }

        }

      }

      .values {
        display: inline-block;
        position: relative;
        vertical-align: top;
        width: 268px;
        height: 36px;


        &:hover{
          & + .trash-popup{
            opacity: 1;
            transform: scale(1,1);
          }
        }


        .values-list {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 36px;
          min-height: 36px;
          overflow: hidden;
          white-space: nowrap;

          border-radius: 7px;
          background-color: #fafafa;
          box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.07);
          border: solid 1px rgba(0, 0, 0, 0.09);
          padding: 4px 3px 0 3px;

          .value-item {
            display: inline-block;
            position: relative;
            height: 26px;
            line-height: 26px;
            border-radius: 13px;
            background-color: #f4ae63;
            font-size: 16px;
            color: #ffffff;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            margin: 0 8px 4px 0;
            max-width: 98%;

            span{
              display: block;
              padding: 0 12px;
              max-width: 100%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              height: 26px;
            }

            &::after{
              content: ', ';
              position: absolute;
              right: -5px;
              top: 0;
              color: #000000;
            }

            &:nth-last-of-type(2){
              margin: 0 0 4px 0;
              &::after{
                content: '';
              }
            }
            &.noresponse {
              background-color: #c3c3c3;
            }
            .mini {
              right: -8px !important;
              top: -5px;
            }
            &:hover {
              .mini {
                transform: scale(1);
                opacity: 1;
              }
            }
          }


          .popup-box{
            display: inline-block;
            vertical-align: top;
            white-space: nowrap;
            width: 100%;

            .valuePopup {
              position: absolute;
              border-radius: 7px;
              background-color: #ffffff;
              border: solid 1px rgba(0, 0, 0, 0.13);
              box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
              z-index: 10000;
              padding: 0;
              width: auto;;
              overflow-y: auto;
              overflow-x: hidden;
              margin: 29px 0 0 -4px;
              max-height: 258px;

              ul{
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 0;
                min-width: unset;


                li {
                  display: flex;
                  height: 48px;
                  line-height: 48px;
                  // padding: 0 12px;
                  margin: 0;
                  cursor: pointer;
                  background-color: #ffffff;
                  order: 2;
                  justify-content: space-between;

                  &:last-child{
                    border-radius: 0 0 3px 0;
                  }

                  &.act{
                    background-color: #f3f3f3;
                  }

                  > span {
                    display: flex;
                    padding: 0 5px;

                    &.name{
                      span{
                        display: inline-block;
                        height: 26px;
                        border-radius: 13px;
                        background-color: #f4ae63;
                        padding: 0 12px;
                        font-size: 16px;
                        line-height: 26px;
                        color: #ffffff;
                        max-width: 211px;
                        overflow: hidden;
                        margin-top: 11px;
                        text-overflow: ellipsis;
                      }
                      &.noresponse {
                        span {
                          background-color: #c3c3c3;
                        }
                      }
                    }

                    &.stat{
                      color: #b5b5b5;
                      font-size: 14px;
                      padding: 0 12px 0 0;
                    }
                  }
                  &.firstValue {
                    order: 1;
                  }
                }
              }
            }

            input{
              display: inline-block;
              height: 26px;
              line-height: 26px;
              font-size: 16px;
              border: none;
              outline: none;
              padding: 0 0 0 8px;
              background-color: transparent;
              width: 100%;
            }
            &.hidden-placeholder {
              width: 100px;
            }
          }

        }

        &.act{
          .values-list{
            height: auto;
            overflow: visible;
            white-space: normal;
            z-index: 100;
            border: solid 1px rgba(0, 0, 0, 0.33);
          }
        }

      }
    }
  }
  .button-ver2.add{
    display: inline-block;
    &::before{
      content: '';
      background: url('../images/ic_add_small.svg') center center no-repeat;
      width: 16px;
      height: 16px;
      margin: 0 7px 0 -5px;
      opacity: 0.3;
      display: inline-block;
      vertical-align: -3px;
    }
    &:hover{
      &::before{
        opacity: 1;
      }
    }
  }

}
