<div class="art-mini-dropdown">
  <span ng-bind="$artMiniDropdown.items[$artMiniDropdown.ngModel]"></span>
  <ul>
    <li
      class="act"
      ng-bind="$artMiniDropdown.items[$artMiniDropdown.ngModel]"
    ></li>
    <li
      ng-if="key !== $artMiniDropdown.ngModel"
      ng-repeat="(key, value) in $artMiniDropdown.items track by $index"
      ng-bind="value"
      ng-click="$artMiniDropdown.setValue(key)"
    ></li>
  </ul>
</div>
