<div class="art-big-dropdown" ng-class="{ open: $artBigDropdown.open}" ng-click="$artBigDropdown.showPopup()">
  <div
    class="selected"
    ng-bind="$artBigDropdown.items[$artBigDropdown.ngModel] ? $artBigDropdown.items[$artBigDropdown.ngModel] : $artBigDropdown.placeholder"
    ng-class="{placeholder: !$artBigDropdown.items[$artBigDropdown.ngModel] && $artBigDropdown.placeholder}"
  ></div>
  <ul>
    <li class="disabled" ng-bind="$artBigDropdown.placeholder" ng-if="$artBigDropdown.placeholder"></li>
    <!--li
      class="act"
      ng-bind="$artBigDropdown.items[$artBigDropdown.ngModel]"
    ></li-->
    <li
      ng-if-off="key !== $artBigDropdown.ngModel"
      ng-repeat="(key, value) in $artBigDropdown.items track by $index"
      ng-bind="value"
      ng-class="{act: key === $artBigDropdown.ngModel}"
      ng-click="$artBigDropdown.setValue(key, $event)"
    ></li>
  </ul>
</div>
