<div
  class="svp-values cf-input"
  ng-class="{focus: focused, error: (!$svpValues.localValue || $svpValues.localValue.trim().length === 0) && $svpValues.wasBlured && !focused}"
  ng-click="$svpValues.elClick($event);"
  ng-mouseup="$event.stopPropagation();"
>

  <div class="cvp-input-box">
    <div
      class="cvp-input"
      ng-class="{'not-set': $svpValues.localValue === 'NOT SET'}"
      contenteditable="true"
      ng-model="$svpValues.localValue"
      placeholder="Required"
      ng-keydown="$svpValues.onKeyDown($event)"
      ng-change="$svpValues.update()"
      ng-focus="focused = true; $svpValues.onFocusInput($event)"
      ng-blur="focused = false; $svpValues.onBlurInput()"
      ng-click="$svpValues.onClickInput($event)"
    ></div>
    <div class="button-ver2 trash-popup mini" ng-click="$svpValues.remove($event);"></div>
  </div>

  <div class="svp-popup" ng-class="{open: $svpValues.popUpOpen && $svpValues.emptyPopUp}">
    <ul>
      <li
        ng-click="$svpValues.setVar(sKey);"
        ng-repeat="(sKey, sValue) in $svpValues.filterShow() track by $index"
        ng-mouseenter="$svpValues.popupAct = $index;"
        ng-class="{act: $svpValues.popupAct === $index, 'not-set': sKey === 'NOT SET'}"
      >
                  <span class="name">
                    <span ng-bind="sKey"></span>
                  </span>
        <span class="stat" ng-bind="$svpValues.compileUserText(sValue)"></span>
      </li>
    </ul>
  </div>
</div>
