<div class="post-sender-scheduler">

  <div class="send-now">
    <div class="title">Send Right Now</div>
    <div class="button-ver2 send bc-temp-white"
         ng-click="vm.addNowBlock($event)"
         ui-sref="app.broadcast.block({ broadcast_id: 0, type: 'now' })"
         ui-sref-active="act">Send a Message</div>
  </div>

  <broadcast-autopost></broadcast-autopost>

  <broadcast-recurrent></broadcast-recurrent>

  <broadcast-date></broadcast-date>

</div>
