<div ng-class="{ disabled: !vm.$allowEdit }">
  <h1 ng-mouseleave="vm.$configured = false" ng-style="{'min-width': vm.$stateParams.type === 'recurrent'?'690px':'570px'}">
    <div class="text" ng-if="vm.$stateParams.type === 'now'">Send now</div>
    <div class="text schedule-recurrent" ng-if="vm.$stateParams.type === 'schedule' || vm.$stateParams.type === 'recurrent'">
      <span ng-if=" vm.$stateParams.type === 'schedule'">{{vm.block.title | removeTime}}</span>
      <select ng-if=" vm.$stateParams.type === 'schedule'" ng-model="vm.broadcast.deadline"
              ng-change="vm.changeBroadcastDeadline()"
              ng-options="item.value as item.label for item in vm.times"
              uib-tooltip="{{vm.$deadlineError}}"
              tooltip-is-open="vm.$deadlineErrorShow"
              tooltip-trigger="none"></select>
      <select ng-if=" vm.$stateParams.type === 'recurrent'" ng-model="vm.broadcast.time"
              ng-change="vm.changeRecurrentEvent()"
              ng-options="item.sec as item.label for item in vm.times"
            ></select>

      <div class="button db-white preferences" ng-click="vm.showPreferences()">
        <div class="timezone-wrapper">
          <span class="timezone">{{!vm.broadcast.use_bot_timezone ? 'User\'s timezone' : 'Bot\'s timezone'}}</span>
          <span class="timezone" ng-if="vm.broadcast.use_bot_timezone">({{vm.$getTimeZone()}})</span>
        </div>
      </div>

      <ul class="days-selector" ng-if=" vm.$stateParams.type === 'recurrent'">
        <li ng-click="vm.broadcast.repeat_days[iDay] = !vm.broadcast.repeat_days[iDay]; vm.changeRecurrentEvent()" ng-repeat="iDay in vm.daysIndex track by $index" ng-bind="vm.days[iDay]" ng-class="{ act: vm.broadcast.repeat_days[iDay]}">Sun</li>
      </ul>
    </div>
    <div class="text" ng-if="vm.$stateParams.type === 'auto'">Add autoposting plugin</div>

    <div class="h1-but">
      <div class="button remove" ng-click="vm.onDeleteBlock($event)"></div>
      <div
        ng-if="vm.nowCloneAllow"
        class="button copy copy-now"
        ng-click="vm.resend()"
        uib-tooltip="Duplicate this block"
        tooltip-is-open="true"
        tooltip-trigger="mouseenter"
        tooltip-class="tooltip-copy"
      ></div>
    </div>
    <p class= "info-autoposting" ng-if="vm.$stateParams.type === 'auto'">
      Simply select a source and new content from the specified source will automatically be sent to your users, as part of this block.
    </p>
    <!-- <div class="button close" ui-sref="app.broadcast"></div> -->
  </h1>

  <segmentation block="vm.block"></segmentation>

  <plugin-list block="vm.block">
  <div ng-model="vm.block.cards" ui-sortable="vm.$sortable">
    <plugin item="plugin" ng-repeat="plugin in vm.block.cards track by $index">
      <div>
        <plugin-remove
            item="plugin"
            ng-class="{'r-hide': vm.actionListOver === plugin.id || plugin.id === vm.qrMouseOverId}"
          ></plugin-remove>
        <plugin-container plugin="plugin"></plugin-container>
      </div>
    </plugin>

    <plugin-add type="broadcast"></plugin-add>
  </div>
  </plugin-list>

  <div class="button big-orange send-now" ng-if="vm.$stateParams.type === 'now'" ng-click="vm.sendBroadcastNow()">Send Right Now</div>
</div>
