<div class="broadcast-null">
  <history></history>

  <div class="pop send-now-mes" ng-show="showInfo">
    Send instant messages to bot users. Perfect for promotional notifications
  </div>

  <div class="pop broadcast-auto-mes" ng-show="showInfo">
    Just select a source, and new content from that source will automatically be sent to your users
  </div>

  <div class="pop broadcast-date-mes" ng-show="showInfo">
    Schedule your posts for specific days and times. Never worry about missed publications
  </div>
</div>

<!-- <tutorial page="broadcasting"></tutorial> -->
