<div>
  <div class="message-is-sent">
    <div>Message is sent</div>
    <div>You can also use <b>Schedule your posts</b> section in the left panel to manage your chatbot future posts.</div>
  </div>
</div>
