<div>


  <ol>
    <li>
      <h2>
        Choose Webhooks from the left menu
      </h2>
      <ul>
        <li>Press <b>Skip Quick Start</b></li>
        <li>Open <b>+Add Product</b> section and add a Webhook.</li>
        <li>In <b>Webhook</b> section press <b>New Subscription</b> button.</li>
        <li>Choose <b>Page</b> from a dropdown menu.</li>
      </ul>
      <div class="pic n4"></div>
    </li>


    <li>
      <h2>
        Fill the Form
      </h2>
      <div class="pic n5"></div>
      <p>
        <i>Fill in the following data and save a webhook:</i>
      </p>
      <p>
        <b>CallbackURL: </b><br/>
        <span class="bind" ng-bind="vm.appParams.url" no-input-select-text></span>
      </p>
      <p>
        <b>Verify token: </b><br/>
        <span class="bind" ng-bind="vm.appParams.token" no-input-select-text></span>
      </p>
      <p>
        <i>Then check these checkboxes: </i><br/>
        <b>messages, messaging_postbacks, <br/>message_reads, messaging_optins.</b>
      </p>

    </li>

    <li>
      <h2>
        Get a token
      </h2>
      <ul>
        <li>Open <b>+Add Product</b> section and add a <b>Messenger</b>. Or select <b>Messenger</b> in left pane if it is already there.</li>
        <li>Press <b>Get Started</b> button if not already.</li>
        <li>Now you need to choose a Facebook Page that you want to link with <span class="orange">Your first draft chatbot</span> from <b>Page</b> dropdown menu.</li>
        <li>Copy <b>Page Access Token</b>.</li>
      </ul>
      <div class="pic n6"></div>
    </li>

    <li>
      <h2>
        Paste Page Access Token here
      </h2>
      <form class="form-token" ng-class="{ valid: vm.$result === true, invalid: vm.$result === false }">
        <input type="text" placeholder="Page Access Token goes here" ng-model="vm.accessToken" ng-change="vm.bindBotToPage()"/>
        <div class="error">Token is invalid. Please enter a valid one.</div>
      </form>
    </li>
  </ol>

  <p>
    <a ui-sref="wizard.page3({ bot_id: vm.$stateParams.bot_id })" class="button db-orange next" ng-class="{disabled: vm.$result !== true }">SUBMIT FOR REVIEW</a>
    <a ui-sref="wizard.page1({ bot_id: vm.$stateParams.bot_id })" class="button db-orange back">Back</a>
  </p>

</div>
