section.editor{

  position: relative;

  > div {

    margin: 0;

    .lcol {
      position: absolute;
      top: 0;
      left: 0;
      width: 296px;
      height: 100%;
      background-color: #f3f2f2;
      overflow-y: hidden;
      padding: 24px 8px;

      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      .block-list{
        .block-item{
          margin: 0 0 32px;

          .title{
            position: relative;
            font-weight: 600;
            font-size: 16px;
            line-height: 1.5;
            color: rgba(0,0,0,0.5);
            padding:0 0 0 8px;
            cursor: pointer;
            .button.edit{
              position: absolute;
              right: 0;
              top:3px;
              width: 24px;
              height:24px;
              background: url("../../images/ic-edit-black.svg") center center no-repeat;
              opacity: 0;
            }
            .button.move{
              position: absolute;
              left: 0;
              top:3px;
              width: 12px;
              height:24px;
              //background: url("../images/ic-edit-black.svg") center center no-repeat;
              background-color: #000000;
              opacity: 0;
            }

            ul{
              position: absolute;
              top:-99999px;
              opacity: 0;
              min-width: 112px;
              min-height: 32px;
              border-radius: 3px;
              background-color: #ffffff;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
              border: solid 1px rgba(0, 0, 0, 0.02);
              padding: 0;
              margin: 0;
              transition: opacity 200ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, top 0ms cubic-bezier(0.22, 0.61, 0.36, 1) 200ms;

              li{
                display: block;
                padding: 0;
                margin: 0;
                a{
                  display: block;
                  font-size: 16px;
                  line-height: 32px;
                  color: #000000;
                  padding:0 0 0 16px;
                  margin: 0;
                  text-decoration: none;
                  text-align: left;
                  font-weight: 400;
                }

                a:hover{
                  text-decoration: underline;
                }
              }
            }

            ul.act {
              top:28px;
              right: 0;
              opacity: 1;
              transition: opacity 200ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms,  top 0ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms;
            }
          }

          .title:hover{
            .button.edit{
              opacity: 0.3;
            }
            .button.move{
              opacity: 0.3;
            }
          }

          .tags{
            margin: 4px 0;
            padding: 8px 8px 4px 8px;
            background-color: #ffffff;
            text-align: justify;
            border-radius: 3px;


            > span{
              display: inline-block;
              vertical-align: top;
              width: 32%;
              height: 32px;
              border-radius: 3px;
              background-color: rgba(0,0,0,0.02);
              font-size: 12px;
              line-height: 32px;
              color: #000000;
              text-align: center;
              margin: 0 0 4px;
              cursor: pointer;
            }

            > span.act{
              background-color: #448af1;
              color:#ffffff;
              pointer-events: none;
            }

            > span.add{
              color: rgba(0, 0, 0, 0.25);
              font-size: 24px;
              font-weight: bold;
              opacity: 0;
              transition: opacity 60ms linear 0ms;
            }
          }

          .tags:hover{
            > span.add{
              opacity: 1;
            }
          }
        }

        .block-item.add{
          height: 40px;
          background-color: #ffffff;
          line-height: 40px;
          text-align: center;
          cursor: pointer;
          font-size: 16px;
          color: #000000;
          border-radius: 3px;
        }

        .block-item.add::before{
          content: "+ ";
          vertical-align: middle;
          color: rgba(0, 0, 0, 0.25);
          font-size: 24px;
          font-weight: bold;
        }
      }

      .post-sender-scheduler{
        > * {
          margin: 0 0 32px;
          padding: 0 8px;

          .title {
            font-weight: 600;
            font-size: 16px;
            line-height: 1.5;
            color: rgba(0, 0, 0, 0.5);

            margin: 0 0 12px;


          }

        }

        .tags{
          > span.add{
            position: relative;

            >  span.popup{
              background-color: #ffffff;
              border-radius: 3px;
              box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
              opacity: 0;
              overflow: hidden;
              padding: 10px 10px;
              position: absolute;
              left: 0;
              top: -1000px;
              transition: opacity 60ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, max-height 600ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, top 0ms linear 60ms;
              z-index: 10;
              font-weight: 400;
              min-width: 120px;

              > *{
                display: block;
                font-size: 15px;
                width: 100%;
                white-space: nowrap;
              }

              > input{
                height: 32px;
                line-height: 32px;
                border-radius: 3px;
                background-color: #ffffff;
                border: solid 1px #d9d9d9;
                font-size: 16px;
                color: #000000;
                padding: 0 5px;

                -webkit-appearance: none;
                outline: none;
              }

              > a{
                color: #000000;
                text-decoration: none;
              }

              > a:hover{
                 color: #000000;
                 text-decoration: underline;
              }
            }

            >  span.popup.act{
              top: 32px;
              opacity: 1;
            }
          }
        }

        .send-now{
          .button{
            width: auto;
            height: 32px;
            line-height: 32px;
            text-transform: uppercase;
            font-size: 12px;
            border-radius: 3px;
            background-color: #ffffff;
          }

          .button.act{
            color: #ffffff;
            background-color: #448af1;
          }
        }

        .send-on-update {
          .tags {
            text-align: justify;
            > span {
              display: inline-block;
              vertical-align: top;
              width: 32%;
              height: 32px;
              border-radius: 3px;
              background-color: #ffffff;
              font-size: 12px;
              line-height: 32px;
              color: #000000;
              text-align: center;
              margin: 0 0 4px;
              cursor: pointer;
            }
            > span.add {
              background-color: rgba(0, 0, 0, 0.02);
              color: rgba(0, 0, 0, 0.25);
              font-size: 24px;
              font-weight: bold;
            }
            > span.act {
              pointer-events: none;
              color: #ffffff;
              background-color: #448af1;
            }
          }
        }

        .send-on-schedule{
          .times{
            text-align: justify;
            margin: 0 0 16px;

            > select{
              display: inline-block;
              vertical-align: top;
              position: relative;

              width: 49%;
              height: 32px;
              line-height: 32px;
              border-radius: 3px;
              background-color: #ffffff;
              border: solid 1px #d9d9d9;
              text-align: center;
              font-size: 16px;
              color: #000000;

              -webkit-appearance: none;
              outline: none;

            }

          }

          .dates{
            .date-item{
              .title{
                font-size: 12px;
                color: rgba(0,0,0,0.5);
                margin: 0 0 8px;
                text-transform: uppercase;
                font-weight: 400;
                b{
                  font-weight: 600;
                }
              }
              .tags{
                text-align: justify;
                margin: 0 0 16px;

                span{
                  display: inline-block;
                  vertical-align: top;
                  height: 32px;
                  line-height: 32px;
                  border-radius: 3px;
                  background-color: #ffffff;
                  width: 49%;
                  font-size: 12px;
                  text-align: center;
                  cursor: pointer;
                  margin: 0 0 4px;
                }

                span.add{
                  background-color: rgba(0,0,0,0.02);
                }

                span.add:hover::after{
                  content: "+";
                  color: rgba(0, 0, 0, 1);
                  font-size: 24px;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }

    .rcol {
      overflow-y: hidden;
      margin-left: 296px;
      padding: 32px 36px;

      h1{
        position: relative;

        font-weight: 300;
        font-size: 32px;
        line-height: 1.4;
        color: #000000;
        margin:0 0 32px 0;

        cursor: pointer;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .button.edit{
          position: absolute;
          right: 0;
          top:5px;
          width: 24px;
          height:24px;
          background: url("../../images/ic-edit-black.svg") center center no-repeat;
          opacity: 0;
        }

        span{
          color:rgba(0,0,0,0.35);
        }

        ul{
          position: absolute;
          top:-99999px;
          opacity: 0;
          min-width: 112px;
          min-height: 32px;
          border-radius: 3px;
          background-color: #ffffff;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          border: solid 1px rgba(0, 0, 0, 0.02);
          padding: 0;
          margin: 0;
          transition: opacity 200ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, top 0ms cubic-bezier(0.22, 0.61, 0.36, 1) 200ms;

          li{
            display: block;
            padding: 0;
            margin: 0;
            a{
              display: block;
              font-size: 16px;
              line-height: 32px;
              color: #000000;
              padding:0 0 0 16px;
              margin: 0;
              text-decoration: none;
              text-align: left;
              font-weight: 400;
            }

            a:hover{
              text-decoration: underline;
            }
          }
        }

        ul.act{
          z-index: 1;
          top:28px;
          right: 0;
          opacity: 1;
          transition: opacity 200ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms,  top 0ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms;
        }



      }

      h1:hover{
        .button.edit{
          opacity: 0.3;
        }
      }

      .cards-list{
        .card-item{

          position: relative;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          border-radius: 26px;
          background-color: #F0F0F0;
          padding: 12px;
          margin: 0 0 28px;
          float:left;
          clear: both;
          min-width: 216px;


          .card{
            border-radius: 18px;
            padding: 0 8px;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);


            .content{
              font-size: 14px;
              line-height: 1.1;
              color: #666666;
              padding: 15px 0;
              word-wrap: break-word;
            }
            .action-buttons{
              background-color: #ffffff;
              margin: 5px -20px -12px;
              border-bottom-left-radius: 26px;
              border-bottom-right-radius: 26px;


              .action-button-item{

                position: relative;
                border-top: solid 1px #e6e6e6;
                overflow: hidden;

                > *{
                  height: 28px;
                  cursor: pointer;
                  text-align: center;
                  font-size: 14px;
                  line-height: 28px;
                }

                .title{
                  width: 140px;
                  color: #448af1;
                  border-right: solid 1px #e6e6e6;
                }

                .action{
                  position: absolute;
                  left: 148px;
                  top:0;
                  background-color: #ffffff;
                }

                .action.url{
                  text-decoration: underline;
                }

                .action.tags{
                  left: 143px;
                  top: -1px;
                  white-space: nowrap;
                  span{
                    vertical-align: middle;
                    height: 24px;
                    line-height: 24px;
                    border-radius: 3px;
                    background-color: #f3f2f2;
                    padding: 0 6px;

                  }
                }
              }

              .action-button-item:last-child{
                border-bottom-left-radius: 26px;
                border-bottom-right-radius: 26px;
              }

              .action-button-item.act{
                overflow: visible;

                .action{
                  background-color: #ffffff;
                  border: 1px solid #e6e6e6;
                  height: 30px;
                  left: 139px;
                  line-height: 25px;
                  padding: 0 3px;
                }
              }

              .action-button-item.add{
                .title{
                  border: none;
                  width: auto;
                }
                .title:hover{
                  text-decoration: underline;
                }

              }
            }

            .button.remove{
              position: absolute;
              width: 24px;
              height: 24px;
              background: url("../../images/ic-close-black.svg") center center no-repeat;
              right: 8px;
              top: 8px;
              opacity: 0.5;
            }
          }

          .card.text{
            box-shadow: none;
            .content{
              color: #000000;
              cursor: pointer;
            }
          }

          .card.gallery{
            display: inline-block;
            padding: 0;
            position: relative;
            background-color: #ffffff;
            width: 216px;
            vertical-align: top;
            margin: 0 12px 0 0;
            z-index: 10;


            .image{
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              border-top-left-radius: 18px;
              border-top-right-radius: 18px;
              width: 100%;
              overflow: hidden;
              position: relative;
              cursor: pointer;
              img{
                width: 100%;
                display: block;
              }
            }

            .image::after{
              content: " ";
              position: absolute;
              top:0;
              left:0;
              width: 100%;
              height: 100%;
              z-index: 3;
              background-color: rgba(0,0,0,0);
              transition: background-color 100ms;
            }

            .image:hover::after{
              background-color: rgba(0,0,0,0.5);
            }

            > .title{
              height: 28px;
              border-radius: 3px;
              background-color: #ffffff;
              border: solid 1px transparent;
              margin: 4px;
              line-height: 26px;
              font-size: 14px;
              font-weight: 600;
              padding: 0 8px;
              cursor: pointer;
            }

            .content{
              font-size: 14px;
              line-height: 1.1;
              color: #666666;
              padding: 6px 8px;
              margin: 0 4px 4px;
              cursor: pointer;
            }

            > .url{
              font-size: 14px;
              line-height: 1.1;
              color: #666666;
              padding: 6px 8px;
              margin: 0 4px 10px;
              opacity: 0.6;
              cursor: pointer;
            }

            .action-buttons{
              margin: 5px 0 0;
            }

            .button.remove{
              background: url("../../images/ic-close-white.svg") center center no-repeat;
              opacity: 1;
              z-index: 15;
            }
          }

          .card.gallery:nth-last-child(2){
            margin: 0 228px 0 0;
          }


          .card.add{
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.02);
            box-shadow: none;
            color: rgba(0, 0, 0, 0.25);
            font-size: 50px;
            font-weight: 300;
            height: 95%;
            padding-top: 45%;
            position: absolute;
            right: 12px;
            text-align: center;
            top: 12px;
            width: 216px;
            z-index: 1;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }
        }

        .card-item.add{
          background-color: #ffffff;
          border: solid 2px #f3f2f2;
          box-shadow: none;
          margin: 0;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          ul{
            padding: 0;
            margin: 0;
            li{
              display: block;
              padding: 0;
              margin: 0;
              a{
                display: block;
                font-size: 16px;
                line-height: 48px;
                color: #448af1;
                text-decoration: none;
                text-align: center;
              }
              a:hover{
                text-decoration: underline;
              }
            }
          }
        }

      }

      .cards-list::after{
        content: " ";
        display: block;
        clear: both;
      }

      .button.send-now{
        width: 216px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        margin-top:32px;
      }
    }
  }
}


@media (min-width: 1200px){
  section.editor{
    > div{

      max-width: inherit;

      .lcol{
        width: 25%;

        .block-list,
        .post-sender-scheduler{
          max-width: 392px;
          margin: 0 auto;
        }
      }
      .rcol{
        margin-left: 25%;
      }
    }
  }
}
