@media (max-width: 1024px) {
  section.ai-setup{
    padding-left: 72px !important;
  }
}
section.ai-setup{
//  background-color: #f3f2f2;
  padding-left: 160px;
  > div{

    position: static;
    padding: 0 32px;
    max-width: 1264px;

    .info{
      font-size: 16px;
      line-height: 1.5;
      color: #000000;
      padding: 48px 0 16px;
      text-align: left;
    }

    .selector{
      margin: 0 0 48px;
      > ul {
        max-height: 382px;
      }
    }

  >  .tags{

      padding: 0 0 1px;

     > .tag-item{
        position: relative;
        width: auto;
        border: 2px solid transparent;
        border-radius: 18px;
        padding: 0 0 116px 0;
        margin: 0 0 48px 0;
        background-color: #f0efef;

        &.error-block{
          border: 2px solid #e9604a;
        }

        .label{
          text-transform: uppercase;
          display: block;
          text-align: center;
          font-size: 12px;
          line-height: 2.0;
          color: #807e7e;
          margin:0 0 12px;
        }

        .rules{
          padding: 20px 0 15px 32px;

          border-top-left-radius: 18px;
          border-top-right-radius: 18px;

          .description {
            padding-bottom: 10px;
          }



          .rule{
            vertical-align: top;
            border: 2px solid transparent;
            margin: 0 16px 16px 0;
            display: inline-block;
            width: 31%;
            position: relative;

            input{
              display: block;
              height: 36px;
              border: none;
              font-size: 16px;
              line-height: 36px;
              color: #000000;
              padding: 0 36px 0 16px;
              width: 100%;

              border-radius: 3px;
              background-color: #ffffff;
              box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2);
            }

            .button.remove{
              opacity: 0.5;
              background-image: url('../../images/ic-close-black.svg');
              top: 7px;
              right: 7px;
              background-size: 19px 19px;

              &:hover{
                opacity: 1;
              }
            }
          }


          > .button{
            border-radius: 3px;
            display: inline-block;

            height: 36px;
            line-height: 32px;
            background-color: transparent;
            border: solid 2px #dfdddd;
            vertical-align: top;
            width: 31%;
            margin: 0 18px 17px 0;
            font-size: 16px;
            color: #000000;
          }

          >.button::before{
            content: " ";
            display: inline-block;
            opacity: 0.2;
            width: 24px;
            height: 24px;
            background: url("../../images/ic_add_small.svg") no-repeat center center;
            margin-right: 1px;
            vertical-align: -7px;
          }

           >.button:hover{
             background-color: #dfdddd;

             &::before{
               opacity: 1;
             }

           }
        }

        > .footer{
          position: absolute;
          width: 100%;
          bottom: 0;
          left: 0;
          height: 118px;
          border-top: 2px solid #dfdddd;
          padding: 16px 0 0;
          text-align: center;

          border-bottom-left-radius: 18px;
          border-bottom-right-radius: 18px;

            > .input{
            background-color: #ffffff;
            border-radius: 3px;
            display: inline-block;
            font-size: 12px;
            height: 32px;
            line-height: 32px;
            max-width: 300px;
            overflow: hidden;
            padding: 0 23px;
            text-overflow: ellipsis;
            white-space: nowrap;
            min-width: 40px;



            span{
              color: #666666;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }
          }

         > .tags{
            background-color: #ffffff;
            border: 2px solid transparent;
            border-radius: 3px;
            box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2);
            display: inline-block;
            height: 40px;
            line-height: 40px;
            max-width: 95%;
            overflow: hidden;
            padding: 0;
            white-space: nowrap;
            min-width: 40px;

            &.block-error{
              border: 2px solid #e9604a;
            }
            .suggest{
              height: 100%;
              .host{

                .autocomplete{
                  width: 198px;
                  max-height: 206px;
                }

                .tags{
                  background-color: transparent;
                  padding: 4px 12px 2px;
                  .tag-list{
                    .tag-item{
                      height: 28px;
                      line-height: 25px;
                      padding: 0 8px 0 12px;
                      border-radius: 3px;
                      background: #448af1!important;

                      font-size: 14px;
                      color: #ffffff;

                      span{
                        line-height: normal;
                      }

                      a{
                        color: #ffffff;
                        font: 22px/25px "Open Sans";
                        opacity: 1;
                        padding: 0 0 1px;
                      }
                    }

                  }

                  input{
                    font-size: 14px;
                    min-width: 169px;
                  }
                }
              }
            }
         }
        }


        .button.remove{

          background: rgba(0, 0, 0, 0) url("../../images/ic-close-black.svg") no-repeat center center;
          height: 24px;
          opacity: 0.3;
          position: absolute;
          right: 12px;
          top: 12px;
          width: 24px;
          background-size: cover;
          z-index: 2;
        }

        .button.remove:hover{
          opacity: 1;
        }

        &::after{
          background-color: rgba(0, 0, 0, 0);
          content: " ";
          height: 100%;
          position: absolute;
          right: -20px;
          top: 0;
          width: 40px;
          z-index: 1;

        }
      }



      .tag-item.add{
        height: 148px;
        line-height: 144px;
        background-color: #ffffff;
        border: solid 2px #dfdddd;
        text-align: center;
        cursor: pointer;
        margin: 0 0 32px 0;
      }

      .tag-item.add::before{
        content: " ";
        display: inline-block;
        opacity: 0.2;
        width: 40px;
        height: 40px;
        background: url("../../images/ic_add_big.svg") no-repeat center center;
        vertical-align: middle;
      }

      .tag-item.add:hover{
        border: solid 2px #333333;

        &::before{
          opacity: 1;
        }

      }
    }

    .powered-wit-ai{
      font-size: 12px;
      line-height: 2.0;
      color: #9b9b9b;
      margin-bottom: 120px;
      text-align: center;
    }
  }
}
