section.banner{
  background-color: #f3f2f2;

  > div{
    padding: 48px 20px;

    h3{
      font-size: 26px;
      line-height: 1.5;
      color: #3c3c3c;
      margin: 0 auto 48px;
      font-weight: 300;
      max-width: 670px;
      text-align: center;
    }

    ul{
      text-align: center;
      margin: 0 0 24px;
      padding: 0;

      li{
        display: inline-block;

        padding: 84px 0 0;
        margin: 0 24px 24px;
        width: 224px;
        font-size: 16px;
        line-height: 1.5;
        color: #000000;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 72px 72px;
      }

      li:nth-child(1){

        background-image: url("/images/ic_connect.svg");
      }

      li:nth-child(2){
        background-image: url("/images/ic_sserv.svg");
      }

      li:nth-child(3){
        background-image: url("/images/ic_graph.svg");
      }
    }

    .button{
      margin: 0 auto;
      width: 223px;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
    }
  }
}

@media (max-width: 720px){
  section.banner {
    > div {
      h3 {
        font-size: 20px;
        margin: 0 0 15px;
      }
      ul{
        li{
          display: block;
          height: 80px;
          padding: 0 0 0 65px;
          line-height:  80px;
          background-size: 48px 48px;
          background-position: left center;
          width: auto;
          text-align: left;
          margin: 0;

          span{
            display: inline-block;
            vertical-align: middle;
            line-height: 1.3;
          }
        }
      }
      .button{

      }
    }
  }
}