section.bot-create{
  margin-top: -84px;
  padding: 32px 32px 128px 32px;
  > div{
    position: static;
    max-width: 978px;
    min-width: 978px;

    h2{
      font-weight: 300;
      font-size: 32px;
      line-height: 1.4;
      color: #000000;
      padding: 0;
      margin: 20px 0 25px;
      text-align: left;
    }
    .bots-list {
      .bot-item {
        margin: 0 36px 36px 0;
      }
    }

    .bot-panel{
      position: fixed;
      left: 0;
      bottom: 0;
      padding: 40px 32px;
      width: 100%;
      height: 128px;
      background-color: #f3f2f2;
      .bot-panel-container {
        margin: 0 auto;
        width: 978px;
        font-size: 0;
      }
      .bot-name{
        display: inline-block;
        position: relative;
        height: auto;
        vertical-align: bottom;

        input{
          display: inline-block;
          width: 684px;
          height: 48px;
          line-height: 43px;
          padding: 0 12px;
          margin: 0 32px 0 0;
          font-weight: 300;
          font-size: 32px;
          color: #000000;

          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;

          border-radius: 3px;
          box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.07);
          background-color: #ffefed;
          border: solid 2px #e9604a;

          &::-webkit-input-placeholder {color:#e9604a;}
          &::-moz-placeholder          {color:#e9604a;}
          &:-moz-placeholder           {color:#e9604a;}
          &:-ms-input-placeholder      {color:#e9604a;}
          &:-o-input-placeholder      {color:#e9604a;}
          &:input-placeholder      {color:#e9604a;}

          &:focus{
            background-color: #ffffff;
            box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.07);
            border: solid 1px rgba(0, 0, 0, 0.13);
            &::-webkit-input-placeholder {color:#a6a6a6;}
            &::-moz-placeholder          {color:#a6a6a6;}
            &:-moz-placeholder           {color:#a6a6a6;}
            &:-ms-input-placeholder      {color:#a6a6a6;}
            &:-o-input-placeholder      {color:#a6a6a6;}
            &:input-placeholder      {color:#a6a6a6;}
          }

          &.valid{
            background-color: #ffffff;
            box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.07);
            border: solid 1px rgba(0, 0, 0, 0.13);
          }
        }

        div{
          font-size: 14px;
          line-height: 1.4;
          color: #807e7e;
        }

      }

      .button{
        position: relative;
        display: inline-block;
        margin: 0;
        width: 256px;
        height: 48px;
        vertical-align: bottom;
        border-radius: 3px;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 48px;
        color: #ffffff;

        &[disabled]{
          opacity: 0.6;
          background-color: #e9604a;
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.13);
        }

        &.loading{
          pointer-events: none;
          cursor: default;

          > .pre-loader{
            display: block;
          }

          > .title{
            display: none;
          }
        }

        > .pre-loader{
            display: none;
            position: absolute;
            width: 100%;
            height: 32px;
            margin: 8px 0;

            &::after{
              content: ' ';
              position: absolute;
              top:0;
              left: 0;
              width: 100%;
              height: 100%;
              opacity: 0.9;
              z-index: 3;

              background: url("../../images/spinner_w.svg") no-repeat center center;
              background-size: 32px 32px;
            }
          }
      }

    }
  }
}
