section.bot-selector{
  position: fixed;
  z-index: 100000;
  top: 0;

  //  z-index: 2;
  //  position: relative;

  height: 64px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);


  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  > div{
    position: relative;
    height: 64px;
    max-width: inherit;

    .logo {
      display: inline-block;
      width: 160px;
      height: 64px;
      background: #053748 url('../../images/chatfuel_white.svg') no-repeat 26px center;
      background-size: 103px;
      .logo-mini {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .logo-tooltip {
      .tooltip-inner {
        background-color: #053748;
      }
    .tooltip-arrow {
        border-right-color: #053748;
      }
    }
    .breadcrumbs{
      position: relative;
      display: inline-block;
      top: 0;
      left: -4px;
      width: 40px;
      height: 64px;
      background: url("../../images/ic_arrow_back.svg") no-repeat center center;
      opacity: 0.3;
      transition: opacity 80ms cubic-bezier(0.2,0.7,0.5,1);
      a{
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .breadcrumbs:hover{
      opacity: 1;
      background-color: #f3f2f2;
    }

    .selector {
      position: relative;
      top: 0;
      left: -4px;
      font-weight: 400;
      color: #000000;
      display: inline-block;
      font-size: 0;
      height: 64px;
      vertical-align: top;
      // &:after {
      //   content: '';
      //   display: block;
      //   position: absolute;
      //   top: -14px;
      //   left: -25px;
      //   background: #e6e6e6;
      //   width: 1px;
      //   height: 64px;
      //   cursor: initial;
      // }

      &.disabled{
        pointer-events: none;
        .label{
          .current{
            &::after{
              display: none;
            }
          }
        }
      }

      .bot-image {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin-right: 12px;
        cursor: initial;
        margin: 14px 12px 14px 0px;
        vertical-align: top;
      }
      .label {
        white-space: nowrap;
        position: relative;
        display: inline-block;
        height: 64px;
        a {
          text-decoration: none;
          color: #ffffff
        }
        .current {
          position: relative;
          display: block;
          padding-right: 30px;
          cursor: pointer;
          line-height: 1.25;
          font-size: 16px;
          margin-top: 14px;
        }
        span {
          vertical-align: top;
          &.current:after {
            content: '';
            position: absolute;
            top: -2px;
            background: url('../../images/ic_dropdown.svg') no-repeat center center;
            width: 24px;
            height: 24px;
            margin-left: 4px;
            opacity: 0.3;
          }
          &:hover {
            &.current:after {
             opacity: 1;
           }
          }
        }
        &.one-bot {
          pointer-events: none;
          .current{
            &:after {
              display: none;
            }
          }
        }
      }

      ul {
        position: absolute;
        z-index: 10;
        overflow: hidden;
        width: 322px;
        background-color: #ffffff;
        border-radius: 7px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.13);
        border: solid 1px rgba(0, 0, 0, 0.09);

        overflow-y: auto;
        max-height: 419px;

        left: -54px;
        top: -99999px;
        pointer-events: none;
        opacity: 0;

        transition: opacity 200ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, top 0ms cubic-bezier(0.22, 0.61, 0.36, 1) 200ms;

        padding: 0;
        margin: 0;

        padding-top: 48px;
        li{
          padding: 0;
          margin: 0;
          width: 100%;
          cursor: pointer;
          .bot-image-selector {
            position: absolute;
            border-radius: 50%;
            width: 28px;
            height: 28px;
            margin: 10px 12px 10px 16px;
            pointer-events: none;
          }
          a{
            display: block;
            padding: 0 12px 0 56px;
            text-decoration: none;
            font-size: 16px;
            color: #000000;
            width: 320px;
            line-height: 48px;
            white-space: nowrap;
            &.long {
              width: 275px;
              overflow: hidden;
              &:after {
                content: '...';
                position: absolute;
                display: inline-block;
                right: 30px;
              }
            }
          }
          &.firstElem {
            position: absolute;
            top: 0;
            a {
              width: 275px;
              overflow: hidden;
            }
          }
        }
        li:hover {
          background-color: #f1f2f2;
        }
        &:after {
          content: '';
          position: absolute;
          top: 12px;
          right: 8px;
          background: url('../../images/ic_dropdown.svg') no-repeat center center;
          width: 24px;
          height: 24px;
          pointer-events: none;
        }
      }
    }

    .selector.act{
      ul{
        top: -1px;
        pointer-events: auto;
        opacity: 1;
      }
    }

    .loading-bar {
      position: absolute;
      bottom: 14px;
      display: inline-block;
      pointer-events: none;
      padding-left: 18px;
      font-size: 10px;
      color: #35c67c;
      text-transform: uppercase;
      line-height: 1.6;
      &:before {
        content: '';
        position: absolute;
        left: 0px;
        top: -1px;
        display: inline-block;
        margin-right: 2px;
        width: 16px;
        height: 16px;
        background: url('../../images/ic_ok_small.svg') no-repeat center center;
        background-size: contain;
        vertical-align: bottom;
      }
    }
    .spinner {
      &:before {
        content: '';
        display: inline-block;
        margin-right: 2px;
        width: 16px;
        height: 16px;
        background: url('../../images/spinner_b.svg') no-repeat center center;
        background-size: contain;
        vertical-align: bottom;
      }
    }

    .status {
      position: absolute;
      top: 40px;
      right: 169px;
      color: rgba(255, 255, 255, 0.3);
      font-size: 16px;

      .switch {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 8px;
      }
    }

    nav{
      position: fixed;
      top: 64px;
      height: 100%;
      z-index: 2;
      width: 160px;
      background-color: #053748;
      // min-height: 642px;
      overflow-y: auto;


      ul{
        padding: 0;
        margin: 0;
        position: relative;
        min-height: 604px;
        height: 100%;
        white-space: nowrap;

        .bottom-list {
          position: absolute;
          display: inline-block;
          width: 100%;
          bottom: 64px;
        }

        li{
          display: block;
          vertical-align: top;
          padding: 0;
          height: 54px;

          > a {
            display: block;
            color: #ffffff;
            text-decoration: none;
            height: 54px;
            line-height: 54px;
            font-size: 13px;
            font-weight: 600;
            opacity: 0.6;
            background-image: radial-gradient(circle, rgba(255,255,255,0.07) 0%, rgba(255,255,255,0.07) 1%, rgba(255,255,255,0.00) 1%);
            transition: background-color 200ms cubic-bezier(0.1,0.5,0.5,1), opacity 200ms cubic-bezier(0.1,0.5,0.5,1);
            > img {
              border: 0;
              width: 24px;
              height: 24px;
              padding: 12px 8px 15px 24px;
              vertical-align: middle;
            }
            .ava {
              display: inline-block;
              vertical-align: middle;
              background-color: rgba(0, 0, 0, 0.1);
              border-radius: 50%;
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center center;
              width: 20px;
              height: 20px;
              margin: 16px 8px 20px 24px;
            }
            .smallText12 {
              font-size: 12px;
            }
            .smallText13 {
              font-size: 13px;
            }
            > .list-title {

            }
          }
          .popup {
            position: relative;
            top: -94px;
            left: 24px;
            display: none;
            opacity: 0;
            max-height: 48px;
            overflow: visible;
            box-sizing: content-box;
            width: 112px;
            height: 48px;
            border-radius: 7px;
            background-color: #ffffff;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.13);
            border: solid 1px rgba(0, 0, 0, 0.09);


           > a {
              display: block;
              border-radius: 7px;
              text-decoration: none;
              font-size: 16px;
              line-height: 48px;
              color: #000000;
              text-transform: none;
              padding-left: 16px;
              cursor: pointer;
              &:hover {
               background-color: #f3f2f2;
              }
            }
          }

          > a.act{
            background-color: rgba(0, 0, 0, 0.21);
            opacity: 1;
          }
          .profile {
            cursor: pointer;
          }
        }
        li:hover {
          > a:not(.act) {
            background-image: radial-gradient(circle, rgba(255,255,255,0.07) 50%, rgba(255,255,255,0.07) 97%, rgba(255,255,255,0.00) 100%);
            opacity: 1;
          }
        }
        .popup.opened {
          opacity: 1;
          display: block;
        }

      }
    }
    @media (max-width: 1024px) {
      nav{
        width: 72px;
      }
      .list-title {
        display: none;
      }
      .logo {
        width: 72px;
        background: #053748 url('../../images/logo/fav_76.png') no-repeat center;
        background-size: 29px;
      }
      .breadcrumbs {
        // left: 72px;
      }
      .selector {
        // left: 40px;
      }
    }

    .page-link {
      display: inline-block;
      position: relative;
      top: -33px;
      cursor: pointer;
      white-space: nowrap;
      .page-link-full {
        opacity: 0.3;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.67;
        display: inline-block;
        color: #000000;
        padding: 10px 0;
      }
      .icon-copy {
        background: url('../../images/ic_clipboard_small.svg') no-repeat center;
        content: '';
        display: inline-block;
        width: 40px;
        height: 40px;
        vertical-align: middle;
        opacity: 0;
        position: absolute;
        pointer-events: none;
        &:hover {
          background: url('../../images/ic_clipboard_small_hover.svg') no-repeat center;
        }
      }
      &:hover {
        .page-link-full {
          color: #448af1;
          opacity: 1;
        }
        .icon-copy {
          opacity: 1;
          pointer-events: all;
        }
      }
      .copy-tooltip {
        pointer-events: none;
        .tooltip-inner {
          width: 102px;
          min-width: 51px;
          height: 20px;
          border-radius: 2px;
          background-color: #053748;
          font-size: 10px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          color: #ffffff;
          line-height: 16px;
        }
        .tooltip-arrow {
          border-right-color: #053748;
        }
      }
      &.copied-tooltip {
        .copy-tooltip {
          .tooltip-inner {
            width: 51px !important;
            background-color: #45c195;
          }
          .tooltip-arrow {
            border-right-color: #45c195;
          }
        }
      }
      .input-to-copy {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        left: -99999px;
      }
    }

    .button-box {
      position: absolute;
      top: 17px;
      right: 32px;
      font-size: 0;
      white-space: nowrap;
      // transition: right 0.4s cubic-bezier(0.1, 0.5, 0.5, 1);

      .button.connect {
        position: relative;
        right: 0;
        z-index: 100;
        display: inline-block;
        margin: 0 16px 0 0;
        padding: 5px 12px 7px 40px;
        vertical-align: top;
        width: auto;
        text-transform: uppercase;
        text-align: center;
        height: 32px;
        border-radius: 7px;
        background-color: #ffffff;
        font-size: 14px;
        color: #000000;
        box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .13);
        border: 1px solid rgba(0, 0, 0, .13);
        border-bottom-color: rgba(0, 0, 0, .17);
        transition: box-shadow 80ms ease, border-color 80ms ease, background-color 80ms ease, right 0.4s cubic-bezier(0.1, 0.5, 0.5, 1);


        &::before {
          position: absolute;
          left: 10px;
          top: 3px;
          width: 24px;
          height: 24px;
          content: ' ';
          opacity: 0.3;
          background: url('../../images/ic_publish.svg') no-repeat center;
        }

        &:hover {
          box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .17);
          border-top-color: rgba(0, 0, 0, .17);
          border-left-color: rgba(0, 0, 0, .17);
          border-right-color: rgba(0, 0, 0, .17);
          border-bottom-color: rgba(0, 0, 0, .2);
          &::before {
            opacity: 1;
          }
        }
      }

      .fb-button-place {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 175px;
        height: 32px;
        border-radius: 7px;
        overflow: hidden;

        background: url("../../images/spinner_w.svg") no-repeat 7px center;
        background-color: rgb(0, 132, 255);
        background-size: 18px 18px;
        box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .13);
        transition: box-shadow 80ms ease, background-color 80ms ease;

        .fb-send-to-messenger {
          margin-top: 2px;
        }

        &.loaded{
          background-image: none;
        }

        &::before {
          background-color: #0084ff;
          border-radius: 3px;
          color: #ffffff;
          content: "TEST THIS CHATBOT";
          font-size: 14px;
          height: 32px;
          line-height: 32px;
          pointer-events: none;
          position: absolute;
          right: 0;
          top: 0px;
          width: 148px;
          padding-left: 5px;
          z-index: 2;
        }

        &::after {
          content: ' ';
          position: absolute;
          right: -40px;
          top: 100%;
          width: 400px;
          height: 30px;
          z-index: 2;
          background-color: #053748;
          margin-top: 2px;
        }
        &:hover {
          background-color: rgb(0, 132, 255, .1);
          box-shadow:0 2px 8px -2px rgba(0, 0, 0, .17);
        }
      }

      .fb-button-place--hide {
        opacity: 0;
      }

      .open-in-messenger {
        position: absolute;
        top: 0px;
        right: 0;
        z-index: 10;
        height: 30px;
        width: 172px;
        background: #fff;
        border: 1px solid #0084ff;
        border-radius: 7px;
        padding: 0;
        box-sizing: content-box;
        box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.13);
        transition: width 0.4s cubic-bezier(0.1, 0.5, 0.5, 1);
        visibility: hidden;

          .link {
            display: block;
            padding: 0px 12px 0 36px;
            text-align: center;
            font-size: 14px;
            color: #0084ff;
            text-transform: uppercase;
            text-decoration: none;
            line-height: 30px;
            height: 100%;
            vertical-align: middle;
            background: url('../../images/ic_external_blue.svg') no-repeat center center;
            background-position: 8px;
            opacity: 0;
            transition: opacity 0.28s cubic-bezier(0.1, 0.5, 0.5, 1) 0.08s;
          }
          &:hover{
            box-shadow:0 2px 8px -2px rgba(0, 0, 0, .17);
          }
          &.open-in-messenger--to-right{
            // right: 0;
          }
      }

      .open-in-messenger--bigger {
        width: 228px;
        visibility: visible;
        .link {
          opacity: 1;
        }
      }

      .open-in-messenger.connected {
        left: -145px;
      }
    }
    .isLinked {
      .button.connect {
        right: 55px;
      }
      // right: 87px;
    }
  }

  &.draft{


    .button.connect{
      display: block;
    }
  }
}
