section.chatbots-are-the-new{

  background-image: url("/images/pattern2x2space.png") ,url("/images/space_bg.jpg");
  background-position: left top, center bottom;
  background-repeat: repeat, no-repeat;
  background-size: auto auto, cover;


  > *{
    transform: scale(1,1);
    -webkit-transform: scale(1,1);
 //   display: none;
  }

  h2{
    color: #ffffff;
    margin-bottom: 72px;
  }

  ul.info{

      position: relative;
      width: 88%;
      margin: 0 auto 73px;
      padding: 0;
      overflow: hidden;

      li{
        display: block;
        width: 545px;
        height: 160px;
        background-repeat: no-repeat;
        line-height: 160px;
        margin-bottom: 25px;

        > div{
          display: inline-block;
          vertical-align: middle;
        }

        h3{
          font-size: 28px;
          line-height: 40px;
          color: rgba(255,255,255,0.8);
          font-weight: 300;
          margin: 0 0 13px 0;
          padding: 0;
          white-space: nowrap;
        }

        p{
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
          margin: 0;
          padding: 0 0 10px 0;
          a{
            color: #ffffff;
            text-decoration: none;
          }
        }

      }

      li:nth-child(even){
        float:right;
        padding-right: 283px;
        background-position: right center;
        h3,p{
          text-align: right;
        }
      }

      li:nth-child(odd){
        float:left;
        padding-left: 283px;
        background-position: left center;
        h3,p{
          text-align: left;
        }
      }

      li:nth-child(1){
        background-image: url("/images/ic_chatbot_graph.svg");
      }

      li:nth-child(2){
        background-image: url("/images/ic_chatbot_retention.svg");
      }

      li:nth-child(3){
        background-image: url("/images/ic_chatbot_getintouch.svg");
        margin-bottom: 0;
      }
  }

  div.pressa {
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.29);
    padding: 72px 0 95px 0;
    width: 100%;
    text-align: center;
    margin: 0;
    clear: both;
    max-width: 960px;
    height: 368px;
    overflow: hidden;
    transition: height 200ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);
    -webkit-transition: height 200ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);

    ul {
      padding: 0;
      margin: 0;
      width: 100%;
      transition: width 200ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);
      -webkit-transition: width 200ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);

      li {
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding-top: 76px;
        width: 32%;
        text-align: center;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 64px 64px;
        background-image: url("/images/chat_publish_tc_logo.png");

        h3 {
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
          font-weight: 300;
          margin: 0 0 16px;
        }

        p {
          font-size: 20px;
          line-height: 28px;
          color: #ffffff;
          font-style: italic;
          margin: 0;
          max-width: 330px;
          display: inline-block;

          a{
            display: block;
            color: #ffffff;
            text-decoration: none;
            min-height: 60px;


              span{
                border-bottom: 1px solid rgba(255,255,255,0);
                transition: border-bottom 60ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms;
                -webkit-transition: border-bottom 60ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms;
              }

              span::before {
                content: "“";
              }

              span::after {
                content: "”";
              }
          }

          a:hover{
            span{
              border-bottom: 1px solid rgba(255,255,255,1);
            }
          }

          a::after{
            content: ' ';
            display: block;
            position: absolute;
            left: 50%;
            top: 0;
            width: 100%;
            height: 100%;
            max-width: 320px;
            margin-left: -160px;
          }
        }
      }

      li:nth-child(1){
        background-image: url("/images/av_forbes.png");
        transform: translateX(-10px);
        -webkit-transform: translateX(-10px);
      }

      li:nth-child(2){
        background-image: url("/images/av_tc.png");
      }

      li:nth-child(3){
        background-image: url("/images/av_verge.png");
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
      }
    }
    .dots {
      top: 290px;
    }
  }
}


@media (max-width: 830px)  {
  section.chatbots-are-the-new{
    div.pressa{
      ul{
        width: 150%;
      }
      .dots {
        > span:nth-child(1),
        > span:nth-child(2) {
          display: inline-block;
        }
      }
    }
  }
}


@media (max-width: 720px)  {
  section.chatbots-are-the-new{
    h2{
      font-size: 24px;
      line-height: 32px;
      padding-top: 56px;
      margin:0 16px 49px;
    }

    ul.info{
      width: 100%;
      padding: 0 45px;
      margin: 0;

      li{
        display: block;
        width: auto;
        height: auto;
        line-height: inherit;
        float: none!important;
        padding: 137px 0 38px!important;
        margin: 0;

        background-position: top center!important;
        background-size: auto 120px;

        > div {
          display: block;

          h3{
            font-size: 20px;
            line-height: 28px;
            color: rgba(255,255,255,0.8);
            margin: 0;
            padding: 0 0 12px 0;
            text-align: center!important;
          }

          p{
            width: auto;
            font-size: 14px;
            line-height: 22px;
            text-align: center!important;

          }
        }


      }
    }

    div.pressa{

      padding: 48px 0 0px 0;
      height: 316px;

      ul{
        width: 300%;
      //  text-align: left;
      }

      .dots {
        top: 250px;
        > span {
          display: inline-block;
        }
      }
    }



  }
}