.hide-pro-preloader{
  opacity: 0;
  pointer-events: none;
}

.structure-preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 36px;
  width: 36px;
  background: transparent url('../../images/spinner_b.svg') no-repeat 50% 50%;
  background-size: 36px;
  content: '';
  z-index: -100;
  transition: opacity 0.2s linear 0.5s;
  opacity: 0;

  margin-left: 160px;

  @media (min-width: 1340px){
    margin-left: 200px;
  }
  @media (min-width: 1460px){
    margin-left: 250px;
  }
}
.structure-preloader-active {
  opacity: 1;
  z-index: 10000;
}
.ai-setup-preloader {
  &::after {
    position: fixed;;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 36px;
    width: 36px;
    margin-left: 80px;
    background: transparent url('../../images/spinner_b.svg') no-repeat 50% 50%;
    background-size: 36px;
    content: '';
    z-index: 1000;
    transition: opacity 0.2s linear 0.5s;
    opacity: 1;
  }
}
.promotion-content-preloader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 36px;
    width: 36px;
    margin-left: 80px;
    background: transparent url('../../images/spinner_b.svg') no-repeat 50% 50%;
    background-size: 36px;
    z-index: 1000;
    transition: opacity 0.2s linear 0.5s;
    opacity: 1;
    min-width: 0;
    max-width: none !important;
}
.promotion-preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 36px;
    width: 36px;
    margin-left: 80px;
    background: transparent url('../../images/spinner_b.svg') no-repeat 50% 50%;
    background-size: 36px;
    z-index: 1000;
    transition: opacity 0.2s linear 0.5s;
    opacity: 1;
    min-width: 0;
    max-width: none;

  &::before{
    background: transparent!important;
  }
}
@media (max-width: 1024px) {
  .ai-setup-preloader {
    &::after {
      margin-left: 40px;
    }
  }
  .promotion-content-preloader {
    margin-left: 40px;
  }
  .promotion-preloader {
    margin-left: 40px;
  }
}
