section.dashboard-v2{

  box-sizing: content-box;
  min-height: 100%;
  margin-top: -104px;
  padding-bottom: 104px;
  position: relative;
  max-width: 992px;
  margin: -104px auto 0;
  padding-top: 104px;

  > div{

    padding: 48px 16px 10px;//bottom 210px when Help Center ON
    position: static;
    box-sizing: border-box;

    h1{
      font-weight: 300;
      font-size: 32px;
      line-height: 1.4;
      color: #000000;
      margin:0 0 20px;
      padding: 0;
    }


  }
}
