section.dashboard{

  margin-top: -120px;

  > div{

    position: static;

    h1{
      position: relative;

      font-weight: 300;
      font-size: 32px;
      line-height: 1.4;
      margin: 0;
      padding: 32px 16px 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      .button.refresh{
        position: absolute;

        right: 16px;
        top: 41px;
        height: 24px;
        line-height: 24px;
        font-size: 16px;
        color: #000000;
        padding: 0 0 0 32px;
      }

      .button.refresh::after{
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 2px;
        background: url('../../images/ic_refresh.svg') no-repeat center center;
        height: 24px;
        width: 24px;
        opacity: 0.2;
        transition: opacity 60ms;
        -webkit-transition: opacity 60ms;
      }

      .button.refresh:hover::after{
        opacity: 1;
      }
    }

    .bots-list{
      text-align: left;
      padding: 32px 0 0;
      margin-left: 16px;
      margin-right: 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      .bot-item{

        display: inline-block;
        vertical-align: top;
        position: relative;
        padding: 62px 24px 0;
        width:300px;
        height: 242px;
        border-radius: 18px;
        border: solid 2px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        margin: 0 30px 32px 0;
        text-align: center;

        .logo{
          width: 72px;
          height: 72px;
          background-color: #f7f7f7;
          border-radius: 50%;
          margin: 0 auto 12px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          cursor: pointer;
        }

        .title a{
          font-weight: 300;
          font-size: 24px;
          line-height: 1.3;
          color: #000000;
          text-decoration: none;
        }

        .menu{
          position: absolute;
          top:12px;
          right: 12px;

          > *{
            display: inline-block;
            vertical-align: top;
          }

          .button.edit{
            width: 24px;
            height: 24px;
            margin-left: 8px;
            background: url("../../images/ic-edit-black.svg") center center no-repeat;
            opacity: 0.3;
          }

          .button.edit:hover{
            opacity: 1;
          }



          ul{
            position: absolute;
            top:-99999px;
            opacity: 0;
            min-width: 112px;
            min-height: 32px;
            border-radius: 3px;
            background-color: #ffffff;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            border: solid 1px rgba(0, 0, 0, 0.02);
            padding: 0;
            margin: 0;
            transition: opacity 200ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, top 0ms cubic-bezier(0.22, 0.61, 0.36, 1) 200ms;

            li{
              display: block;
              padding: 0;
              margin: 0;
              a{
                display: block;
                font-size: 16px;
                line-height: 32px;
                color: #000000;
                padding:0 0 0 16px;
                margin: 0;
                text-decoration: none;
                text-align: left;
              }

              a:hover{
                text-decoration: underline;
              }
            }
          }

          ul.act{
            top:28px;
            right: 0;
            opacity: 1;
            transition: opacity 200ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms,  top 0ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms;
          }
        }

      }

      .bot-item.add {
        p {
          font-size: 15px;
          margin: 0;
        }
        p:first-child {
          margin-top: 10px;
        }

        .link {
          margin-top: 30px;
          a {
            color: #448AF1;
            text-decoration: none;
          }
        }
      }
    }
  }
}
