

section.discus{

  > div{
      padding: 64px 0 85px;
      > div{

      }
  }
}

@media (max-width: 1036px){
  section.discus{

    > div{
      padding: 34px 0 36px;
       > div{
          padding: 0 20px;
       }


    }
  }
}