@media (max-width: 1024px) {
  section.editor{
    padding-left: 72px !important;
  }
}
section.editor{

  position: relative;
  height: 100%;
  padding-left: 160px;
  background-color: #f3f2f2;

  > div {

    max-width: inherit;
    height: 100%;
    margin: 0;

    .lcol {
      position: absolute;
      z-index: 20;
      top: 0;
      left: 0;
      //width: 335px;
      width: 314px;
      height: 100%;
//      padding-right: 3px;

//      background-color: #f3f2f2;
      overflow-y: auto;
      overflow-x: hidden;

      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;


      background-color: #ffffff;

      box-shadow: 1px 0 0 0 rgba(0,0,0,0.03), 1px 0 3px 0 rgba(0,0,0,0.07);


      .block-list{
        overflow-x: hidden;

        .block-item{
          margin: 0 0 32px;

          .title{
            position: relative;
            font-weight: 600;
            font-size: 16px;
            line-height: 1.5;
            color: rgba(0,0,0,0.5);
            padding:0 0 0 14px;
            cursor: pointer;

            span {
              padding-left: 3px;
              line-height: 30px;
            }
            input[type="text"] {
              line-height: 24px;
            }

            .button.edit{
              position: absolute;
              right: 0;
              top:3px;
              width: 24px;
              height:24px;
              background: url("../../images/ic_trash.svg") center center no-repeat;
              opacity: 0;
            }
            .button.locked{
              position: absolute;
              right: 0;
              top:3px;
              width: 24px;
              height:24px;
              background: url("../../images/ic_lock.svg") center center no-repeat;
              opacity: 0;
            }
            .button.move{
              position: absolute;
              left: 0;
              top:3px;
              width: 12px;
              height:24px;
              background: url("../../images/ic_drag.svg") center center no-repeat;
              opacity: 0;
            }

            ul{
              position: absolute;
              top:-99999px;
              opacity: 0;
              min-width: 112px;
              min-height: 32px;
              border-radius: 3px;
              background-color: #ffffff;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
              border: solid 1px rgba(0, 0, 0, 0.02);
              padding: 0;
              margin: 0;
              transition: opacity 200ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, top 0ms cubic-bezier(0.22, 0.61, 0.36, 1) 200ms;

              li{
                display: block;
                padding: 0;
                margin: 0;
                a{
                  display: block;
                  font-size: 16px;
                  line-height: 32px;
                  color: #000000;
                  padding:0 0 0 16px;
                  margin: 0;
                  text-decoration: none;
                  text-align: left;
                  font-weight: 400;
                }

                a:hover{
                  text-decoration: underline;
                }
              }
            }

            ul.act{
              top:28px;
              right: 0;
              left: auto;
              opacity: 1;
              z-index: 1;
              transition: opacity 200ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms,  top 0ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms;
            }
          }

          .title:hover{
            .button.edit{
              opacity: 0.3;
            }
            .button.move{
              opacity: 0.3;
            }
            .button.locked{
              opacity: 0.3;
            }
          }

          .tags{
            margin: 4px 0;
            padding: 8px 0 4px 8px;
            background-color: #ffffff;
            text-align: justify;
            border-radius: 3px;


            > span{
              display: inline-block;
              vertical-align: top;
              width: 31.3%;
              height: 32px;
              border-radius: 3px;
              background-color: rgba(0,0,0,0.02);
              font-size: 12px;
              line-height: 32px;
              color: #000000;
              text-align: center;
              margin: 0 4px 4px 0;
              cursor: pointer;

              padding: 0 4px;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            > span.small{
              font-size: 11px;
            }

            > span.act{
              background-color: #448af1;
              color:#ffffff;
              //pointer-events: none;
            }

            > span.add{
              color: rgba(0, 0, 0, 0.25);
              font-size: 24px;
              font-weight: bold;
              opacity: 1;
              transition: opacity 60ms linear 0ms;
        //     margin: 0 4px 4px -4px;

              &:hover{
                color: rgba(0, 0, 0, 1);
              }
            }
          }

          .tags:hover{
            > span.add{
              opacity: 1;
            }
          }
        }

        .block-item.add{
          height: 40px;
          background-color: #ffffff;
          line-height: 40px;
          text-align: center;
          cursor: pointer;
          font-size: 16px;
          color: #000000;
          border-radius: 3px;
        }

        .block-item.add::before{
          content: "+ ";
          vertical-align: middle;
          color: rgba(0, 0, 0, 0.25);
          font-size: 24px;
          font-weight: bold;
        }
      }

      .post-sender-scheduler{
        background-color: #ffffff;
        box-shadow: 1px 0 0 0 rgba(0,0,0,0.03), 1px 0 3px 0 rgba(0,0,0,0.07);
        min-height: 100%;

        padding: 32px 8px;
        > * {
          margin: 0 0 32px;
          padding: 0 8px;

          .title {
            font-size: 16px;
            line-height: 1.5;
            color: #807e7e;
            font-weight: 600;

            margin: 0 0 16px;

            span {
              font-size: 14px;
              float: right;
              font-weight: 400;
              text-align: right;
              width: 27%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              line-height: 26px;
            }
            @media (min-width: 1300px) {
              span {
                width: 35%;
              }
            }
          }

        }

        .tags{
          > span.add{
            position: relative;

            >  span.popup{
              background-color: #ffffff;
              border-radius: 3px;
              box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
              opacity: 0;
              overflow: hidden;
              padding: 10px 10px;
              position: absolute;
              left: 0;
              top: -1000px;
              transition: opacity 60ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, max-height 600ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, top 0ms linear 60ms;
              z-index: 10;
              font-weight: 400;
              min-width: 120px;

              > *{
                display: block;
                font-size: 15px;
                width: 100%;
                white-space: nowrap;
              }

              > input{
                height: 32px;
                line-height: 32px;
                border-radius: 3px;
                background-color: #ffffff;
                border: solid 1px #d9d9d9;
                font-size: 16px;
                color: #000000;
                padding: 0 5px;

                -webkit-appearance: none;
                outline: none;
              }

              > a{
                color: #000000;
                text-decoration: none;
              }

              > a:hover{
                color: #000000;
                text-decoration: underline;
              }
            }

            >  span.popup.act{
              top: 32px;
              opacity: 1;
            }
          }
        }


        .recurrent-events{
          .tags{
            > span{
              display: block;
              width: 100%;
              height: 36px;
              line-height: 32px;
              //border-radius: 3px;
              //border: solid 2px #ffffff;
              //background-color: #ffffff;
              font-size: 14px;
              color: #000000;
              padding: 0 14px;
              margin: 0 0 8px;
              cursor: pointer;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              white-space: nowrap;
              overflow: hidden;

              &:hover{
                //border: solid 2px #000000;
              }

              &.act{
                pointer-events: none;
                background-color: #448af1;
                border-color: #448af1;
                color: #ffffff;
              }

              &.add{
                //background-color: transparent;
                //border: solid 2px #dfdddd;
                //position: relative;
                //margin: 0;
                &::before{
                  content: ' ';
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background: url(../../images/ic_add_small_new.svg) no-repeat center center;
                  opacity: 0.3;
                }

                &:hover{
                  //border: solid 2px #000000;
                  &::before{
                    opacity: 1;
                  }
                }
              }
            }
          }
        }

        .send-now{
          .button{
            width: auto;
            height: 32px;
            line-height: 32px;
            text-transform: uppercase;
            font-size: 12px;
            border-radius: 3px;
            background-color: #ffffff;
          }

          .button.act{
            color: #ffffff;
            background-color: #448af1;
          }

          .button-ver2{
            text-transform: uppercase;
          }
        }

        .send-on-update {
          .tags {
            text-align: justify;
            > span {
              display: inline-block;
              vertical-align: top;
              width: 32%;
              height: 32px;
              border-radius: 3px;
              background-color: #ffffff;
              font-size: 12px;
              line-height: 32px;
              color: #000000;
              text-align: center;
              margin: 0 0 4px;
              cursor: pointer;

              padding: 0 4px;
              overflow: hidden;
              text-overflow: ellipsis;
            }



            > span.small{
              font-size: 11px;
            }

            > span.add {
              background-color: rgba(0, 0, 0, 0.02);
              color: rgba(0, 0, 0, 0.25);
              font-size: 24px;
              font-weight: bold;
            }
            > span.act {
              pointer-events: none;
              color: #ffffff;
              background-color: #448af1;
            }
          }
        }

        .broadcast-date, .autopost-group{
          .tags{
            span{
              display: inline-block;
              vertical-align: top;
              width: 46.8%;
              height: 36px;
              line-height: 32px;
            //  border-radius: 3px;
            //  background-color: #ffffff;
            //  border: 2px solid #ffffff;
              cursor: pointer;
              text-align: center;
              font-size: 13px;
              margin: 0 4px 8px;

              &.act {
                background-color: #448af1;
           //     border-color: #448af1;
                color: #ffffff;
              }
            }

            .add{
              //background-color: transparent;
              //border: solid 2px #dfdddd;

              position: relative;

              &::before{
                content: ' ';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url('../../images/ic_add_small_new.svg') no-repeat center center;
                opacity: 0.3;
              }

              &:hover{
                //border: solid 2px #000000;
                &::before{
                  opacity: 1;
                }
              }
            }
          }
        }
      }



      .block-error{
        position: relative;

        &::after{
          content: ' ';
          position: absolute;
          z-index: 5;
          right: 3px;
          top: 3px;
          width: 10px;
          height: 10px;
          border: 2px solid #ffffff;
          background-color: #e9604a;
          border-radius: 50%;
        }
      }
    }

    .rcol {
      //margin-left: 315px;
      //margin-left: 333px;
      //padding: 32px 33px 64px 36px;
      padding: 32px 33px 64px 351px;
      overflow-x:auto;
      position: relative;
  //    background-color: #f3f2f2;

      height: 100%;

      .disabled{
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        opacity: 0.8;

        h1{
          .button.close{
            pointer-events: auto;
          }

          .button.copy{
            pointer-events: auto;
            opacity: 0.8!important;
            &:hover{
              opacity: 1!important;
            }
          }

          .tooltip-copy{
            display: block!important;
            width: auto!important;
            height: auto!important;
            .tooltip-inner {
              background-color: #053748;
            }
            .tooltip-arrow {
              border-top-color: #053748!important;
            }
          }
        }
      }

      h1{
        position: relative;
        line-height: 36px;
        font-size: 28px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        color: #000000;
        margin: 0 0 24px 0;
        white-space: nowrap;
        cursor: pointer;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        select{
          display: inline-block;
          height: 36px;
          line-height: 2;
          border-radius: 3px;
          background-color: #ffffff;
          border: solid 1px #d9d9d9;
          font-weight: 300;
          font-size: 18px;
          color: #000000;
          text-align: center;
          text-align-last: center;
          margin: 0 24px 0 0px;
          outline: none;
          min-width: 103px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background: transparent;
          padding: 0 28px 0 12px;
          background: url('../../images/ic_bigdropdown.svg') no-repeat right center;
          background-size: 18px auto;
          cursor: pointer;


          option{
            font-weight: 300;
            font-size: 16px!important;
            line-height: normal;
            text-align: center;
            text-align-last: center;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }
        }

        .button.preferences{
          margin: 0 24px 0 0;
          padding: 0 16px 0 36px;
          position: relative;
          height: 36px;
          &::before{
            content: ' ';
            display: inline-block;
            opacity: 0.25;
            width: 24px;
            height: 24px;
            background-size: cover;
            background: url('../../images/ic_prefs.svg') no-repeat center center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 7px;
          }

          &:hover{
            &::before{
              opacity: 1;
            }
          }
          .timezone-wrapper {
            line-height: 1;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            .timezone {
              font-size: 14px;
              font-weight: 400;
              line-height: 2;
              margin: 0;
            }
          }
        }

        .days-selector {
          display: inline-block;
          vertical-align: top;
          white-space: nowrap;
          width: 316px;
          height: 36px;
          border-radius: 3px;
          background-color: #ffffff;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
          border: solid 1px rgba(0, 0, 0, 0.15);
          margin: 0 14px 0 0;
          padding: 0;
          overflow: hidden;
          font-size: 0;
          > li{
            display: inline-block;
            vertical-align: top;
            padding: 0;
            margin: 0;
            width: 14.29%;
            height: 34px;
            line-height: 34px;
            text-align: center;
            font-size: 14px;
            color: #000000;
            cursor: pointer;
            background-color: #ffffff;
            &.act{
              background-color: #448af1;
              color: #ffffff;
            }
          }
        }
        .info-autoposting {
          width: 611px;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.75;
          color: #767676;
          white-space: normal;
        }
        .text{
          display: block;
          float: left;
          padding-left: 6px;
          padding-right: 6px;
          margin: 0 8px 16px 0;
          // min-width: 200px;
          span{
            font-weight: 300;
            font-size: 18px;
            line-height: 2;
            color: #000000;
            margin-right: 24px;
          }
          &.schedule-recurrent {
            font-size: 0;
          }
        }

        #block-title-input {
          height: 36px;
          border: 1px solid transparent;
          font-size: 24px;
          color: #000000;

          &[contentEditable=true] {
            -webkit-user-select: text !important;
            -moz-user-select: text !important;
            -ms-user-select: text !important;
            user-select: text !important;
          }

          &[contentEditable=true]:empty:before {
            content:attr(placeholder);
            color: #AAA;
          }
          &:hover {
            box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.07);
            border: solid 1px rgba(0, 0, 0, 0.13);
            border-radius: 7px;
          }
          &:focus {
            box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.07);
            outline: none;
            border: solid 1px rgba(0, 0, 0, 0.33);
            border-radius: 7px;
            cursor: text;
          }
        }

        .h1-but{
          display: inline-block;
          margin-left: 16px;
          vertical-align: middle;
          height: 38px;

          > *, .button{
            display: inline-block;
            width: 24px;
            height: 24px;
          }

          .button:hover{
            opacity: 1;
          }

          > div{
            position: relative;
            .get-link.button{
              opacity: 0.3;
              background: url("../../images/ic_code.svg") center center no-repeat;
            }

            .get-link-popup{
              position: absolute;
              z-index: 100005;
              width: 252px;
              height: 96px;
              border-radius: 3px;
              background-color: #f3f2f2;
              box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
              border: solid 1px rgba(0, 0, 0, 0.0);
              left: 0;
              top:-9999px;
              padding: 12px 16px;
              opacity: 0;

              transition: top 0ms 200ms, opacity 200ms 0ms;
              -webkit-transition:  top 0ms 200ms, opacity 200ms 0ms;

              .fb-button{
                width: 145px;
                height: 24px;
                border-radius: 3px;
                background-color: rgba(0,0,0,0.1);
                margin-bottom: 12px;
              }

              input{
                width: 220px;
                height: 36px;
                line-height: 36px;
                border-radius: 3px;
                background-color: #ffffff;
                font-size: 16px;
                display: block;
                border: solid 1px #d9d9d9;
                padding: 0 12px;
              }
            }

            .get-link-popup.act{

              transition: top 0ms 0ms, opacity 200ms 0ms;
              -webkit-transition:  top 0ms 0ms, opacity 200ms 0ms;

              opacity: 1;
              top:44px;
            }
          }


          .remove.button{
            opacity: 0.3;
            background: url("../../images/ic_trash.svg") center center no-repeat;
            &:hover{
              opacity: 1;
            }
          }
          .copy.button{
            opacity: 0.3;
            background: url("../../images/ic_duplicate.svg") center center no-repeat;
            &:hover{
              opacity: 1;
            }
          }
        }

        .but-container {
          .top {
            top: -34px !important;
            .tooltip-inner {
              background-color: #053748;
            }
            .tooltip-arrow {
              border-top-color: #053748;
            }
          }
          &.remove {
            margin-left: 10px;
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            text-align: right;
          }
        }

        .button.close{
          position: absolute;
          right: 0;
          top: 8px;
          width: 24px;
          height:24px;
          background: url("../../images/ic-close-black.svg") center center no-repeat;
          background-size: cover;
          opacity: 0.3;
        }

        .button.close:hover{
          opacity: 1;
        }

        span{
          color:rgba(0,0,0,0.35);
        }

        ul:not(.days-selector){
          position: absolute;
          top:-99999px;
          opacity: 0;
          min-width: 112px;
          min-height: 32px;
          border-radius: 3px;
          background-color: #ffffff;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          border: solid 1px rgba(0, 0, 0, 0.02);
          padding: 0;
          margin: 0;
          transition: opacity 200ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, top 0ms cubic-bezier(0.22, 0.61, 0.36, 1) 200ms;

          li{
            display: block;
            padding: 0;
            margin: 0;
            a{
              display: block;
              font-size: 16px;
              line-height: 32px;
              color: #000000;
              padding:0 0 0 16px;
              margin: 0;
              text-decoration: none;
              text-align: left;
              font-weight: 400;
            }

            a:hover{
              text-decoration: underline;
            }
          }
        }

        ul.act{
          top:28px;
          right: 0;
          left:auto;
          opacity: 1;
          transition: opacity 200ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms,  top 0ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms;
        }

        &:after{
          content: '';
          display: block;
          height: 0;
          clear: both;
          visibility: hidden;
        }
      }
      .link-ref-on {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        padding-bottom: 16px;
        .text{
          margin-bottom: 0;
        }
        .text, .but-container, .ref-link {
          -ms-flex-negative: 0;
          flex-shrink: 0;
        }
      }

      h1:hover{
        .button.edit{
          opacity: 0.3;
        }
        .button.locked{
          opacity: 0.3;
        }
      }


      .button.send-now{
        width: 205px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        margin-top:32px;
      }

      .description {
        margin-top: -20px
      }
    }
  }
}


//@media (min-width: 1681px){
//  section.editor{
//    > div{
//
//      max-width: inherit;
//
//      .lcol{
//        width: 512px;
//      }
//      .rcol{
//        margin-left: 512px;
//      }
//    }
//  }
//}


@media (min-width: 1340px){
  section.editor{
    > div{

      max-width: inherit;

      .lcol{
        width: 408px;
      //  width: 427px;
      }
      .rcol{
        padding: 32px 33px 64px 444px;
      //  margin-left: 408px;
      //  margin-left: 427px;
      }
    }
  }
}
@media (min-width: 1460px){
  section.editor{
    > div{

      max-width: inherit;

      .lcol{
        width: 528px;
      //  width: 547px;
      }
      .rcol{
        padding: 32px 33px 64px 564px;
        //margin-left: 528px;
       // margin-left: 547px;
      }
    }
  }
}
