section.intro{
  position: relative;
  overflow: hidden;
  height: 704px;
  transition: height 200ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);
  -webkit-transition: height 200ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);

  > div{
    position: absolute;
    top:0;
    height: 100%;
  }

  > div:first-child{
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);



    .slogan{
      padding-top: 299px;
      padding-left: 16px;
      max-width: 510px;

      font-weight: 300;
      line-height: 48px;
      font-size: 32px;
      color: #ffffff;


      margin: 0 0 48px;

      transition: all 200ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);
      -webkit-transition: all 200ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);

      span{
        white-space: nowrap;
      }
    }

    .button{
      margin-left: 16px;
      transition: all 200ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);
      -webkit-transition: all 200ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);
    }

    .messenger{
      position: absolute;
      width: 38.4%;
      right: 16px;
      left: auto;
      bottom: 0;
      height: 100%;
      transition: opacity 200ms 0ms linear;
      -webkit-transition: opacity 200ms 0ms linear;

      .tabs{
        position: absolute;
 //       right: -17px;

        bottom: 31px;
        width: 100%;
        text-align: center;
        padding: 0;
        white-space: nowrap;
        transition: right 200ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);
        -webkit-transition: right 200ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);

        li{
          position: relative;
          display: inline-block;
          height: 80px;
          line-height: 24px;
          padding-top: 52px;
          margin: 0 0;
          width: 75px;
          font-size: 11px;
          color: #ffffff;
          text-transform: uppercase;
          text-align: center;
          cursor: pointer;
          opacity: 0.7;
          transition: opacity 60ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);
          -webkit-transition: opacity 60ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);
        }

        li.act, li:hover{
          opacity: 1;
        }

        li::before{
          content: " ";
          position: absolute;
          top:0;
          left: 50%;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          width: 48px;
          height: 48px;
          border: 2px solid rgba(255,255,255,0);
          border-radius: 50%;
          background: rgba(0, 0, 0, 0.2) no-repeat center center;
          transition: border-color 60ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);
          -webkit-transition: border-color 60ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);
        }

        li.act::before{
          border-color:rgba(255,255,255,1);
        }

        li:nth-child(1)::before{
            background-image: url("/images/ic_publishing.svg");
        }

        li:nth-child(2)::before{
          background-image: url("/images/ic_business.svg");
        }

        li:nth-child(3)::before{
          background-image: url("/images/ic_catalogue.svg");
        }

        li:nth-child(4)::before{
          background-image: url("/images/ic_blog.svg");
        }
      }

      .box{
        position: absolute;
        top: 36px;
        height: 520px;
        padding-top: 100px;
        overflow: hidden;
        width: 100%;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        pointer-events: none;

        .page{
          overflow:hidden;

          > div {
            position: relative;
            margin-bottom: 16px;
            background-size: 32px 32px;
            background-repeat: no-repeat;
            clear: both;

            p {
              margin: 0;
              padding: 8px 14px;
              font-size: 12px;
              line-height: 16px;
              border-radius: 8px;

              .blue{
                color: #478edd;
              }

              .link{
                text-decoration: underline;
              }

              .emoji{
                height: 13px;
                width: 13px;
                vertical-align: -1px;
              }

              .emoji-big{
                height: 18px;
                width: 18px;
                vertical-align: -3px;
              }
            }

            p::before {
              position: absolute;
              bottom: 0;
              content: " ";
              width: 11px;
              height: 12px;
              background-repeat: no-repeat;
            }

            p.image {
              padding: 4px 4px 0;
              width:174px;

              img {
                width: 166px;
                border-radius: 2px;
                overflow: hidden;
              }

              .title {
                right: 8px;
                top: 0;
                padding: 23px 10px;
                position: absolute;
                width: 152px;
                height: 100%;
                text-align: center;
                color: #ffffff;
                font-size: 13px;
                line-height: 18px;
                text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
              }

              .link {
                display: block;
                padding: 0 0 4px 7px;
                color: #519ffa;
              }

            }
          }


          .left{
            float: left;
            width: auto;
            max-width: 240px;
            padding-left: 43px;
            background-position: left bottom;

            p{
              color: #000000;
              background-color: #ffffff;
              border-bottom-left-radius: 0;
            }

            p::before{
              left: 32px;
              background-image: url("/images/ic_bubble_white.svg");
            }
          }

          .right{
            float: right;
            width: auto;
            max-width: 240px;
            padding-right: 43px;
            background-position: right bottom;

            p{
              color: #ffffff;
              background-color: rgba(67,103,115,0.84);
              border-bottom-right-radius: 0;
            }

            p::before{
              right: 32px;
              background-image: url("/images/ic_bubble_user.svg");
            }


          }


        }

        .page::after{
          content: " ";
          display: block;
          clear: both;
        }

        .printed-anim{
          position: absolute;
          right: 0;
          bottom: 0;
          background-size: 0px 0px;
          background-repeat: no-repeat;
          background-position: right center;
          height: 20px;
          width: 50px;
          transition: background-size 250ms cubic-bezier(0.17, 0.84, 0.44, 1) 0ms;
          -webkit-transition: background-size 250ms cubic-bezier(0.17, 0.84, 0.44, 1) 0ms;
        }

        .printed-anim::before{
          content: " ";
          display: inline-block;
          height: 20px;
          width: 26px;
          background: url("/images/ic_typing.svg") no-repeat left center;
          opacity: 0;
          transition: opacity 250ms cubic-bezier(0.17, 0.84, 0.44, 1)  0ms;
          -webkit-transition: opacity 250ms cubic-bezier(0.17, 0.84, 0.44, 1)  0ms;
        }

        .printed-anim.show{
          background-size: 20px 20px;
        }

        .printed-anim.show::before{
          opacity: 1;
        }

      }
    }

  }

  div.video-background{
    z-index: 1;
    left:0;
    width: 100%;
    max-width: none;
    overflow: hidden;

    background: url("/images/header_bg_video.jpg") center center no-repeat;
    background-size: 1920px auto;

    > * {
      position: absolute;
      width: 100%;
      top: 0;
    }

    .overlay{
      background:url("/images/pattern2x2.png") left top repeat;

      left: 0;
      z-index: 2;
      height: 100%;
    }

    video{
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      height: auto;
      min-width: 1920px;
    }
  }

}

@media (max-width: 980px)  {
  section.intro {
    > div:first-child {
      .slogan {
        max-width: 380px;
      }

    }
  }
}

@media (max-width: 850px)  {
  section.intro {
    > div:first-child {
      .messenger {
        .tabs{
  //        right: 17px;
  //        text-align: right;
          right: 25px;
        }
      }
    }
  }
}

@media (max-width: 720px)  {
  section.intro {

    height: 900px;

    > div:first-child {


      .messenger{
        position: absolute;
        width: 100%;
        max-width: 450px;
        right: auto;
        left: 50%;
        bottom: auto;
        top:364px;
        height: 536px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);

        .box{
          top: -20px;
          height: 446px;
          padding: 0px 16px 0;

          .page{
            overflow: visible;
            position: absolute;
            width: auto;
            left: 16px;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            padding-top: 16px;

            > div{
              max-width: 80%!important;
              transform: translateY(-16px);
              -webkit-transform: translateY(-16px);
              opacity: 0;
              transition: opacity 250ms cubic-bezier(0.17, 0.84, 0.44, 1)  0ms, transform 250ms cubic-bezier(0.17, 0.84, 0.44, 1)  0ms;
              -webkit-transition: opacity 250ms cubic-bezier(0.17, 0.84, 0.44, 1)  0ms,  -webkit-transform 250ms cubic-bezier(0.17, 0.84, 0.44, 1)  0ms;
            }

            div.show{
              transform: translateY(0px);
              -webkit-transform: translateY(0px);
              opacity: 1;
            }
          }
        }

        ul.tabs{
          right: auto;
          bottom: 38px;
          margin: 0;

          li{
            font-size: 10px;
            padding-top: 43px;
            height: 70px;
          }

          li::before{
            width: 40px;
            height: 40px;
            background-size: 25px auto;
          }
        }
      }

      .slogan{
        text-align: center;
        font-size: 24px;
        line-height: 36px;
        width: 280px;
        padding:104px 16px 0;
        margin: 0 auto 48px;
      }

      .button{
        margin: 0 auto;
        top:260px;
        width: 288px;
      }
    }

    div.video-background{
      background-size: auto 100%;
      background-position: center center;

      video{
        width: auto;
        height: 100%;
        max-width: none;
      }
    }
  }
}


@media (max-width: 600px)  {
  section.intro {
    > div:first-child {
      .messenger {
 //       display: none;
      }
    }
  }
}


/*
@media (max-width: 1264px)  {

  section.intro{
    div.video-background{
      background-size: auto 100%;
      background-position: center center;

      video{
        width: auto;
        height: 100%;
      }
    }
  }
}
*/