section.more-features{

  border-top: 1px solid #dcdcdc;

  h2{
    margin-bottom: 71px;
  }

  ul{
    text-align: center;
    margin: 0;
    padding: 0;

    li{
      display: inline-block;
      vertical-align: top;
      margin:0 30px 42px;
      padding-top: 117px;
      width: 29%;
      max-width: 260px;
      min-height: 240px;
      background-position: center top;
      background-repeat: no-repeat;

      h3{
        font-size: 28px;
        line-height: 40px;
        color: #181818;
        font-weight: 300;
        margin:0 0 12px 0;
        white-space: nowrap;
      }

      > p{
        display: inline-block;
        font-size: 16px;
        line-height: 24px;
        color: #9b9b9b;
        width: 100%;
        margin: 0;
      }

      .messengers{

        margin: 30px 0 0;

        p{
          margin: 0;
        }

        p:first-child{
          margin: 0 0 64px;
          span{
            display: inline-block;
            position:relative;
            padding: 0 0;
            border-radius: 3px;
            background-color: rgba(0, 0, 0, 0.03);
            border: solid 1px #e0e2e6;
            margin: 0 4px;
            width: 104px;
            height: 32px;
            text-align: center;

            img{
              height: 20px;
              padding-top: 5.5px;
            }
          }

          span::after{
            content: "*";
            position: absolute;
            top:2px;
            right: 2px;
            color: #000000;
            font-size: 12px;
            line-height: 14px;
          }

          span.bordered{
            background-color: transparent;
          }

          span.bordered::after{
            content: "";
          }
        }

        p:last-child{
          font-size: 12px;
          line-height: 18px;
          color: rgba(0,0,0,0.5);
          padding: 0 0 16px;
        }

      }
    }

    li:nth-child(1){
      background-image: url("/images/ic_analytics.svg");
      margin-left: 0;
    }

    li:nth-child(2){
      background-image: url("/images/promotion.svg");
    }

    li:nth-child(3){
      background-image: url("/images/ic_guided_chats.svg");
      margin-right: 0;
    }

    li:nth-child(4){
      background-image: url("/images/ic_crspltfrm.svg");
      width: 700px;
      margin: 0;
      max-width: inherit;

      > p{
        width: 260px;
      }
    }
  }
}

@media (max-width: 960px)  {
  section.more-features{
    ul{
      li{
        margin:0 2% 42px;
      }
    }
  }
}

@media (max-width: 720px)  {
  section.more-features{

    h2{
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 48px;
      padding-top: 56px;
    }

    ul{
      li,li:first-child,li:last-child{
        display: block;
        width: auto!important;
        max-width: inherit;
        min-height: inherit;

        background-size: 48px 48px;
        background-position: left top;

        padding: 8.8px 0 32px 63.7px;
        margin: 0 16px;

        text-align: left;

        h3{
          font-size: 20px;
          line-height: 28px;
          color:rgba(0,0,0,0.5);
        }

        p{
          width: auto!important;
          font-size: 14px;
          line-height: 22px;
          color: #000000;
        }

        .messengers{
          margin: 25px -16px -12px -79.7px;
          text-align: center;

          p:first-child{
            margin-bottom: 20px;

            span{
              margin-bottom: 12px;
            }
          }

          p:last-child{
            padding-bottom: 0px;
          }
        }
      }

      li:last-child{
        padding-bottom: 16px;
      }
    }
  }
}