section.page404{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url("/images/pattern2x2space.png"), url("/images/space_bg.jpg");
  background-position: left top, center center;
  background-repeat: repeat, no-repeat;
  background-size: auto auto, cover;

  > div{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
    margin-top:-80px;
    min-width: inherit!important;;
    max-width: inherit!important;;
    min-height: inherit!important;;
    max-height: inherit!important;

    h1{
      font-size: 40px;
      line-height: 1.4;
      color: #ffffff;
      font-weight: 300;
      margin: 0;
      padding: 0 0 16px;
    }

    p{
      font-size: 16px;
      line-height: 1.5;
      color:rgba(255,255,255,0.5);
      margin: 0;
      padding: 0 0 48px;
    }

    .button{
      display: inline-block;
    }
  }
}