section.partners{

  display: none;

  height: 201px;

  div {
    padding: 48px 16px 0;
    text-align: center;

    h2 {
      font-size: 16px;
      line-height: 1.5;
      color: #9b9b9b;
      margin: 0 0 33px;
      padding: 0;
    }

    ul {
      max-width: 540px;
      display: inline-block;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        margin: 0 24px;

        a{
          img{
            height: 48px;
          }
        }
      }

      li:first-child {
        margin-left: 0;
      }

      li:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 720px)  {
  section.partners{

    height: 116px;

    div {
      padding: 24px 0 0;

      h2 {
        font-size: 14px;
        line-height: 1.7;
        margin: 0 0 12px;
      }

      ul {
        li {
          margin: 0 6px;

          a{
            img{
              height: 28px;
            }
          }
        }

      }
    }
  }
}