section.post{
  padding-top: 64px;
  overflow: hidden;

  > div{
    position: static;

    .post-item{

      padding: 0 0;

      .image {


        div {



          img {
            display: block;
            width: 100%;
          }
        }
      }

      h2,h1 {
        font-weight: 300;
        font-size: 40px;
        line-height: 1.4;
        color: #000000;
        padding: 64px 20px 0;
        margin: 0 auto 20px;
        text-align: center;
        max-width: 680px;
      }

      p{
        font-size: 16px;
        line-height: 1.5;
        color: #000000;
        margin: 0 0 24px;
      }


      p.info{
        font-size: 12px;
        line-height: 1.5;
        color: rgba(0,0,0,0.5);
        text-align: center;
        white-space: nowrap;
        margin: 0 0 48px;
      }

      p.steaker{
        background-color: #f3f2f2;
        text-align: center;
        padding: 56px 64px;
        font-size: 20px;
        line-height: 1.6;
      }

      a{
        text-decoration: none;
        color: #4c91e2;
      }

      a:hover{
        text-decoration: underline;
      }

      .video-box{
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow:hidden;
        padding-top: 8px;
        margin-bottom: 32px;

        iframe,
        object,
        embed {
          position: absolute;
          top: 8px;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }


      .button-box{
        padding-top: 24px;

        .button{
        }
      }


      .tags{
        text-align: center;
        padding: 40px 20px 52px;

        > *{
          display: inline-block;
          text-align: center;
          height: 32px;
          line-height: 32px;
          border-radius: 4px;
          background-color: #f3f2f2;
          font-size: 14px;
          padding: 0 12px;
          white-space: nowrap;
          margin: 0 6px 12px;
          color: rgba(0,0,0,0.5);
          text-decoration: none;
        }

        label{
          background-color: transparent;
          text-transform: uppercase;
          margin: 0;
        }
      }

      [id^="more-"]{
        display: block;
        margin-top: -50px;
        padding-bottom: 50px;
      }

    }


  }
}


@media (max-width: 1036px){
  section.post{

    > div{

      .post-item{
        h2,h1{
          margin: 0 20px 20px;
          font-size: 30px;
        }

        > h3,> h4, > div{
          margin: 0 20px 20px;
        }

        > p{
          margin: 0 20px 24px;
        }

        > div.image {
          margin: 0;
        }
      }

    }
  }
}



@media (max-width: 720px){
  section.post{
    padding-top: 46px;

    > div{

      .post-item{
        h2 {
          font-weight: 300;
          font-size: 30px;
          line-height: 1.4;
          color: #000000;
          padding: 34px 0 0;
        }

        .tags{
 //         padding: 20px 20px 40px;
        }
      }

      .post-item::after{
        margin: 50px auto 0;
      }

      .button-box{
        padding-top: 24px;

        .button{
          margin: 0 auto;
        }
      }

    }
  }
}
