section.postlist{
  padding-top: 64px;
  overflow: hidden;

  > div{
    position: static;

    .post-item{

      padding: 0 0 36px;

      .image {


        div {

          img {
            display: block;
            max-height: 520px;
            max-width: 100%;
            margin: 0 auto;
          }
        }
      }

      h2,h1 {
        font-weight: 300;
        font-size: 40px;
        line-height: 1.4;
        color: #000000;
        padding: 64px 0 0;
        margin: 0 0 20px;
      }

      h2 > a{
        color: #000000;
        text-decoration: none;
      }

      p{
        font-size: 16px;
        line-height: 1.5;
        color: #000000;
        margin: 0 0 24px;
      }


      p.info{
        font-size: 12px;
        line-height: 1.5;
        color: rgba(0,0,0,0.5);
        text-align: center;
        white-space: nowrap;
        margin: 0 0 48px;
      }

      p.sticker{
        background-color: #f3f2f2;
        text-align: center;
        padding: 56px 64px;
        font-size: 20px;
        line-height: 1.6;
      }

      a{
        text-decoration: none;
        color: #4c91e2;
      }

      a:hover{
        text-decoration: underline;
      }

      .video-box{
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow:hidden;
        padding-top: 8px;
        margin-bottom: 32px;

        iframe,
        object,
        embed {
          position: absolute;
          top: 8px;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }


      .button-box{
        padding: 24px 0 0px;

        .button{
          margin: 0 auto;
        }
      }


    }

    .post-item::after{
      content: " ";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #dcdcdc;
      margin: 100px auto 0;
    }

    .post-item:last-child::after{
      display: none;
    }


    .pagination{
      text-align: center;
      white-space: nowrap;
      padding: 124px 0 100px;

      a,span{
        display: inline-block;
        vertical-align: top;
        margin: 0 2px;
        padding: 0 10px;
        height: 40px;
        line-height: 38px;
        border-radius: 4px;
        border: solid 1px #dcdcdc;
        text-decoration: none;
        font-size: 20px;
        background-color: #f3f2f2;
        color: #000000;
        transition: background-color 60ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);
        -webkit-transition: background-color 60ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);
      }

      span, a:hover{
        background-color: #ffffff;
        border: solid 1px #dcdcdc;
      }
    }

  }
}


@media (max-width: 1036px){
  section.postlist{

    > div{

      .post-item{
        > h2, > h3,> h4, > div{
          margin: 0 20px 20px;
        }



        > p{
                   margin: 0 20px 24px;
        }

        > div.image {
          margin: 0;
        }
      }

    }
  }
}



@media (max-width: 720px){
  section.postlist{
    padding-top: 46px;

    > div{

      .post-item{
        h2 {
          font-weight: 300;
          font-size: 30px;
          line-height: 1.4;
          color: #000000;
          padding: 34px 0 0;
        }
      }

      .post-item::after{
        margin: 50px auto 0;
      }

      .pagination{
        padding: 24px 0 108px;
      }

    }
  }
}