section.powering-a-new-kind{

  padding-bottom: 96px;

  overflow: hidden;

  h2{
    margin-bottom: 72px;
  }

  ul{

    position: relative;
    width: 84.3%;
    margin: 0 auto;
    padding: 0;
    min-width: 660px;

    li{
      display: block;
      width: 665px;
      height: 188px;
      background-repeat: no-repeat;
      line-height: 188px;
      margin: 0 0 33px 0;

      > div{
        display: inline-block;
        vertical-align: middle;
      }


      h3{
        font-size: 28px;
        line-height: 44px;
        color: #000000;
        font-weight: 300;
        margin: 0 0 16px 0;
        padding: 0;
      }

      p{
        font-size: 16px;
        line-height: 24px;
        color: #9b9b9b;
        margin: 0;
        padding: 0 0 10px 0;
      }

    }

    li:nth-child(odd){
      float:right;
      padding-right: 252px;
      background-position: right center;
      h3,p{
        text-align: right;
      }
    }

    li:nth-child(even){
      float:left;
      padding-left: 252px;
      background-position: left center;
      h3,p{
        text-align: left;
      }
    }

    li:nth-child(1){
      background-image: url("/images/ic_free.svg");
    }

    li:nth-child(2){
      background-image: url("/images/ic_engage.svg");
    }

    li:nth-child(3){
      margin: 0;
      background-image: url("/images/ic_connect.svg");
    }
  }
}

section.powering-a-new-kind::after{
  content: " ";
  clear: both;
  display: block;
}

@media (max-width: 720px){
  section.powering-a-new-kind{
    padding-bottom: 56px;

    h2{
      font-size: 24px;
      line-height: 32px;
      padding: 56px 16px 0;
      margin-bottom: 48px;
    }

    ul{
      width: auto;
      min-width: inherit;

      li{
        width: auto;
        height: auto;
        float: none!important;
        line-height: normal;
        padding: 176px 16px 0!important;
        text-align: center!important;
        margin:0 0 38.8px;
        background-position: center top!important;
        background-size: 160px auto;

        h3{
          font-size: 20px;
          line-height: 28px;
          margin:0 0 12px;
          text-align: center!important;
        }

        p{
          max-width: 500px;
          font-size: 14px;
          line-height: 22px;
          text-align: center!important;
        }
      }

      li:last-child{
        margin: 0;
      }
    }
  }
}