section.preferences{
  > div{

    padding: 48px 16px 120px;

    h2{
      font-weight: 300;
      font-size: 32px;
      line-height: 1.4;
      color: #000000;
      padding: 0;
      margin: 0 0 8px;
      text-align: left;
    }

    p{
      font-size: 16px;
      line-height: 1.5;
      color: #9b9b9b;
      margin: 0 0 20px;
    }

    form{
      border-radius: 18px;
      background-color: #f3f2f2;
      padding: 32px;
      margin: 0 0 72px;

      select, input{
        display: block;
        width: 360px;
        height: 36px;
        line-height: 34px;
        border-radius: 3px;
        background-color: #ffffff;
        border: solid 1px #d9d9d9;
        padding: 0 12px;

        font-size: 16px;
        color: #000000;
        margin: 0 0 24px;
      }

      input{
        width: 100%;
      }

      label{
        font-size: 16px;
        line-height: 1.5;
        color: #9b9b9b;
        input{
          margin: 12px 0 24px;
        }
      }
    }

    > .button{
      margin: 32px 0 0;
    }
  }
}
