@media (max-width: 1024px) {
  section.promotion{
    padding-left: 72px !important;
  }
}
.promotion{
  background-color: #f3f2f2;
 // padding: 32px 0;
  padding-left: 160px;

  &.no-publish{
    background-color: #ffffff;

    > div{

      position: static;
      padding: 0;

      > div{
        position: absolute;
        top: 50%;
        left: 55%;
        transform: translate(-50%, -50%);
        width: 456px;
        text-align: center;

        > div:nth-child(1){
          font-weight: 300;
          font-size: 40px;
          line-height: 1.4;
          color: #000000;
          margin:0 0 24px;
        }
        > div:nth-child(2){
          font-size: 16px;
          line-height: 1.5;
          color: #807e7e;
          margin:0 0 48px;
        }

        .button{
          font-weight: 300;
          width: 274px;
          height: 48px;
          line-height: 48px;
          font-size: 20px;
          margin: 0 auto;
        }
      }
    }

  }

  > div {
    width: 1088px;
    padding: 32px 32px;

    &.promotion-preloader{
      max-width: none;
    }

    .border-box{
      width: 100%;
      border-radius: 7px;
      background-color: #ffffff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
      border: solid 1px rgba(0, 0, 0, 0.05);
      padding: 20px 24px;
      margin: 0 0 32px;
      font-size: 0;
      box-sizing: border-box;

      h2{
        font-size: 24px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        color: #000000;
        margin-right: 24px;
        display: inline-block;
        padding: 0;
      }

      p{
        font-size: 16px;
        font-weight: 400;
        line-height: 1.75;
        color: #767676;
        padding: 0;
        margin: 16px 0 24px;
        white-space: normal;

        &.small{
          font-size: 14px;
          font-weight: 400;
          line-height: 1.71;
          color: #767676;
          margin: 0;
          padding: 0;
        }

        &:last-child{
          margin: 0;
        }
        &.bordered {
          &:after {
            content: '';
            display: block;
            position: relative;
            border-top: 1px solid #e0e0e0;
            width: 1024px;
            left: -25px;
            top: 24px;
          }
        }
      }

      input[type='text']{
        width: 597px;
        height: 36px;
        font-size: 16px;
        border-radius: 7px;
        padding: 6px 16px;
        background-color: #fafafa;
        box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.07);
        border: solid 1px rgba(0, 0, 0, 0.09);
        vertical-align: bottom;
        box-sizing: border-box;
        margin-right: 16px;
      }

      &.direct-link{
        label{
          display: block;
          position: relative;
          padding: 0 0 0 319px;

          span{
            position: absolute;
            left: 0;
            top: 0;
            line-height: 34px;
          }
          input{
            width: 100%;
          }
        }
      }

      &.cover-templates{

        ul{
          padding: 0;
          margin: 0 0 24px;
          display: flex;
          display: -webkit-flex;
          justify-content: space-between;
          position: relative;

          li{
            margin: 0;
            display: inline-block;
            vertical-align: top;
            width: 476px;

            img{
              display: block;
              width: 100%;
              margin: 0 0 13px;
              padding: 0;
            }

            .button{
              width: 130px;
              height: 36px;
              font-weight: 400;

              background-color: #fff;
              border-radius: 7px;
              border-style: solid;
              border-width: 1px;
              box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);
              border: solid 1px rgba(0, 0, 0, 0.13);
              color: #000000;
              cursor: pointer;
              font-size: 14px;
              line-height: 34px;
              transition: box-shadow 80ms cubic-bezier(0.2, 0.7, 0.5, 1) 0s, border-top-color 80ms ease 0s, border-right-color 80ms ease 0s, border-bottom-color 80ms ease 0s, border-left-color 80ms ease 0s;



              &:hover {
                box-shadow: 0 4px 10px -2px rgba(0, 0, 0, .13);
                border-top-color: rgba(0, 0, 0, .13);
                border-left-color: rgba(0, 0, 0, .13);
                border-right-color: rgba(0, 0, 0, .13);
                border-bottom-color: rgba(0, 0, 0, .17);
              }

              &:active{
                box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .2);
                border-top-color: rgba(0, 0, 0, .13);
                border-left-color: rgba(0, 0, 0, .13);
                border-right-color: rgba(0, 0, 0, .13);
                border-bottom-color: rgba(0, 0, 0, .2);
                transition: box-shadow 20ms ease, border-color 20ms ease;
              }
            }
          }
        }
      }

      &.generator{
        margin: 0;
        ul {
          padding: 0;
          margin: 48px 0 0;
          white-space: nowrap;
          display: flex;
          display: -webkit-flex;
          justify-content: space-between;
          position: relative;

          li {
            margin: 0;
            padding: 0;
            display: inline-block;
            width: 48%;
            vertical-align: top;
            &:first-child {
              &:after {
                content: '';
                display: block;
                position: absolute;
                border-right: 1px solid #e0e0e0;
                height: 388px;
                bottom: -24px;
                left: 484px;
              }
            }
            h3{
              font-size: 16px;
              font-weight: 600;
              line-height: 1.75;
              color: #000000;
              text-align: left;
              margin: 0 0 16px;
            }

            input[type='text']{
              display: block;
              width: 100%;
            }

            p{
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.71;
              color: #767676;
              margin: 0 0 24px;
              padding: 0;
              &:last-child{
                margin: 0;
              }
              &:nth-child(2){
                margin: 0 0 18px;
              }
              span {
                display: block;
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.75;
                color: #767676;
                margin-bottom: 12px;
              }
              input[type='text'] {
                width: 344px;
                color: #000;
                margin-right: 16px;
                display: inline-block;
              }
            }

            label{
              img{
                margin: 0 24px 0 8px;
                vertical-align: middle;
              }

              input{
                vertical-align: middle;
              }
            }
          }

        }
      }
      .button-ver2.white.b-copy {
        border-radius: 7px;
        padding: 0 24px 0 18px !important;
        line-height: 34px !important;
        font-size: 14px!important;
        color: #000000 !important;
        display: inline-block;
        margin: 0;
        &:before {
          background: url('../../images/ic_clipboard_small.svg') center center no-repeat;
          content: '';
          width: 16px;
          height: 16px;
          display: inline-block;
          vertical-align: middle;
          opacity: 0.3;
          margin-right: 8px;
        }
        &:hover {
          &:before {
            opacity: 1;
          }
        }
      }
      .tooltip-copied {
        animation: tooltip 1240ms cubic-bezier(0.2,0.7,0.5,1);
        -webkit-animation: tooltip 1240ms cubic-bezier(0.2,0.7,0.5,1);
        opacity: 0;
        padding: 0;
        .tooltip-inner {
          background-color: #45c195;
          min-width: 108px;
          height: 20px;
          font-size: 10px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          color: #ffffff;
          border-radius: 2px;
          line-height: 16px;
        }
        .tooltip-arrow {
          border-top-color: #45c195;
          bottom: -5px;
        }
      }
      @keyframes tooltip {
        0% { opacity: 0; }
        10% { opacity: 1; margin: -8px 0}
        90% { opacity: 1; margin: -8px 0}
        100% { opacity: 0; margin: -16px 0}
      }
      @-webkit-keyframes tooltip {
        0% { opacity: 0; }
        10% { opacity: 1; margin: -8px 0}
        90% { opacity: 1; margin: -8px 0}
        100% { opacity: 0; margin: -16px 0}
      }
    }
  }
}
