@media (max-width: 1024px) {
  section.settings{
    padding-left: 72px !important;
  }
}
section.settings {
  background-color: #f3f2f2;
  padding-left: 160px;
  min-height: 100%;
  display: table;

  > div:first-child{

    padding: 32px;
    width: 1088px;

    .border-box{
      width: 1024px;
      min-height: 181px;
      margin: 0 auto 32px;
      padding: 24px;
      position: relative;

      border-radius: 7px;
      background-color: #ffffff;
      border: 1px solid rgba(0,0,0,0.1);
      border-bottom-color: rgba(0,0,0,0.13);
      box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.07);
      &.connect-to-page.height-149 {
        min-height: 149px;
        .state.state-pages-list, .state.state-other-user-connected {
          min-height: 149px;
        }
      }

      h2 {
        font-size: 24px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        color: #000000;
        padding: 0;
        margin: -4px 0 26px 0;
        text-align: left;
        display: inline-block;
      }

      h3{
        font-weight: bold;
        font-size: 16px;
        line-height: 1.5;
        color: #000000;
        text-align: left;
        margin: 0 0 12px;
      }

      p{
        font-size: 16px;
        font-weight: 400;
        line-height: 1.75;
        color: #767676;
        margin: 0 0 24px;
      }


      &.connect-to-page{
        padding: 24px;
        overflow: hidden;
        position: relative;

        &::before{
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: url('../../images/spinner_b.svg') center center no-repeat #FFFFFF;
          background-size: 32px 32px;
          width: 32px;
          height: 32px;
        }

        &.no-paddings{
          padding: 0;
        }

        &.no-spiner{
          &::before{
            display: none;
          }
        }

        p{
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.75;
          margin: 0 0 16px;
          color: #666666;
        }
        .button-box {
          font-size: 0;
          .db-link {
            padding: 0;
            margin-left: 32px;
          }
        }

        .button{
          display: inline-block;
          height: 36px;
          width: auto;
          line-height: 36px;
          border-radius: 7px;
          padding: 0 24px;
          font-size: 14px;
          text-transform: uppercase;
        }

        .state{
          min-height: 181px;
          display: none;
          overflow: hidden;
          position: relative;
          background-color: #ffffff;

          &.act{
            display: block;
          }
          .steps-container{
            margin-bottom: 24px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            .step {
              display: inline-block;
              font-size: 0;
              .step-logo {
                width: 20px;
                height: 20px;
                border: solid 1px #a6a6a6;
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.3;
                text-align: center;
                color: #767676;
                display: inline-block;
                border-radius: 50%;
                margin-right: 8px;
              }
              .step-text {
                display: inline-block;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.67;
                color: #767676;
              }
              .step-divider {
                width: 24px;
                height: 1px;
                background-color: #e0e0e0;
                display: inline-block;
                margin: 0 8px;
                position: relative;
                top: -5px;
              }
              &.active {
                .step-logo {
                  border: none;
                  background-color: #45c195;
                  color: #ffffff;
                  line-height: 1.4;
                }
                .step-text {
                  color: #000000;
                }
              }
              &.completed {
                .step-logo {
                  border: solid 1px #45c195;
                  background: url('../../images/ic_ok_small.svg') no-repeat center center;
                  color: transparent;
                }
              }
            }
          }
          .state-wrapper {
            .state-img {
              display: inline-block;
              background: url('../../images/pics/pic_settings_prmssns.png') no-repeat left top #ffffff;
              background-size: cover;
              width: 200px;
              height: 188px;
              margin-right: 24px;
              vertical-align: top;
            }
            .state-content {
              display: inline-block;
              .schem {
                height: 40px;
                border-radius: 7px;
                background-color: #f3f2f2;
                padding: 0 16px;
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 40px;
                color: #666666;
                margin-bottom: 12px;
                display: inline-block;
                .schem-point {
                  display: inline-block;
                  .schem-logo {
                    width: 24px;
                    height: 24px;
                    display: inline-block;
                    margin: -2px 4px 0 4px;
                    vertical-align: middle;
                  }
                  &.chatbot {
                    .schem-logo {
                      background: url('../../images/group-2.svg') no-repeat center center;
                    }
                  }
                  &.facebook {
                    .schem-logo {
                      background: url('../../images/ic-facebook-blue.svg') no-repeat center center;
                    }
                  }
                  .aditional {
                    margin: 0px 0 0px 9px;
                  }
                }
              }
              p {
                width: 740px;
                .dark {
                  color: #000000;
                }
                .underline {
                  text-decoration: underline;
                }
                a {
                  text-decoration: none;
                  color: #448af1;
                }
              }
            }
          }

          &.state-default, &.state-pages-list-void{
            .db-link {
              float: right;
              padding: 0
            }
          }

          &.state-pages-list-void{
            .state-img {
              background: url('../../images/pics/pic_settings_pageadd.png') no-repeat left top #ffffff;
              background-size: cover;
            }
            p.full-black{
              color: #000000;
              &.top-text {
                margin-bottom: 12px;
              }
            }

            .button.refresh{
              box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
              margin: 0 0 0 12px;

              &::before{
                content: ' ';
                display: inline-block;
                width: 24px;
                height: 24px;
                margin: 0 6px 0 0;
                background: url(../../images/ic_refresh.svg) no-repeat center center;
                vertical-align: -7px;
                background-size: 20px auto;
                opacity: 0.3;
              }

              &:hover{
                &::before{
                  opacity: 1;
                }
              }
            }
          }



          &.state-pages-list,
          &.state-other-user-connected,
          &.state-app-connected{
            padding: 0;

            .r-col{
              position: absolute;
              right: 0;
              top: 0;
              height: 100%;
              width: 300px;
              border-left: 2px solid #dfdddd;

              .button-box{
                position: absolute;
                top: 50%;
                transform: translateY(-44px);
                -webkit-transform: translateY(-44px);
                width: 100%;

                .button{
                  display: block;
                  margin: 0 auto 16px;
                  width: 208px;
                  padding: 0;
                }
              }
            }
          }

          &.state-pages-list{
            .icon-connected {
              background: url('../../images/ic_ok.svg') no-repeat center center;
              display: inline-block;
              width: 24px;
              height: 24px;
              position: relative;
              background-size: 24px;
            }
            .icon-connecting {
              background: url('../../images/spinner_b.svg') no-repeat center center;
              display: inline-block;
              width: 24px;
              height: 24px;
              position: relative;
              background-size: 24px;
            }
            .pages-list-header {
              padding: 20px 24px;
              height: 76px;
              .publish-header {
                margin: 0;
                display: inline-block;
                position: absolute;
              }
              .publish-header.ng-enter, .publish-header.ng-leave, .publish-header.ng-hide-add, .publish-header.ng-hide-remove,
              .publish-header-connecting.ng-enter, .publish-header-connecting.ng-leave,
              .buttons-header.ng-enter,.buttons-header.ng-leave,.buttons-header.ng-hide-add,.buttons-header.ng-hide-remove
              {
                transition: opacity 80ms cubic-bezier(0.1,0.5,0.5,1);
              }

              .publish-header.ng-enter,
              .publish-header.ng-leave.ng-leave-active, .publish-header.ng-hide,
              .publish-header-connecting.ng-enter,
              .publish-header-connecting.ng-leave.ng-leave-active,
              .buttons-header.ng-enter,.buttons-header.ng-leave.ng-leave-active,.buttons-header.ng-hide {
                opacity:0;
              }

              .publish-header.ng-leave,
              .publish-header.ng-enter.ng-enter-active,
              .publish-header-connecting.ng-leave,
              .publish-header-connecting.ng-enter.ng-enter-active,
              .buttons-header.ng-leave,.buttons-header.ng-enter.ng-enter-active {
                opacity:1;
              }

              .icon-connecting.ng-enter,
              .icon-connecting.ng-leave.ng-leave-active {
                width: 0;
                opacity: 0;
                transition: width 400ms cubic-bezier(0.1,0.5,0.5,1), opacity 80ms cubic-bezier(0.1,0.5,0.5,1);
              }
              .icon-connecting.ng-leave,
              .icon-connecting.ng-enter.ng-enter-active {
                width: 24px;
                opacity: 1;
              }
              .icon-connected.ng-enter, .icon-connected.ng-leave {
                transition: transform 200ms cubic-bezier(0.1,0.5,0.5,1), opacity 80ms cubic-bezier(0.1,0.5,0.5,1);
              }
              .icon-connected.ng-enter,
              .icon-connected.ng-leave.ng-leave-active {
                transform: scale(0);
                opacity: 0;
              }
              .icon-connected.ng-leave,
              .icon-connected.ng-enter.ng-enter-active {
                transform: scale(1);
                opacity: 1;
              }

              .publish-header-connected {
                margin: 0;
              }
              .buttons-header {
                font-size: 0;
                display: inline-block;
                // float: right;
                position: absolute;
                right: 24px;
                .db-link {
                  padding: 0;
                  margin-left: 24px;
                }
                .white-rounded {
                  margin-left: 16px;
                }
              }
            }
            .fb-pages-header {
              font-size: 13px;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.85;
              color: #767676;
              margin: 0 24px 8px 24px;
            }
            .pages-list{
              padding: 0;
              overflow: auto;
              max-height: 400px;

              .page-item{
                border-top: 1px solid #f3f2f2;
                color: #000000;
                position: relative;
                height: 72px;
                padding: 0;
                font-size: 16px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                opacity: 1;

                .status-block {
                  display: inline-block;
                  font-size: 12px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 2;
                  color: #45c195;
                  text-transform: uppercase;
                  float: right;
                  margin: 24px 0;
                  .icon-connected, .icon-connecting {
                    vertical-align: bottom;
                    margin-right: 6px;
                  }
                  &.connecting {
                    margin-right: 24px;
                  }
                }
                .button.white {
                  float: right;
                  margin: 18px 24px;
                }

                .connected-to {
                  display: none;
                }
                .page-item-container {
                  cursor: pointer;
                  line-height: 72px;
                }
                .page-item-container:hover {
                  .page-item-text, .page-item-image{
                    color: #448af1;
                    opacity: 1;
                  }
                }
                &.disabled{
                  color: black;
                  .page-item-text, .page-item-image {
                    opacity: 0.6;
                  }
                  .button {
                    display: none;
                  }
                  .connected-to {
                    display: inline-block;
                    float: right;
                    margin-right: 24px;
                    line-height: 72px;
                    .connected-to-text {
                      opacity: 0.6;
                      &.red-text {
                        color: #e9604a;
                        opacity: 1;
                      }
                    }
                    .connected-to-bot {
                      opacity: 1;
                      cursor: pointer;
                      > a{
                        font-size: 16px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.75;
                        color: #448af1;
                        text-decoration: none;
                        &:before {
                          content: '';
                          background: url('../../images/ic_chatbot.svg') no-repeat center center;
                          width: 24px;
                          height: 24px;
                          display: inline-block;
                          position: relative;
                          vertical-align: text-bottom;
                          margin: 0 8px 0 16px;
                        }
                      }
                    }
                  }
                }

              }
              .page-item.ng-move,
              .page-item.ng-enter,
              .page-item.ng-leave {
                transition:height 0.3s cubic-bezier(0.1,0.5,0.5,1), opacity 80ms cubic-bezier(0.1,0.5,0.5,1);
              }

              .page-item.ng-leave.ng-leave-active,
              .page-item.ng-move,
              .page-item.ng-enter {
                opacity: 0;
                height: 0;
              }

              .page-item.ng-leave,
              .page-item.ng-move.ng-move-active,
              .page-item.ng-enter.ng-enter-active {
                opacity: 1;
                height: 72px;
              }
              .page-item-image {
                background-size: 40px 40px;
                background-position: 0 center;
                background-repeat: no-repeat;
                position: relative;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                vertical-align: middle;
                display: inline-block;
                margin: -3px 16px 0 24px;
              }

              .add{
                a{
                  position: relative;
                  display: inline-block;
                  color: #448af1;
                  text-decoration: none;

                  &::before{
                    position: absolute;
                    content: ' ';
                    width: 16px;
                    height: 16px;
                    left: -24px;
                    top: 50%;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    background: url('../../images/ic_add_small.svg') center center no-repeat;
                    background-size: 16px auto;
                    opacity: 0.3;
                  }

                  &:hover{
                    &::before{
                      opacity: 1;
                    }
                  }
                }
              }
            }
            .pages-list.test-test {
              max-height: 72px;
            }
            .pages-list.test-test-test {
              max-height: 400px;
            }
            .steps-container {
              margin: 6px 24px 24px;
            }
          }


          &.state-app-connected{
            .app-header {
              padding: 20px 24px;
              margin: 0;
              border-bottom: 1px solid #e6e6e6;
              display: block;
            }
            .app-connected-container {
              padding: 24px;
              .col1, .col2, .col3 {
                display: inline-block;
              }
              .app-item-header {
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.75;
                color: #000000;
              }
              .app-item {
                display: block;
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.75;
                margin-top: 18px;
                text-transform: uppercase;
                a {
                  text-decoration: none;
                  color: #448af1;
                }
                &.status {
                  a {
                    font-size: 12px;
                    line-height: 2.33;
                  }
                }
                &.status.publish {
                  a {
                    color: #45c195;
                    pointer-events: none;
                    &:before {
                      background: url('../../images/ic_ok.svg') no-repeat center center;
                      width: 24px;
                      height: 17px;
                      content: '';
                      display: inline-block;
                      vertical-align: middle;
                      margin-right: 6px;
                    }
                  }
                }
              }
              .col1 {
                margin-right: 72px;
                .page-item-container {
                  cursor: pointer;
                  .page-item-image {
                    background-size: 40px 40px;
                    background-position: 0 center;
                    background-repeat: no-repeat;
                    position: relative;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    vertical-align: middle;
                    display: inline-block;
                    margin: -6px 0 0 0;
                    cursor: pointer;
                  }
                  .page-item-text {
                    padding-left: 16px;
                    color: #000000;
                  }
                  &:hover {
                    .page-item-text{
                      color: #448af1;
                    }
                  }
                }
              }
              .col2 {
                margin-right: 120px;
              }
              .button-box{
                float: right;
                margin-top: 44px;
              }
             }
          }


          &.state-other-user-connected{
            .user-header {
              padding: 20px 24px;
              margin: 0;
              border-bottom: 1px solid #e6e6e6;
              display: block;
            }
            .other-user-container {
              font-size: 0;
              height: 72px;
              .app-item {
                display: inline-block;
                font-size: 16px;
                margin-left: 24px;
                line-height: 72px;
                .page-item-container {
                  cursor: pointer;
                  .page-item-image {
                    background-size: 40px 40px;
                    background-position: 0 center;
                    background-repeat: no-repeat;
                    position: relative;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    vertical-align: middle;
                    display: inline-block;
                    cursor: pointer;
                    margin-top: -3px;
                  }
                  .page-item-text {
                    padding-left: 16px;
                    color: #000000;
                  }
                  &:hover {
                    .page-item-text{
                      color: #448af1;
                    }
                  }
                }
              }
              .user-connected-by {
                display: inline-block;
                float: right;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 2;
                color: #45c195;
                margin: 22px 0;
                .user-picture {
                  display: inline-block;
                  vertical-align: middle;
                  background: center center no-repeat;
                  background-size: cover;
                  width: 24px;
                  height: 24px;
                  margin: -3px 12px 0 15px;
                  border-radius: 50%;
                }
                .user-name {
                  font-size: 16px;
                  line-height: 1.75;
                  color: #000000;
                  margin-right: 32px;
                  text-transform: initial;
                }
                .icon-connected {
                  background: url('../../images/ic_ok.svg') no-repeat center center;
                  display: inline-block;
                  width: 24px;
                  height: 24px;
                  position: relative;
                  margin-right: 6px;
                  background-size: 24px;
                  vertical-align: bottom;
                }
              }
              .button-box {
                display: inline-block;
                float: right;
                margin-right: 24px;
                line-height: 72px;
                .button {
                  vertical-align: middle;
                }
              }
            }
          }


        }
      }




      &.timezone{
        width: 100%;
        min-height: inherit;
        min-width: unset;
        margin-bottom: 0;
        p {
          margin-bottom: 12px;
        }

        select{
          display: block;
          width: 100%;
          height: 36px;
          line-height: 34px;
          border-radius: 7px;
          border: solid 1px #d9d9d9;
          text-align: left;
          text-align-last: left;
          font-size: 16px;
          color: #000;
          padding: 0 12px;
          &.no-timezone {
            color: #a6a6a6;
          }

          option{
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            text-align: left;
            text-align-last: left;
            font-size: 16px;
            line-height: 1.5;
            color: #000000;
          }
        }
      }


      &.persistent-menu{
        width: 100%;
        min-width: unset;

        p{
          margin: 0 0 24px;
        }

        .button.add{
          display: block;
          width: auto;
          margin: 0 0 24px;
          color: #000000;
          border-style: solid;
          border-width: 1px;
          box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .13);
          border-top-color: rgba(0, 0, 0, .09);
          border-left-color: rgba(0, 0, 0, .09);
          border-right-color: rgba(0, 0, 0, .09);
          border-bottom-color: rgba(0, 0, 0, .13);
          transition: box-shadow 80ms ease, border-top-color 80ms ease, border-right-color 80ms ease, border-bottom-color 80ms ease, border-left-color 80ms ease, background-color 80ms ease;

          &:hover{
            box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .13);
            border-top-color: rgba(0, 0, 0, .13);
            border-left-color: rgba(0, 0, 0, .13);
            border-right-color: rgba(0, 0, 0, .13);
            border-bottom-color: rgba(0, 0, 0, .17);
          }

          &:active{
            box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .2);
            background-color: #FAFAFA;
            border-top-color: rgba(0, 0, 0, .13);
            border-left-color: rgba(0, 0, 0, .13);
            border-right-color: rgba(0, 0, 0, .13);
            border-bottom-color: rgba(0, 0, 0, .2);
            transition: box-shadow 20ms ease, border-color 20ms ease;
          }

          &.disabled{
            opacity: 0.5!important;
          }
        }

        .items-list{
          position: relative;
        }


        .sub{
          margin: 24px 0 0;
          font-size: 14px;
          color: #666666;
        }
      }


    }
  }

  > div:first-child{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    min-width: 972px;
    flex-wrap: wrap;

    > div{
      display: inline-block;
      vertical-align: top;

      &:first-child{
        width: 100%;
      }

      &.col{
        width: 496px;
      }


    }

    .timezone-box{
      position: relative;
      bottom: 0;
      width: 100%;
    }


    &.bottom-align-left{
      .persistent-menu{
 //       margin-bottom: 288px;
      }

      .col:nth-child(2){
        padding-bottom: 240px;
      }

      .timezone-box{
        left: 32px;
      }
    }

    &.bottom-align-right{
      .admins{
 //       margin-bottom: 288px;
      }

      .col:nth-child(3){
        // padding-bottom: 201px;
      }

      .timezone-box{
        // right: 32px;
      }
    }
  }


}
