@media (max-width: 1024px) {
  section.statistics-container {
    padding-left: 72px !important;
  }
}
section.statistics-container {
  padding-left: 160px;
  height: 100%;
}
  .statistics {
  z-index: 100;
  position: static;
  padding: 0 32px;
  margin: 0 auto;
  height: 100%;
  width: 1088px;
  &.promotion-preloader {
      &:after {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: transparent url('../../images/spinner_b.svg') no-repeat 50% 50%;
      background-size: 36px;
      content: '';
      z-index: 1000;
      transition: opacity 0.2s linear 0.5s;
      opacity: 1;
      max-width: none;
    }
  }
  .no-subscriptions {
    position: fixed;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 540px;
    text-align: center;
    > div:nth-child(1) {
      font-weight: 300;
      font-size: 40px;
      line-height: 1.4;
      color: #000000;
      margin: 0 0 24px;
    }
    > div:nth-child(2) {
      font-size: 16px;
      line-height: 1.5;
      color: #807e7e;
      margin: 0 0 48px;
    }
  }
  .back {
    background: url('../../../assets/images/pic_analytics_placeholder.png') no-repeat center center;
    background-size: contain;
    opacity: 0.15;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 1720px;
    min-width: 1120px;
  }
  .statistics-main {
    padding-bottom: 32px;
    .tooltip {
      width: 360px;
      padding: 0 10px;
      .tooltip-inner {
        background-color: #053748;
        height: auto;
        text-align: left;
        border-radius: 3px;
        padding: 12px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.29;
        ul{
          margin-bottom: 0;
          padding: 0 0 0 20px;
        }
      }

      .tooltip-arrow {
        right: 2px;
        margin-top: -9px;
        border-width: 9px 0 9px 8px;
        border-left-color: #053748;
      }
    }
    .panel {
      border-radius: 7px;
    //  height: 390px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
      position: relative;
      margin: 32px 0 0 0;
      padding: 24px;
      canvas{
        margin: 0 10px;
      }

      &__retention {
        height: 852px!important;
        width: 496px;
        .table-header {
          font-weight: 400;
        }
        .table-container {
          height: 740px;
          width: 456px;
          margin-left: -5px;
        }
      }
      .loading {
        margin: 44px auto 44px;
        width: 32px;
      }
      .section-header {
        padding: 0 0 24px 0;
        display: inline-block;
        font-size: 24px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        color: #000000;
        margin-top: -4px;
      }
      .section-header-table {
        padding: 0 0 16px 0;
      }
      .section-date {
        display: inline-block;
        margin-left: 24px;
        font-size: 16px;
        color: #a6a6a6;
      }
      &__table {
        padding-right: 0;
        height: 410px;
      }
      .noover {
        overflow-y: hidden;
      }
      .has-error{
        margin-top: 50px;
        text-align: center;
        font-size: 14px;
        >button{
          display: inline-block;
        }
      }
    }
    .column-graph {
      width: 1024px;
      font-size: 0;




      &__retention {
        display: inline-block;
        vertical-align: top;
        height: 884px;
        width: 496px;
        margin-right: 32px;
        .loading {
          margin: 300px auto 0;
          width: 32px;
        }
        .has-error{
          margin-top: 250px;
          text-align: center;
          >button{
            display: inline-block;
          }
        }
      }
      &__block {
        height: 410px;
        margin-bottom: 32px;
        width: 496px;
        display: inline-block;
        vertical-align: top;
        .has-error{
          margin-top: 50px;
          text-align: center;
          >button{
            display: inline-block;
          }
        }
      }
      &__block-bottom {
        height: 410px;
        margin: 0 32px 32px 0;
        width: 496px;
        display: inline-block;
        .has-error{
          margin-top: 50px;
          text-align: center;
          >button{
            display: inline-block;
          }
        }
      }
      .right {
        display: inline-block;
        vertical-align: top;
        height: 884px;
        width: 496px;
        .block {
          height: 410px;
        }
      }
      .referrals {
        .table-header {
          padding: 0 40px 0 24px;
          &.header-item {
            display: inline-block;
            margin: 0;
            padding: 0;
            &.first {
              width: 267px;
            }
            &.second {
            }
            &.third {
              float: right;
            }
            &.last {
              float: right;
              width: 168px;
              text-align: right;
            }
          }
          &.with-scroll {
            padding-right: 54px;
          }
        }

        .ref-link {
          cursor: pointer;
          color: #000000;
          text-decoration: none;
          white-space: nowrap;
          &:hover {
            text-decoration: underline;
            color: #448af1;
          }
        }
      }
    }
    .footer-message {
      margin-left: 32px;
      width: 495px;
      vertical-align: top;
      line-height: normal;
      &::after {
        content: '';
        display: table;
        clear: both;
      }
      &__logined {
        .foot{
          padding-top: 24px;
          clear: both;
          text-align: left;
        }
        .button {
          display: inline-block;

        }
        .db-border {
          width: 113px;
        }
        .db-orange{
          display: inline-block;
          margin-right: 16px;
        }
        .promotion__text {
          margin: -4px 0 0!important;
          line-height: normal;
        }
      }
      .promotion__text {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.75;
        color: #000000;
        margin: -4px 0 16px;
      }
    }
  }
  .table {
    width: 100%;
    max-width: 100%;
    font-size: 12px;
    td {
      padding: 16px 0 16px 24px;
      line-height: 1;
      vertical-align: top;
      border-bottom: 1px solid #e0e0e0;
    }
    tr > td:last-child {
      text-align: right;
      padding-right: 26px;
    };
    tr:last-child {
      td {
        border-bottom: none;
      }
    }
    &__retention {
      tr td:first-child {
        color: #767676;
        text-transform: uppercase;
      }
      tr td:last-child {
        padding: 17px 0;
      }
      tr:first-child {
        border-bottom: 24px solid #fff;
      }
      td {
        padding: 17px 0;
        text-align: center !important;
        border: none;
        width: 48px;
        height:48px;
      }
    }
    &.referral-table {
      td {
        padding: 16px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &.right-aligned {
          text-align: right;
        }
        &.width110 {
          width: 110px;
          max-width: 110px;
        }
        &.width208 {
          width: 208px;
          max-width: 208px;
        }
        &.width294 {
          width: 294px;
          max-width: 294px;
        }
        &.width410 {
          max-width: 410px;
        }
        &.text-grey {
          color: #767676;
        }
        &.bold-text {
          font-weight: 600;
        }
      }
      td:first-child {
        padding-left: 24px;
        padding-right: 5px;
      }
      td:last-child {
        padding-right: 40px;
      }
    }
  }
  .table-container {
    height: 298px;
    margin-left: -24px;
    overflow-y: auto;
  }
  .table-header {
    height: 40px;
    background-color: #f3f2f2;
    font-size: 12px;
    font-weight: bold;
    line-height: 40px;
    margin: 0 0 0 -24px;
    color: #767676;
    text-transform: uppercase;
    &__left {
      display: inline-block;
      margin-left: 18px;
      &:first-child {
        margin: 0 5px 0 24px;
      }
    }
    &__right {
      float: right;
      margin-right: 40px;
    }
    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }
  &::before {
    z-index: -1;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    display: block;
    background: #f3f2f2;
  }
  .asc {
     position: absolute;
     top: 26px;
     right: 24px;
     width: 20px;
     height: 20px;
     cursor: pointer;
     background: url('../../../common/plugins/assets/images/ic_info.svg') center center no-repeat;
     background-size: cover;
     opacity: 0.25;
     &:hover {
       opacity: 1;
       &::after{
         position: absolute;
         content: attr(tooltip-message);
         min-width: 240px;
         border-radius: 3px;
         background-color: #053748;
         padding: 12px;
         right: 34px;
         top: 50%;
         transform: translateY(-50%);
         z-index: 100;
         font-size: 14px;
         font-weight: normal;
         line-height: 1.29;
         color: #ffffff;
         word-wrap: break-word;
       }

       &::before{
         position: absolute;
         content: ' ';
         top: 50%;
         right: 28px;
         width: 13px;
         height: 13px;
         z-index: 99;
         background-color: #053748;
         transform: translateY(-50%) rotate(45deg);
       }
     }
     &.asc-ref {
       &:hover {
         &:after, &:before {
           display: none;
         }
       }
     }
  }
}
