section.tutorials-list{
  > div {
    padding: 128px 16px 0;
     > div {


          h2 {
            line-height: 48px;
            font-size: 24px;
            font-weight: 300;
            margin: 0 0 18px;
            padding: 0 0 0 84px;
            background-position: left top;
            background-size: 48px 48px;
            background-repeat: no-repeat;
            text-align: left;
            a {
              color: #000000;
              text-decoration: none;
            }
          }

          ul {
            margin: 0 84px 40px;
            padding: 0 0;

            li {
              display: inline-block;
              vertical-align: top;
              width: 49%;
              min-width: 200px;
              font-size: 16px;
              line-height: 1.5;
              padding: 0 37px 24px 0;

              a {
                color: #448af1;
                text-decoration: none;
              }

              a:hover {
                text-decoration: underline;
              }
            }
          }
    }
  }
}

@media (max-width: 720px)  {
  section.tutorials-list {
    > div {
      padding: 64px 16px 0;
      > div{
        h2{
          font-size: 20px;
          padding: 0 0 0 64px;
          margin: 0 0 8px;
        }

        ul{
          margin: 0 0 12px 64px;
          padding: 0 0;

          li{
            display: block;
            width: auto;
            font-size: 14px;
            line-height: 1.4;
            padding: 0 0px 20px 0;
            min-width: inherit;
            a{

            }
          }
        }
      }
    }
  }
}