section.tutorial-item{
  > div {
    padding: 128px 16px 0 232px;
    position: relative;

    > ul.root-ref{
      position: fixed;
    //  top: 128px;
      top: 97px;
      width: 150px;
      border-right: 1px solid #dcdcdc;
      padding: 0;
      margin: 0px 0 0 -216px;

      li{
        display: block;

        a{
          font-size: 14px;
          line-height: 2.9;
          color: #448af1;
          text-decoration: none;
        }

        a.act{
          pointer-events: none;
          color: #000000;
        }
      }
    }

    h1{
      font-weight:300;
      font-size: 40px;
      line-height: 1.4;
      color: #000000;
      margin: 0;
      padding: 0 0 34px;
    }

    > ul.sub-ref{
      padding: 0 0 40px;
      margin: 0;
      li{
        display: block;
        font-size: 16px;
        line-height: 1.5;
        padding: 0 0 24px;
        a{
          color: #448af1;
          text-decoration: none;
        }

        a:hover{
          text-decoration: underline;
        }
      }
    }

    > div{

      font-size: 16px;
      line-height: 1.5;
      margin: -100px 0 64px;
      padding-top: 100px;
      border-bottom: 1px solid #dcdcdc;
      word-wrap: break-word;

      h2{
        font-size: 16px;
        line-height: 1.5;
        font-weight: 600;
        margin: 0;
        padding: 0 0 14px 0px;
        text-align: left;
      }

      h2.sub{
        font-weight: 300;
        font-size: 26px;
        line-height: 1.5;
        color: #000000;
        margin: 0;
        padding: 0 0 26px;
        text-align: left;
      }

      ol{
        padding: 0;
        margin: 0 0 32px;
        counter-reset: item;

        li{
          display: block;
          position: relative;
          padding: 6px 0 0 35px;
          min-height: 48px;
          line-height: 36px;
          margin-left: -35px;
        }

        li::before{
          counter-increment: item;
          content: counter(item);
          display: block;
          position: absolute;
          left: 0;
          top: 12px;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          line-height: 22px;
          text-align: center;
          color: #000000;
          border: solid 1px rgba(0,0,0,0.3);
        }


      }

      ul{
        padding: 0;
        margin: 0 0 32px;

        li{
          display: block;
          position: relative;
          padding: 6px 0 0 35px;
          min-height: 48px;
          line-height: 36px;
          margin-left: -35px;
        }

        li::before{
          content: ' ';
          display: block;
          position: absolute;
          left: 6px;
          top: 20px;
          border-radius: 50%;
          width: 8px;
          height: 8px;
          border: solid 1px rgba(0,0,0,0.3);
        }

      }

      p{
        margin: 0 0 32px;

      }


      em{
        color:#e9604a;
        font-style: normal;
      }

      .vbutton{
        vertical-align: middle;
        display: inline-block;
        height: 40px;
        border-radius: 3px;
        background-color: #f3f2f2;
        line-height: 40px;
        padding: 0 12px;
        margin: 0px 5px 2px;
      }
    }

    > div:last-child{
      border-bottom: 1px solid transparent;
    }
  }
}

@media (max-width: 720px)  {
  section.tutorial-item{

    margin-bottom: -32px;

    > div {
      padding: 64px 16px 0 16px;
      position: relative;

      > ul.root-ref {
        display: none;
      }

      h1{
        font-size: 24px;
        line-height: 36px;
        padding: 0 0 16px;
      }

      > ul.sub-ref{
        padding: 0 0 12px;
        margin: 0;
        li{
          font-size: 14px;
          line-height: 20px;
          padding: 0 0 20px;
        }
      }

      > div{
        font-size: 14px;
        line-height: 1.4;
        margin: -80px 0 32px;
        padding-top: 80px;

        h2{
          font-size: 14px;
          line-height: 1.4;
          font-weight: 600;
          margin: 0;
          padding: 0 0 9px 28px;
          text-align: left;
        }

        h2.sub{
          font-weight: 300;
          font-size: 20px;
          line-height: 32px;
          padding: 0 0 15px;
        }

        ol{
          padding: 0;
          margin: 0 0 20px;
          counter-reset: item;

          li{
            padding: 0 0 0 28px;
            min-height: 40px;
            line-height: 40px;
            margin-left: 0;
          }

          li::before{
            left: 0;
            top: 10px;
            width: 20px;
            height: 20px;
            line-height: 18px;
          }


        }

        ul{
          padding: 0;
          margin: 0 0 20px;

          li{
            padding: 4px 0 0 28px;
            min-height: 40px;
            line-height: 32px;
            margin-left: 0;
          }

          li::before{
            left: 6px;
            top: 16px;
          }

        }

        p{
          margin: 0 0 22px;
        }

        .vbutton{
          height: 32px;
          line-height: 32px;
          padding: 0 8px;
          margin: 1px 5px;
        }
      }
    }
  }
}