section.wizard{
  margin: -40px 0 0;


  > div{

    padding: 52px 16px 122px 67px;

    font-size: 16px;
    line-height: 1.5;
    color: #000000;

    div.warring{
      height: 136px;
      border-radius: 18px;
      background-color: #f3f2f2;
      padding: 24px 32px;
      margin: 20px 0 72px;

      p{
        margin: 0 0 16px;

        font-size: 16px;
        line-height: 1.5;

        &.title{
          font-weight: 600;
          color: #e9604a;
        }
      }
    }

    ol{
      padding: 0;
      margin: 0;
      counter-reset: list;

      &.zero-begin{
        counter-reset: list -1;
      }

      > li{
        position: relative;
        padding: 0;
        margin: 0 0 72px;
        display: block;
        clear: both;

        &::before{
          border-radius: 50%;
          width: 36px;
          height: 36px;
          line-height: 32px;
          border: solid 2px rgba(0,0,0,0.3);
          text-align: center;
          font-weight: 300;
          font-size: 26px;

          counter-increment: list;
          content: counter(list);
          display: block;
          position: absolute;
          top: 5px;
          left: -72px;
        }

        &::after{
          display: block;
          content: ' ';
          clear: both;
          height: 1px;
        }
      }
    }

    ul{
      margin: 0;
      padding: 0;
      > li{
        position: relative;
        margin: 0 0 16px;
        padding: 0;
        display: block;
        font-size: 16px;
        line-height: 1.5;
        &::before{
          font-weight: 600;
          content: '\2022';
          font-size: 16px;
          position: absolute;
          left: -25px;
          top: 0;
        }
      }
    }

    p{
      margin: 0 0 16px;
      padding: 0;
      font-size: 16px;
      line-height: 1.5;

      .button{
        width: auto;
        min-width: 160px;
        text-align: center;
        height: 48px;
        line-height: 48px;
        border-radius: 3px;
        font-weight: 300;
        font-size: 20px;
        margin: 0 0 96px 0;
        padding: 0 32px;
        position: relative;

        &.next{
          float: right;
          padding: 0 44px 0 32px;

          &::after{
            position: absolute;
            right: 16px;
            top: 12px;
            content: ' ';
            width: 24px;
            height: 24px;
            margin: 0;
            background: url('../../images/ic_arrow_right_white.svg');
          }
        }

        &.back{
          border-radius: 3px;
          background-color: #ffffff;
          border: solid 1px #d9d9d9;
          font-weight: 300;
          font-size: 20px;
          color: #000000;
          line-height: 46px;
          float: left;

          &:hover{
            border: solid 1px #000000;
          }
        }

        &.done{
           float:right;
        }

        &.disabled{
          border-radius: 3px;
          background-color: #e6e5e4;
          border:none;
          color: #ffffff;
          pointer-events: none;
        }

        &.db-blue{
          display: inline-block;
          width: auto;
          height: 40px;
          line-height: 40px;
          border-radius: 3px;
          background-color: #448af1;
          font-size: 16px;
          color: #ffffff;
          text-align: center;
          margin: 36px 0 0;
          &:hover{
            text-decoration: none;
          }
        }
      }

      &.checkbox-box{
      //  width: 400px;
        border-radius: 3px;
        background-color: #e6e5e4;
        padding: 20px 24px;
      }

      &.gray{
        color: #9b9b9b;
      }

      .fb-box{
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 5px;
      }
    }

    h2{
      font-weight: 300;
      font-size: 32px;
      line-height: 1.4;
      color: #000000;
      margin: 0 0 32px;
      padding: 0;
      text-align: left;

      span{
        color: #817f7f;
      }
    }

    i{
      font-style: normal;
      font-weight: 300;
    }

    b{
      font-weight: 600;
    }

    span.orange{
      color: #eb6d59;
    }

    span.bind{
      word-wrap: break-word;
      max-width: 390px;
      display: block;
    }

    form{
      width: 100%;
      height: 100px;
      border-radius: 18px;
      background-color: #f0efef;
      padding: 32px;
      position: relative;

      input{
        width: 100%;
        height: 36px;
        line-height: 32px;
        border-radius: 3px;
        background-color: #ffffff;
        border: solid 2px #e9604a;
        font-size: 16px;
        color: #000000;
        padding: 0 10px;
      }

      .error{
        display: none;
        position: absolute;
        left: 32px;
        top: 72px;
        font-size: 12px;
        line-height: 1.3;
        color: #e9604a;
      }

      &.valid{
        input{
          line-height: 34px;
          border: solid 1px #d9d9d9;
        }
      }

      &.invalid{
        .error{
          display: block;
        }

        input{
          border: solid 1px #e9604a;
          line-height: 34px;
        }
      }
    }

    a{
      color: #4b8ff2;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }

    .pic{
      width: 904px;
      background-repeat: no-repeat;
      background-position: left top;
      background-size: contain;
      margin: 0;

      &.n1{
        background-image: url('../../images/pics/pic_wiz_01.png');
        height: 160px;
        width: 436px;
      }
      &.n2{
        background-image: url('../../images/pics/pic_wiz_02.png');
        height: 256px;
      }
      &.n3{
        background-image: url('../../images/pics/pic_wiz_03.png');
        height: 194px;
      }
      &.n4{
        background-image: url('../../images/pics/pic_wiz_04.png');
        height: 210px;
      }
      &.n5{
        background-image: url('../../images/pics/pic_wiz_05.png');
        height: 278px;
        width: 468px;
        float: right;
        margin: 0 0 0 36px;
      }
      &.n6{
        background-image: url('../../images/pics/pic_wiz_06.png');
        height: 208px;
      }
      &.n7{
        background-image: url('../../images/pics/pic_wiz_07.png');
        height: 210px
      }
      &.n8{
        background-image: url('../../images/pics/pic_wiz_08.png');
        width: 468px;
        height: 280px;
        float: right;
        margin: 0 0 0 36px;
      }
      &.n9{
        background-image: url('../../images/pics/pic_wiz_09.png');
        height: 148px;
      }
      &.n10{
        background-image: url('../../images/pics/pic_wiz_10.png');
        width: 468px;
        height: 256px;
        float: right;
        margin: 0 0 0 36px;
      }

      &.n11{
        background-image: url('../../images/pics/pic_wiz_11.png');
        width: 468px;
        height: 172px;
        float: right;
        margin: 0 0 0 36px;
      }

      &.n12{
        background-image: url('../../images/pics/pic_wiz_12.png');
        width: 468px;
        height: 116px;
        float: right;
        margin: 0 0 0 36px;
      }
    }
  }
}
