section.wizard-header{

  height: 64px;
  background-color: #053748;


  position: fixed;
  left: 0;
  top: 0;

  z-index: 10;

  > div{
    position: static;

    .button.back{
      z-index: 1;
      position: absolute;
      top: 20px;
      left: 32px;
      background-image: url('../../images/ic_back.svg');
    }

    .button.close{
      z-index: 1;
      position: absolute;
      top: 16px;
      right: 32px;
      width: 127px;
      height: 32px;
      line-height: 28px;
      border-radius: 3px;
      background-color: transparent;
      border: solid 2px rgba(255,255,255,0.3);
      font-size: 12px;
      color: #ffffff;
      text-transform: uppercase;
      &::before{
        content: ' ';
        width: 17px;
        height: 17px;
        background: url('../../images/ic-close-white.svg') no-repeat center center;
        background-size: cover;
        margin: 0 6px 0 0;
        display: inline-block;
        vertical-align: -5px;
      }
    }

    h1{
      position: absolute;
      top: 14px;
      left: 72px;
      font-weight: 300;
      font-size: 26px;
      color: #ffffff;
      padding: 0;
      margin: 0;
    }

    ol{
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 64px;
      line-height: 62px;
      white-space: nowrap;
      text-align: center;
      padding: 0 70px;
      margin: 0;

      counter-reset: list;

      li{
        cursor: pointer;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding: 0;
        margin: 0 70px 0 0;
        font-size: 14px;
        line-height: 1.4;
        color: rgba(255, 255, 255, 0.7);

        &::before{
          counter-increment: list;
          content: counter(list);

          display: inline-block;
          vertical-align: middle;

          width: 24px;
          height: 24px;
          border-radius: 50%;
          line-height: 23px;
          background-color: rgba(255,255,255,0.2);
          font-size: 14px;
          color: #ffffff;

          margin: 0 8px 0 0;
        }

        &::after{
          content: ' ';
          cursor: auto;
          pointer-events: none;
          display: inline-block;
          vertical-align: middle;
          width: 49px;
          height: 2px;
          background-color: rgba(255, 255, 255, 0.1);
          margin: 0 9px 0 12px;
          position: absolute;
          right: -70px;
          top: 11px;
        }

        &:last-child{
          margin: 0;
          &::after{
            content: none;
          }

        }

        &.act{
          color: rgba(255, 255, 255, 1);
          pointer-events: none;
          cursor: auto;
          &::before{
            background-color: #448af1;
          }
        }

        &.done {
          &::before{
            content: ' ';
            background: rgba(255,255,255,0.2) url("../../images/ic_done_white.svg") no-repeat scroll 0 1px
          }
        }

        &.disabled{
          pointer-events: none;
          cursor: auto;
        //  opacity: 0.5;
        }

      }


    }
  }


  &.steps{
    h1{
      display: none;
    }
    ol{
      display: block;
    }
  }
}
