section.you-are-in-a-great {

  background-color: #f3f2f2;
  overflow: hidden;

  h2 {
    margin-bottom: 72px;
  }

  .swap{

    padding: 0;
    margin: 0;
    width: 100%;

    ul {
      text-align: center;
      width: 100%;
      white-space: nowrap;
      padding: 0;
      margin: 0;
      transition: width 200ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);
      -webkit-transition: width 200ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);

      li {
        display: inline-block;
        width: 33%;
        text-align: center;


        > div{
          display: inline-block;
          position: relative;
          width: 300px;
          height: 190px;
          border-radius: 3px;
          background-color: #ffffff;
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.21);
          padding: 21px 16px 0 100px;
          text-align: left;
          white-space: normal;
          vertical-align: top;

          p {
            margin: 0;
          }

          h3 {
            margin: 0 0 4px;
            font-size: 16px;
            line-height: 22px;
            font-weight: 600;
            a{
              color: #000000;
              text-decoration: none;
            }
          }

          .category {
            margin: 0 0 4px;
            font-size: 12px;
            line-height: 22px;
            opacity: 0.5;
          }

          .description {
            height: 45px;
            margin: 0;
            font-size: 14px;
            overflow: hidden;
            line-height: 22px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .image {
            position: absolute;
            left: 16px;
            top: 16px;
            img {
              width: 64px;
              height: 64px;
            }
          }

          div {
            display: block;
            position: absolute;
            bottom: 0;
            height: 60px;
            width: 100%;
            left: 0;
            padding: 0 16px;
            p{
              position: relative;
              padding: 0;
              margin: 0;
              line-height: 59px;
              border-top:1px solid #f3f2f2;
              font-size: 12px;
              color: #b6b6b6;

              .button{
                position: absolute;
                right: 0;
                top:50%;
                transform: translateY(-50%);;
                -webkit-transform: translateY(-50%);;
              }
            }
          }
        }

      }

    }

    .dots{
      top: 450px;
    }
  }

  .slogan{
    margin: 0;
    padding: 72px 0 120px;
    text-align: center;
    font-size: 24px;
    line-height: 38px;
    font-weight: 300;
  }

  > div {
    > p {
      margin: 0;
      .button {
        margin: 0 auto 120px;
      }
    }
  }

}

@media (max-width: 1000px)  {
  section.you-are-in-a-great{
    .swap{
      ul{
        width: 150%;
        text-align: left;
      }

      .dots {
        > span:nth-child(1),
        > span:nth-child(2) {
          display: inline-block;
        }
      }
    }

  }
}

@media (max-width: 720px)  {
  section.you-are-in-a-great{

    h2{
      font-size: 24px;
      line-height: 32px;
      padding-top: 56px;
      margin: 0 auto 48px;
      height: 120px;
      //width: 200px;
    }

    .slogan{
      font-size: 20px;
      line-height: 28px;
      padding: 88px 16px 32px;
    }

    > div {
      > p{
        .button{
          width: 288px;
          height: 48px;
          line-height: 48px;
          font-size: 22px;
          margin-bottom: 56px;
        }
      }
    }

    .swap{
      ul{
        width: 300%;
        li{
          div{
            width: 288px;
          }
        }
      }

      .dots {
        top: 380px;
        > span{
          display: inline-block;
        }
      }
    }

  }
}