section.settings {
  > div {
    .border-box {

      &.admins{
        width: 100%;
        min-width: unset;
        min-height: 228px !important;
        overflow: hidden;
        position: relative;



        padding: 0;

        &::before{
          content: '';
          position: absolute;
          top: 80%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: url('../images/spinner_b.svg') center center no-repeat #FFFFFF;
          background-size: 32px 32px;
          width: 32px;
          height: 32px;
        }

        .pages-list-header {
          padding: 20px 24px 16px 24px;
          .admins-header {
            margin: 0;
            display: inline-block;
          }
          .buttons-header {
            font-size: 0;
            display: inline-block;
            float: right;
            .button{
              border-radius: 7px;
            }
          }
        }


        p{
          font-size: 16px;
          font-weight: 400;
          line-height: 1.75;
          color: #767676;
          margin: 0;
          padding: 0 24px 24px 24px;
        }

        ul{
          display: block;
          padding: 0;
          margin: 0;
          max-height: 536px;
          overflow: auto;
          border-top: 1px solid #f3f2f2;
          background-color: #ffffff;

          li{
            display: block;
            position: relative;
            border-top: 1px solid #f3f2f2;
            margin: 0;
            height: 72px;
            line-height: 72px;
            font-size: 16px;
            font-weight: 400;
            color: #000000;
            padding: 0 24px 0 80px;
            background-color: #ffffff;


            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            transition: background-color 100ms;
            -webkit-transition: background-color 100ms;

            &:first-child{
              border-top: none;
            }

            > span{
              position: absolute;
              content: ' ';
              width: 40px;
              height: 40px;
              line-height: 40px;
              border-radius: 50%;
              left: 24px;
              top: 50%;
              transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
              background: center center no-repeat #f3f2f2;
              background-size: cover;
              color: transparent;
            }

            &.you{
              pointer-events: none;

              span{
                color: #bbbbbb;
              }
            }


            // &.add{
            //   color: #448af1;
            //   cursor: pointer;
            //
            //   > span{
            //     &::before{
            //       content: '+';
            //       line-height: 40px;
            //       text-align: center;
            //     }
            //     color: #aaaaaa;
            //     text-align: center;
            //     font-size: 25px;
            //   }
            //
            //
            //   &:hover{
            //
            //
            //     > span {
            //       background-color: #ffffff!important;
            //       color: #000000;
            //     }
            //   }
            // }

            &:hover{
              background-color: #F3F2F2;

              .remove{
                opacity: 0.35;
              }
            }

            .remove{
              opacity: 0;
              position: absolute;
              background-image: url('../images/ic_trash.svg');
              right: 24px;
              top: 50%;
              transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
              transition: opacity 100ms;
              -webkit-transition: opacity 100ms;

              &:hover{
                opacity: 1;
              }
            }

            > div{
              line-height: 1.25;
              display: inline-block;
              vertical-align: middle;
              padding: 0 0 6px;

              > div{
                font-size: 14px;
                font-weight: 400;
                line-height: 1.14;
                color: #a6a6a6;
                padding: 4px 0 0;
              }

              > span{
                color: #a6a6a6;
              }
            }
          }
        }
      }
      &.no-spiner {
        &::before{
          display: none;
        }
      }
    }
  }
}
