<div class="autopost-group">
  <div class="title">Autoposting</div>

  <div class="tags">
    <span
      class="button-ver2 bc-temp-white gray"
      ng-class="{'block-error': broadcast.is_valid === false}"
      ui-sref-active="act"
      ui-sref="app.broadcast.auto({ id: broadcast.id, type: 'auto' })"
      ng-bind="broadcast.title"
      ng-repeat="broadcast in vm.$getBroadcasts() track by broadcast.id"></span><span class="add button-ver2 bc-temp-white" ng-click="vm.addAutopost()"></span>
  </div>
</div>
