<div class="group-item" ng-class="{ 'builtin': vm.group.builtin }">
  <div class="group-title">
    <input type="text"
           placeholder="ENTER GROUP NAME"
           ng-model="vm.group.title"
           maxlength="{{vm.$titleMaxLength}}"
           ng-change="vm.updateDiscount()"
           ng-blur="vm.updateGroup()"
           ng-click="$event.stopPropagation()"
           ng-keydown="vm.keyDown($event)"
    />
    <div class="discount" ng-bind="vm.$discount" ng-class="{bgRed: vm.$discount < 7}"></div>
    <div class="button-ver2 icon v-drag" ng-if="!vm.group.builtin"></div>
    <div class="button-ver2 icon trash" ng-click="vm.onDeleteGroup($event)" ng-if="!vm.group.builtin"></div>
    <div class="button-ver2 icon lock" ng-if="vm.group.builtin"></div>
  </div>
  <div class="blocks-list" ng-class="{ 'blocks-list-connect': !vm.group.builtin }"  ng-model="vm.group.blocks" ui-sortable="vm.group.builtin?vm.$sortableBlockBuiltin:vm.$sortableBlock">
    <div class="block-item"
         ng-click="vm.go(block.id)"
         ng-repeat="block in vm.group.blocks track by block.id"
         ng-class="{
          'error': block.is_valid === false,
          act: block.id == vm.$stateParams.id}"
         ng-mousedown="vm.handleClick($event, block.id)"
         oncontextmenu="return false"
    >
      <span ng-bind = "(block.title.length > (vm.bigWindow?27:22))?(block.title.substring(0,(vm.bigWindow?27:22)) + '...'):block.title" ng-class="{'big-text': block.title.length > 9}"></span>
      <ul class="context" ng-class="{act: vm.$showContext === block.id}" ng-mousedown="$event.stopPropagation()" ng-if="!vm.group.builtin">
        <li ng-click="vm.duplicateBlock(block.id);$event.stopPropagation()">Duplicate</li>
        <li ng-click="vm.deleteBlock(block.id);$event.stopPropagation()">Delete</li>
      </ul>
    </div><div class="block-item add" ng-click="vm.addBlock()" ng-if="!vm.group.builtin"><span>ADD BLOCK</span></div>
  </div>


</div>
