<div>
    <p class="title" ng-bind="'Twitter'" ng-class="{'has-error': vm.hasValidationError}"></p>
    <div class="content">
      <div class="l-col">
        <div class="line sub-title">
          Instruction:
        </div>
        <ol>
          <li>Register on <a href="https://ifttt.com/" target="_blank">IFTTT</a>.</li>
          <li>Copy this link: <div class="copy-link" no-input-select-text>{{vm.API_URL}}/hooks/ifttt/{{vm.item.id}}</div></li>
          <li>Paste previous link to <a href="https://ifttt.com/recipes/407968-twitter-to-chatfuel" target="_blank">Twitter recipe</a>.</li>
          <li>Add a new content to channel and check if it works.</li>
        </ol>
      </div>
      <div class="r-col">
        <p class="sub-title">
          Settings:
        </p>
        <div class="section">
          <div class="line">
            <div class="control">
              <label>
                <input type="radio" ng-change="vm.save()" ng-model="vm.item.config.view" value="last"/><span></span>
                Only last update 
              </label>
              <p>Send a single card to users</p>
            </div>
          </div>
          <div class="line">
            <div class="control">
              <label>
                <input type="radio" ng-change="vm.save()" ng-model="vm.item.config.view" value="all"/><span></span>
                All updates in chronological order 
              </label>
              <p>Send a gallery of latest content</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a href="https://help.chatfuel.com/facebook-messenger/plugins/ifttt" target="_blank">
      <div class="asc"></div>
    </a>
    <localization item="vm.item"></localization>
</div>
