.onboarding-bot{
  z-index: 1000000;


  div.window {
    width: 640px;
    height: 196px;
    padding: 24px;

    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 16px 48px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.12);

    .title{
      font-size: 16px;
      font-weight: 600;
      line-height: 1.5;
      color: #000000;
      margin: 0 0 16px;
    }

    div.content{
      font-size: 16px;
      line-height: 1.75;
      color: #000000;

      p{
        margin: 0 0 16px;
      }

      .button{
        display: inline-block;
        vertical-align: top;
        height: 36px;
        line-height: 36px;
        border-radius: 7px;
        background-color: #e9604a;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);
        padding: 0 24px;

        font-size: 14px;
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
        transition: box-shadow 80ms ease, background-color 80ms ease;

        &:hover{
          box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.17);
        }

        &:active{
          box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.2);
          transition: box-shadow 20ms ease, background-color 20ms ease;
          background-color: #d9503a;
        }
      }
    }
  }
}
