<div class="quick-replies"
     ng-mouseenter="vm.qrMouseOver(true)"
     ng-mouseleave="vm.qrMouseOver(false)"
     ng-click="$event.stopPropagation(); $event.preventDefault();"
>
  <div class="or" ng-if="vm.plugin.plugin_id !== 'image' && (!vm.plugin.config.quick_replies.buttons || vm.plugin.config.quick_replies.buttons.length === 0)">or</div>

  <div class="items-list" ui-sortable="vm.$sortable" ng-model="vm.plugin.config.quick_replies.buttons">
    <div class="item"
         ng-class="{edit: vm.editedItemIndex === $index, 'has-preview': vm.blocksTitles[$index].length}"
         ng-repeat="item in vm.plugin.config.quick_replies.buttons track by $index"
         ng-mouseenter="vm.hoverItemIndex = $index"
         ng-mouseleave="vm.hoverItemIndex = null"
         ng-click="vm.edit($index, $event)"
    >

      <art-textarea-expand
          placeholder="Enter button name"
          value="item.title"
          index="$index"
          max-length="20"
          ng-keydown="vm.onKeyDownTitle($event)"
          ng-keyup="vm.validate()"
      ></art-textarea-expand>

      <div class="preview">
        <div>
          <span ng-repeat="item in vm.blocksTitles[$index] track by $index" ng-bind="item"></span>
        </div>
      </div>

      <div class="popup">
        <blocks-suggest blocks="item.block_ids" blocks-titles="vm.blocksTitles[$index]" exclude-blocks="[]" index="$index"></blocks-suggest>
        <div class="buttons">
          <div class="button-ver2 white-rounded" ng-click="vm.cancel($event)">
            CANCEL
          </div>
          <div class="button-ver2 orange-rounded" ng-click="vm.done($event)"  ng-keydown="vm.onKeyDownDone($event)" ng-class="{disabled: !vm.editedItemIsValid}" tabindex="1">
            DONE
          </div>
        </div>
      </div>

      <div class="buttons" ng-if-off="vm.hoverItemIndex === $index">
        <div class="button-ver2 icon h-drag" ng-mousedown="this.cancelEdit();" ng-if="vm.plugin.config.quick_replies.buttons.length > 1"></div>
      </div>

      <div class="button-ver2 icon trash-popup" ng-click="vm.remove($index, $event)"></div>

    </div><div tabindex="1" class="item add" ng-click="vm.add()" ng-keydown="vm.onKeyDownAdd($event)" ng-if="(!vm.plugin.config.quick_replies.buttons || vm.plugin.config.quick_replies.buttons.length < 10)">Add Quick Reply</div>

    <div class="user-property" ng-if="vm.plugin.config.quick_replies.buttons.length > 0">
      <div class="title">
        <span>
           Optionally save answer to:
        </span>
      </div>
      <div class="button-ver2 white" ng-if="!vm.plugin.config.quick_replies.property" ng-click="vm.openPopUp()">User variable</div>
      <div class="property" ng-if="vm.plugin.config.quick_replies.property">
        <span ng-bind="vm.plugin.config.quick_replies.property" ng-click="vm.openPopUp()"></span>
        <div class="button-ver2 icon trash-popup" ng-click="vm.removeProperty()"></div>
      </div>
    </div>

    <div class="help-box" ng-mousedown="$event.stopPropagation()">
      <div class="button-ver2 icon help" ng-click="vm.onHelpClick();"></div>
      <div class="tool-tips">
        <div class="tt1" ng-if="vm.toolTipOpen === 1">
          <p class="title">
            Introducing Quick Reply
          </p>
          <p>
            Quick replies are a set of up to ten dynamic buttons which appear at the bottom of the screen.
          <p>
            You can Improve user experience by adding quick replies, but you can also continue using simple buttons if you don’t need dynamic functionality.
          </p>
          <div class="button-ver2 icon close-white" ng-click="vm.toolTipOpen = null;"></div>
        </div>
        <div class="tt2" ng-if="vm.toolTipOpen === 2">
          <p>
            Need to use simple buttons instead of Quick Reply?<br/>
            No problem!<br/>
            Just hover the Quick Reply row and click on the trash icon.
          </p>
          <div class="button-ver2 icon close-white" ng-click="vm.toolTipOpen = null;"></div>
        </div>
      </div>
    </div>

  </div>

  <div class="button-ver2 icon trash" ng-if="vm.plugin.config.quick_replies.buttons.length" ng-click="vm.removeAll()"></div>
</div>
