<div class="bot-item" ng-class="{ edit: vm.$edited , connected: (vm.bot.status.status !== 'draft')}"> <!-- class="bot-item connected approved" -->
    <div class="content" ng-class="{'content-edit': vm.$edited}">
      <div class="image" >
        <img class="bot-page-avatar" ng-if="vm.pageAvatar" ng-src="{{vm.pageAvatar}}">
      </div>
      <!-- <div class="textarea" strip-br="true" strip-tags="true" contenteditable="true" ng-model="vm.bot.title"></div> -->
      <div class="textarea-sliced" ng-class="{'textarea-sliced--connected': vm.bot.status.page}" ng-if="!vm.$edited" ng-bind="vm.bot.title"></div>
      <textarea class="textarea" auto-resize ng-model="vm.bot.title" ng-if="vm.$edited"></textarea>
      <div class="button done" ng-disabled="!vm.bot.title" ng-click="vm.edit($event)">Done</div>
    </div>
    <div class="menu">
      <div class="button" ng-click="vm.showMenu($event)"></div>
      <div class="popup" ng-show="vm.menuShowed" ng-click="$event.stopPropagation();">
        <a href="#" ng-click="vm.toClone($event)">Clone</a>
        <!-- <a href="#" ng-click="vm.toMoveTo($event)">Move to</a> -->
        <a href="#" ng-click="vm.toEdit($event)">Rename</a>
        <a href="#" ng-click="vm.toRemove($event)">Delete</a>
        <!--label class="checkbox-style-label mini" ng-if="vm.bot.status.status != 'draft'">
          <input  type="checkbox" ng-change="vm.onBotReadOnlyChange()" ng-model="vm.bot.status.read_only"/><span></span>
          Read-only
        </label-->
      </div>
    </div>
    <div class="status" ng-bind="vm.statusTitle"></div>
    <div class="button connect" ng-click="vm.goWizard($event)" ng-bind="vm.buttonTitle" ng-if="!vm.bot.status.page"></div>
    <ul class="admins" ng-if="vm.bot.admins.length > 1">
      <li
        ng-repeat="admin in vm.bot.admins track by $index"
        ng-style="{ 'background-image': 'url(' + admin.picture + ')' }"
        title="{{admin.name}}"
      ></li>
    </ul>
    <a class="bot-list-link" ui-sref="app.structure.block({ bot_id: vm.bot.id, id: vm.bot.first_block.id })" ng-if-off="!vm.bot.status.page"></a>
    <!--a class="bot-list-link" ui-sref="app.statistics({ bot_id: vm.bot.id })" ng-if="vm.bot.status.page"></a-->
</div>
