<div>

  <ol>
    <li>
      <h2>
        Add Testers
      </h2>
      <div class="pic n11"></div>
      <p>
        You can add testers to try a chatbot linked to your Facebook Page while your app is under review.
      </p>
      <ul>
        <li>In you App open Roles section.</li>
        <li>Find Testers group in the bottom of the page and click Add Testers.</li>
        <li>Add people to test your app.</li>
      </ul>
    </li>

    <li>
      <h2>
        After review
      </h2>
      <div class="pic n12"></div>
      <p>
        After successfull submital don’t forget to make your chatbot public in <b>App Review</b> section, so everyone will be able to chat with it.
      </p>
    </li>

    <li>
      <h2>
        Problems?
      </h2>
      <p>
        If your submission failed or if you have any other problems, try using our <a href="https://help.chatfuel.com/" target="_blank">Help</a> section in the Chatfuel website header.
      </p>
      <p>
        Or contact us via Messenger:
        <span class="fb-box">
          <span class='fb-messengermessageus' id='fb-messengermessageus' messenger_app_id='1678638095724206' page_id='791843450960342' color='blue' size='xlarge'></span>
        </span>
      </p>
    </li>
  </ol>

  <p>
    <a ui-sref="bots" class="button db-orange done">Done</a>
  </p>

</div>
