<div
  class="art-vars-suggest"
  ng-click="$artVarsSuggest.valuesClick($event)"
  ng-mouseup="$event.stopPropagation();"
>
  <div class="values" ng-class="{act: $artVarsSuggest.valuesPopUpOpen}">
    <div class="values-list cf-input" ng-class="{focus: $artVarsSuggest.focused}">
      <div class="value-item" ng-repeat="value in $artVarsSuggest.ngModel track by $index">
        <span>
          <span>
            {{value}}
          </span>
        </span>
        <div class="button-ver2 trash-popup mini" ng-click="$artVarsSuggest.removeVar($index, $event)"></div>
      </div>
      <div class="popup-box">
        <div class="valuePopup">
          <ul ng-if="$artVarsSuggest.valuesPopUpOpen">
            <li
              ng-click="$artVarsSuggest.ngModel.push(sKey);"
              ng-repeat="(sKey, sValue) in $artVarsSuggest.filterShow() track by $index"
              ng-mouseenter="$artVarsSuggest.valuePopupAct = $index;"
              ng-class="{act: $artVarsSuggest.valuePopupAct === $index}"
            >
                  <span class="name">
                    <span>{{sKey}}</span>
                  </span>
              <span class="stat">{{$artVarsSuggest.compileUserText(sValue)}}</span>
            </li>
          </ul>
        </div>
        <input type="text" placeholder="Enter user variable"
               ng-focus="$artVarsSuggest.onInputFocus($event)"
               ng-blur="$artVarsSuggest.onInputBlur($event)"
               ng-keydown="$artVarsSuggest.onKeyDown($event)"
               ng-model="$artVarsSuggest.inputModel"
        />
      </div>

    </div>
  </div>
</div>
