<div>
  <p class="title" ng-class="{'has-error': vm.hasValidationError}" ng-bind="'Swiftype search'"></p>
  <p class="info" ng-bind="'Shows search results for a request. You can use a specific request or a user variable saved in a «User input» plugin.'">
  </p>
  <div class="content">
    <div class="l-col">
      <div class="line sub-title">
        Input:
      </div>
      <div class="line">
        <div smart-save="api_token" class="control size-365 required">
          <div class="control-title">Swiftype Engine Key</div>
          <input ng-blur="vm.saveSearch()" placeholder="Required" ng-model="vm.item.config.api_token" ng-class="{error: vm.saveError === 'tokenError'}"/>
          <p>
            To generate an Engine Key <a href="https://swiftype.com/users/sign_up" target="_blank">use this link</a>
          </p>
        </div>
      </div>
      <div class="line">
        <div smart-save="query" class="control size-365 required" suggest-template>
          <div class="control-title">Search request</div>
          <input ng-blur="vm.saveSearch()" placeholder="Required" ng-model="vm.item.config.query"/>
          <p ng-bind-html="'Use this format: <b>\{\{user variable\}\}</b> to add saved user variables'"></p>
        </div>
      </div>
      <div class="line">
        <div smart-save="title" class="control size-365 required" suggest-template>
          <div class="control-title">Subscription title</div>
          <input ng-blur="vm.saveSearch()" placeholder="Required" ng-model="vm.item.config.title"/>
          <p ng-bind-html="'Use this format: <b>\{\{user variable\}\}</b> to add saved user variables'"></p>
        </div>
      </div>
      <div class="line">
        <div smart-save="image_caption" class="control size-365" suggest-template>
          <div class="control-title">Image Title</div>
          <input ng-blur="vm.saveSearch()" placeholder="Optional" ng-model="vm.item.config.image_caption"/>
          <p ng-bind-html="'Use this format: <b>\{\{user variable\}\}</b> to add saved user variables'"></p>
        </div>
      </div>
    </div>
    <div class="r-col">
      <p class="sub-title">
        Settings:
      </p>
      <div class="section">
        <div class="line">
          Show no more than
          <div class="control">
            <div class="selector" ng-class="{act: vm.$showSelect == 'stories'}">
              <div class="label placeholder" ng-click="$event.stopPropagation(); vm.$showSelect = 'stories'" ng-bind="(vm.item.config.number_of_pages) ? vm.storiesNumbers[vm.item.config.number_of_pages] : 'Choose the number'"></div>
              <ul>
                <li class="disabled">Choose number</li>
                <li ng-click="vm.setNumberPages(n)"  ng-repeat="(n, nTitle) in vm.storiesNumbers track by $index">{{nTitle}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="line">
          <div class="control">
            <label>
              <input type="checkbox" ng-change="vm.saveSearch()" ng-model="vm.item.config.subscriptions_available" /><span></span>
              Let user subscribe to this search result
            </label>
          </div>
        </div>
        <div class="line">
          <div class="control">
            <label>
              <input type="checkbox" ng-change="vm.save()" ng-model="vm.item.config.share_available" /><span></span>
              Enable "Share" button for each story
            </label>
          </div>
        </div>
        <div class="line">
          <div class="control">
            <label>
              <input type="checkbox" ng-change="vm.saveSearch()" ng-model="vm.item.config.allow_read_in_bot" /><span></span>
              Allow users read  content right in bot
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--a href="https://help.chatfuel.com/facebook-messenger/plugins/" target="_blank">
    <div class="asc"></div>
  </a-->
  <localization item="vm.item"></localization>
</div>
