<div>
    <p class="title" ng-bind="vm.getZapierTitle(vm.item.plugin_id, 'integration')" ng-class="{'has-error': vm.hasValidationError}"></p>
    <div class="content zap">
      <div class="l-col">
        <div class="line sub-title">
          Instruction:
        </div>
        <ol ng-if="vm.item.plugin_id !== 'integration/zapier_plugin'">
          <li>Set up <a href="{{vm.getZapierUrl(vm.item.plugin_id, 'integration')}}" target="_blank">this example workflow</a>.</li>
          <li>Authenticate in Chatfuel for Facebook app using Chatfuel key: <span class="copy-link" no-input-select-text>{{vm.item.id}}</span></li>
          <li>Come to this block in FB Messenger and check that update is shown.</li>
        </ol>
        <ol ng-if="vm.item.plugin_id === 'integration/zapier_plugin'">
          <li><a href="https://zapier.com/app/editor" target="_blank">Create a zap</a> with Chatfuel for Facebook as an action app.</li>
          <li>Authenticate in the app using Chatfuel key: <span class="copy-link" no-input-select-text>{{vm.item.id}}</span></li>
          <li>Come to this block in FB Messenger and check that update is shown.</li>
        </ol>
      </div>
      <div class="r-col">
        <p class="sub-title">
          Settings:
        </p>
        <div class="section">
          <div class="line">
            <div class="control">
              <label>
                <input type="radio" ng-change="vm.save()" ng-model="vm.item.config.view" value="last"/><span></span>
                Only last update 
              </label>
              <p>Send a single card to users</p>
            </div>
          </div>
          <div class="line">
            <div class="control">
              <label>
                <input type="radio" ng-change="vm.save()" ng-model="vm.item.config.view" value="all"/><span></span>
                All updates in chronological order 
              </label>
              <p>Send a gallery of latest content</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a href="https://help.chatfuel.com/facebook-messenger/plugins/zapier-plugin/" target="_blank">
      <div class="asc"></div>
    </a>
    <localization item="vm.item"></localization>
</div>
