<div>
  <div ng-if="showPreloader" class="preloader"></div>
  <div ng-if="vm.botCloning" ng-class="{ botCloning: vm.botCloning }">Bot cloning...</div>

  <div ng-if="!showPreloader">
    <h1>Your chatbots</h1>

    <div class="bots-list">
      <div class="bot-item add" ng-click="vm.goBotCreation()"></div>

      <bot-item bot="bot" bots="vm.bots" ng-repeat="bot in vm.bots track by bot.id"></bot-item>
    </div>
  </div>

  <!-- <tutorial ng-if="!showPreloader" page="bots"></tutorial> -->
</div>
