.window-payments {
  width: 640px;
  height: 434px;

  .wizard-content{
    .state{
      position: relative;

      .title{
        font-size: 16px;
        line-height: 1.75;
        color: #000000;
        margin: 0 0 16px;
      }

      a{
        color: #448af1;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }

      p{
        font-size: 16px;
        line-height: 1.75;
        color: #000000;
        margin: 0 0 16px;

        &:last-child{
          margin: 0;
        }

        i{
          color: #666666;
          font-style: normal;
        }

        .req{
          color: #e9604a;
        }
      }

      .note{
        position: relative;
        margin: -8px 0 24px;
        border-radius: 7px;
        background-color: #f3f2f2;
        padding: 6px 12px 6px 22px;
        font-size: 14px;
        line-height: 1.71;
        color: #666666;

        &::before{
          content: '*';
          position: absolute;
          top: 6px;
          left: 12px;
        }
      }

      &.state-step-0{
        position: relative;
        .h-box{
          margin: 0 -24px;
          .h-line{
            text-align: right;
            height: 150px;
            position: relative;
            padding: 10px 24px;
            &:first-child{
            .h-text{
              max-width: 320px;
            }
          }

            &:last-child{
              background-color: #f3f2f2;
            }

            .h-text{
              position: absolute;
              line-height: 24px;
              font-size: 16px;
              left: 24px;
              top: 50%;
              transform: translateY(-50%);
              text-align: left;
            }
          }
        }

        .img{
          display: inline-block;
          vertical-align: top;
          position: relative;
          background: no-repeat center top;
          background-size: cover;
          &.img-0-1{
            width: 140px;
            height: 133px;
            background-image: url('./images/nativebuy.png');
          }
          &.img-0-2{
            width: 95px;
            height: 133px;
            background-image: url('./images/checkout.png');
          }
          &.img-0-3{
            width: 140px;
            height: 133px;
            background-image: url('./images/fallback.png');
          }
        }
      }

      &.state-step-1{
        padding: 0 264px 0 0;
      }

      &.state-whoops{
        position: static;
        .whoops-box{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 352px;
          padding: 136px 0 68px;
          background: url('./images/pic_warning.png') no-repeat center top;
          background-size: 120px 120px;

          p{
            font-size: 16px;
            line-height: 1.75;
            color: #666666;
            text-align: center;

            &:first-child{
              margin: 0 0 8px;
              color: #000000;
              font-weight: 600;
            }
          }
        }
      }

      &.state-step-2{
        .form{
          .line{
            margin: 0 0 16px;
            .control{
              display: inline-block;
              width: 284px;
              margin: 0 19px 0 0;
              &:last-child{
                margin: 0;
              }
              .label{
                font-size: 12px;
                line-height: 1.5;
                color: #666666;
                text-transform: uppercase;
                margin: 0 0 6px;
                .req{
                  color: #e9604a;
                }
              }
              .input-box{
                input{
                  width: 100%;
                  height: 36px;
                  line-height: 34px;
                  padding: 0 16px;
                }
              }
            }

            &:first-child{
              .control{
                width: 100%;
                margin: 0 8px 0 0;
              }
            }

            &:last-child{
              padding: 8px 0 0;
             // padding: 0;
            }

            .white-rounded{
              display: inline-block;
              vertical-align: top;
             // width: 202px;
              background-color: #f3f2f2;
              margin: 0 12px 0 0;

              width: 162px;
              padding: 0 5px;
            }

            .r-col-note{
              display: inline-block;
              vertical-align: top;
           //   text-align: justify;
              width: 400px;
              height: 32px;
              font-size: 12px;
              line-height: 1.33;
              color: #000000;

              //width: 410px;
              //height: auto;
              //line-height: 1.25;

              a{
                text-decoration: none;
                color: #448af1;
                &:hover{
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }

      .img{
        display: block;
        position: absolute;
        background-position: left top;
        background-repeat: no-repeat;
        background-size: cover;

        &.img1{
          top: 44px;
          right: 0;
          width: 240px;
          height: 152px;
          background-image: url('./images/pic_payments_01.png');
        }

        &.img2{
          top: 220px;
          right: 0;
          width: 240px;
          height: 96px;
          background-image: url('./images/pic_payments_02.png');
        }
      }
    }

    .loader{
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      pointer-events: none;
      z-index: 2;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      transition: opacity 200ms;


      .loader-box{
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 352px;
        padding: 80px 0 0;
        background: url('./images/spinner_b.svg') no-repeat center top;
        background-size: 64px 64px;
        transition: display 0ms 200ms;

        p{
          font-size: 16px;
          line-height: 1.75;
          color: #666666;
          text-align: center;

          &:first-child{
            margin: 0 0 8px;
            color: #000000;
            font-weight: 600;
          }
        }
      }

      &.act{
        opacity: 1;
        pointer-events: auto;
        .loader-box{
          display: block;
          transition: display 0ms 0ms;

        }
      }
    }

    .footer{
      padding: 0 24px;
      .button-ver2{
        display: inline-block;
        margin: 0 0 0 12px;
      }
    }
  }

  .close{
    z-index: 5;
  }
}
