<div class="history" ng-show="!vm.historyEmpty">
  <div class="thead">
    <div class="tr">
      <div></div>
      <div>Sent date</div>
      <div>Content</div>
      <div>Attempts / Bounced</div>
      <div>Sent</div>
      <div>Read</div>
      <div>Clicked</div>
    </div>
    <div class="button-ver2 icon help-mini"
         uib-tooltip-html="vm.ttText"
         tooltip-placement="bottom"
         tooltip-class="big-tooltip"
         tooltip-trigger="mouseenter"
    ></div>
  </div>
  <div class="tbody" style="padding: {{vm.padding}}">
    <div
      class="bc-item {{vm.historyArray[itemId].broadcast_type}}"
      ng-repeat="itemId in vm.historyIdsArray track by $index"
      n="{{$index}}"
      iid="{{itemId}}"
      ng-click="vm.goBlockByBC(vm.historyArray[itemId].broadcast_id, vm.historyArray[itemId].broadcast_type)"
    >
      <div class="tr base-info">
        <div></div>
        <div ng-bind="vm.historyArray[itemId].date | date : 'dd.MM.yyyy' : 'UTC'"></div>
        <div>
          <span ng-bind="vm.historyArray[itemId].block_title | titleCleaner" ng-if="vm.historyArray[itemId].broadcast_type === 'autoposting' || vm.historyArray[itemId].broadcast_type === 'recurrent'"></span>
          <span ng-if="vm.historyArray[itemId].broadcast_type === 'send_now'">"Send Now" broadcast</span>
          <span ng-if="vm.historyArray[itemId].broadcast_type === 'scheduled'">Scheduled broadcast</span>
        </div>
        <div>
          <span ng-bind="vm.historyArray[itemId].total_users | number"></span> /
          <span ng-bind="(vm.historyArray[itemId].total_users - vm.historyArray[itemId].success_users) | number"></span>
        </div>
        <div>100%</div>
        <div ng-bind="vm.historyArray[itemId].read_users | percent : vm.historyArray[itemId].success_users"></div>
        <div ng-bind="vm.historyArray[itemId].clicked_users | percent : vm.historyArray[itemId].success_users"></div>
      </div>
      <div class="tr add-info">
        <div></div>
        <div><b ng-bind="vm.historyArray[itemId].date | date : 'h:mm a' : 'UTC'"></b> <span ng-bind="vm.historyArray[itemId].sent_by_user_tz ? 'user timezone':'bot timezone'"></span></div>
        <div>
          <span ng-bind-html="vm.historyArray[itemId].preview_info.text"></span>
        </div>
        <div>&nbsp;</div>
        <div ng-bind="vm.historyArray[itemId].success_users | number"></div>
        <div ng-bind="vm.historyArray[itemId].read_users | number"></div>
        <div ng-bind="vm.historyArray[itemId].clicked_users | number"></div>
        <div></div>
      </div>
      <div
        class="button-ver2 icon duplicate"
        ng-if="vm.historyArray[itemId].broadcast_type === 'send_now'"
        ng-click="vm.resend(vm.historyArray[itemId].broadcast_id, vm.historyArray[itemId].broadcast_type, $event)"
        uib-tooltip="Duplicate this block"
        tooltip-trigger="mouseenter"
        tooltip-placement="top"
        tooltip-class="tooltip-bk-copied"
      ></div>
    </div>
  </div>
</div>
