<div class="block-item" ng-mouseleave="vm.configured = false">
  <div class="title">
    <div>
      <span ng-show="!vm.edited" ng-click="vm.toEdit()">{{vm.group.title}}</span>

      <input-control
        ng-show="vm.edited"
        ng-model="vm.group.title"
        error-position="top"

        required
        required-message="You can not create group with empty name"

        server-error="vm.$error"
        on-save="vm.updateGroup()"
     ></input-control>
    </div>
    <div class="button edit" ng-click="vm.onDeleteGroup($event)" ng-if="!vm.group.builtin"></div>
    <div class="button locked" ng-if="vm.group.builtin"></div>
    <div class="button move" ng-if="!vm.group.builtin"></div>
  </div>
  <div class="tags" ng-class="{ 'not-builtin': !vm.group.builtin }" ui-sortable="vm.$sortable" ng-model="vm.group.blocks">
    <span
      ng-click="vm.go(block.id)"
      ng-bind="block.title"
      ng-class="{
        'block-error': block.is_valid === false,
        small: block.title.length > 10,
        act: block.id == vm.$stateParams.id}"
      ng-repeat="block in vm.group.blocks track by block.id">
    </span>
    <span class="add" ng-click="vm.addBlock()" ng-if="!vm.group.builtin">+</span>
  </div>
</div>
