<div>
  <button
    type="file"
    class="upload"
    ng-class="{act: !vm.item.config.url}"
    accept="image/*"
    ngf-select="vm.upload($file, $invalidFiles)"
    ngf-max-size="10MB">Upload image</button>
  <div
    class="pre-loader"
    ng-class="{act: vm.$loading}"></div>
  <div
    class="image-box"
    style="background-image: url('{{vm.item.config.url}}');"
    ng-class="{act: vm.item.config.url}">
  </div>
  <div class="button-picture-wrapper" ng-if="vm.item.config.url">
    <button
      type="file"
      class="button-image button-image--replace button-image--replace-picture"
      accept="image/*"
      ngf-select="vm.upload($file, $invalidFiles)"
      ngf-max-size="10MB">
      <span class="button-image__title">Replace</span>
    </button>
    <div class="button-image button-image--crop button-image--crop-picture" ng-click="vm.edit($event)">
      <span class="button-image__title">Crop</span>
    </div>
  </div>
</div>
