.onboarding2{
  position: fixed;
  right: 16px;
  bottom: -1px;
  z-index: 2147483640;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: #ffffff;
  box-shadow: 0 16px 48px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.12);
  padding: 0 0 36px;
  width: 340px;
  opacity: 1;
  transition: bottom 200ms cubic-bezier(0.22, 0.61, 0.36, 1);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @media (min-width: 1350px){
    width: 380px;
  }

  &.hide{
    opacity: 0;
    transition: opacity 100ms;
  }

  &.minimise{
    bottom: -366px;

    @media (min-height: 600px) {
      bottom: -406px;
    }

    @media (min-height: 720px) {
      bottom: -446px;
    }

    .header{
      cursor: pointer;

      &:hover{
        .min-max{
          opacity: 1;
        }
      }
    }
  }

  > *{
    min-height: 0;
    max-height: unset;

  }

  .header{
    position: relative;
    height: 35px;
    line-height: 35px;
    padding: 0 0 0 16px;

    .title{
      font-size: 14px;
      font-weight: 600;
      color: #666666;
      span{
        &:first-child:not(:empty){
          margin: 0 4px 0 0;
        }
        &.green{
          color: #45c195;
        }
      }
    }

    .button-ver2{
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);

      &.close-small{
      //  background-size: 16px 16px;
      }
    }
  }

  .footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 36px;
    line-height: 35px;
    border-top: 1px solid #e0e0e0;
    padding: 0;
    opacity: 0;
    pointer-events: none;
    transition: opasity 100ms;

    &.act{
      opacity: 1;
      pointer-events: all;
    }


    .prev{
      display: inline-block;
      vertical-align: -7px;
      height: 35px;
      width: 56px;
      opacity: 0;
      transition: opasity 100ms;
      pointer-events: none;
      &.act{
        opacity: 0.3;
        pointer-events: auto;
      }
    }
    .progress{
      position: absolute;
      top: 3px;
      left: 64px;
      height: 25px;
      width: 148px;
      line-height: normal;
      .label{
        font-size: 12px;
        line-height: 1.67;
        text-align: center;
        color: #a6a6a6;
      }

      .bar-box{
        height: 4px;
        border-radius: 2px;
        background-color: #e0e0e0;
        .bar{
          height: 4px;
          border-radius: 2px;
          background-color: #45c195;
          transition: width 200ms cubic-bezier(0.22, 0.61, 0.36, 1);
        }
      }
    }

    .next{
      position: absolute;
      right: 0;
      top: -1px;
      border-radius: 0;
      width: 104px;
      padding: 0 0 0 5px;
      height: 36px;
      line-height: 36px;

      &::after{
        content: '';
        display: inline-block;
        vertical-align: -3px;
        width: 16px;
        height: 16px;
        background: url('../images/icons/ic_arrow_right_small.svg') center center no-repeat;
        margin: 0 0 0 8px;
      }
    }
  }

  .content{
    position: relative;
    height: 329px;
    overflow-x: hidden;
    overflow-y: auto;
    border-top: 1px solid #e0e0e0;

  //  transition: height 200ms cubic-bezier(0.22, 0.61, 0.36, 1);

    @media (min-height: 600px) {
      height: 369px;
    }

    @media (min-height: 720px) {
      height: 409px;
    }

    .current{
    //  pointer-events: auto!important;
    }

    .old{
      transform: translateX(0);
    }

    &.dir-prev{
      .current{
        transform: translateX(-110%);
        transition: none;
      }
      .old{
        transform: translateX(0);
        transition: none;
      }
    }

    &.dir-next{
      .current{
        transform: translateX(110%);
        transition:  none;
      }
      .old{
        transform: translateX(0);
        transition: none;
      }
    }

    &.dir-prev-end{
      .current{
        transform: translateX(0);
        transition: transform 400ms cubic-bezier(0.7, 0.1, 0.3, 0.9);
      }
      .old{
        transform: translateX(110%);
        transition: transform 400ms cubic-bezier(0.7, 0.1, 0.3, 0.9);
      }
    }

    &.dir-next-end{
      .current{
        transform: translateX(0);
        transition: transform 400ms cubic-bezier(0.7, 0.1, 0.3, 0.9);
      }
      .old{
        transform: translateX(-110%);
        transition: transform 400ms cubic-bezier(0.7, 0.1, 0.3, 0.9);
      }
    }

    .state{
      padding: 16px;
      width: 332px;
      @media (min-width: 1350px){
        width: 372px;
      }
    //  pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #ffffff;

      &.center{
        p{
          text-align: center;
        }
      }

      p{
        font-size: 14px;
        line-height: 1.43;
        color: #666666;
        margin: 0 0 20px;

        a {
          color: #448af1;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }

        .orange-rounded{
          display: inline-block;
        }

        .text-inline{
          &.v2{
            display: none;
          }

          @media (max-width: 1270px) {
            &.v2{
              display: inline;
            }
            &.v1{
              display: none;
            }
          }
        }

        .ic-emoji-partypopper{
          background: url('../images/pics/ic_emoji_partypopper.png') no-repeat center center;
          width: 18px;
          height: 20px;
          display: inline-block;
          background-size: contain;
          vertical-align: bottom;
        }
      }

      > *:last-child{
        margin-bottom: 0;
      }

      &.into{
        padding: 32px;
        p{
          font-size: 16px;
          line-height: 1.75;
          color: #000000;
          margin: 0 0 16px;

          &.small{
            font-size: 14px;
            line-height: 1.71;
            color: #666666;
            margin: 0 0 24px;

            span{
              display: inline-block;
              opacity: 0.3;
              vertical-align: -3px;
              width: 16px;
              height: 16px;
              background: url('../images/icons/ic_timer_small.svg') center center no-repeat;
            }
          }
        }

        ul{
          margin: 0 0 16px;
          padding: 0;
          li{
            display: block;
            font-size: 16px;
            line-height: 1.75;
            color: #000000;
            padding: 0;
            margin: 0;

            &::before{
              content: '• ';
            }
          }
        }
      }

      .img{
        width: 300px;
        @media (min-width: 1350px){
          width: 340px;
        }
        display: block;
        background-color: #f3f2f2;
        padding: 8px 12px;

        &::before{
          content: '';
          background: left top no-repeat;
          background-size: cover;
          display: block;
        }

        &.s11{
          &::before{
            width: 256px;
            height: 108px;
            @media (min-width: 1350px){
              width: 256px * 1.06;
              height: 108px * 1.06;;
            }
            background-image: url('../images/pics/pic_onb_s1_1.png');
          }
        }

        &.s21{
          &::before{
            width: 128px;
            height: 120px;
            @media (min-width: 1350px){
              width: 128px * 1.06;
              height: 120px * 1.06;;
            }
            background-image: url('../images/pics/pic_onb_s2_1.png');
            @media (max-width: 1270px) {
              background-image: url('../images/pics/pic_onb_s2_11.png');
            }
          }
        }
        &.s22{
          &::before{
            width: 248px;
            height: 40px;
            @media (min-width: 1350px){
              width: 248px * 1.06;
              height: 40px * 1.06;;
            }
            background-image: url('../images/pics/pic_onb_s2_2.png');
          }
        }
        &.s23{
          &::before{
            width: 152px;
            height: 52px;
            @media (min-width: 1350px){
              width: 152px * 1.06;
              height: 52px * 1.06;;
            }
            background-image: url('../images/pics/pic_onb_s2_3.png');
          }
        }

        &.s31{
          &::before{
            width: 180px;
            height: 54px;
            @media (min-width: 1350px){
              width: 180px * 1.06;
              height: 54px * 1.06;;
            }
            background-image: url('../images/pics/pic_onb_s3_1.png');
          }
        }
        &.s32{
          &::before{
            width: 148px;
            height: 52px;
            @media (min-width: 1350px){
              width: 148px * 1.06;
              height: 52px * 1.06;;
            }
            background-image: url('../images/pics/pic_onb_s3_2.png');
          }
        }
        &.s33{
          &::before{
            width: 184px;
            height: 80px;
            @media (min-width: 1350px){
              width: 184px * 1.06;
              height: 80px * 1.06;;
            }
            background-image: url('../images/pics/pic_onb_s3_3.png');
          }
        }

        &.s41{
          &::before{
            width: 168px;
            height: 33px;
            @media (min-width: 1350px){
              width: 168px * 1.06;
              height: 33px * 1.06;;
            }
            background-image: url('../images/pics/pic_onb_s4_1.png');
          }
        }
        &.s42{
          &::before{
            width: 212px;
            height: 33px;
            @media (min-width: 1350px){
              width: 212px * 1.06;
              height: 33px * 1.06;;
            }
            background-image: url('../images/pics/pic_onb_s4_2.png');
          }
        }
        &.s43{
          &::before{
            width: 260px;
            height: 96px;
            @media (min-width: 1350px){
              width: 260px * 1.06;
              height: 96px * 1.06;;
            }
            background-image: url('../images/pics/pic_onb_s4_3.png');
          }
        }

        &.s51{
          &::before{
            width: 92px;
            height: 72px;
            @media (min-width: 1350px){
              width: 92px * 1.06;
              height: 72px * 1.06;;
            }
            background-image: url('../images/pics/pic_onb_s5_1.png');
          }
        }
        &.s52{
          &::before{
            width: 129px;
            height: 34px;
            @media (min-width: 1350px){
              width: 129px * 1.06;
              height: 34px * 1.06;;
            }
            background-image: url('../images/pics/pic_onb_s5_2.png');
          }
        }
        &.s53{
          &::before{
            width: 264px;
            height: 60px;
            @media (min-width: 1350px){
              width: 264px * 1.06;
              height: 60px * 1.06;;
            }
            background-image: url('../images/pics/pic_onb_s5_3.png');
          }
        }
        &.s54{
          &::before{
            width: 168px;
            height: 33px;
            @media (min-width: 1350px){
              width: 168px * 1.06;
              height: 33px * 1.06;;
            }
            background-image: url('../images/pics/pic_onb_s4_1.png');
          }
        }

        &.s61{
          background-color: transparent;
          margin: 0;
          &::before{
            margin: 0 auto;
            width: 120px;
            height: 120px;
            @media (min-width: 1350px){
              width: 120px * 1.06;
              height: 120px * 1.06;;
            }
            background-image: url('../images/pics/pic_clocks.png');
          }
        }

        &.s71{
          &::before{
            width: 261px;
            height: 32px;
            @media (min-width: 1350px){
              width: 261px * 1.06;
              height: 32px * 1.06;;
            }
            background-image: url('../images/pics/pic_onb_s7_1.png');
          }
        }
        &.s72{
          &::before{
            width: 242px;
            height: 68px;
            @media (min-width: 1350px){
              width: 242px * 1.06;
              height: 68px * 1.06;;
            }
            background-image: url('../images/pics/pic_onb_s7_2.png');
          }
        }
        &.s73{
          &::before{
            width: 148px;
            height: 122px;
            @media (min-width: 1350px){
              width: 148px * 1.06;
              height: 122px * 1.06;;
            }
            background-image: url('../images/pics/pic_onb_s7_3.png');
          }
        }
        &.s74{
          &::before{
            width: 221px;
            height: 33px;
            @media (min-width: 1350px){
              width: 221px * 1.06;
              height: 33px * 1.06;;
            }
            background-image: url('../images/pics/pic_onb_s7_4.png');
          }
        }
        &.s75{
          &::before{
            width: 148px;
            height: 33px;
            @media (min-width: 1350px){
              width: 148px * 1.06;
              height: 33px * 1.06;;
            }
            background-image: url('../images/pics/pic_onb_s7_5.png');
          }
        }
        &.s76{
          &::before {
            width: 168px;
            height: 33px;
            @media (min-width: 1350px){
              width: 168px * 1.06;
              height: 33px * 1.06;;
            }
            background-image: url('../images/pics/pic_onb_s4_1.png');
          }
        }

        &.s91{
          margin: 0;
          background-color: transparent;
          &::before{
            margin: 0 auto;
            width: 120px;
            height: 120px;
            @media (min-width: 1350px){
              width: 120px * 1.06;
              height: 120px * 1.06;;
            }
            background-image: url('../images/pics/pic_happy_bot.png');
          }
        }

      }

      div.img{
        margin: 0 0 8px;
      }

      span.img{
        margin: 8px 0 0;
      }
    }
  }
}
