<div class="content">
  <h2>Too Big File</h2>
  <p>You're trying to upload too big file, max size: 10Mb</p>
</div>

<div class="footer">
  <div class="button b-true" ng-click="vm.close()">Close</div>
</div>

<div class="button close" ng-click="vm.close()"></div>
