.popup.user-filter{
  overflow: auto;
  z-index: 1000000;

  .scroll-box {
    width: 100%;
    height: 100%;

    div.window{
      width: 690px;
      overflow: visible;
      padding: 32px 32px 92px;
      top: 50%;

      .content{

        p.title{
          margin: 0 0 16px;
          position: relative;
          padding: 0 0 0 32px;

          &::before{
            content: ' ';
            background: url('./images/ic_recipients.svg') no-repeat center center;
            background-size: contain;
            display: block;
            position: absolute;
            width: 24px;
            height: 24px;
            left: 0;
            top: 0;
          }
        }

        .help{
          height: 72px;
          background-color: #f3f2f2;
          padding: 16px 32px 0;
          overflow: hidden;
          transition: height cubic-bezier(0.22,  0.61, 0.36, 1) 200ms;
          margin: 0 -32px;
          color: #767676;

          p{
            margin: 0 0 24px;
            font-size: 14px;
            line-height: 1.71;
            color: #000000;

            .img{
              display: block;
              height: 76px;
              background: url('./images/pic_user_filter.png') no-repeat;
              background-size: contain;
            }

            a{
              line-height: 1.5;
              color: #448af1;
              text-decoration: none;
              &:hover{
                text-decoration: underline;
              }
            }

            &:last-child{
              margin: 0;
            }

            .ico-var, .ico-val{
              display: inline-block;
              white-space: nowrap;
              height: 22px;
              line-height: 22px;
              border-radius: 11px;
              padding: 0 8px;
              color: #ffffff;
            }

            .ico-var{
              background-color: #906d60;
              &::before{
                content: '{{';
                font-size: 14px;
                position: relative;
                left: -2px;
                top: -2px;
                color: #e0995d;
              }
              &::after {
                content: '}}';
                font-size: 14px;
                position: relative;
                left: 2px;
                top: -2px;
                color: #e0995d;
              }
            }

            .ico-val{
              background-color: #f4ae63;
            }

          }

          &.act{
           // height: 364px;
            height: 340px;
          }
        }

        .help-switch{
          font-size: 14px;
          color: #448af1;
          padding: 0 32px;
          height: 32px;
          line-height: 32px;
          background-color: #f3f2f2;
          margin: 0 -32px;

          span{
            position: relative;
            cursor: pointer;

            &:hover{
              text-decoration: underline;
            }

            &::after{
              font-size: 18px;
              position: absolute;
              right: -15px;
              top: -6px;
              line-height: 32px;
            }

            &.show{
              &::after{
                content: "▾";
              }
            }

            &.hide{
              &::after{
                content: "▴";
              }
            }
          }
        }
        .filters-title {
          font-size: 16px;
          line-height: 1.75;
          color: #767676;
          margin: 0 0 6px;
          padding-top: 24px;
        }
        .filters {
          margin-bottom: 0;
          .filters-list .filter-item .trash-popup {
            right: -46px;
          }
        }

      }

      .footer{
        .total{
          float: left;
          font-size: 16px;
          color: #767676;

          .green{
            color: #5dc991;
          }
        }
      }
    }
  }
}
