<ul>
  <li><a ui-sref-active="act" ui-sref="app.structure({ bot_id: bsc.currentBot.id })"><img src="../../../assets/images/ic_build.svg" alt="" /><span class="list-title">Build</span></a></li>
  <li><a ui-sref-active="act" ui-sref="app.aiSetup({ bot_id: bsc.currentBot.id })"><img src="../../../assets/images/ic_aisetup.svg" alt="" /><span class="list-title">Set up AI</span></a></li>
  <li>
    <a ui-sref-active="act" ui-sref="app.broadcast({ bot_id: bsc.currentBot.id })" ng-click="bsc.bcClick()">
      <img src="../../../assets/images/ic_broadcast.svg" alt="" /><span class="list-title">Broadcast</span>
    </a>
  </li>
  <li><a ui-sref-active="act" ui-sref="app.settings({ bot_id: bsc.currentBot.id })"><img src="../../../assets/images/ic_nav_settings.svg" alt="" /><span class="list-title">Configure</span></a></li>
  <li><a ui-sref-active="act" ui-sref="app.promotion({ bot_id: bsc.currentBot.id })"><img src="../../../assets/images/ic_promote.svg" alt="" /><span class="list-title">Promote</span></a></li>
  <li><a ui-sref-active="act" ui-sref="app.statistics({ bot_id: bsc.currentBot.id })"><img src="../../../assets/images/ic_analytics.svg" alt="" /><span class="list-title">Analyze</span></a></li>
  <span class="bottom-list">
    <li><a target="_blank" href="https://community.chatfuel.com"><img src="../../../assets/images/ic_nav_community.svg" alt="" /><span class="list-title">Community</span></a></li>
    <li><a target="_blank" href="https://help.chatfuel.com"><img src="../../../assets/images/ic_tutorials.svg" alt="" /><span class="list-title">Help</span></a></li>
    <li><a target="_blank" href="https://blog.chatfuel.com"><img src="../../../assets/images/ic_nav_blog.svg" alt="" /><span class="list-title">Blog</span></a></li>
    <li>
      <a class="profile" ng-click="$event.stopPropagation(); bsc.signOutOpened = true">
        <span class="ava" ng-style="{ 'background-image': 'url(' + bsc.profileImage + ')' }"></span>
        <span class="list-title" ng-class="{'smallText13': bsc.nameStyle13, 'smallText12': bsc.nameStyle12}" ng-bind="bsc.profileName"></span>
      </a>
    <div class="popup" ng-click="bsc.signOutOpened = false" ng-class="{ 'opened': bsc.signOutOpened }">
      <a ng-click="bsc.logout()">Sign out</a>
    </div>
  </li>
  </span>
</ul>
