<div ng-class="{'promotion-preloader': vm.loading}" class="statistics">
  <div ng-if="!vm.has_botan_app && !vm.loading" class="back"></div>
  <div ng-if="!vm.has_botan_app && !vm.loading" class="no-subscriptions">
    <div>
      Analytics appear when people start using your bot — so spread the word!
    </div>
  </div>

  <div class="statistics-main" ng-if="vm.has_botan_app && !vm.loading">

    <date-range-selector start="vm.startDate" end="vm.endDate"></date-range-selector>

    <div class="panel">
      <h3 class="section-header">Total users</h3>
      <div class="asc" tooltip-message="{{vm.tooltipMessage.users}}"></div>
      <div class="loading" ng-if="vm.totalUsersLoading">
        <img src="../../assets/images/spinner_b.svg" alt="loading..." width="32" height="32">
      </div>
      <div class="has-error" ng-if="vm.totalUsersLoadingError">
        <p>Whoops!</p>
        <p>Seems this graph is not available.</p>
        <button class="button db-orange" ng-click="vm.onRefresh('totalUsersLoadingError')">REFRESH GRAPH</button>
      </div>
      <canvas ng-if="!vm.totalUsersLoading && !vm.totalUsersLoadingError" width="956px" height="287px" class="chart chart-line graf-total-users" chart-data="vm.totalUsersData.points" chart-labels="vm.totalUsersData.dates" chart-options="vm.totalUserParams.options" chart-dataset-override="vm.totalUserParams.datasetOverride" chart-colors="vm.totalUserParams.colors"></canvas>
      <div class="legend g-colors">
        <span class="subscribed">Subscribed</span>
        <span class="unsubscribed">Unsubscribed</span>
      </div>
    </div>


    <div class="panel">
      <h3 class="section-header">Daily new and unsubscribed users</h3>
      <div class="asc" tooltip-message="{{vm.tooltipMessage.daily_users}}"></div>
      <div class="loading" ng-if="vm.totalUsersLoading">
        <img src="../../assets/images/spinner_b.svg" alt="loading..." width="32" height="32">
      </div>
      <div class="has-error" ng-if="vm.totalUsersLoadingError">
        <p>Whoops!</p>
        <p>Seems this graph is not available.</p>
        <button class="button db-orange" ng-click="vm.onRefresh('totalUsersLoadingError')">REFRESH GRAPH</button>
      </div>
      <canvas ng-if="!vm.totalUsersLoading && !vm.totalUsersLoadingError" width="956px" height="390px" class="chart chart-line graf-daily-users" chart-data="vm.dailyUsersData.points" chart-labels="vm.dailyUsersData.dates" chart-options="vm.dailyUserParams.options" chart-dataset-override="vm.dailyUserParams.datasetOverride" chart-colors="vm.dailyUserParams.colors"></canvas>
      <div class="legend g-colors">
        <span class="subscribed">Daily new</span>
        <span class="unsubscribed">Daily unsubscribed</span>
      </div>
    </div>


    <div class="panel">
      <h3 class="section-header">User activity</h3>
      <div class="asc asc-ref" uib-tooltip-html="vm.tooltipMessage.activity" tooltip-placement="left"></div>
      <div class="loading" ng-if="vm.userActivityLoading">
        <img src="../../assets/images/spinner_b.svg" alt="loading..." width="32" height="32">
      </div>
      <div class="has-error" ng-if="vm.userActivityLoadingError">
        <p>Whoops!</p>
        <p>Seems this graph is not available.</p>
        <button class="button db-orange" ng-click="vm.onRefresh('userActivityLoadingError')">REFRESH GRAPH</button>
      </div>
      <canvas ng-if="!vm.userActivityLoading && !vm.userActivityLoadingError" width="956px" height="287px" class="chart chart-line graf-event-users" chart-data="vm.userEventData.points" chart-labels="vm.userEventData.dates" chart-options="vm.eventUserParams.options" chart-dataset-override="vm.eventUserParams.datasetOverride" chart-colors="vm.eventUserParams.colors"></canvas>
      <div class="legend g-colors">
        <span class="active-users">Active users</span>
        <span class="user-message-read">User broadcast read</span>
        <span class="user-input-received">User input received</span>
      </div>
    </div>

    <div class="column-graph">

      <div class="column-graph__retention">
        <div class="panel panel__retention panel__table">
          <div class="asc" tooltip-message="{{vm.tooltipMessage.retention}}"></div>
          <h3 class="section-header section-header-table">User retention</h3>
          <div class="table-header">
            <div class="table-header__left" ng-repeat="title in vm.userRetentionTitle" ng-bind="title"></div>
          </div>
          <div class="loading" ng-if="vm.userRetentionLoading">
            <img src="../../assets/images/spinner_b.svg" alt="loading..." width="32" height="32">
          </div>
          <div class="has-error" ng-if="vm.userRetentionLoadingError">
            <p>Whoops!</p>
            <p>Seems this graph is not available.</p>
            <button class="button db-orange" ng-click="vm.onRefresh('userRetentionLoadingError')">REFRESH GRAPH</button>
          </div>
          <div class="table-container noover" ng-if="!vm.userRetentionLoading && !vm.userRetentionLoadingError">
            <table class="table table__retention">
              <tr ng-repeat="user in vm.userRetention track by $index">
                  <td>{{user.date}}</td>
                  <td>{{user.users}}</td>
                  <td style="background-color: rgba(68, 138, 241, {{vm.setBg(user.day1)}})">{{user.day1}}</td>
                  <td style="background-color: rgba(68, 138, 241, {{vm.setBg(user.day2)}})">{{user.day2}}</td>
                  <td style="background-color: rgba(68, 138, 241, {{vm.setBg(user.day3)}})">{{user.day3}}</td>
                  <td style="background-color: rgba(68, 138, 241, {{vm.setBg(user.day4)}})">{{user.day4}}</td>
                  <td style="background-color: rgba(68, 138, 241, {{vm.setBg(user.day5)}})">{{user.day5}}</td>
                  <td style="background-color: rgba(68, 138, 241, {{vm.setBg(user.day6)}})">{{user.day6}}</td>
                  <td style="background-color: rgba(68, 138, 241, {{vm.setBg(user.day7)}})">{{user.day7}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="column-graph right">
        <div class="column-graph__block block">
          <div class="panel panel__table block">
            <div class="asc" tooltip-message="{{vm.tooltipMessage.blocks}}"></div>
            <h3 class="section-header section-header-table">Popular blocks</h3>
            <div class="section-date" ng-bind="vm.data.dateRange.activity"></div>
            <div class="table-header">
              <div class="table-header__left">
                BLOCK
              </div>
              <div class="table-header__right">
                USERS
              </div>
            </div>
            <div class="loading" ng-if="vm.popularBlocksLoading">
              <img src="../../assets/images/spinner_b.svg" alt="loading..." width="32" height="32">
            </div>
            <div class="has-error" ng-if="vm.popularBlocksLoadingError">
              <p>Whoops!</p>
              <p>Seems this graph is not available.</p>
              <button class="button db-orange" ng-click="vm.onRefresh('popularBlocksLoadingError')">REFRESH GRAPH</button>
            </div>
            <div class="table-container" ng-if="!vm.popularBlocksLoading && !vm.popularBlocksLoadingError">
              <table class="table">
                <tr ng-repeat="user in vm.userPopularBlocks track by $index">
                    <td>{{user.name}}</td>
                    <td>{{user.value}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="column-graph__block-bottom">
          <div class="panel panel__block panel__table">
            <div class="asc" tooltip-message="{{vm.tooltipMessage.buttons}}"></div>
            <h3 class="section-header section-header-table">Popular buttons</h3>
            <div class="section-date" ng-bind="vm.data.dateRange.activity"></div>
            <div class="table-header">
              <div class="table-header__left">
                BUTTON
              </div>
              <div class="table-header__right">
                USERS
              </div>
            </div>
            <div class="loading" ng-if="vm.popularButtonsLoading">
              <img src="../../assets/images/spinner_b.svg" alt="loading..." width="32" height="32">
            </div>
            <div class="has-error" ng-if="vm.popularBlocksLoadingError">
              <p>Whoops!</p>
              <p>Seems this graph is not available.</p>
              <button class="button db-orange" ng-click="vm.onRefresh('popularBlocksLoadingError')">REFRESH GRAPH</button>
            </div>
            <div class="table-container" ng-if="!vm.popularButtonsLoading && !vm.popularBlocksLoadingError">
              <table class="table">
                <tr ng-repeat="user in vm.userPopularButtons">
                  <td>{{user.name}}</td>
                  <td>{{user.value}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="column-graph">
      <div class="panel panel__block panel__table referrals">
        <div class="asc asc-ref" uib-tooltip-html="vm.tooltipMessage.referrals" tooltip-placement="left"></div>
        <h3 class="section-header section-header-table">Sources</h3>
        <div class="table-header" ng-class="{'with-scroll': vm.referralsData && vm.referralsData.length > 6}">
          <div class="table-header header-item first">
            Ref parameter
          </div>
          <div class="table-header header-item second">
            Entry block
          </div>
          <div class="table-header header-item last">
            Total users
          </div>
          <div class="table-header header-item third">
            New users
          </div>
        </div>
        <div class="loading" ng-if="vm.referralsLoading">
          <img src="../../assets/images/spinner_b.svg" alt="loading..." width="32" height="32">
        </div>
        <div class="has-error" ng-if="vm.referralsLoadingError">
          <p>Whoops!</p>
          <p>Seems this graph is not available.</p>
          <button class="button db-orange" ng-click="vm.onRefresh('referralsLoadingError')">REFRESH GRAPH</button>
        </div>
        <div class="table-container" ng-if="!vm.referralsLoading && !vm.referralsLoadingError">
          <table class="table referral-table">
            <tr ng-repeat="ref in vm.referralsData">
              <td class="width294" ng-class="{'bold-text': ref.link === 'Default link'}"><a class="ref-link" ng-href="{{'https://m.me/'+vm.bot.status.page+((ref.link === 'Default link') ? '' : '?ref='+vm.encodeLink(ref.link))}}" target="_blank">{{ref.link}}</a></td>
              <td class="width410">{{ref.block}}</td>
              <td class="right-aligned width110">{{ref.new}}</td>
              <td class="right-aligned width208">{{ref.existing}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="column-graph">
      <div class="column-graph__block">
        <div class="panel panel__table">
          <div class="asc" tooltip-message="{{vm.tooltipMessage.inputs}}"></div>
          <h3 class="section-header section-header-table">Popular user inputs</h3>
          <div class="section-date" ng-bind="vm.data.dateRange.activity"></div>
          <div class="table-header">
            <div class="table-header__left">
              PHRASE
            </div>
            <div class="table-header__right">
              USERS
            </div>
          </div>
          <div class="loading" ng-if="vm.popularInputsLoading">
            <img src="../../assets/images/spinner_b.svg" alt="loading..." width="32" height="32">
          </div>
          <div class="has-error" ng-if="vm.popularBlocksLoadingError">
            <p>Whoops!</p>
            <p>Seems this graph is not available.</p>
            <button class="button db-orange" ng-click="vm.onRefresh('popularBlocksLoadingError')">REFRESH GRAPH</button>
          </div>
          <div class="table-container" ng-if="!vm.popularInputsLoading && !vm.popularBlocksLoadingError">
            <table class="table">
              <tr ng-repeat="user in vm.userPopularInputs">
                  <td>{{user.name}}</td>
                  <td>{{user.value}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="column-graph__block">
        <div class="panel block footer-message" ng-if="!vm.yandex_app">
          <p class="promotion__text">To see user input per each plugin, more popular phrases or change time period you need to sign to your Yandex.Metrika account or create one first <b>(please do not use social login, use login/password instead)</b>:</p>
          <a ng-if="!vm.yandex_app"
             ng-href="{{vm.yandex_url}}"
             class="button db-orange"
             type="button">CONNECT WITH YANDEX</a>
        </div>

        <div class="panel block footer-message footer-message__logined" ng-if="vm.yandex_app">
          <p class="promotion__text" ng-bind="vm.yandex_app.owner_name"></p>

          <p class="foot">

            <a class="button db-orange"
               target="_blank"
               ng-href="https://appmetrica.yandex.com/statistic?appId={{vm.yandex_app.id}}">Detailed Analytics</a>
            <button ng-click="vm.onLogout()" class="button db-border">Logout</button>
          </p>
        </div>
      </div>

    </div>


  </div>

  <div class="custom-graf-tooltip g-colors">
  </div>

</div>
