.tos{
  display: block!important;
  position: fixed;
  z-index: 2147483647;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .back{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  //  background: url('../images/pic_toc_bg.jpg') left top no-repeat;
    background-color: #f3f2f2;
    background-size: cover;
    opacity: 0;
    transition: opacity 150ms;
    max-width: unset;
  }

  .window{
    position: absolute;
    pointer-events: auto;
    z-index: 2;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.3, 0.3);
    width: 440px;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px rgba(0, 0, 0, 0.12);
    transition: opacity 150ms, transform cubic-bezier(0.22, 0.61, 0.36, 1) 150ms;

    label{
      font-size: 14px;
      line-height: 1.71;
    }

    .content{
      padding: 24px;
      border-bottom: 1px solid #e0e0e0;

      p{
        font-size: 16px;
        line-height: 1.5;
        color: #000000;
        padding: 0;
        margin: 0 0 16px;

        &:last-child{
          margin: 0;
        }

        a{
          text-decoration: none;
          color: #448af1;
          &:hover{
            text-decoration: underline;
          }
        }

        .button-ver2{
          display: inline-block;
        }
      }
    }
    .footer{
      padding: 16px 24px;

      label{
        color: #a6a6a6;
      }
    }
  }

  &.show{
    .back{
      opacity: 1;
    }

    .window{
      opacity: 1;
      transform: translate(-50%, -50%) scale(1, 1);
    }
  }
}

body.tos-showed{
  overflow: hidden;
  pointer-events: none;
  > * {
    pointer-events: none;
    display: none;
  }
}
