.popup.user-property{
  overflow: auto;
  z-index: 1000000;

  &.openHelp{
    .back{
      min-height: 900px;
    }

    .scroll-box {
      min-height: 900px;
    }
  }


  .scroll-box {
    width: 100%;
    height: 100%;

    div.window{
      width: 548px;
      overflow: visible;
      padding: 32px 32px 92px;
      top: 50%;

      .content{

        p.title{
          margin: 0 0 16px;
          position: relative;
          padding: 0 0 0 32px;

          &::before{
            content: ' ';
            background: url('./images/ic_user_variable.svg') no-repeat center center;
            background-size: contain;
            display: block;
            position: absolute;
            width: 24px;
            height: 24px;
            left: 0;
            top: 0;
          }
        }

        .help{
          height: 108px;
          background-color: #f3f2f2;
          padding: 16px 32px;
          overflow: hidden;
          transition: height cubic-bezier(0.22,  0.61, 0.36, 1) 200ms;
          margin: 0 -32px;

          p{
            margin: 0 0 24px;
            font-size: 14px;
            line-height: 2;
            color: #000000;

            &:first-child{
              line-height: 1.71;
            }

            .img{
              display: block;
              height: 76px;
              background: url('./images/pic_user_variable_explain.png') no-repeat;
              background-size: contain;
            }

            a{
              line-height: 1.5;
              color: #448af1;
              text-decoration: none;
              &:hover{
                text-decoration: underline;
              }
            }

            &:last-child{
              margin: 0;
            }

            .ico-blue{
              display: inline-block;
              height: 26px;
              line-height: 24px;
              border-radius: 13px;
              border: solid 1px #448af1;
              font-size: 14px;
              color: #448af1;
              padding: 0 8px;
            }

            .ico-brown{
              display: inline-block;
              height: 24px;
              line-height: 24px;
              border-radius: 13px;
              font-size: 14px;
              color: #ffffff;
              padding: 0 8px;
              background-color: #906d60;

              &::before{
                content: '{{';
                font-size: 14px;
                position: relative;
                left: -2px;
                top: -2px;
                color: #e0995d;
              }
              &::after {
                content: '}}';
                font-size: 14px;
                position: relative;
                left: 2px;
                top: -2px;
                color: #e0995d;
              }
            }
          }

          &.act{
            height: 396px;
          }
        }

        .help-switch{
          font-size: 16px;
          line-height: 1.5;
          color: #448af1;
          padding: 8px 0 24px;

          span{
            position: relative;
            cursor: pointer;

            &:hover{
              text-decoration: underline;
            }

            &::after{
              font-size: 18px;
              position: absolute;
              right: -15px;
              top: -4px;
            }

            &.show{
              &::after{
                content: "▾";
              }
            }

            &.hide{
              &::after{
                content: "▴";
              }
            }
          }
        }

        .create{
          text-align: right;
          position: relative;
          > input{
            width: 100%;
            height: 36px;
            line-height: 34px;
            border-radius: 3px;
            background-color: #ffffff;
            box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.07);
            border: solid 1px rgba(0, 0, 0, 0.13);
            font-size: 16px;
            color: #000000;
            padding: 0 32px 0 10px;
            text-indent: 16px;
          }

          > .close{
            position: absolute;
            right: 8px;
            top: 6px;
            background-size: 15px auto;
          }
          .variable-mask-wrapper {
            height: 24px;
            position: relative;
            width: 444px;
            top: -30px;
            left: 8px;
            overflow-x: hidden;
            pointer-events: none;
          }
          .variable-mask {
            display: inline-block;
            // position: relative;
            // top: -30px;
            // left: 8px;
            text-align: left;
            pointer-events: none;
            color: transparent;
            float: left;
            padding: 0 5px;
            border-radius: 13px;
            &:before {
              content: '{{';
              color: #000;
              margin-right: 2px;
            }
            &:after {
              content: '}}';
              color: #000;
              margin-left: 2px;
            }
            &.show-mask {
              background-color: #906d60;
              color: #ffffff;
              padding: 0 8px;
              &::before{
                content: '{{';
                font-size: 16px;
                position: relative;
                left: -2px;
                top: -1px;
                color: #e0995d;
                margin-right: 0px;
              }
              &::after {
                content: '}}';
                font-size: 16px;
                position: relative;
                left: 2px;
                top: -1px;
                color: #e0995d;
                margin-left: 0px;
              }
            }
          }
        }

        .property-selector{
          height: 36px;
          line-height: 36px;


          .or{
            display: inline-block;
            position: relative;
            font-size: 14px;
            line-height: 1.71;
            text-align: center;
            color: #a6a6a6;
            padding: 0 4px;
          }

          .go-create{
            vertical-align: top;
          }

          .selector-ver2{
            display: inline-block;
            width: 244px;
            vertical-align: top;
            .label.placeholder {
              overflow-x: hidden;
            }
            .variable-mask {
              display: inline-block;
              height: 26px;
              border-radius: 13px;
              background-color: #906d60;
              padding: 0 10px;
              font-size: 16px;
              line-height: 26px;
              color: #ffffff;
              &::before{
                content: '{{';
                font-size: 16px;
                position: relative;
                left: -2px;
                top: -1px;
                color: #e0995d;
              }
              &::after {
                content: '}}';
                font-size: 16px;
                position: relative;
                left: 2px;
                top: -1px;
                color: #e0995d;
              }
            }

            ul{
              width: 260px;
               li span {
                display: inline-block;
                height: 26px;
                border-radius: 13px;
                background-color: #906d60;
                padding: 0 10px;
                font-size: 16px;
                line-height: 26px;
                color: #ffffff;
                &::before{
                  content: '{{';
                  font-size: 16px;
                  position: relative;
                  left: -2px;
                  top: -1px;
                  color: #e0995d;
                }
                &::after {
                  content: '}}';
                  font-size: 16px;
                  position: relative;
                  left: 2px;
                  top: -1px;
                  color: #e0995d;
                }
              }
            }
          }
        }
      }
    }
  }
}
