.set-up-variable{
  padding: 0 0 45px;

  .content{
    .l-col{
      .line{
        .control{
          margin: 0 25px 18px 0!important;

          &.top{
            margin: 0 25px 0 0!important;
          }
        }

        &:last-child{
          .control{
            margin: 0 25px 0 0!important;
          }
        }

        > .trash-popup{
          left: auto;
          right: -38px;
          top: 4px;
        }

        &:hover{
          > .trash-popup{
            opacity: 1;
            transform: scale(1, 1);
          }
        }
      }
    }
  }

  .footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 69px;
    width: 100%;
    border-top: 1px solid #e0e0e0;
    padding: 16px 24px;

    .button-ver2{
      display: inline-block;

      &.add{
        padding: 0 20px 0 18px;
        &::before{
          content: '';
          display: inline-block;
          vertical-align: -3px;
          width: 16px;
          height: 16px;
          margin: 0 6px 0 0;
          background: url('../images/ic_add_small.svg') no-repeat center center;
          opacity: 0.3;
          transition: opacity 100ms;
        }

        &:hover{
          &::before{
            opacity: 1;
          }
        }
      }
    }
  }
}
