html {
  height: 100%;
  background-color: #f3f2f2;
  body {
    min-height: 100%;

    height: 100%;

    font-family: 'Open Sans';
    width: 100%;
    position: relative;

 //   padding-top: 64px;
    padding-top: 64px;

    -webkit-font-smoothing: antialiased;

    > * {

      width: 100%;

      > * {
        display: block;
        position: relative;
        width: 100%;
        max-width: 1200px;
        min-width: 320px;
        margin: 0 auto;
        padding: 0 0px;
        //  background-color: red;
      }

    }

    section {
      h2 {
        font-weight: 300;
        font-size: 40px;
        line-height: 56px;
        color: #000000;
        margin: 0;
        padding-top: 96px;
        text-align: center;
      }
    }

    span.red {
      color: #e9604a;
    }

    span.blue {
      color: #4db6d6
    }

  }

  // intercom styles
  #intercom-container {
    style {
      display: none;
    }
  }
}

@import "header.less";
@import "footer.less";
@import "faq.less";
