faq {
  .faq-container {
    position: fixed;
    width: 56px;
    height: 56px;
    min-width: 0;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.13);
    bottom: 20px;
    right: 20px;
    z-index: 2147483640;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color, box-shadow 120ms cubic-bezier(0.2,0.7,0.5,1), bottom 100ms;

    .bt{
      position: absolute;
      width: 56px;
      height: 56px;
      right: 4px;
      min-width: 0;
      border-radius: 50%;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.13);

      &.faq {
        background: #448af1;
        right: 0;
        &:after {
          position: absolute;
          background: url('../../images/ic_faq_big.svg') no-repeat center center;
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          transform: scale(1);
          opacity: 1;
          transition: transform 200ms cubic-bezier(0.2,0.7,0.5,1), opacity 200ms cubic-bezier(0.2,0.7,0.5,1);
        }
        &:before {
          position: absolute;
          background: url('../../images/ic_close_large.svg') no-repeat center center;
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          transform: scale(0.2);
          opacity: 0;
          transition: transform 200ms cubic-bezier(0.2,0.7,0.5,1), opacity 200ms cubic-bezier(0.2,0.7,0.5,1);
        }
        &:hover {
          background-color: #4f95ff;
          box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.13);
        }
        &:active {
          background-color: #4b8beb;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
        }
        &.presed {
          background-color: #4b8beb;
          &:after {
            opacity: 0;
            transform: scale(0.2);
          }
          &:before {
            opacity: 1;
            transform: scale(1);
          }
        }
      }

      &.faq-bot {
        width: 48px;
        height: 48px;
        background: #448af1;
        transform: scale(0.8);
        opacity: 0;
        bottom: 116px;
        pointer-events: none;
        transition: transform 120ms cubic-bezier(0.2,0.7,0.5,1) 40ms, opacity 120ms cubic-bezier(0.2,0.7,0.5,1) 40ms, bottom 120ms cubic-bezier(0.2,0.7,0.5,1) 40ms;
        &:after {
          content: 'FAQ BOT';
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.33;
          text-align: center;
          color: #ffffff;
          width: 100%;
          height: 100%;
          display: block;
          padding: 8px 12px;
        }
        &:hover {
          background-color: #4e94fe;
          box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.13);
        }

        &:active {
          background-color: #4b8beb;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
        }
        &.show {
          transform: scale(1);
          opacity: 1;
          bottom: 128px;
          pointer-events: all;
        }
      }
      &.community {
        width: 48px;
        height: 48px;
        background: #45c195 url('../../images/ic_community_big.svg') no-repeat center center;
        transform: scale(0.8);
        opacity: 0;
        bottom: 176px;
        pointer-events: none;
        transition: transform 120ms cubic-bezier(0.2,0.7,0.5,1) 80ms, opacity 120ms cubic-bezier(0.2,0.7,0.5,1) 80ms, bottom 120ms cubic-bezier(0.2,0.7,0.5,1) 80ms;
        &:hover {
          background-color: #52d0a4;
          box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.13);
        }

        &:active {
          background-color: #42b88e;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
        }
        &.show {
          transform: scale(1);
          opacity: 1;
          bottom: 188px;
          pointer-events: all;
        }
      }
      &.intercom {
        width: 48px;
        height: 48px;
        background: #e9604a url('../../images/warning.svg') no-repeat center center;
        transform: scale(0.8);
        opacity: 0;
        bottom: 296px;;
        pointer-events: none;
        transition: transform 120ms cubic-bezier(0.2,0.7,0.5,1) 160ms, opacity 120ms cubic-bezier(0.2,0.7,0.5,1) 160ms, bottom 120ms cubic-bezier(0.2,0.7,0.5,1) 160ms;
        &:hover {
          background-color: #f3725d;
          box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.13);
        }

        &:active {
          background-color: #db5a45;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
        }
        &.show {
          transform: scale(1);
          opacity: 1;
          bottom: 308px;
          pointer-events: all;
        }
      }
      &.email {
        width: 48px;
        height: 48px;
        background: #7e5ced url('../../images/ic_email_big.svg') no-repeat center center;
        transform: scale(0.8);
        opacity: 0;
        bottom: 238px;
        pointer-events: none;
        transition: transform 120ms cubic-bezier(0.2,0.7,0.5,1) 120ms, opacity 120ms cubic-bezier(0.2,0.7,0.5,1) 120ms, bottom 120ms cubic-bezier(0.2,0.7,0.5,1) 120ms;
        &:hover {
          background-color: #9275ee;
          box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.13);
        }

        &:active {
          background-color: #7959e3;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
        }
        &.show {
          transform: scale(1);
          opacity: 1;
          bottom: 248px;
          pointer-events: all;
        }
      }

      &.tutorial {
        width: 48px;
        height: 48px;
        background: #ffffff url('../../images/ic_tutorial_big.svg') no-repeat center center;
        transform: scale(0.8);
        opacity: 0;
        bottom: 58px;
        pointer-events: none;
        transition: transform 120ms cubic-bezier(0.2,0.7,0.5,1) 0ms, opacity 120ms cubic-bezier(0.2,0.7,0.5,1) 0ms, bottom 120ms cubic-bezier(0.2,0.7,0.5,1) 0ms;
        &:hover {
          background-color: #ffffff;
          box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.13);
        }

        &:active {
          background-color: #fafafa;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);
        }
        &.show {
          transform: scale(1);
          opacity: 1;
          bottom: 68px;
          pointer-events: all;
        }
      }
    }


    .faq-tooltip {
      top: -110px !important;
      left: -141px !important;
      .tooltip-inner {
        background-color: #053748;
      }
      .tooltip-arrow {
        border-left-color: #053748;
      }
    }
    .community-tooltip {
      top: -170px !important;
      left: -107px !important;
      .tooltip-inner {
        background-color: #053748;
      }
      .tooltip-arrow {
        border-left-color: #053748;
      }
    }
    .intercom-tooltip {
      top: -230px !important;
      left: -138px !important;
      .tooltip-inner {
        background-color: #053748;
      }
      .tooltip-arrow {
        border-left-color: #053748;
      }
    }
    .intercom-active-tooltip {
      top: -290px !important;
      left: -109px !important;
      .tooltip-inner {
        background-color: #053748;
      }
      .tooltip-arrow {
        border-left-color: #053748;
      }
    }
    .tutorial-tooltip {
      top: -50px !important;
      left: -196px !important;
      .tooltip-inner {
        background-color: #053748;
      }
      .tooltip-arrow {
        border-left-color: #053748;
      }
    }
  }
}

.onbording2-show{
  faq {
    .faq-container {
      bottom: 53px;

      .faq-bot{
        bottom: 56px;
        &.show{
          bottom: 68px;
        }
      }

      .community{
        bottom: 116px;
        &.show{
          bottom: 128px;
        }
      }

      .intercom{
        bottom: 236px;
        &.show{
          bottom: 248px;
        }
      }

      .email{
        bottom: 176px;
        &.show{
          bottom: 188px;
        }
      }

      .tutorial{
        display: none;
      }

      .faq-tooltip {
        top: -50px !important;
      }

      .community-tooltip {
        top: -110px !important;
      }

      .intercom-tooltip {
        top: -170px !important;
      }

      .intercom-active-tooltip {
        top: -230px !important;
      }

      .tutorial-tooltip {
        top: 10px !important;
      }
    }
  }
}
