
body {

  //padding-bottom: 160px;


  footer {
    display: none;


    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 160px;

    background-color: #000000;

    transition: height 200ms 0ms cubic-bezier(0.22, 0.61, 0.36, 1);
    -webkit-transition: height 200ms 0ms cubic-bezier(0.22, 0.61, 0.36, 1);

    overflow: hidden;

    > div {
      padding: 0 16px;

      .copy {
        text-align: left;
        line-height: 160px;
        margin: 0;
        font-size: 12px;
        text-transform: uppercase;
        color: #ffffff;
      }

      .links {
        position: absolute;
        right: 16px;
        line-height: 160px;
        top: 0;
        margin: 0;

        a {
          display: inline-block;
          vertical-align: middle;
          margin-left: 40px;
          color: #ffffff;
          font-size: 12px;
          line-height: 16px;
          text-decoration: none;
          text-transform: uppercase;
          border-bottom: 1px solid rgba(255, 255, 255, 0);

          transition: border-bottom-color 60ms 0ms cubic-bezier(0.22, 0.61, 0.36, 1);
          -webkit-transition: border-bottom-color 60ms 0ms cubic-bezier(0.22, 0.61, 0.36, 1);
        }

        a:hover {
          border-bottom-color: rgba(255, 255, 255, 1);
        }
      }
    }

  }
}

@media (max-width: 720px)  {
  body {

//    padding-bottom: 100px;

    footer {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100px;
      line-height: 16px;

      > div {
        .copy {
          line-height: 16px;
          text-align: center;
          padding-top: 24px;

        }

        .links {
          line-height: 16px;
          top: 60px;
          right: 50%;
          transform: translateX(50%);
          -webkit-transform: translateX(50%);
          white-space: nowrap;
          > a {
            margin-left: 20px;
          }

          > a:first-child {
            margin: 0;
          }
        }
      }
    }
  }
}
