body {
  header {



    position: absolute;

    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 200ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, opacity 250ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms;
    -webkit-transition: background-color 200ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, opacity 250ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms;



    > div {
      > * {
        position: absolute;
      }
    }

    .logo-mini {
      display: none;
    }

    .logo {
      pointer-events: none;
      top: 210px;
      left: 16px;
      //  width: 29.2%;

      transition: opacity 200ms 0ms linear;
      -webkit-transition: opacity 200ms 0ms linear;

      img {
        //    width: 100%;
        width: 290px;
      }
    }

    nav {
      right: 81px;
      top: 24px;

      text-align: right;
      white-space: nowrap;

      a {
        display: inline-block;
        vertical-align: top;

        margin-left: 36px;

        color: #ffffff;
        font-size: 12px;

        text-decoration: none;
        text-transform: uppercase;

        border-bottom: 1px solid rgba(255, 255, 255, 0);

        transition: border-bottom-color 60ms 0ms cubic-bezier(0.22, 0.61, 0.36, 1);
        -webkit-transition: border-bottom-color 60ms 0ms cubic-bezier(0.22, 0.61, 0.36, 1);
      }

      a:hover {
        border-bottom-color: rgba(255, 255, 255, 1);
      }
    }

    .language-selector {

      cursor: pointer;
      top: 22px;
      right: 16px;

      width: 25px;
      height: 20px;
      line-height: 18px;

      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 3px;

      color: #ffffff;
      font-size: 11px;
      text-transform: uppercase;
      text-align: center;

      transition: border-color 60ms 0ms cubic-bezier(0.22, 0.61, 0.36, 1);
      -webkit-transition: border-color 60ms 0ms cubic-bezier(0.22, 0.61, 0.36, 1);

      .popup {
        position: absolute;
        top: -1000px;
        right: 0;
        width: 120px;
        border-radius: 3px;
        background-color: #ffffff;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        padding: 6px 0;
        overflow: hidden;
        opacity: 0;
        max-height: 0;

        transition: opacity 60ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, max-height 600ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, top 0ms linear 60ms;
        -webkit-transition: opacity 60ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, max-height 600ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, top 0ms linear 60ms;

        a {
          display: block;
          text-decoration: none;
          font-size: 16px;
          line-height: 40px;
          color: #000000;
          text-transform: none;
          text-align: left;
          padding-left: 24px;
        }

        a:hover {
          color: #e9604a;
        }
      }

      .popup::before {
        content: " ";
        position: absolute;
        width: 100%;
        height: 40px;
        top: -40px;
        right: 0;
      }
    }

    .language-selector:hover {
      border-color: rgba(255, 255, 255, 1);
      .popup {
        transition: opacity 60ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, max-height 60ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, top 0ms linear 0ms;
        -webkit-transition: opacity 60ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, max-height 60ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, top 0ms linear 0ms;
        top: 23px;
        opacity: 1;
        max-height: 300px;
        overflow: visible;
      }
    }

    .language-selector::after {
      content: " ";
      position: absolute;
      width: 100%;
      height: 5px;
      bottom: -5px;
      right: 0;
    }
  }
}

body{


  header {

    max-width: inherit;

    > div {

       max-width: inherit;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10001;
        width: 100%;
        height: 64px;
        background-color: #ffffff;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .logo-mini {
          display: block;
          top: 22px;
          left: 32px;
          width: 103px;
          img {
            width: 100%;
          }
        }

        .button {
          top: 18px;
          right: 360px;
        }

        nav {
          right: 22px;
          top: 0px;
          height: 64px;

          text-align: right;
          white-space: nowrap;

          > a {
            display: inline-block;
            vertical-align: top;
            height: 64px;
            line-height: 64px;

            margin-left: 10px;
            padding: 0 8px;

            color: #000000;
            font-size: 12px;

            text-decoration: none;
            text-transform: uppercase;

            border-bottom: 2px solid rgba(233, 96, 74, 0);

            transition: all 60ms 0ms cubic-bezier(0.22, 0.61, 0.36, 1);
            -webkit-transition: all 60ms 0ms cubic-bezier(0.22, 0.61, 0.36, 1);

            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }

          > a:hover {
            color: #e9604a;
          }

          > a.act {
            border-bottom-color: rgba(233, 96, 74, 1);
          }

          > a.button.big-orange{
            background-color: #e9604a;
            border: 1px solid #e9604a;
            border-radius: 3px;
            color: #ffffff;
            display: inline-block;
            font-size: 12px;
            height: 28px;
            line-height: 26px;
            margin-left: 20px;
            margin-top: 19px;
            width: 97px;
          }

        }

        .language-selector {
          cursor: pointer;
          top: 22px;
          right: 16px;

          width: 25px;
          height: 20px;
          line-height: 18px;

          border: 1px solid rgba(0, 0, 0, 1);
          border-radius: 3px;

          color: #000000;
          font-size: 11px;
          text-transform: uppercase;
          text-align: center;

          transition: all 60ms 0ms cubic-bezier(0.22, 0.61, 0.36, 1);
          -webkit-transition: all 60ms 0ms cubic-bezier(0.22, 0.61, 0.36, 1);

          .popup {
            position: absolute;
            top: -1000px;
            right: 0;
            width: 120px;
            border-radius: 3px;
            background-color: #ffffff;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
            padding: 6px 0;
            overflow: hidden;
            opacity: 0;
            max-height: 0;

            transition: opacity 60ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, max-height 600ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, top 0ms linear 60ms;
            -webkit-transition: opacity 60ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, max-height 600ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, top 0ms linear 60ms;

            a {
              position: static;
              display: block;
              text-decoration: none;
              font-size: 16px;
              line-height: 40px;
              color: #000000;
              text-transform: none;
              text-align: left;
              padding-left: 24px;
            }

            a:hover {
              color: #e9604a;
            }
          }

          .popup::before {
            content: " ";
            position: absolute;
            width: 100%;
            height: 40px;
            top: -40px;
            right: 0;
          }
        }

        .language-selector:hover {
          color: rgba(233, 96, 74, 1);
          border-color: rgba(233, 96, 74, 1);
          .popup {
            transition: opacity 60ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, max-height 60ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, top 0ms linear 0ms;
            -webkit-transition: opacity 60ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, max-height 60ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, top 0ms linear 0ms;
            top: 23px;
            opacity: 1;
            max-height: 300px;
            overflow: visible;
          }
        }

        .language-selector::after {
          content: " ";
          position: absolute;
          width: 100%;
          height: 5px;
          bottom: -5px;
          right: 0;
        }

        .user {
          cursor: pointer;
          display: inline-block;
          position: relative;
          line-height: 64px;

          > a {
            color: rgba(0, 0, 0, 0.5);
            text-decoration: none;
            margin-left: 16px;

            .ava {
              display: inline-block;
              vertical-align: middle;
              width: 28px;
              height: 28px;
              background-color: rgba(0, 0, 0, 0.1);
              margin-right: 8px;
              border-radius: 50%;
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center center;
            }

            .name {
              font-size: 12px;
              text-transform: uppercase;
            }
          }

          .popup {
            position: absolute;
            top: -1000px;
            right: 0;
            width: 120px;
            border-radius: 3px;
            background-color: #ffffff;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
            padding: 6px 0;
            overflow: hidden;
            opacity: 0;
            max-height: 0;

            transition: opacity 60ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, max-height 600ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, top 0ms linear 60ms;
            -webkit-transition: opacity 60ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, max-height 600ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, top 0ms linear 60ms;

           > a {
              position: static;
              display: block;
              text-decoration: none;
              font-size: 16px;
              line-height: 40px;
              color: #000000;
              text-transform: none;
              text-align: left;
              padding-left: 24px;
              margin: 0;
            }

            a:hover {
              color: #e9604a;
            }
          }
        }

        .user:hover {

          > a {
            color: rgba(233, 96, 74, 1);
            .name {
            }
          }

          .popup {
            transition: opacity 60ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, max-height 60ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, top 0ms linear 0ms;
            -webkit-transition: opacity 60ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, max-height 60ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms, top 0ms linear 0ms;
            top: 52px;
            opacity: 1;
            max-height: 300px;
            overflow: visible;
          }
        }

      }
    }
  }



body.is-404{
  header{
    .logo {
      display: block;
      top: 22px;
      left: 16px;
      width: 103px;
      pointer-events: auto;
      img{
        width: 100%;
      }
    }
  }
}

/*
@media (max-width: 720px){
  body.blog {
    header {
      .button{
        display: none;
      }
    }
  }



  body {
    header {
      position: fixed;
      height: 48px!important;
      background-color: rgba(255, 255, 255, 1);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

      opacity: 0;

      .logo {
        opacity: 0;
      }
      nav {
        display: none;
      }
      .language-selector {
        display: none;
      }

      .logo-mini {
        display: block;
        position: static;
        margin: 0 auto 0;
        padding-top: 14.2px;
        width: 103px;
        img {
          width: 100%;
        }
      }

      .button.mobile-menu {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    header.show {
      opacity: 1;
    }
  }
}

@media (max-width: 650px){
    body {
      header {
        .logo {
          display: none;
        }
      }
    }
}
*/
