<div>

  <div class="border-box admins" ng-class="{'no-spiner': vm.bot}">
    <div class="pages-list-header">
      <h2 class="admins-header">Admins</h2>
      <div class="buttons-header">
        <div class="button button-ver2 white" ng-click="vm.showInvite()">Invite admin</div>
      </div>
    </div>
    <p>
      You can invite admins to manage your bot together or even transfer a bot to a new owner.
    </p>
    <ul ng-if="vm.bot">
      <li ng-class="{you: admin.id === vm.user.id}" ng-repeat="admin in vm.bot.admins track by $index">
        <span ng-style="{ 'background-image': 'url(' + admin.picture + ')' }"></span>
        <div>
          {{admin.name}} <span ng-if="admin.id === vm.user.id">(you)</span>
          <!--div>Administrator</div-->
        </div>
        <div ng-if="admin.id !== vm.user.id" class="button db-sq remove" ng-click="vm.remove(admin)"></div>
      </li>
    </ul>
  </div>
</div>
