<div class="user">
  <a href="//dashboard.chatfuel.com/">
    <span class="ava" ng-style="{ 'background-image': 'url(' + userCtrl.user.picture + ')' }"></span>
    <span class="name">{{userCtrl.user.name}}</span>
  </a>
  <div class="popup">
    <a href="#" ng-click="userCtrl.logout()">Log Out</a>
  </div>
</div>
