<div class="mobile-warring" ng-if="mob.MobileWarringService.isShow">
  <p>For the full experience please visit this site on desktop</p>
  <div class="button close" ng-click="mob.hide()"></div>
</div>
