section.ai-setup {
  padding-left: 160px;
  background-color: #f3f2f2;
  min-height: 100%;

  @media (max-width: 1024px) {
      padding-left: 72px !important;
  }

  .box {
    position: static;
    padding: 0 32px;
    margin: 0;
  //  max-width: 1196px;
    max-width: unset;

    .content{
      max-width: 1024px;
      min-width: 780px;
      margin: 0 auto;
      padding: 32px 0;


      .h1{
        line-height: 1.5;
        font-size: 24px;
        color: #000000;
        font-weight: 300;
        margin: 0 0 16px;
        position: relative;
      }

      .note,
      .groups-list,
      .rules,
      .h1-controls-box{
        transition: opacity 300ms;
        opacity: 1;
      }

      .h1-controls-box{
        right: 0;
        position: absolute;
        top: 0;
        white-space: nowrap;

        .languages{
          display: inline-block;
          vertical-align: top;
        }

        .search-box{
          position: relative;
          margin: 0 0 0 14px;
          height: 36px;
          display: inline-block;
          vertical-align: top;

          .button-ver2{
            position: absolute;
            top: 50%;
            right: 7px;
            transform: translateY(-50%);
            z-index: 10;
            pointer-events: none;
          }

          &:hover{
            .button-ver2{
              opacity: 1;
            }
          }

          input{
            display: block;
            opacity: 0;
            cursor: pointer;
            width: 36px;
            height: 36px;
            transition: width 150ms, opacity 50ms 100ms;
            background-color: #ffffff!important;
            padding: 0 24px 0 12px;
            line-height: 34px;
            font-size: 16px;
            color: #000000;

            &:focus, &.ng-not-empty{
              width: 230px;
              opacity: 1;
              cursor: auto;
              transition: width 150ms, opacity 50ms 0ms;

              & + .button-ver2{
                opacity: 1;
              }
            }
          }
        }
      }

      .preloader{
        transition: opacity 100ms;
        opacity: 0;

        position: absolute;
        z-index: 1000000;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 36px;
        width: 36px;
        background: transparent url('../images/spinner_b.svg') no-repeat 50% 50%;
        background-size: 36px;
        margin-left: 80px;
        @media (max-width: 1024px) {
          margin-left: 41px !important;
        }
      }


      .note{
        font-size: 14px;
        line-height: 1.71;
        color: #767676;
        margin: 0 0 24px;
      }

      .groups-list{
        margin: 0 0 12px;

        .group-item{
          position: relative;
          display: inline-block;
          vertical-align: top;
          height: 26px;
          line-height: 26px;
          border-radius: 29px;
          background-color: #fafafa;
          margin: 0 12px 12px 0;

          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          span{
            display: inline-block;
            padding: 0 16px;
            font-size: 14px;
            color: #000000;
            vertical-align: top;
            outline: none;
            height: 26px;
            line-height: 24px;
            margin: -1px;
            border-radius: 29px;
            border: solid 1px rgba(0, 0, 0, 0.33);
          }


          &.act{
            cursor: text;

            span{
              -webkit-user-select: auto;
              -moz-user-select: all;
              -ms-user-select: all;
              user-select: all;
              background-color: #053748;
              border: solid 1px #053748;
              color: #ffffff;

              &:focus{
                background-color: transparent;
                border: solid 1px rgba(0, 0, 0, 0.33);
                box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.07);
                color: #000000;
              }

              &:empty:not(:focus) {
                background-color: #fff5f4;
                border: solid 1px #e9604a;
                line-height: 24px;
                &::before{
                  color: #e9604a;
                }
              }
            }
          }

          .trash-popup{
            left: auto;
            right: -6px;
          }

          &:hover{
            span:not(:focus) + .trash-popup{
              transform: scale(1, 1);
              opacity: 1;
            }
          }

          &.add{
            font-size: 14px;
            line-height: 24px;
            color: #000000;
            padding: 0 16px;
            border: solid 1px rgba(0, 0, 0, 0.33);
            text-transform: uppercase;
            background-color: #ffffff;
            &::before{
              content: '';
              vertical-align: -3px;
              display: inline-block;
              margin: 0 4px 0 0;
              width: 16px;
              height: 16px;
              background: url('../images/ic-add-small.svg') no-repeat center center;
              opacity: 0.3;
              transition: opacity 100ms;
            }
            &:hover{
              background-color: #ffffff;
              &::before{
                opacity: 1;
              }
            }

            &:active{
              background-color: #FAFAFA;
            }
          }
        }
      }

      .rules{
        padding: 25px 0 0;

        &::before{
          position: absolute;
          content: '';
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #e0e0e0;
          margin: -25px 0 0;
        }

        .add-rule{
          margin: 0 0 32px;
          width: 150px;
          padding: 0;

          &::before{
            content: '';
            vertical-align: -3px;
            display: inline-block;
            margin: 0 6px 0 0;
            width: 16px;
            height: 16px;
            background: url('../images/ic-add-white-small.svg') no-repeat center center;
          }
        }

        .intents-list{
          .intent-item{
            position: relative;
            border-radius: 7px;
            background-color: #ffffff;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
            border: solid 1px rgba(0, 0, 0, 0.12);
            margin: 0 0 32px;

            &.error-intent{
              border: solid 1px #e9604a;
              transition: border 100ms 10ms;
            }

            &::after{
              content: '';
              display: block;
              height: 1px;
              clear: both;
            }

            &::before{
              content: '';
              position: absolute;
              background-color: #e0e0e0;
              width: 1px;
              height: 100%;
              top: 0;
              left: 50%;
            }

            &:last-child{
              margin: 0;
            }

            > div{
              width: 50%;
              float: left;
              padding: 24px;
            }

            .title{
              text-transform: uppercase;
              font-size: 13px;
              line-height: 2.15;
              color: #767676;
              margin: 0 0 8px;
            }

            .lines{

            }

            .actions{
              .actions-list{
                .action-item{
                  position: relative;

                  &:first-child{
                    .title{
                      .other{
                        display: none;
                      }
                    }
                  }
                  &:not(:first-child){
                    .title{
                      margin: 8px 0 -2px;
                      .first{
                        display: none;
                      }
                    }
                  }

                  .target{
                    .blocks-suggest{
                         background-color: rgba(0, 0, 0, 0.01);
                         box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
                         border: solid 1px rgba(0, 0, 0, 0.2);
                         .bs-popup {
                           z-index: 99999;
                         }
                    }
                  }

                  > .trash-popup{
                    left: auto;
                    right: -6px;
                    top: 18px;
                  }

                  &:hover{
                    > .trash-popup{
                      opacity: 1;
                      transform: scale(1, 1);
                    }
                  }

                  &:first-child{
                    > .trash-popup{
                      top: 29px;
                    }
                  }
                }
              }

              .add-action{
                margin: 32px 0 0;
                &::before{
                  content: '';
                  vertical-align: -3px;
                  display: inline-block;
                  margin: 0 4px 0 0;
                  width: 16px;
                  height: 16px;
                  background: url('../images/ic-add-small.svg') no-repeat center center;
                  opacity: 0.3;
                  transition: opacity 100ms;
                }
                &:hover{
                  background-color: #ffffff;
                  &::before{
                    opacity: 1;
                  }
                }
              }

              .random-switcher{
                position: absolute;
                top: 24px;
                right: 24px;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                .art-switcher{
                  display: inline-block;
                  vertical-align: middle;
                  position: relative;

                  &::after{
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 100%;
                    height: 100%;
                    width: 61px;
                  }
                }

                span{
                  text-transform: uppercase;
                  font-size: 13px;
                  line-height: 2.15;
                  color: #767676;
                }
              }
            }


            > .trash-popup{
              left: auto;
              right: -6px;
            }

            &:hover{
               >.trash-popup{
                opacity: 1;
                transform: scale(1, 1);
              }
            }
          }
        }
      }
    }

    &.loading{
      .content{

        .note,
        .groups-list,
        .rules,
        .languages{
          opacity: 0;
          pointer-events: none;
        }

        .preloader{
          opacity: 1;
        }
      }
    }
  }
}
