@media (max-width: 790px) {
  body {
    min-width: 660px;
    padding-top: 58px!important;
  //  min-height: 109%!important;

    &.mobile-warring-show{
      padding-top: 116px!important;

      header{
        top: 60px;
      }

      section.bot-selector{
        top: 60px;
        > div {
            nav {
              top: 124px;
              ul {
                min-height: 664px;
                .bottom-list {
                  bottom: 124px;
                }
              }
            }
        }
      }

      section.editor{
        margin-top: 8px;
      }
    }

    header {
      min-width: 660px;
      > div{
        position: absolute;
      }
    }
    section.promotion {
      .border-box.generator{
        li label {
          display: block;
        }
      }
    }
    section.settings {
      min-width: 1076px;
    }
    section.dashboard-v2{
      overflow: auto;
      margin-top: 0;
      padding-bottom: 0;
      > div{
        padding: 32px 16px 10px;
      }
    }

    section.bot-selector{
      // position: absolute;

      > div {


        .button-box{
        //  width: 150px;
          height: 64px;
          overflow: hidden;
          // top: 21px;
        }

        nav {
          max-width: 90%;
          overflow: hidden;
        }
      }
    }


  }

  section.bot-create{
    > div{
      max-width: 100%;
      min-width: 100%;
      h2{
        &:first-child{
          // display: none;
        }
      }

      .bots-list{
        padding-bottom: 40px;
        overflow: hidden;
      }

      .bot-panel {
        padding: 32px 50px;

        .bot-panel-container {
          width: auto;
          text-align: center;

          .bot-name{
            bottom: 23px;

            input {
              width: 100%;
              min-width: 256px;
              margin: 0;
            }

            div{
              display: none;
            }
          }
        }

        .button{
          bottom: 10px;
        }
      }
    }
  }

  .card-item.add{
    &::after{
      display: none!important;
    }
    ul{
      opacity: 1!important;
    }
  }

  .card-item .r-buttons,
  .card-item.gallery .card > .image .img,
  .button-image,
  .card-item .card .top-buttons
  {
    opacity: 1!important;
  }


  .button.move, .button.drag{
    visibility: hidden;
  }

  div.button-picture-wrapper{
    display: block!important;
    opacity: 0.3!important;
  }

  .card-item.gallery .card > .image div.img{
    opacity: 0.7!important;
  }
}
