.statistics{
  .custom-graf-tooltip{
    position: absolute;
    padding: 12px;
    border-radius: 3px;
    background-color: #053748;
    pointer-events: none;
    transform: translate(-50%, -100%);
    transition: opacity 100ms, left 200ms, right 200ms;
    font-size: 14px;
    line-height: 1.29;
    color: #ffffff;
    white-space: nowrap;
    opacity: 0;

    > div {
      margin: 0 0 7px;
      &:last-child{
        margin: 0;
      }
    }

    &::before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%) rotate(45deg);
      width: 10px;
      height: 10px;
      background-color: #053748;
    }
  }

  .legend{
    margin: 0 0 0 24px;
    padding: 19px 0 0;
    span{
      display: inline-block;
      margin: 0 32px 0 0;
      font-size: 13px;
      line-height: 1.54;
      color: #000000;
    }
  }

  .g-colors{
    > * {
      &::before{
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        margin: 0 6px 0 0;
        vertical-align: -1px;
      }

      &.total {
        &::before{
          background-color: #transparent;
        }
      }

      &.subscribed {
        &::before{
          background-color: #4a90e2;
        }
      }

      &.unsubscribed {
        &::before{
          background-color: #e9604a;
        }
      }

      &.active-users {
        &::before{
          background-color: #448af1;
        }
      }

      &.user-message-read {
        &::before{
          background-color: #e9604a;
        }
      }

      &.user-input-received {
        &::before{
          background-color: #5bd8ac;
        }
      }


    }
  }
}
