<div class="structure-content">
  <div class="structure-preloader" ng-class="{'structure-preloader-active': vm.loading}" ng-if="!vm.loaderRenderOff"></div>
  <div ng-class="{'hide-pro-preloader': vm.loading}">
    <h1 class="link-ref-on">
      <!-- strip tag on-change 'case strip-tags="true" breaks in FF  -->
      <span
        class="text"
        id="block-title-input"
        ng-model="vm.block.title"
        ng-blur="vm.saveBlockTitle()"
        ng-change="vm.cropTitle()"
        ng-key
        safe-paste
        contenteditable="true"
        placeholder="Untitled block"
        strip-br="false"
        strip-tags="false"
        select-non-editable="true"
        uib-tooltip="{{vm.$error || 'Name is empty. Enter a valid one.'}}"
        tooltip-is-open="!!vm.$error"
        tooltip-trigger="none"
        tooltip-placement="top-left"
        auto-save></span>

      <span class="but-container"><div class="h1-but" ng-if="!vm.block.builtin" uib-tooltip="Duplicate this block" tooltip-trigger="mouseenter"><div class="button copy" ng-click="vm.onCopyBlock($event)"></div></div></span>
      <ref-link page="vm.bot.status.page" block="vm.block" block-title="vm.clearTitle()" ng-if="vm.bot.status.page"></ref-link>
      <span class="but-container remove"><div class="h1-but" ng-if="!vm.block.builtin" uib-tooltip="Delete this block" tooltip-placement="top-right" tooltip-trigger="mouseenter"><div class="button remove" ng-click="vm.onDeleteBlock($event)"></div></div></span>
      <!-- <div class="button close" ng-click="vm.closeBlock()"></div> -->
    </h1>

    <div class="description" ng-bind="vm.$getBlockDescription()" ng-if="vm.$getBlockDescription()"></div>
    <!-- <div>&nbsp;</div> -->

    <plugin-list block="vm.block">
      <div ng-model="vm.block.cards" ui-sortable="vm.$sortable" class="sortable-list">
        <plugin item="plugin" ng-repeat="plugin in vm.block.cards track by $index">
          <div>
            <plugin-remove
              item="plugin"
              ng-class="{'r-hide': vm.actionListOver === plugin.id || plugin.id === vm.qrMouseOverId}"
            ></plugin-remove>
            <plugin-container plugin="plugin" sort="vm.$sortableInGal"></plugin-container>
          </div>
        </plugin>

        <!--  ng-if="!vm.block.is_welcome_block || (vm.block.cards.length === 0 && vm.block.is_welcome_block)" -->

        <plugin-add
          type="structure"
          welcome="vm.block.is_welcome_block"
          block="vm.block"></plugin-add>
      </div>
    </plugin-list>
  </div>
</div>
