<div class="block-list" ui-sortable="vm.$sortable" ng-model="vm.groups">
  <div class="draggable-group" ng-repeat="group in vm.groups track by group.id">
    <group group="group" groups="vm.groups" ></group>
  </div>

  <div class="block-item add" ng-click="vm.addGroup()">Add group</div>
</div>
