<div class="structure-null" ng-if="vm.show">

  <!-- <h2>
    Learn how to create a chatbot in 10 minutes
  </h2> -->

  <!-- <p>
    <iframe width="720" height="406" src="https://www.youtube.com/embed/mD6I1dXgzvA?iv_load_policy=3&amp;rel=0&amp;showinfo=0&amp;start=86" frameborder="0" allowfullscreen></iframe>
  </p> -->

  <!-- <tutorial page="structure"></tutorial> -->
</div>
