<div>
  <p ng-class="{'has-error': vm.hasValidationError}" class="title icon audio-plugin">
    Audio
  </p>
  <p class="info">
    Allows to send an audio file into chat. Supported formats: mp3, wav, ogg. Maximum file size: 10MB
  </p>
  <div class="content audio-content">
    <div class="l-col">
      <div class="line">
        <div smart-save="url" class="control size-full required">
          <input ng-blur="vm.save()" class="input-audio" placeholder="Enter audio file URL" ng-model="vm.item.config.url"/>
        </div>
      </div>
    </div>
  </div>

  <!-- <a href="https://help.chatfuel.com/facebook-messenger" target="_blank">
    <div class="asc"></div>
  </a> -->
  <localization item="vm.item"></localization>
</div>
