<div>
  <p ng-class="{'has-error': vm.hasValidationError}" class="title icon chatroom">
    Chat room
  </p>
  <p class="info chatroom-info">
    Chat Room plugin allows a bot's users to have a conversation with each other. Currently, the number of chat room participants is limited to 200.
  </p>

  <!-- <a href="https://help.chatfuel.com/facebook-messenger" target="_blank">
    <div class="asc"></div>
  </a> -->
  <localization item="vm.item"></localization>
</div>
