<div
  class="action-item-v2"
  uib-tooltip="Total price cannot be less than $0.50"
  tooltip-placement="top"
  tooltip-class="button-tooltip-error"
  tooltip-is-open="vm.totalCost > 0 && vm.totalCost < 50"
  tooltip-trigger="none"
  ng-click="vm.openPopup($event)"
  ng-class="{
      expand: vm.open,
      'has-target': ((vm.targetType === 'blocks' && vm.blocksTitles.length) || (vm.targetType === 'url' && vm.tmpItem.url) || (vm.targetType === 'phone-call' && vm.tmpItem.phone_number) || vm.targetType === 'share'),
      'animate-off': vm.animateOff
      }"
  >
  <div class="content-box">
    <div class="title-box">
      <div
        ng-mousedown="vm.setTitleFocus()"
        class="title-resize-box cf-input"
        ng-class="{
            'share-title-box': vm.targetType === 'share',
            'buy-title-box': vm.targetType === 'buy',
            focus: vm.titleFocused, empty: !vm.tmpItem.title,
            'not-been-change': (!vm.beenChange || !vm.open)
          }"
      >
        <span
          class="title"
          contenteditable="{{vm.open?'true':'false'}}"
          placeholder="Enter button name"
          ng-click="vm.open && $event.stopPropagation()"
          ng-keydown="vm.onTitleKeyDown($event); vm.beenChange = true"
          ng-keyup="vm.updateDiscount($event)"
          ng-model="vm.tmpItem.title"
          ng-change="vm.testError()"
          ng-focus="vm.titleFocused = true;"
          ng-blur="vm.onBlurTitle(); vm.titleFocused = false; vm.onTrim(value);"
          ng-if="vm.targetType !== 'share' && vm.targetType !== 'buy'"
          ng-mousedown="$event.stopPropagation()"
          safe-paste
        ></span>
        <div
          class="discount"
          ng-bind="vm.$discount"
          ng-class="{bgRed: vm.$discount < 7}"
          ng-if="vm.targetType !== 'share'"
        ></div>
        <div
          class="share-title"
          ng-if="vm.targetType === 'share'"
        >
          <div
            class="button-ver2 icon lock"
            ng-class="{ihide: !vm.open}"
            uib-tooltip="Due Facebook limitations it’s not possible to change button caption"
            tooltip-placement="top"
            tooltip-class="button-tooltip"
            tooltip-append-to-body="true"
          ></div>
          Share
        </div>
        <div
          class="buy-title"
          ng-if="vm.targetType === 'buy'"
        >
          <div class="coast"
               ng-class="{error: vm.totalCost > 0 && vm.totalCost < 50}"
          >
            $<span ng-bind="vm.totalCost | currency"></span>
          </div>
          <div class="buy-title-text">
            <div
              class="button-ver2 icon lock"
              ng-if="vm.open && vm.botStatusConnected && vm.botStatusPaymentEnabled && vm.paymentsAccess"
              uib-tooltip="Due Facebook limitations it’s not possible to change button caption"
              tooltip-placement="top"
              tooltip-class="button-tooltip"
              tooltip-append-to-body="true"
            ></div>
            <div
              class="button-ver2 icon warring"
              ng-if="vm.botStatusConnected === false || vm.botStatusPaymentEnabled === false || vm.paymentsAccess === false"
              uib-tooltip="{{vm.getWarringTTText()}}"
              tooltip-placement="top"
              tooltip-class="button-tooltip-warring"
              tooltip-append-to-body="true"
            ></div>
            Buy
          </div>
        </div>
      </div>
      <div class="preview">
        <div class="blocks" ng-if="vm.targetType === 'blocks' && vm.blocksTitles.length">
          <span ng-repeat="item in vm.blocksTitles track by $index" ng-bind="item"></span>
        </div>
        <div class="url" ng-if="vm.targetType === 'url'" ng-bind="vm.tmpItem.url">
        </div>
        <div class="phone-call" ng-if="vm.targetType === 'phone-call'">
          <span>{{vm.tmpItem.phone_number|filterPhone}}</span>
        </div>
        <div class="share" ng-if="vm.targetType === 'share'">
          Share this card
        </div>
      </div>
    </div>
    <div class="hide-box">
      <ul class="state-selector">
        <li class="blocks" ng-mousedown="vm.setTargetType('blocks', true);" ng-class="{act: vm.targetType === 'blocks'}">
          Blocks
        </li>
        <li class="url" ng-mousedown="vm.setTargetType('url');" ng-class="{act: vm.targetType === 'url'}">
          URL
        </li>
        <li class="phone-call" ng-mousedown="vm.setTargetType('phone-call');" ng-class="{act: vm.targetType === 'phone-call'}">
          Phone call
        </li>
        <li class="share" ng-mousedown="vm.setTargetType('share');" ng-class="{act: vm.targetType === 'share'}" ng-if="vm.showShare">
          Share
        </li>
        <li class="buy" ng-mousedown="vm.setTargetType('buy');" ng-class="{act: vm.targetType === 'buy'}" ng-if="vm.showShare && !vm.testShowBuy()">
          Buy
        </li>
      </ul>
      <div class="states-box" ng-if-="vm.open">
        <div class="blocks" ng-if="vm.targetType === 'blocks'">
          <blocks-suggest blocks="vm.tmpItem.block_id" blocks-titles="vm.blocksTitles" exclude-blocks="[]" index="0" auto-on-show-error="true"></blocks-suggest>
        </div>
        <div class="url" ng-if="vm.targetType === 'url'">
          <div class="input-url-box">
            <!--input class="input" ng-model="vm.tmpItem.url" ng-change="vm.testError()" type="text" placeholder="Enter a URL" ng-class="{error: vm.error === 'url'}"/-->
            <art-textarea-expand
              ng-keyup="vm.testError()"
              ng-keydown = "vm.onKeyDownActionInput($event)"
              class="{{vm.error.indexOf('url') !== -1?'error':''}} cf-input"
              value="vm.tmpItem.url"
              placeholder="Enter a URL"
              index="0"
            ></art-textarea-expand>
          </div>
          <div class="webview-h-sel-box">
            In-app browser size:
            <art-big-dropdown
              ng-model="vm.tmpItem.webview_height_ratio"
              items="vm.webViewSizes"
            ></art-big-dropdown>
          </div>
        </div>
        <div class="phone-call" ng-if="vm.targetType === 'phone-call'">
          <div class="input-box">
            <input
              class="input cf-input"
              ng-model="vm.tmpItem.phone_number"
              ng-change="vm.testError()"
              ng-keydown = "vm.onKeyDownActionInput($event)"
              type="text"
              placeholder="Enter a phone number"
              ng-intl-tel-input
              ng-class="{error: vm.error.indexOf('phone-call') !== -1}"
            />
          </div>
        </div>
        <div class="share" ng-if="vm.targetType === 'share'">
          <p>
           Pressing this button will open share dialog
          </p>
        </div>
        <div class="buy" ng-if="vm.targetType === 'buy'">
          <buy-button
            item="vm.tmpItem"
            items="vm.items"
            index="vm.index"
            test-error="vm.testError()"
            done-popup="vm.donePopup()"
            total-cost="vm.totalCost"
            wizard-open="vm.wizardOpen"
            update-bot-payments-status="vm.updateBotPaymentsStatus(true)"
            bot-status-connected="vm.botStatusConnected"
            bot-status-payment-enabled="vm.botStatusPaymentEnabled"
            payments-access="vm.paymentsAccess"
          ></buy-button>
        </div>

      </div>
      <div class="buttons">
        <div class="button-ver2 white-rounded" ng-click="vm.closePopup($event)">
          CANCEL
        </div>
        <div class="button-ver2 orange-rounded" ng-click="vm.donePopup($event)"  ng-keydown="vm.onKeyDownDone($event)" ng-class="{disabled: vm.error.length}" tabindex="1">
          DONE
        </div>
      </div>
    </div>
  </div>

  <div class="button-ver2 trash-popup" ng-click="vm.remove($event)"></div>
</div>
