<div class="body" suggest-template-multiline>
  <textarea
    maxlength="{{vm.discount}}"
    spellcheck="false"
    placeholder="Subtitle or description"
    ng-model="vm.item"
    ng-keyup="vm.updateDiscount()"
    ng-blur="vm.save($event)"
    ng-trim="true"
    auto-save >
  </textarea>
  <span class="discount" ng-bind="vm.leftSymbols" ng-class="{bgRed: vm.leftSymbols < 7}"></span>
</div>
