<div class="top-buttons" ng-show="vm.item.plugin_id == 'gallery'">
  <!--button
    type="file"
    class="button image"
    accept="image/*"
    ng-show="!vm.item.config.gallery_cards[vm.index].image_url"
    ngf-select="vm.upload($file, $invalidFiles)"
    ngf-max-size="10MB"></button-->
  <div class="button remove" ng-click="vm.remove($event)"></div>
  <div class="button drag ui-sortable-handle-in-gal"></div>
</div>
