<div class="image" ng-class="{found: vm.item.image_url}">
  <div class="img" ng-style="{ 'background-image': 'url(' + vm.item.image_url + ')' }" ng-if="!vm.loading && vm.item.image_url"></div>
  <div class="img placeholder" ng-if="!vm.loading && !vm.item.image_url">
    <button
      type="file"
      class="button-image button-image--replace button-image--replace-gallery"
      accept="image/*"
      ngf-select="vm.upload($file, $invalidFiles)"
      ngf-max-size="10MB"><span class="button-image__title">Upload image</span></button>
  </div>
  <div class="img loading" ng-if="vm.loading">
    <img src="../../../assets/images/spinner_b.svg" alt="loading..." width="32" height="32">
  </div>
  <div class="button-image-wrapper" ng-show="vm.item.image_url">
    <button
      type="file"
      class="button-image button-image--replace button-image--replace-gallery"
      accept="image/*"
      ngf-select="vm.upload($file, $invalidFiles)"
      ngf-max-size="10MB"><span class="button-image__title">Replace</span></button>
    <div class="button-image button-image--crop button-image--crop-gallery" ng-click="vm.edit($event)">
      <span class="button-image__title">Crop</span>
    </div>
    <div class="button-image button-image--remove button-image--remove-gallery" ng-click="vm.remove($event)">
      <span class="button-image__title">Remove</span>
    </div>
  </div>
</div>
