<div class="admin-chat-image" ng-show="vm.item.config.image_url || vm.loading">
  <div class="img" ng-style="{ 'background-image': 'url(' + vm.item.config.image_url + ')' }" ng-if="!vm.loading"></div>
  <div class="img loading" ng-if="vm.loading">
    <img src="../../../assets/images/spinner_b.svg" alt="loading..." width="32" height="32">
  </div>
  <div class="button crop" ng-click="vm.edit($event)"></div>
  <div class="button remove" ng-click="vm.remove($event)"></div>
</div>
