<div class="action-list">
  <div class="action-item">
    <textarea
      class="title"
      maxlength="{{vm.discount}}"
      spellcheck="false"
      wrap="hard"
      placeholder="Button Name"
      ng-model="vm.item"
      ng-keyup="vm.updateDiscount()"
      ng-blur="vm.save()"
      ng-class="{ error: vm.$errors.show }"
      ng-trim="false"
      uib-tooltip="{{vm.$errors.message}}"
      tooltip-is-open="vm.$errors.show"
      tooltip-trigger="none"
      ></textarea>
    <div class="discount" ng-bind="vm.leftSymbols" ng-class="{bgRed: vm.leftSymbols < 7}"></div>
  </div>
</div>
