<div>
  <div class="instagram-lock" ng-if="vm.item.config.recipe == 'instagram'">
    <div>
      Unfortunately, this plugin does not work anymore because of the new Instagram <a href="http://blog.ifttt.com/post/144557559688/a-change-in-how-instagram-works-with-ifttt" target="_blank">API changes</a>, please use new IFTTT – Instagram plugin.
    </div>
  </div>
  <!-- Integration Plugin Template -->
  <div ng-if="vm.item.plugin_id == 'integration'">
    <p class="title" ng-bind="vm.getSelectedTitle()" ng-class="{'has-error': vm.hasValidationError}"></p>
    <p class="info" ng-if="vm.item.config.recipe == 'youtube'">
      Publishes YouTube updates from a specified channel. You can choose a single card view or a gallery composed of current update and previous videos.
    </p>
    <div class="content zap">
      <div class="l-col">
        <div class="line sub-title">
          Instruction:
        </div>
        <ol ng-if="vm.item.config.recipe === 'twitter' || vm.item.config.recipe === 'youtube' || vm.item.config.recipe === 'instagram' || vm.item.config.recipe === 'instagramNew' || vm.item.config.recipe === 'rss'">
          <li>Register on <a ng-href="{{vm.getServiceLink(vm.item.plugin_id)}}" target="_blank">{{vm.item.config.service | uppercase}}</a>.</li>
          <li>Copy this link: <div class="copy-link" no-input-select-text>{{vm.API_URL}}/hooks/{{vm.item.config.service}}/{{vm.item.id}}</div></li>
          <li>Paste previous link to <a href="{{vm.plugins[vm.item.plugin_id].recipes[vm.item.config.recipe].link}}" target="_blank">{{vm.plugins[vm.item.plugin_id].recipes[vm.item.config.recipe].title}} recipe</a>.</li>
          <li>Add a new content to channel and check if it works.</li>
        </ol>

        <ol ng-if="vm.item.config.recipe === 'zapier' || vm.item.config.recipe === 'zapier_rss' || vm.item.config.recipe === 'zapier_slack' || vm.item.config.recipe === 'zapier_vimeo' || vm.item.config.recipe === 'zapier_sheets'  || vm.item.config.recipe === 'zapier_youtube'  || vm.item.config.recipe === 'zapier_twitter'  || vm.item.config.recipe === 'zapier_calendar'  || vm.item.config.recipe === 'zapier_wordpress'  || vm.item.config.recipe === 'zapier_instagram'">
          <li>Clone <a href="{{vm.plugins[vm.item.plugin_id].recipes[vm.item.config.recipe].link}}" target="_blank">this zap</a>.</li>
          <li>Authenticate in Chatfuel for Facebook app using Chatfuel key: <span class="copy-link" no-input-select-text>{{vm.item.id}}</span></li>
          <!-- <li>Create zap at Zapier with Chatfuel for Facebook as an Action App.</li> -->
          <li>Come to this block in FB Messenger and check that update is shown.</li>
        </ol>
      </div>
      <div class="r-col">
        <p class="sub-title">
          Settings:
        </p>
        <div class="section">
          <div class="line">
            <div class="control">
              <label>
                <input type="radio" ng-change="vm.save()" ng-model="vm.item.config.view" value="last"/><span></span>
                Only last update 
              </label>
              <p>Send a single card to users</p>
            </div>
          </div>
          <div class="line">
            <div class="control">
              <label>
                <input type="radio" ng-change="vm.save()" ng-model="vm.item.config.view" value="all"/><span></span>
                All updates in chronological order 
              </label>
              <p>Send a gallery of latest content</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a href="https://help.chatfuel.com/facebook-messenger/plugins/ifttt" target="_blank">
      <div class="asc"></div>
    </a>
    <localization item="vm.item"></localization>
  </div>
</div>
