<div class="title" suggest-template-multiline>
  <textarea
    maxlength="{{vm.discount}}"
    spellcheck="false"
    wrap="hard"
    placeholder="Heading (required)"
    ng-model="vm.item"
    ng-keyup="vm.updateDiscount()"
    ng-blur="vm.save($event)"
    ng-key
    ng-trim="true"
    ng-class="{ error: vm.$errors.show }"
    show-focus="!vm.item"
    auto-save
  ></textarea>
  <span class="discount" ng-bind="vm.leftSymbols" ng-class="{bgRed: vm.leftSymbols < 7}">45</span>
</div>
