<div class="add-button-wrapper">
  <div class="add-button-title">
    Add a card
  </div>
  <div class="card-item add">
    <ul>
      <li ng-click="vm.add($event, 'gallery')">
        <span class="gallery"></span>
        <a>Gallery
          <!-- <div class="asc"></div>
          <div class="asc-popup">
            <div>
              <p>Gallery is a row of messages that can contain images and small amounts of text.</p>
              <p>Each message can have up to three buttons. Tapping a card can lead to an external URL.</p>
            </div>
          </div> -->
        </a>
      </li>
      <li ng-click="vm.add($event, 'text')">
        <span class="text"></span>
        <a>Text card
          <!-- <div class="asc"></div>
          <div class="asc-popup">
            <div>
              <p>A simple text card with 320 max symbols inside. It can have up to three buttons.</p>
            </div>
          </div> -->
        </a>
      </li>
      <!-- ng-if="!vm.welcome"-->
      <li ng-click="vm.add($event, 'image')">
        <span class="image"></span>
        <a>Image
          <!-- <div class="asc"></div>
          <div class="asc-popup">
            <div>
              <p>A simple message that contains a single image.</p>
            </div>
          </div> -->
        </a>
      </li>
      <!--li ng-if="vm.welcome">
        <span>Image
        <div class="asc"></div>
        <div class="asc-popup">
          <p>A simple message that contains a single image.</p>
        </div>
      </span></li-->
      <!--li ng-if="vm.type === 'structure' && !vm.welcome">
        <a href="#" ng-click="vm.add($event, 'form')">Form
        <div class="asc"></div>
        <div class="asc-popup">
          <p>Form is a step-by-step guide that can send user inputs to your email, send a callback, or generate a URL for the user to tap.<br>
          You can use forms to get polls, get e-commerce orders, and collect structured feedback.</p>
        </div>
      </a></li>
      <li ng-if="vm.type === 'broadcast' || (vm.type === 'structure' && vm.welcome)">
        <span>Form
        <div class="asc"></div>
        <div class="asc-popup">
          <p>Form is a step-by-step guide that can send user inputs to your email, send a callback, or generate a URL for the user to tap.<br>
            You can use forms to get polls, get e-commerce orders, and collect structured feedback.</p>
        </div>
      </span></li-->

      <!-- ng-if="!vm.welcome"-->
      <li ng-click="vm.add($event, 'plugin')">
        <span class="plugin"></span>
        <a>Plugin
          <!-- <div class="asc"></div>
          <div class="asc-popup">
            <div>
              <p>Plugin connects your external sources of data—like Instagram, YouTube, Twitter, Dropbox, WordPress, RSS, etc. — and powers your bot with auto-updates of your blocks or sends push notifications if added to «send on auto-update».</p>
            </div>
          </div> -->
        </a>
      </li>
      <!--li ng-if="vm.welcome">
        <span>Plugins
        <div class="asc"></div>
        <div class="asc-popup">
          <p>Plugin connects your external sources of data—like Instagram, YouTube, Twitter, Dropbox, WordPress, RSS, etc.—and powers your bot with auto-updates of your blocks.</p>
        </div>
      </span></li-->
    </ul>
  </div>
</div>
