<div>
    <p class="title" ng-bind="'Facebook'" ng-class="{'has-error': vm.hasValidationError}"></p>
    <p class="info auto-post">
      Enter Facebook page link
    </p>
    <div class="content autopost">
      <div class="line">
        <div smart-save="url" class="control size-365 required" suggest-template>
          <input ng-blur="vm.save()" placeholder="Required" ng-model="vm.item.config.url"/>
        </div>
      </div>
    </div>

    <a href="https://help.chatfuel.com/facebook-messenger/plugins/ifttt" target="_blank">
      <div class="asc"></div>
    </a>
    <localization item="vm.item"></localization>
</div>
