<div>
  <p ng-class="{'has-error': vm.hasValidationError}" class="title icon video-plugin">
    Video
  </p>
  <p class="info">
    Allows to send a video file into chat. Supported format: mp4. Maximum video length: 15 seconds.
  </p>
  <div class="content video-content">
    <div class="l-col">
      <div class="line">
        <div smart-save="url" class="control size-full required">
          <input ng-blur="vm.save()" class="input-video" placeholder="Enter video file URL" ng-model="vm.item.config.url"/>
        </div>
      </div>
    </div>
  </div>

  <!-- <a href="https://help.chatfuel.com/facebook-messenger" target="_blank">
    <div class="asc"></div>
  </a> -->
  <localization item="vm.item"></localization>
</div>
