<div>
  <div ng-class="{'page-connected': vm.showFooter}">
    <a class="communication-info-link" href="http://help.dev.chatfuel.com/facebook-messenger/plugins/live-chat/" target="_blank"></a>

    <p class="ptitle">Live chat</p>

    <plugin-card-communication-buttons-top index="$index" item="vm.item" loading="$loading"></plugin-card-communication-buttons-top>
    <div class="sub-card start" >
      <div class="col">
        <h4>
          Start message
        </h4>
        <p>
          This block starts a chat between a chatbot manager and a user, so chatbot will not answer user request until this chat is stopped.
        </p>
        <p>
          Both manager and a user can stop a chat. To do this they need to tap on plugin’s button or send a message that is the same as button’s caption.
        </p>
      </div>
      <div class="content">
        <plugin-card-communication-image index="$index" item="vm.item" loading="$loading"></plugin-card-communication-image>
        <plugin-card-communication-title item="vm.item.config.title"></plugin-card-communication-title>
        <plugin-card-communication-subtitle item="vm.item.config.subtitle"></plugin-card-communication-subtitle>
      </div>
      <plugin-card-communication-button item="vm.item.config.button_text"></plugin-card-communication-button>
    </div>

    <div class="sub-card stop" >
      <div class="col">
        <h4>
          Stop message
        </h4>
        <p>
          This message is shown after tapping on button or sending a message that stops a chat between a manager and a user.
        </p>
      </div>
      <div class="content">
        <plugin-card-communication-message item="vm.item.config.stop_message"></plugin-card-communication-message>
      </div>
     </div>

    <div class="settings">
      <p class="title">
        Settings:
      </p>
      <label class="timeout-settings">
        Chat timeout: <input maxlength="3" type="number" min="1" pattern="\d+" ng-model="vm.item.config.idle_time_in_hours" ng-blur="vm.save()"/> hours.
      </label>
      <p class="timeout-description">This is the amount of time the bot will wait for a user response and not interrupt the session communication. After this amount of time (e.g. 12 hours), any user input will be redirected to navigate through the bot.</p>
    </div>

    <div class="line">
      <div class="control">
        <label>
          <input type="checkbox" ng-change="vm.save()" ng-model="vm.item.config.send_admin_notifications" /><span></span>
          Receive notification in admin's messenger when a new chat session is started.
        </label>
      </div>
    </div>

    <div class="footer" ng-if="vm.showFooter">
      <p class="no-connection-page" ng-if="vm.page === false">Please, connect this bot to your Facebook page to use Pages as a chat interface.</p>
      <div ng-if="vm.page">
        <span class="fb-btn-box" ng-bind-html="vm.page && vm.testAdminChatCode" focus-on-window></span> — confirm that you’re chatbot manager
      </div>
    </div>
  </div>
  <localization item="vm.item"></localization>
</div>
