.history{
  width: 745px;
  margin: 30px 0 0;
  .tr{
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction: row;

    height: 18px;

    > div{
      height: 18px;
      line-height: 18px;
      white-space: nowrap;

      &:nth-child(1){
        padding: 0 0 0 12px;
        width: 36px;
      }
      &:nth-child(2){
        width: 146px;
      }
      &:nth-child(3){
        width: 184px;
      }
      &:nth-child(4){
        width: 154px;
      }
      &:nth-child(5){
        width: 76px;
      }
      &:nth-child(6){
        width: 70px;
      }
      &:nth-child(7){
        width: 70px;
      }
    }
  }

  .thead{
    position: fixed;
    padding: 0 0 12px;
    top: 95px;
    z-index: 9;
    background-color: #f3f2f2;
    width: 745px;

    &::before{
      content: '';
      position: absolute;
      background-color: #f3f2f2;
      top: -50px;
      height: 50px;
      left: 0;
      width: 100%;
    }

    .tr{
      > div{
        font-weight: 600;
        font-size: 12px;
        font-style: normal;
        font-stretch: normal;
        color: #666666;


        &:nth-child(2){
          color: #3c3f40;
          transform: translateX(-21px);
        }
      }
    }
    .help-mini{
      top: 1px;
      right: 6px;
      position: absolute;
    }
  }

  .tbody{
    .bc-item{
      position: relative;
      width: 736px;
      height: 64px;
      border-radius: 7px;
      background-color: #ffffff;
      box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
      margin: 0 0 18px;
      padding: 13px 0 0;
      cursor: pointer;

      .tr{
        &.base-info{
          margin: 0 0 4px;

          > div{
            font-weight: bold;
            font-size: 14px;
            color: #3c3f40;

            &:nth-child(1) {
              &::before{
                content: '';
                display: block;
                width: 18px;
                height: 18px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 20px auto;
              }
            }
            &:nth-child(2) {
              font-weight: normal;
              color: #3c3f40;
              font-size: 12px;
            }
            &:nth-child(3) {
              font-weight: 600;
              color: #3c3f40;
              font-size: 12px;

              span{
                display: inline-block;
                max-width: 157px;
                overflow: hidden;
                text-overflow: ellipsis;
            //    text-transform: uppercase;
              }
            }
            &:nth-child(4) {
              color: #a6a6a6;
              transform: translateY(10px);
            }
            &:nth-child(6) {
              color: #45c195;
            }
            &:nth-child(7) {
              color: #448af1;
            }
          }
        }

        &.add-info{
          align-items: flex-end;

          > div {
            font-size: 14px;
            color: #a6a6a6;
            &:nth-child(2) {
              font-size: 12px;
              b{
                color: #666666;
              }
            }
            &:nth-child(3) {
              font-size: 10px;
              font-weight: 600;

              span{
                overflow: hidden;
                text-overflow: ellipsis;
                text-transform: uppercase;
                display: inline-block;
                max-width: 157px;
              }
            }
          }
        }
      }

      .duplicate{
        position: absolute;
        z-index: 5;
        top: 50%;
        right: -24px;
        transform: translateY(-50%);
        opacity: 0;
        transition: opacity 100ms;
      }

      &:hover{
        .duplicate{
          opacity: 0.3;
        }
      }

      &::after{
        content: '';
        position: absolute;
        width: 30px;
        height: 100%;
        top: 0;
        right: -30px;
        background-color: transparent;
      }

      &.send_now{
        .tr {
          &.base-info {
            > div:nth-child(1) {
              &::before {
                background-image: url('../images/ic_newpost.svg');
              }
            }
          }
        }
      }
      &.autoposting{
        .tr {
          &.base-info {
            > div:nth-child(1) {
              &::before {
                background-image: url('../images/ic_autoposting.svg');
              }
            }
          }
        }
      }
      &.scheduled{
        .tr {
          &.base-info {
            > div:nth-child(1) {
              &::before {
                background-image: url('../images/ic_scheduled_posts.svg');
              }
            }
          }
        }
      }
      &.recurrent{
        .tr {
          &.base-info {
            > div:nth-child(1) {
              &::before {
                background-image: url('../images/ic_recurring.svg');
              }
            }
          }
        }
      }
    }
  }

  .tooltip-bk-copied {
    .tooltip-inner {
      background-color: #053748;
      width: 144px;
      transform: translateX(-60px);
    }
    .tooltip-arrow {
      border-top-color: #053748;
    }
  }

  .big-tooltip {
    .tooltip-inner {
      background-color: #053748;
      width: 350px;
      transform: translateX(-150px);
      height: auto;
      text-align: left;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.33;
      padding: 15px;
    }
    .tooltip-arrow {
      border-bottom-color: #053748;
    }
  }
}
