.plugin-modules .card .go-to-block {
  .content {
    .l-col {
      .line {
        .control {
          margin: 0 11px 18px 0px;
          .control-title{
            font-size: 12px;
            line-height: 1.5;
            color: #666666;
          }
          .remove-line {
            left: auto;
            right: -38px;
            top: 28px;
          }
          .blocks-suggest-wrapper {
            &:hover {
              .remove-line {
                transform: scale(1);
                opacity: 1;
              }
            }
          }
        }
        .random-switcher {
          display: inline-block;
          position: absolute;
          right: 0;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          .art-switcher {
            display: inline-block;
            vertical-align: text-top;
            margin-right: 4px;
            &:after {
              position: absolute;
              content: '';
              top: 0;
              left: 100%;
              height: 100%;
              width: 61px;
            }
          }
          > span {
            color: #767676;
          }
        }
        .button-ver2.add{
          height: 36px;
          line-height: 34px;
          display: inline-block;
          &::before{
            content: '';
            background: url('../images/ic_add_small.svg') center center no-repeat;
            width: 16px;
            height: 16px;
            margin: 0 7px 0 -5px;
            opacity: 0.3;
            display: inline-block;
            vertical-align: -3px;
          }

          &:hover{
            &::before{
              opacity: 1;
            }
          }
        }
        &.add-blocks-line {
          margin-top: 6px;
        }
      }
    }
  }
}
