<div>
  <p ng-class="{'has-error': vm.hasValidationError}" class="title">
    Rss import
  </p>
  <p class="info">
    Shows RSS content as a card gallery. You can use a static URL or a URL with a user variable saved in «User input» plugin.
  </p>
  <div class="content">
    <div class="l-col" style="min-height: 388px;">
      <div class="line sub-title">
        Input:
      </div>
      <div class="line">
        <div smart-save="query" class="control size-365 required" suggest-template>
          <div class="control-title">URL</div>
          <input ng-blur="vm.save()" placeholder="Required" ng-model="vm.item.config.query"/>
          <p ng-bind-html="'To add user variable saved via «User input» plugin use this format: <b>\{\{user variable\}\}</b>.'"></p>
        </div>
      </div>
      <div class="line">
        <div smart-save="title" class="control size-365 required" suggest-template>
          <div class="control-title">Subscription title</div>
          <input ng-blur="vm.save()" placeholder="Required" ng-model="vm.item.config.title"/>
          <p ng-bind-html="'Use this format: <b>\{\{user variable\}\}</b> to add saved user variables'"></p>
        </div>
      </div>
      <div class="line">
        <div smart-save="image_caption" class="control size-365" suggest-template>
          <div class="control-title">Image Title</div>
          <input ng-blur="vm.save()" placeholder="Optional" ng-model="vm.item.config.image_caption"/>
          <p ng-bind-html="'Use this format: <b>\{\{user variable\}\}</b> to add saved user variables'"></p>
        </div>
      </div>
    </div>
    <div class="r-col">
      <p class="sub-title">
        Settings:
      </p>
      <div class="section" style="height: 374px;">
        <div class="line">
          Show no more than
          <div class="control">
            <div class="selector" ng-class="{act: vm.$showSelect == 'stories'}">
              <div class="label placeholder" ng-click="$event.stopPropagation(); vm.$showSelect = 'stories'" ng-bind="(vm.item.config.number_of_pages) ? vm.storiesNumbers[vm.item.config.number_of_pages] : 'Choose the number'"></div>
              <ul>
                <li class="disabled">Choose number</li>
                <li ng-click="vm.setNumberPages(n)"  ng-repeat="(n, nTitle) in vm.storiesNumbers track by $index">{{nTitle}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="line">
          <div class="control">
            <label>
              <input type="checkbox" ng-change="vm.save()" ng-model="vm.item.config.subscriptions_available" /><span></span>
              Let user subscribe to this RSS feed
            </label>
          </div>
        </div>
        <div class="line">
          <div class="control">
            <label>
              <input type="checkbox" ng-change="vm.save()" ng-model="vm.item.config.share_available" /><span></span>
              Enable "Share" button for each story
            </label>
          </div>
        </div>
        <div class="line">
          <div class="control">
            <label>
              <input type="checkbox" ng-change="vm.save()" ng-model="vm.item.config.allow_read_in_bot" /><span></span>
              Allow users read RSS content right in bot
            </label>
            <p>Check out <a href="http://m.me/techcrunch" target="_blank">TechCrunch bot</a> to see how it looks like.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a href="https://help.chatfuel.com/facebook-messenger/plugins/rss-import/" target="_blank">
    <div class="asc"></div>
  </a>
  <localization item="vm.item" style="margin: -32px 0 0 0;"></localization>
</div>
