<div ng-class="{'promotion-content-preloader': vm.loading}">


  <div ng-if="!vm.isBotConnectedToFB && !vm.loading">
    <div>
      Nothing here, yet… Publish your chatbot first
    </div>
    <div>
      To use all features of chatbot promotion you need to connect it to your Facebook.
    </div>
    <div class="button db-orange connect" ng-click="vm.goSettings()">
      Go To Settings
    </div>
  </div>

  <div ng-if="vm.isBotConnectedToFB">

    <div class="border-box direct-link">
      <h2>
        Direct link to your bot
      </h2>
        <input readonly type="text" ng-model="vm.directLinkToBot" select-text/><span ng-click="vm.copyLink(1, $event)" class="button-ver2 white b-copy"
                uib-tooltip="Copied to clipboard"
                tooltip-is-open="vm.copied[1]"
                tooltip-trigger="none"
                tooltip-placement="top"
                tooltip-class="tooltip-copied"
                >COPY</span>
    </div>

    <div class="border-box cover-templates">
      <h2>
        Facebook page cover templates
      </h2>
      <p>
        One of the most effective ways to attract your audience — add a Facebook Page cover and highlight <b>Send message*</b> button.
        Download these Facebook cover images or just create your own.
      </p>
      <ul>
        <li>
          <img src="../../assets/images/cover_bg_1_preview.png"/>
          <a href="/assets/images/covers/cover_bg_1.png" target="_blank" class="button db-border" ng-click="vm.goDownload('left')">Download</a>
        </li>
        <li>
          <img src="../../assets/images/cover_bg_2_preview.png"/>
          <a href="/assets/images/covers/cover_bg_2.png" target="_blank" class="button db-border" ng-click="vm.goDownload('right')">Download</a>
        </li>
      </ul>
      <p class="small">
        *By default there is no <b>Send message</b> button, you have to create it yourself by clicking on <b>Add button</b> and then choose <b>Send message</b> from the list.
      </p>
    </div>

    <div class="border-box generator">
      <h2>
        Button and link generator
      </h2>
      <p class="bordered">
        The best way to promote your bot is embedding “Message Us”  or “Send to Messenger” buttons on your website.
      </p>
      <ul>
        <li>
          <h3>
            Message Us
          </h3>
          <p>
            Lets you to open a Messenger chat on desktop or mobile app. Conversation with a bot starts after user’s interaction.
          </p>
          <p>
            <label>
              <input type="radio" name="message-us" class="radio-group__control" ng-click="vm.updateMessageUsCode('blue', 'standard')" checked="checked">
              <img height="20" src="../../assets/images/btn_msgus_b_s.png" alt="Message Us Button"/>
            </label>
            <label>
              <input type="radio" name="message-us" class="radio-group__control" ng-click="vm.updateMessageUsCode('white', 'standard')">
              <img height="22" src="../../assets/images/btn_msgus_w_s.png" alt="Message Us Button"/>
            </label>
          </p>
          <p>
            <label>
              <input type="radio" name="message-us" class="radio-group__control" ng-click="vm.updateMessageUsCode('blue', 'large')">
              <img height="24" src="../../assets/images/btn_msgus_b_m.png" alt="Message Us Button"/>
            </label>
            <label>
              <input type="radio" name="message-us" class="radio-group__control" ng-click="vm.updateMessageUsCode('white', 'large')">
              <img height="26" src="../../assets/images/btn_msgus_w_m.png" alt="Message Us Button"/>
            </label>
          </p>
          <p>
            <label>
              <input type="radio" name="message-us" class="radio-group__control" ng-click="vm.updateMessageUsCode('blue', 'xlarge')">
              <img height="32" src="../../assets/images/btn_msgus_b_l.png" alt="Message Us Button"/>
            </label>
            <label>
              <input type="radio" name="message-us" class="radio-group__control" ng-click="vm.updateMessageUsCode('white', 'xlarge')">
              <img height="34" src="../../assets/images/btn_msgus_w_l.png" alt="Message Us Button"/>
            </label>
          </p>
          <p>
            <span>Embed code</span>
            <input readonly id="promotion-message-us-input" type="text" ng-model="vm.messageUsCode.html" select-text/><span ng-click="vm.copyLink(2, $event)" class="button-ver2 white b-copy"
                    uib-tooltip="Copied to clipboard"
                    tooltip-is-open="vm.copied[2]"
                    tooltip-trigger="none"
                    tooltip-placement="top"
                    tooltip-class="tooltip-copied"
                    >COPY</span>
          </p>
        </li>

        <li>
          <h3>
            Send to Messenger
          </h3>
          <p>
            Starts a chat between a bot and a user. Useful for “read later” staff or specific data to send.
          </p>
          <p>
            <label>
              <input type="radio" name="messenger" class="radio-group__control" ng-click="vm.updateWebPluginCode('blue', 'standard')" checked="checked">
              <img height="20" src="../../assets/images/btn_sndmsg_b_s.png" alt="Messenger Button"/>
            </label>
            <label>
              <input type="radio" name="messenger" class="radio-group__control" ng-click="vm.updateWebPluginCode('white', 'standard')">
              <img height="22" src="../../assets/images/btn_sndmsg_w_s.png" alt="Messenger Button"/>
            </label>
          </p>
          <p>
            <label>
              <input type="radio" name="messenger" class="radio-group__control" ng-click="vm.updateWebPluginCode('blue', 'large')">
              <img height="24" src="../../assets/images/btn_sndmsg_b_m.png" alt="Messenger Button"/>
            </label>
            <label>
              <input type="radio" name="messenger" class="radio-group__control" ng-click="vm.updateWebPluginCode('white', 'large')">
              <img height="26" src="../../assets/images/btn_sndmsg_w_m.png" alt="Messenger Button"/>
            </label>
          </p>
          <p>
            <label>
              <input type="radio" name="messenger" class="radio-group__control" ng-click="vm.updateWebPluginCode('blue', 'xlarge')">
              <img height="32" src="../../assets/images/btn_sndmsg_b_l.png" alt="Messenger Button"/>
            </label>
            <label>
              <input type="radio" name="messenger" class="radio-group__control" ng-click="vm.updateWebPluginCode('white', 'xlarge')">
              <img height="34" src="../../assets/images/btn_sndmsg_w_l.png" alt="Messenger Button"/>
            </label>
          </p>
          <p>
            <span>Embed code</span>
            <input readonly id="promotion-messenger-input" type="text" ng-model="vm.webPluginCode" select-text/><span ng-click="vm.copyLink(3, $event)" class="button-ver2 white b-copy"
                    uib-tooltip="Copied to clipboard"
                    tooltip-is-open="vm.copied[3]"
                    tooltip-trigger="none"
                    tooltip-placement="top"
                    tooltip-class="tooltip-copied"
                    >COPY</span>
          </p>
        </li>


      </ul>
    </div>




    <tutorial page="promotion"></tutorial>
  </div>


</div>
