<div class="segmentation">
  <div class="content" ng-if="vm.block.id && vm.ready">
    <div class="title">
      <span ng-if="!vm.block.user_filter.parameters.length">
        <span class="green" ng-bind="vm.userTotalCountText"></span> (all) will receive this post.
      </span>
      <span ng-if="vm.block.user_filter.parameters.length > 0">
        <span class="green" ng-bind="vm.userFilteredCountText"></span> will receive this post under following conditions:
      </span>
    </div>
    <div class="info" ng-if="!vm.block.user_filter.parameters.length">
      Choose which users will receive the message using predefined filters or your own filters.
    </div>
    <div class="filters-list">
      <div class="filter" ng-repeat="filter in vm.block.user_filter.parameters track by $index"  ng-click="vm.openPopup(false, $index)">
        <span class="name">{{filter.name}}</span>
        <span class="is">is</span>
        <span class="value" ng-class="{noresponse: value === 'NOT SET'}" ng-repeat="value in filter.values">{{(filter.name === 'fb_timezone' && value >= 0) ? 'GMT+' : ''}}{{(filter.name === 'fb_timezone' && 0 > value) ? 'GMT' : ''}}{{value}}</span>
        <span class="and">and</span>
      </div>
    </div>
  </div>
  <div class="buttons" ng-if="vm.block.id && vm.ready">
    <div class="button-ver2 remove-all" ng-if="vm.block.user_filter.parameters.length > 0" ng-click="vm.removeLast()"></div>
    <div class="button-ver2 green user-filter" ng-click="vm.openPopup()">USER FILTER</div>
    <div class="button-ver2 icon help" ng-click="vm.openPopup(true)"></div>
  </div>
</div>
