<div>
  <div
    class="border-box payments-settings"
    ng-class="{ready: vm.bot.id, 'g-error': vm.errors.length > 0}"
    uib-tooltip="Sorry, you can not delete any of the Native Facebook Payments setup fields, as it will turn off Payments for your bot"
    tooltip-is-open="vm.errors.length > 0"
    tooltip-trigger="none"
    tooltip-placement="bottom"
  >
    <h2>Native Facebook payments</h2>
    <div class="state state-1" ng-if="!vm.botStatusPaymentEnabled && vm.bot.id">
      <p>
        Use Chatfuel payments to sell various stuff, get donations or provide services.
      </p>
      <p>
        <span class="button-ver2 white-rounded" ng-click="vm.openWizard()">ENABLE BOT PAYMENTS</span>
      </p>
    </div>
    <div class="state state-2" ng-if="vm.botStatusPaymentEnabled && vm.bot.id">
      <p class="red" ng-if="vm.errors.length !== 0">
        Fill all the required fields to start earning using your bot.
      </p>

      <div class="form">
        <div class="line">
          <div class="control">
            <div class="label">
              PAYMENT POLICY URL<span class="req">*</span>
            </div>
            <div class="input-box">
              <input
                class="cf-input auto-error-off"
                ng-class="{error: vm.errors.indexOf('url') !== -1}"
                type="text"
                placeholder="Required"
                ng-model="vm.payment_props.terms_of_service_url"
                ng-change="vm.save()"
              />
            </div>
          </div>
        </div>
        <div class="line">
          <div class="control">
            <div class="label">
              MERCHANT NAME
            </div>
            <div class="input-box auto-error-off">
              <input
                class="cf-input"
                ng-class="{error: vm.errors.indexOf('name') !== -1}"
                type="text"
                placeholder="Required"
                ng-model="vm.payment_props.merchant_name"
                ng-change="vm.save()"
              />
            </div>
          </div>
          <div class="control">
            <div class="label">
              ADMIN EMAIL FOR ORDERS<span class="req">*</span>
            </div>
            <div class="input-box">
              <input
                class="cf-input auto-error-off"
                ng-class="{error: vm.errors.indexOf('email') !== -1}"
                type="text"
                placeholder="Required"
                ng-model="vm.payment_props.merchant_emails_str"
                ng-change="vm.save()"
              />
            </div>
          </div>
        </div>
      </div>

      <p>
        <span class="button-ver2 white-rounded" ng-click="vm.openWizard()">RERUN WIZARD</span>
      </p>
    </div>
  </div>
</div>
