.broadcast-preference{
  .window{


    .content{
      > div{
        white-space: nowrap;

        .selector{
          display: inline-block;
          width: 262px!important;
          margin: 0 0 0 8px!important;
        }
      }

    }
  }
}
