<div>
  <h2>Choose a Template</h2>

  <div class="bots-list">
    <div class="bot-item" ng-click="vm.$selectBot(bot)" ng-class="{ act: bot.$selected }" ng-repeat="bot in vm.draftBots track by bot.id">
      <div class="image" ng-if="!bot.picture_url"></div>
      <div class="image" ng-if="bot.picture_url" ng-style="{ 'background-image': 'url(' + bot.picture_url + ')' }"></div>
      <div class="textarea">{{bot.title}}</div>
      <div class="info" ng-bind="bot.description"></div>
      <!-- <div class="create-by"><span class="create-by-author">Chatfuel staff</span></div> -->
    </div>
  </div>

  <div class="bot-panel">
    <div class="bot-panel-container">
      <div class="bot-name">
        <input placeholder="Enter chatbot name" type="text" ng-model="vm.botTitle" ng-keyup="$event.keyCode === 13 && vm.createBot()" ng-class="{ valid: vm.botTitle }" show-focus="true"/>
      </div>
      <div class="button create db-orange" ng-disabled="!vm.botTitle" ng-click="vm.createBot()" ng-class="{loading: vm.$loading}">
        <div class="pre-loader"></div>
        <span class="title">Create a Chatbot</span>
      </div>

    </div>
  </div>
</div>
