<div class="body" suggest-template-multiline>
  <textarea
    maxlength="{{vm.discount}}"
    spellcheck="false"
    placeholder="Enter Text"
    ng-model="vm.item"
    ng-keyup="vm.updateDiscount()"
    ng-blur="vm.save()"
    ng-class="{ error: vm.$errors.show }"
    ng-focus="vm.$errors.show = false"
    textarea-v-expand
    ng-trim="false"
    auto-save
  ></textarea>
  <span class="discount" ng-bind="vm.leftSymbols" ng-class="{bgRed: vm.leftSymbols < 7}"></span>
</div>
