<div class="recurrent-events">
  <div class="title">Recurring events</div>
  <div class="tags">
    <span
      class="button-ver2 bc-temp-white gray"
      ng-class="{'block-error': broadcast.is_valid === false}"
      ui-sref-active="act"
      ui-sref="app.broadcast.block({ id: broadcast.block_id, broadcast_id: broadcast.id, type: 'recurrent' })"
      ng-bind="broadcast.block_title | filterRBlockName"
      ng-repeat="broadcast in vm.$getBroadcasts() | orderBy : 'time' track by broadcast.id"></span><span ng-if="vm.schedules.length < 48" class="add button-ver2 bc-temp-white" ng-click="vm.addSchedule()"></span>
  </div>
</div>
