<div>
  <div class="drag-box" ng-model="vm.plugin.config.gallery_cards" ng-attr-id="{{vm.plugin.id}}" ui-sortable="vm.sort">

    <!-- Text Plugin -->
    <plugin-card
      ng-if="vm.plugin.plugin_id === 'text'"
      item="vm.plugin">
      <div class="content">
        <plugin-card-text item="vm.plugin.config.text"></plugin-card-text>
      </div>
      <plugin-card-buttons-list
        items="vm.plugin.config.buttons"
        item="vm.plugin"
        ng-if="!(vm.plugin.config.quick_replies.buttons.length > 0)"
      >
        <!--div ui-sortable="vm.$sortable"
             ng-model = "vm.plugin.config.buttons"-->
          <plugin-card-buttons-item index="$index" itemIndex="itemIndex" item="button" ng-repeat="button in vm.plugin.config.buttons track by $index"></plugin-card-buttons-item>
          <plugin-card-buttons-add index="$index" itemIndex="itemIndex" items="vm.plugin.config.buttons" ng-if="vm.plugin.config.buttons.length < 3"></plugin-card-buttons-add>
        <!--/div-->
      </plugin-card-buttons-list>
    </plugin-card>

    <!-- Plugin -->
    <plugin-card ng-if="vm.plugin.plugin_id == 'integration' || vm.plugin.plugin_id == 'plugin'" item="vm.plugin">
      <plugin-card-plugin item="vm.plugin"></plugin-card-plugin>
    </plugin-card>

    <!-- Instagram plugin -->
    <plugin-card ng-if="vm.plugin.plugin_id == 'integration/ifttt_instagram_plugin'" item="vm.plugin">
      <plugin-card-integration-instagram item="vm.plugin"></plugin-card-integration-instagram>
    </plugin-card>

    <!-- Instagram plugin auto -->
    <plugin-card ng-if="vm.plugin.plugin_id == 'autoposting/ifttt_instagram_plugin'" item="vm.plugin">
      <plugin-card-integration-ifttt-instagram-auto item="vm.plugin"></plugin-card-integration-ifttt-instagram-auto>
    </plugin-card>

    <!-- IFTTT plugin auto -->
    <plugin-card ng-if="vm.plugin.plugin_id == 'autoposting/ifttt_plugin'" item="vm.plugin">
      <plugin-card-integration-ifttt-auto item="vm.plugin"></plugin-card-integration-ifttt-auto>
    </plugin-card>

    <!-- Twitter plugin -->
    <plugin-card ng-if="vm.plugin.plugin_id == 'integration/ifttt_twitter_plugin'" item="vm.plugin">
      <plugin-card-integration-twitter item="vm.plugin"></plugin-card-integration-twitter>
    </plugin-card>

    <!-- Twitter plugin auto -->
    <plugin-card ng-if="vm.plugin.plugin_id == 'autoposting/twitter_plugin'" item="vm.plugin">
      <plugin-card-integration-twitter-auto item="vm.plugin"></plugin-card-integration-twitter-auto>
    </plugin-card>

    <!-- Twitter ifttt plugin auto -->
    <plugin-card ng-if="vm.plugin.plugin_id == 'autoposting/ifttt_twitter_plugin'" item="vm.plugin">
      <plugin-card-integration-ifttt-twitter-auto item="vm.plugin"></plugin-card-integration-ifttt-twitter-auto>
    </plugin-card>

    <!-- Facebook plugin auto -->
    <plugin-card ng-if="vm.plugin.plugin_id == 'autoposting/facebook_plugin'" item="vm.plugin">
      <plugin-card-integration-facebook-auto item="vm.plugin"></plugin-card-integration-facebook-auto>
    </plugin-card>

    <!-- YouTube plugin -->
    <plugin-card ng-if="vm.plugin.plugin_id == 'integration/ifttt_youtube_plugin'" item="vm.plugin">
      <plugin-card-integration-youtube item="vm.plugin"></plugin-card-integration-youtube>
    </plugin-card>

    <!-- YouTube plugin auto -->
    <plugin-card ng-if="vm.plugin.plugin_id == 'autoposting/youtube_plugin'" item="vm.plugin">
      <plugin-card-integration-youtube-auto item="vm.plugin"></plugin-card-integration-youtube-auto>
    </plugin-card>

    <!-- YouTube ifttt plugin auto -->
    <plugin-card ng-if="vm.plugin.plugin_id == 'autoposting/ifttt_youtube_plugin'" item="vm.plugin">
      <plugin-card-integration-ifttt-youtube-auto item="vm.plugin"></plugin-card-integration-ifttt-youtube-auto>
    </plugin-card>

    <!-- Zapier plugin -->
    <plugin-card ng-if="vm.plugin.plugin_id == 'integration/zapier_plugin' ||
    vm.plugin.plugin_id == 'integration/zapier_rss_plugin' ||
    vm.plugin.plugin_id == 'integration/zapier_youtube_plugin' ||
    vm.plugin.plugin_id == 'integration/zapier_sheets_plugin' ||
    vm.plugin.plugin_id == 'integration/zapier_calendar_plugin' ||
    vm.plugin.plugin_id == 'integration/zapier_wordpress_plugin' ||
    vm.plugin.plugin_id == 'integration/zapier_slack_plugin' ||
    vm.plugin.plugin_id == 'integration/zapier_twitter_plugin' ||
    vm.plugin.plugin_id == 'integration/zapier_instagram_plugin' ||
    vm.plugin.plugin_id == 'integration/zapier_vimeo_plugin'" item="vm.plugin">
      <plugin-card-integration-zapier item="vm.plugin"></plugin-card-integration-zapier>
    </plugin-card>

    <!-- Zapier plugin auto -->
    <plugin-card ng-if="vm.plugin.plugin_id == 'autoposting/zapier_plugin' ||
    vm.plugin.plugin_id == 'autoposting/zapier_rss_plugin' ||
    vm.plugin.plugin_id == 'autoposting/zapier_youtube_plugin' ||
    vm.plugin.plugin_id == 'autoposting/zapier_sheets_plugin' ||
    vm.plugin.plugin_id == 'autoposting/zapier_calendar_plugin' ||
    vm.plugin.plugin_id == 'autoposting/zapier_wordpress_plugin' ||
    vm.plugin.plugin_id == 'autoposting/zapier_slack_plugin' ||
    vm.plugin.plugin_id == 'autoposting/zapier_twitter_plugin' ||
    vm.plugin.plugin_id == 'autoposting/zapier_instagram_plugin' ||
    vm.plugin.plugin_id == 'autoposting/zapier_vimeo_plugin'" item="vm.plugin">
      <plugin-card-integration-zapier-auto item="vm.plugin"></plugin-card-integration-zapier-auto>
    </plugin-card>

    <!-- Live chat plugin -->
    <plugin-card ng-if="vm.plugin.plugin_id === 'communication'" item="vm.plugin">
      <plugin-card-communication item="vm.plugin"></plugin-card-communication>
    </plugin-card>

    <!-- Bing search plugin -->
    <plugin-card ng-if="vm.plugin.plugin_id === 'search/bing_plugin'" item="vm.plugin">
      <plugin-card-search-bing item="vm.plugin"></plugin-card-search-bing>
    </plugin-card>

    <!-- Swiftype search plugin -->
    <plugin-card ng-if="vm.plugin.plugin_id === 'search/swiftype_plugin'" item="vm.plugin">
      <plugin-card-search-swiftype item="vm.plugin"></plugin-card-search-swiftype>
    </plugin-card>

    <!-- Google search plugin -->
    <plugin-card ng-if="vm.plugin.plugin_id === 'search/google_plugin'" item="vm.plugin">
      <plugin-card-search-google item="vm.plugin"></plugin-card-search-google>
    </plugin-card>

    <!-- Form Plugin -->
    <plugin-card ng-if="vm.plugin.plugin_id == 'form'" item="vm.plugin">
      <plugin-card-form item="vm.plugin"></plugin-card-form>
    </plugin-card>

    <!-- Subscriptionsmanager Plugin -->
    <plugin-card ng-if="vm.plugin.plugin_id == 'subscriptions_manager_plugin'" item="vm.plugin">
      <plugin-card-subscriptionsmanager item="vm.plugin"></plugin-card-subscriptionsmanager>
    </plugin-card>

    <!-- Subscriptionspublisher Plugin -->
    <plugin-card ng-if="vm.plugin.plugin_id == 'subscription_broadcasting_plugin'" item="vm.plugin">
      <plugin-card-subscriptionspublisher item="vm.plugin"></plugin-card-subscriptionspublisher>
    </plugin-card>

    <!-- Rss Plugin -->
    <plugin-card ng-if="vm.plugin.plugin_id == 'search/rss_plugin'" item="vm.plugin">
      <plugin-card-rss item="vm.plugin"></plugin-card-rss>
    </plugin-card>

    <!-- Rss Plugin Auto -->
    <plugin-card ng-if="vm.plugin.plugin_id == 'autoposting/rss_plugin'" item="vm.plugin">
      <plugin-card-rss-auto item="vm.plugin"></plugin-card-rss-auto>
    </plugin-card>

    <!-- Json Plugin -->
    <plugin-card ng-if="vm.plugin.plugin_id == 'json_plugin'" item="vm.plugin">
      <plugin-card-json item="vm.plugin"></plugin-card-json>
    </plugin-card>

    <!-- Subscriber Plugin -->
    <plugin-card ng-if="vm.plugin.plugin_id == 'subscribe_user_plugin'" item="vm.plugin">
      <plugin-card-subscriber item="vm.plugin"></plugin-card-subscriber>
    </plugin-card>

    <!-- Picture Plugin -->
    <plugin-card ng-if="vm.plugin.plugin_id == 'image'" item="vm.plugin">
      <plugin-card-picture item="vm.plugin"></plugin-card-picture>
    </plugin-card>

    <!-- Gallery Plugin -->
    <plugin-card ng-if="vm.plugin.plugin_id == 'gallery'" ng-init="itemIndex = $index" index="$index" item="item" ng-repeat="item in vm.plugin.config.gallery_cards track by $index">
      <plugin-card-image index="$index" item="item" plugin="vm.plugin" loading="$loading"></plugin-card-image>
      <div class="content">
        <plugin-card-title index="$index" item="item.title"></plugin-card-title>
        <plugin-card-subtitle index="$index" item="item.subtitle"></plugin-card-subtitle>
        <plugin-card-url index="$index" item="item.item_url"></plugin-card-url>
      </div>
      <plugin-card-buttons-list
        index="$index"
        item="item"
        items="item.buttons"
        ng-if="!(vm.plugin.config.quick_replies.buttons.length > 0)"
      >
        <!--div ui-sortable="vm.$sortable"
             ng-model = "item.buttons"-->
          <plugin-card-buttons-item
            index="$index"
            itemIndex="itemIndex"
            item="button"
            items="item.buttons"
            show-share="true"
            ng-repeat="button in item.buttons track by $index"
          ></plugin-card-buttons-item><plugin-card-buttons-add index="$index" itemIndex="itemIndex" items="item.buttons" ng-if="item.buttons.length < 3"></plugin-card-buttons-add>
        <!--/div-->
      </plugin-card-buttons-list>
      <plugin-card-buttons-top index="$index" item="vm.plugin" loading="$loading"></plugin-card-buttons-top>
    </plugin-card>

    <plugin-card ng-if="vm.plugin.plugin_id == 'typing'" item="vm.plugin">
      <typing-plugin item="vm.plugin"></typing-plugin>
    </plugin-card>

    <plugin-card ng-if="vm.plugin.plugin_id == 'setup_variable_plugin'" item="vm.plugin">
      <plugin-card-setup-variable item="vm.plugin"></plugin-card-setup-variable>
    </plugin-card>

    <plugin-card ng-if="vm.plugin.plugin_id == 'go_to_block_plugin'" item="vm.plugin">
      <plugin-card-go-to-block item="vm.plugin"></plugin-card-go-to-block>
    </plugin-card>

    <plugin-card ng-if="vm.plugin.plugin_id == 'audio'" item="vm.plugin">
      <plugin-card-audio item="vm.plugin"></plugin-card-audio>
    </plugin-card>

    <plugin-card ng-if="vm.plugin.plugin_id == 'video'" item="vm.plugin">
      <plugin-card-video item="vm.plugin"></plugin-card-video>
    </plugin-card>

    <plugin-card ng-if="vm.plugin.plugin_id == 'chatroom'" item="vm.plugin">
      <plugin-card-chatroom item="vm.plugin"></plugin-card-chatroom>
    </plugin-card>

    <plugin-card-add
      ng-if="vm.plugin.plugin_id == 'gallery' && vm.plugin.config.gallery_cards.length < 10"
      items="vm.plugin.config.gallery_cards"
      ng-style="{ 'height': vm.height + 'px', 'line-height':  vm.height + 'px' }"
    ></plugin-card-add>

  </div>

  <quick-replies
    ng-if="vm.showQuickReplies && (vm.plugin.plugin_id == 'gallery' || vm.plugin.plugin_id === 'text' || vm.plugin.plugin_id == 'image')"
    plugin="vm.plugin"></quick-replies>
    <qr-message ng-if="vm.showQuickReplies && (vm.plugin.plugin_id == 'gallery' || vm.plugin.plugin_id === 'text' || vm.plugin.plugin_id == 'image') && vm.plugin.config.quick_replies.buttons.length > 0" plugin="vm.plugin"></qr-message>

</div>
