<div class="onboarding2" ng-class="{minimise: onb.minimise, hide: onb.hide}" ng-if="!onb.close">
  <div class="header" ng-click="onb.minimiseOff($event)">
    <div class="title">
      <span ng-bind="onb.satesTitles[onb.currentStep].t1"></span><span ng-bind="onb.satesTitles[onb.currentStep].t2" class="green">Set up Artificial Intelligence</span>
    </div>
    <div
      class="button-ver2 icon min-max"
      ng-class="{'max': !onb.minimise, 'min': onb.minimise}"
      ng-click="onb.minimiseOn($event)"
      ng-if="onb.currentStep !== 9"
    ></div>
    <div
      class="button-ver2 icon close-small"
      ng-click="onb.onbHide()"
      ng-if="onb.currentStep === 9"
    ></div>
  </div>
  <div class="content" ng-class="{'dir-prev': onb.directionStep === -1, 'dir-next': onb.directionStep === 1, 'dir-prev-end': onb.directionStepEnd === -1, 'dir-next-end': onb.directionStepEnd === 1}">

    <div class="state state-step-0 into"
         ng-class="{old: onb.oldStep === 0, current: onb.currentStep === 0}"
         ng-if="onb.currentStep === 0 || onb.oldStep === 0"
    >
      <p>
        Hi! This tutorial will help you:
      </p>
      <ul>
        <li>Build your own bot</li>
        <li>Set up Artificial Intelligence</li>
        <li>Publish your bot</li>
      </ul>
      <p class="small">
        It will take you <span></span> 10 minutes
      </p>
      <p>
        <span class="button-ver2 orange-rounded gogo" ng-click="onb.getStarted();">
          GET STARTED!
        </span>
      </p>
    </div>

    <div class="state state-step-1"
         ng-class="{old: onb.oldStep === 1, current: onb.currentStep === 1}"
         ng-if="onb.currentStep === 1 || onb.oldStep === 1"
    >
      <div class="img s11"></div>
      <p>
        A typical bot consists of blocks. A block is one or more messages (text, image etc.) a user receives at once.
      </p>
      <p>
        You can connect two blocks by creating a button in one block and linking it to the second one.
      </p>
    </div>

    <div class="state state-step-2"
         ng-class="{old: onb.oldStep === 2, current: onb.currentStep === 2}"
         ng-if="onb.currentStep === 2 || onb.oldStep === 2"
    >
      <p>
        <span class="text-inline v1"><b>1.</b> In the Bot structure on the left click on <b>+ Add block</b> button.</span>
        <span class="text-inline v2"><b>1.</b> In the Bot structure on the left click on <b>+</b> button.</span>
        <span class="img s21"></span>
      </p>
      <p>
        <b>2.</b> Name the block and add a Text card.
        <span class="img s22"></span>
      </p>
      <p>
        <b>3.</b> Enter text in Text card.
        <span class="img s23"></span>
      </p>
      <p>
        <span class="ic-emoji-partypopper"></span> Perfect! Now you know how to create simple bot content. Proceed next when ready.
      </p>
    </div>

    <div class="state state-step-3"
         ng-class="{old: onb.oldStep === 3, current: onb.currentStep === 3}"
         ng-if="onb.currentStep === 3 || onb.oldStep === 3"
    >
      <p>
        <b>1.</b> For example, open the Welcome Message block.
        <span class="img s31"></span>
      </p>
      <p>
        <b>2.</b> This is a simple Text Card. Click on <b>+ Add button</b> at the bottom of the text card.
        <span class="img s32"></span>
      </p>
      <p>
        <b>3.</b> In the Block tab click on the input bar and choose an existing block.
        <span class="img s33"></span>
      </p>
      <p>
        <span class="ic-emoji-partypopper"></span> Amazing, that was the hardest part! This is how bot structure looks. Proceed next when ready.
      </p>
    </div>

    <div class="state state-step-4"
         ng-class="{old: onb.oldStep === 4, current: onb.currentStep === 4}"
         ng-if="onb.currentStep === 4 || onb.oldStep === 4"
    >
      <p>
        <b>1.</b> Click on Test this chatbot in the top right of the screen to start a chat.
        <span class="img s41"></span>
      </p>
      <p>
        <b>2.</b> Now you can chat with your bot in Messenger, or click the View on messenger.com button.
        <span class="img s42"></span>
      </p>
      <p>
        <b>3.</b> 3. Sign in to Messenger using Facebook login to open a chat.
        <span class="img s43"></span>
      </p>
      <p>
        <span class="ic-emoji-partypopper"></span> That’s awesome isn’t it? You can test your bot any time to deliver best user experience.
      </p>
    </div>

    <div class="state state-step-5"
         ng-class="{old: onb.oldStep === 5, current: onb.currentStep === 5}"
         ng-if="onb.currentStep === 5 || onb.oldStep === 5"
    >
      <p>
        The AI engine helps your bot understand what users are saying. Let’s set up how your bot will reply.
      </p>
      <p>
        <b>1.</b> Open the Setup AI tab in the left navigation bar.
        <span class="img s51"></span>
      </p>
      <p>
        <b>2.</b> To create an AI rule click the + button.
        <span class="img s52"></span>
      </p>
      <p>
        <b>3.</b> Add user phrases and bot answer.
        <span class="img s53"></span>
      </p>
      <p>
        <b>4.</b> Perfect! Now Click on Test this chatbot to see AI in action.
        <span class="img s54"></span>
      </p>
      <p>
        <span class="ic-emoji-partypopper"></span> Cool! Using AI in your bots is the WOW feature making conversations more natural.
      </p>
    </div>

    <div class="state state-step-6 center"
         ng-class="{old: onb.oldStep === 6, current: onb.currentStep === 6}"
         ng-if="onb.currentStep === 6 || onb.oldStep === 6"
    >
      <p>
        <span class="img s61"></span>
      </p>
      <p>
        You’ve learned the basics of chatbot building, so take your time and create a bot you’ll be proud of. Use the ”–” icon on the top right to minimize this guide.
      </p>
      <p>
        Click Next when ready to learn how to publish your bot.
      </p>
    </div>

    <div class="state state-step-7"
         ng-class="{old: onb.oldStep === 7, current: onb.currentStep === 7}"
         ng-if="onb.currentStep === 7 || onb.oldStep === 7"
    >
      <p>
        To make your bot publicly available, you need to connect it to your Facebook Page — not your personal Facebook profile, but a page dedicated to your brand, business, band etc. (just like the <a href="https://www.facebook.com/chatfuel" target="_blank">Chatfuel Facebook Page</a>).
      </p>
      <p>
        <b>1.</b> Click on Connect to Facebook button in the top menu.
        <span class="img s71"></span>
      </p>
      <p>
        <b>2.</b> Now you are in the Configure tab. Find Publish to Facebook section.
        <span class="img s72"></span>
      </p>
      <p>
        <b>3.</b> Press «Connect to Facebook now» and provide access to manage your Pages. This permission does not apply to the management of your personal profile on Facebook but only for the business pages.
        <span class="img s73"></span>
      </p>
      <p>
        <b>4.</b> Create a Facebook Page if needed
        <span class="img s74"></span>
      </p>
      <p>
        <b>5.</b> Find your Facebook Page in the list and click on Connect button.
        <span class="img s75"></span>
      </p>
      <p>
        <b>6.</b> Cool, now your bot is publicly available! Click on Test this chatbot to see your bot in action.
        <span class="img s76"></span>
      </p>
      <p>
        <span class="ic-emoji-partypopper"></span> Excellent! Now your bot is public and can get a lot of users!
      </p>
    </div>

    <div class="state state-step-8"
         ng-class="{old: onb.oldStep === 8, current: onb.currentStep === 8}"
         ng-if="onb.currentStep === 8 || onb.oldStep === 8"
    >
      <p>
        There are several ways of promoting your chatbot:
      </p>
      <p>
        <b>1.</b> Open the Promote tab in the left navigation bar.
      </p>
      <p>
        <b>2.</b> Copy the direct link to your bot and share it to your friends on social networks.
      </p>
      <p>
        <b>3.</b> Download a Facebook cover template to use it as your bot’s Page cover, or create your own.
      </p>
      <p>
        <b>4.</b> You can also place Message Us or Send to Messenger buttons on your website if you have one.
      </p>
    </div>

    <div class="state state-step-9 center done"
         ng-class="{old: onb.oldStep === 9, current: onb.currentStep === 9}"
         ng-if="onb.currentStep === 9 || onb.oldStep === 9"
    >
      <p>
        <span class="img s91"></span>
      </p>
      <p>
        We hope that this guide was helpful for you.
      </p>
      <p>
        We are continiously improving our service and we need your feedback on what we should improve in this guide.
      </p>
      <p>
        Drop us a line: <a href="mailto:team@chatfuel.com">team@chatfuel.com</a>
      </p>
      <p>
        <span class="button-ver2 orange-rounded done"  ng-click="onb.onbDone()">
          DONE
        </span>
      </p>
    </div>

  </div>
  <div class="footer" ng-class="{act: (onb.currentStep !== 0 && onb.currentStep !== 9) }">
    <div class="button-ver2 icon prev" ng-click="onb.prevStep()" ng-class="{act: onb.currentStep > 1 }"></div>
    <div class="progress">
      <div class="label"><span ng-bind="onb.progressValue">0</span>% completed</div>
      <div class="bar-box">
        <div class="bar" ng-style="{width: onb.progressValue + '%'}"></div>
      </div>
    </div>
    <div class="button-ver2 orange-rounded next" ng-click="onb.nextStep($event)">NEXT</div>
  </div>
</div>
