<div>

    <p ng-class="{'has-error': vm.hasValidationError}" class="title">
      User input
    </p>
    <p class="info">
      It is a step-by-step guide that can send user inputs to your email, send a callback or generate a URL for the user to tap.<br/>
      Choose Save user variable to save user requests.
    </p>
    <div class="content">
      <div class="l-col">
        <div class="h-block">
          <div class="line sub-title">
            Input:
          </div>
          <div class="line" ng-repeat="property in vm.item.config.form_properties track by $index">
            <div smart-save="form_properties[{{$index}}].caption" class="control size-406">
              <div class="control-title">Bot message</div>
              <input type="text" placeholder="Optional"
                     ng-model="property.caption"
                     ng-blur="vm.save()" >
            </div>
            <div smart-save="form_properties[{{$index}}].title"  class="control size-195 required">
              <div class="control-title">User variable name</div>
              <input class="variable-input" ng-class="{'variable-input-focused': !showMask}" type="text" placeholder="Required"
                     ng-model="property.title"
                     ng-blur="vm.updateFormProperty($index, 'title'); showMask = true"
                     ng-focus="showMask = false"
                     ng-change="showMask = false"
                     ng-click="showMask = false"
                     ng-init="(property.title) ? showMask = true : showMask = false">
              <div class="variable-mask-wrapper" ng-class="{'input-mask': showMask}"><div class="variable-mask" ng-class="{'show-mask': (showMask && property.title)}">{{property.title || 'Required'}}</div></div>
            </div>
            <div class="button db-sq remove" ng-click="vm.removeFormProperty($index)"></div>
          </div>
          <div class="line">
            <div class="control size-195">
              <div class="button add" ng-click="vm.addFormProperty()">ADD FIELDS</div>
            </div>
          </div>
        </div>
        <div class="h-block">
          <div class="line sub-title">
            Result:
          </div>
          <div class="line">
            <div class="control size-195">
              <div class="control-title">&nbsp;</div>
              <div class="selector" ng-class="{ act: vm.$typePopupShown }">
                <div class="label placeholder" ng-click="$event.stopPropagation(); vm.$typePopupShown = true">{{vm.getTypeLabel() || 'Choose a result'}}</div>
                <ul>
                  <li class="disabled">Choose a result</li>
                  <li ng-click="vm.$typePopupShown = false; vm.setType('email')">Email</li>
                  <li ng-click="vm.$typePopupShown = false; vm.setType('url')">Callback</li>
                  <li ng-click="vm.$typePopupShown = false; vm.setType('card')">Show URL</li>
                  <li ng-click="vm.$typePopupShown = false; vm.setType('postback_save_parameters')">Save user variables</li>
                </ul>
              </div>
            </div>

            <div smart-save="postback_email" class="control size-195 required" ng-if="vm.getType() === 'email'" >
              <div class="control-title">Email address</div>
              <input placeholder="Required" ng-model="vm.item.config.postback_email" ng-blur="vm.save()" >
            </div>
            <div smart-save="title" class="control size-195" ng-if="vm.getType() === 'email'" >
              <div class="control-title">Subject</div>
              <input placeholder="Required" ng-model="vm.item.config.title" ng-blur="vm.save()" >
            </div>

            <div class="control size-195" ng-if="vm.getType() === 'url'">
              <div class="control-title">&nbsp;</div>
              <div class="selector"  ng-class="{ act: vm.$methodPopupShown }">
                <div class="label placeholder" ng-click="$event.stopPropagation(); vm.$methodPopupShown = true">{{vm.item.config.postback_method || 'Choose a method'}}</div>
                <ul>
                  <li class="disabled">Choose a method</li>
                  <li ng-click="vm.$methodPopupShown = false; vm.setPostbackMethod('GET')">GET</li>
                  <li ng-click="vm.$methodPopupShown = false; vm.setPostbackMethod('POST')">POST</li>
                </ul>
              </div>
            </div>
            <div smart-save="postback_url" class="control size-195 required" ng-if="vm.getType() === 'url'">
              <div class="control-title">URL</div>
              <input placeholder="Required" ng-model="vm.item.config.postback_url" ng-blur="vm.save()">
            </div>

            <div smart-save="postback_card.text" class="control size-406 required" ng-if="vm.getType() === 'card'">
              <div class="control-title">Description on card</div>
              <input placeholder="Required"  ng-model="vm.item.config.postback_card.text" ng-blur="vm.save()">
            </div>

            <div class="control size-406" ng-if="vm.getType() === 'postback_save_parameters'">
              <div class="control-title">&nbsp;</div>
              <div class="text">
                User answers to this form are saved in user variables. You can use that user variables to create dynamic URLs in plugins like JSON, RSS etc.
              </div>
            </div>

          </div>
          <div class="line" ng-if="vm.getType() === 'card'">
            <div smart-save="postback_card.buttons[0].title" class="control size-199 required">
              <div class="control-title">Button caption</div>
              <input placeholder="required" ng-model="vm.item.config.postback_card.buttons[0].title" ng-blur="vm.save()" >
            </div>
            <div smart-save="postback_card.buttons[0].url" class="control size-199 required">
              <div class="control-title">URL</div>
              <input placeholder="Required" ng-model="vm.item.config.postback_card.buttons[0].url" ng-blur="vm.save()" >
            </div>
          </div>
        </div>
      </div>
    </div>

  <a href="https://help.chatfuel.com/facebook-messenger/plugins/user-input/" target="_blank">
    <div class="asc"></div>
  </a>
  <localization item="vm.item"></localization>
</div>
