<div class="date-range-selector" ng-class="{open: vm.openPopup}">
  <span class="fast-selector" ng-click="vm.setRange('week')" ng-class="{act: vm.testRange('week')}" ng-if="vm.testShowRange('week')">Week</span>
  <span class="fast-selector" ng-click="vm.setRange('month')" ng-class="{act: vm.testRange('month')}" ng-if="vm.testShowRange('month')">Month</span>
  <span class="fast-selector" ng-click="vm.setRange('quarter')" ng-class="{act: vm.testRange('quarter')}" ng-if="vm.testShowRange('quarter')">Quarter</span>

  <div class="button-ver2 white-rounded open-popup-button" ng-click="vm.elClick($event)">
    <span ng-bind="vm.dateStart | date : 'dd MMM yyyy'"></span>
     —
    <span ng-bind="vm.dateEnd | date : 'dd MMM yyyy'"></span>
  </div>

  <div class="date-popup" ng-click="$event.stopPropagation()">
    <uib-datepicker ng-model="vm.dateStart" ng-change="vm.dateStartChange();" datepicker-options="vm.$datepickerStart"></uib-datepicker>
    <uib-datepicker ng-model="vm.dateEnd" ng-change="vm.dateEndChange();" datepicker-options="vm.$datepickerEnd"></uib-datepicker>

    <div class="button-ver2 orange-rounded done-button" ng-click="vm.doneClick($event)">DONE</div>
  </div>
</div>
