<section ng-class="vm.className" ui-view="main" class="main-dashboard-content">
  <div>
    <div class="lcol" ui-view="sidebar"></div>
    <div class="rcol" ui-view="content"></div>
  </div>
</section>
