<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=0.8, minimum-scale=0.8">
  <title>Chatfuel dashboard</title>
  <meta name="description" content="***">

  <meta property="og:url" content="***" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="***" />
  <meta property="og:image" content="images/chatfuel_fb.jpg" />

  <meta name="theme-color" content="#455a64" />

  <meta property="fb:app_id" content="956097427771953" />

  <link rel="apple-touch-icon" href="assets/images/logo/fav_60.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/images/logo/fav_76.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/images/logo/fav_120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/images/logo/fav_152.png">
  <link rel="apple-touch-icon" href="assets/images/logo/fav_60.png">

  <script src="/config.js"></script>
</head>

<body ng-app="app" ng-strict-di> <!-- class="show-modal-popup" -->

<!-- Begin Inspectlet Embed Code -->
<script type="text/javascript" id="inspectletjs">
  window.__insp = window.__insp || [];
  __insp.push(['wid', 1145102962]);
  (function() {
    function ldinsp(){if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
    setTimeout(ldinsp, 500); document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', ldinsp) : window.addEventListener('load', ldinsp, false)) : ldinsp();
  })();
</script>
<!-- End Inspectlet Embed Code -->

<tos></tos>

<analytics></analytics>

<facebook-init></facebook-init>

<mobile-warring></mobile-warring>

<header class="show" ng-if="vm.showHeader">
  <div>
    <logo></logo>

    <nav>
      <a ng-href="{{'help' | swapLink}}">Help</a>
      <a ng-href="{{'blog' | swapLink}}">Blog</a>
      <a ng-href="{{'community' | swapLink}}">Community</a>
      <a ng-href="{{'dashboard' | swapLink}}" class="act">Dashboard</a>

      <user-control></user-control>
    </nav>
  </div>
</header>
  <header-alert></header-alert>

  <header-alert-errors></header-alert-errors>

  <!-- Bot Selector -->
  <bot-selector></bot-selector>
  <!-- Wizard Header -->
  <wizard-header></wizard-header>

  <app></app> <!--app.js-->
  
  <!--support></support-->
  <intercom></intercom>
  <faq></faq>


  <footer>
    <div>
      <p class="copy">© ChatFuel 2016 </p>
      <p class="links">
        <a href="mailto:contact@chatfuel.com">Напишите нам</a>
        <a target="_blank" href="https://telegram.me/chatfuel">Telegram</a>
        <a target="_blank" href="https://www.facebook.com/chatfuel">Facebook</a>
        <a target="_blank" href="https://twitter.com/chatfuel">Twitter</a>
      </p>
    </div>
  </footer>

  <onboarding2></onboarding2>
</body>
</html>
