<div class="qr-message-container">
  <div class="qr-message-header">
    <div class="qr-message-header-main">
      Conversation pause.
    </div>
    <div class="qr-message-header-switcher" ng-click="vm.isFirstQRAdd = !vm.isFirstQRAdd" ng-class="{'expanded': vm.isFirstQRAdd}">
      What is that?
    </div>
  </div>

  <div class="qr-message-text" ng-if="vm.isFirstQRAdd">
    By using quick replies you're pausing the conversation flow until the user chooses a Quick Reply option or writes something. User text input is also saved to User Variable.
  </div>
</div>
