<div class="ref-link">
  <div class="ref-link-container" ng-class="{'ref-active': vm.block.referral_active}">
    <div class="dtc">
      <span class="ref-link-icon" uib-tooltip="Create a link with REF parameter to lead to this block" ng-click="vm.showBlockLink()"></span>
    </div>
    <div ng-if="vm.block.referral_active" class="page-link dtc" ng-mouseleave="vm.closeTooltip()" ng-class="{'copied-tooltip': vm.copy}">
      <input type="text" class="input-to-copy-link" value="{{vm.encodeLink()}}">
      <div class="page-link-full" ng-click="vm.openPage()">m.me/{{vm.page}}?ref={{(vm.block.referral.length <= 20) ? vm.block.referral : vm.block.referral.slice(0, 20) + '...'}}</div><span uib-tooltip="{{vm.copy ? 'Copied' : 'Copy to clipboard'}}" tooltip-placement="right" tooltip-class="copy-tooltip" class="icon-copy" ng-click="vm.copyLink()"></span>
    </div>
  </div>
</div>
