section.dashboard-v2,
section.bot-create {

  .bots-list {
    margin-right: -30px;

    .bot-item {
      position: relative;
      display: block;
      float: left;
      vertical-align: top;
      width: 300px;
      height: 248px;
      border-radius: 18px;
      background-color: #ffffff;
      border: solid 2px #e6e5e4;
      margin: 0 26px 30px 0;
      padding: 46px 16px 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      cursor: pointer;

      .bot-list-link {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 248px;
        width: 300px;
        z-index: 90;
      }

      .status{
        position: absolute;
        left: 16px;
        top: 12px;
        font-size: 14px;
        line-height: 1.4;
        color: #9b9b9b;
      }

      .content {
        position: absolute;
        width: 100%;
        height: auto;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        text-align: center;
        margin: 6px 0 0;
      }

      .content-edit {
        z-index: 100;
      }

        .image {
          width: 72px;
          height: 72px;
          border-radius: 50%;
          margin: 0 auto 8px;
          background: url('../../images/av_def_bot.png') no-repeat center center;
          background-size: cover;
        }

        .bot-page-avatar {
          width: 72px;
          height: 72px;
          border-radius: 50%;
          margin: 0 auto 8px;
        }

        .textarea {
          border: 1px solid rgba(0,0,0,0);
          resize: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          padding: 3px 10px;
          width: 264px;
          height: auto;
          border-radius: 3px;
          outline: none;

          font-weight: 300;
          font-size: 24px;
          line-height: 1.3;
          color: #000000;
          text-align: center;
          margin: 0 auto 0;
          pointer-events: none;
          overflow: auto;

          background: transparent;
        }
        .textarea-sliced {
          width: 264px;
          height: 31px;
          font-weight: 300;
          font-size: 24px;
          line-height: 1.3;
          color: #000000;
          text-align: center;
          margin: 0 auto 40px auto;
          pointer-events: none;
          overflow: hidden;
          background: transparent;

          &.textarea-sliced--connected{
            margin-bottom: 0;
          }
        }
        .button.connect {
          position: absolute;
          display: inline-block;
          bottom: 24px;
          left: 55px;
          white-space: nowrap;
          width: auto;
          line-height: 30px;
          margin: 9px auto 0;
          padding: 0 8px 0 40px;
          font-size: 12px;
          text-align: center;
          z-index: 100;
          text-transform: uppercase;
          border-radius: 7px;
          background-color: #ffffff;
          box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .13);
          border: 1px solid rgba(0, 0, 0, .13);
          border-bottom-color: rgba(0, 0, 0, .17);
          transition: box-shadow 80ms ease, border-color 80ms ease, background-color 80ms ease;
          color: #000000;

          &::before {
            position: absolute;
            left: 12px;
            top: 3px;
            width: 24px;
            height: 24px;
            content: ' ';
            opacity: 0.3;
            background: url('../../images/ic_publish_black.svg') no-repeat center;
          }
          &:hover {
            box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .17);
            border-top-color: rgba(0, 0, 0, .17);
            border-left-color: rgba(0, 0, 0, .17);
            border-right-color: rgba(0, 0, 0, .17);
            border-bottom-color: rgba(0, 0, 0, .2);
          }
        }




      .menu {
          position: absolute;
          right: 0;
          top: 0;
          width: 48px;
          height: 48px;
          z-index: 101;

          .button {
            width: 48px;
            height: 48px;
            background: url('../../images/ic_more.svg') center center no-repeat;
            opacity: 0.3;

            &:hover{
              opacity: 1;
            }
          }

          .popup {
            position: absolute;
            right: 12px;
            top: 40px;
            z-index: 150;
            width: 120px;
            border-radius: 3px;
            background-color: #ffffff;
            box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
            border: solid 1px rgba(0, 0, 0, 0.0);

            a {
              display: block;
              line-height: 40px;
              padding: 0 0 0 16px;
              font-size: 16px;
              color: #000000;
              text-decoration: none;
              text-align: left;

              &:hover {
                text-decoration: underline;
              }
            }

            .checkbox-style-label{
              display: block;
              padding: 8px 0 8px 38px;

              border-top: 1px solid #f0efef;

              span,
              input{
                left: 15px;
              }
            }

            &::before {
              content: " ";
              height: 30px;
              left: 0;
              position: absolute;
              top: -30px;
              width: 100%;
              z-index: 3;
            }
          }

          &.act {
            .popup {
              display: block;
            }
          }
      }


      .button.done {
        display: none;
        border-radius: 3px;
        background-color: #e9604a;
        height: 32px;
        width: 128px;
        line-height: 32px;
        font-size: 14px;
        color: #ffffff;
        text-transform: uppercase;
        margin: 8px auto 0;

        &[disabled]{
          background-color: #e6e5e4;
          pointer-events: none;
        }
      }

      &:not(.edit):hover {
        border: 2px solid #000000;
      }

      &.edit {
        cursor: auto;

        .textarea {
          pointer-events: auto;
          border: solid 1px #d9d9d9;
          margin: 0 auto 3px;
          height: 72px;
        }

        .button.connect{
          display: none;
        }

        .button.done {
          display: block;
        }
      }

      &.connected {
        .image {
          position: relative;
          background: none;

          &::after {
            content: ' ';
            position: absolute;
            z-index: 1;
            top: 53px;
            left: 53px;
            width: 19px;
            height: 19px;
            border-radius: 50%;
            background: url('../../images/ic_fb_bot.svg') no-repeat center center;
            background-size: contain;
            border: 2px solid #ffffff;
          }
        }
      }

      .admins{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 4px;
        padding: 0;
        margin: 0;
        white-space: nowrap;
        height: 17px;
        overflow: hidden;

        li{
          display: inline-block;
          background: center center no-repeat;
          background-size: cover;
          width: 17px;
          height: 17px;
          margin: 0 2px;
          border-radius: 50%;
          overflow: hidden;
        }
      }
    }

    .bot-item.add {
      cursor: pointer;
      transition: background-color 60ms;

      &:hover {
        border: solid 2px #000000;
        &::after {
          opacity: 1;
        }
      }

      &::after {
        content: ' ';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 24px;
        height: 24px;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        background: url('../../images/ic_add_big.svg') no-repeat center center;
        opacity: 0.3;
        transition: opacity 60ms;
      }
    }
  }
  &::after{
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
  }
}

section.bot-create{
  .bots-list{
    .bot-item{
      padding: 24px 16px 0;
      height: 304px;
      .info{
        font-size: 14px;
        line-height: 1.4;
        color: #807e7e;
        text-align: center;
        padding-top: 8px;
      }
      .create-by {
        text-align: center;
        padding-top: 16px;
        .create-by-author {
          font-size: 14px;
          font-weight: 400;
          line-height: 1.43;
          color: #000000;
          &:before {
            background: url('../../images/fav_60.png') no-repeat center center;
            background-size: contain;
            display: inline-block;
            content: '';
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: relative;
            top: 4px;
            right: 6px;
          }
        }
      }
      &.act{
        border: solid 2px #448af1;
      }
    }
  }

}
