label.checkbox-style-label{
  position: relative;
  padding-left: 36px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input{
    position: absolute;
    z-index: 10;
    opacity: 0;
    width: 24px;
    height: 24px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }

  span{
    position: absolute;
    z-index: 10;
    width: 24px;
    height: 24px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 2px #b2b2b2;
    cursor: pointer;
  }

  input:checked + span{
    background: #448af1 url("../../images/ic_done_white.svg") no-repeat center center;
    border: none;
  }

  &.mini{
    padding-left: 22px;

    input, span{
      width: 16px;
      height: 16px;
      background-size: cover!important;
    }
  }
}
