.dropdown {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 80%;
  height: 32px;
  line-height: 32px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #d9d9d9;
  text-align: center;
  font-size: 16px;
  color: #000000;
  outline: none;
}