#cropping-image {
  max-width: 100%;
  max-height: 270px;
}

.crop-preloader {
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 480px;
    height: 270px;
    background: #ffffff url('../../images/spinner_b.svg') no-repeat 50% 50%;
    background-size: 36px;
    content: '';
    z-index: 10;
  }
}
