.message-us {
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 5px 10px 5px 0;
  margin: 0;
  white-space: nowrap;
  text-align: right;
  display: inline-block;
  position: relative;
  background: #ffffff;
  color: #0084ff;
  width: 105px;
  max-width: 105px;
  min-width: 105px;
  cursor: pointer;
  text-decoration: none;

  .active() {
    background: #0084ff;
    color: #ffffff;
    border: 1px solid transparent;

    &::before {
      background: transparent url('../../images/message-us/message-us_active.png') no-repeat
    }
  }

  &:hover {
    .active();
  }

  &::after {
    content: 'Message Us';
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    left: 5px;
    width: 16px;
    height: 16px;
    background: transparent url('../../images/message-us/message-us.png') no-repeat;
  }

  &_active {
    .active();
  }
}
