.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -18px;
  margin-left: -18px;
  height: 36px;
  width: 36px;
  background: transparent url('../../images/spinner_b.svg') no-repeat 50% 50%;
  background-size: 36px;
}

.botCloning {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 14px;
  margin-left: -32px;
  height: 36px;
  width: 80px;
  color: #000;
  font-size: 12px;
}
