
// selector


.selector:not(.selector-bot){
  width: 240px;
  height: 36px;
  line-height: 34px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #d9d9d9;
  font-size: 16px;
  color: #000000;
  position: relative;
  margin:0 0 24px;
  white-space: nowrap;

  .label{
    cursor: pointer;
    padding: 0 24px 0 12px;
  }

  .label::after{
    content: "▾";
    font-size: 18px;
    position: absolute;
    right: 5px;
    top: 0;
  }

  div.disabled{
    color:#9b9b9b;
  }

  div.disabled:hover{
    background-color: #ffffff;
  }

  ul{
    display: none;
    position: absolute;
    top:-1px;
    left:-1px;
    width: 240px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(0, 0, 0, 0.0);
    padding: 0;
    margin: 0;
    z-index: 10;
    max-height: 190px;
    overflow: auto;

    li{
      display: block;
      padding: 0 12px;
      margin: 0;
      height: 36px;
      line-height: 36px;
      cursor:pointer;
    }

    li:hover{
      background-color: rgba(0,0,0,0.05);
    }

    li.disabled{
      color:#9b9b9b;

    }

    li.disabled:hover{
      background-color: #ffffff;
    }

    &::after{
      content: "▾";
      font-size: 18px;
      position: absolute;
      right: 5px;
      top: 0;
    }
  }

  &.act{
    ul{
      z-index: 100;
      display: block;
    }
  }

}
