div.tutorials-and-guides{

  background-color: #f3f2f2;
  left: 0;
  position: absolute;
  width: 100%;

  section.promotion & {
    position: static;
  }

  .box{
    padding: 64px 32px 32px;
    margin: 0 auto;
    max-width: 1024px;
    font-size: 0px;

    .title{
      font-weight: 300;
      font-size: 32px;
      line-height: 1.4;
      color: #000000;
      margin:0 0 20px;
    }

    > ul{
      display: inline-block;
      width: 100%;
      margin:0;
      padding: 32px 32px 12px 32px;
      vertical-align: top;
      border-radius: 18px;
      background-color: #ffffff;

      li{
        display: inline-block;
        width: 48%;
        padding: 0 0 0 10px;
        margin: 0 0 20px;
        a{
          display: block;
          font-size: 16px;
          line-height: 1.5;
          color: #448af1;
          text-decoration: none;
        }

        a:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

.rcol{
  div.tutorials-and-guides{
    .box{
      margin: 0;
    }

    box-shadow: inset 2px 0 0 0 #ffffff;
  }
}

section.dashboard-v2{

  padding-bottom: 293px;

  div.tutorials-and-guides{
    bottom: 0;
  }
}
