div.uib-datepicker{
  padding: 0;
  margin: 0 0 24px;

  .uib-daypicker{
    margin: 0 auto;
    width: 100%;
    outline: none;

    thead{
      tr:first-child{

        th{
          background-color: #f3f2f2;
          height: 32px;

          &:first-child{
            border-bottom-left-radius: 16px;
            border-top-left-radius: 16px;
          }

          &:last-child{
            border-bottom-right-radius: 16px;
            border-top-right-radius: 16px;
          }

          .uib-title{
            text-transform: uppercase;
            font-size: 14px;
          }

          .uib-left,
          .uib-right{
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            opacity: 0.3;
            display: block;
            &:hover{
              opacity: 1;
            }
          }

          .uib-left{
            background-image: url('../../images/ic_arrow_left.svg');
          }

          .uib-right{
            background-image: url('../../images/ic_arrow_right.svg');
          }
        }
      }

      tr:last-child{
        th{
          padding: 12px 0;
          small{
            font-size: 10px;
            color: #807e7e;
            text-transform: uppercase;
            &.saturday,
            &.sunday{
              color: #e9604a;
            }
          }


        }
      }
    }

    tbody{
      tr{
        td{
          text-align: center;
          padding: 0 0 6px;

          button{
            width: 36px;
            height: 36px;
            border-radius: 100px;

            span{
              display: inline-block;
              margin-bottom: 1px;
            }

            min-width: initial;

            &.text-muted{
              display: none;
            }

            &.orange{
              background-color: #e9604a;
              color: #ffffff;
              &:hover{
                background-color: #EB7461;
                color: #ffffff!important;
              }
            }

            &.btn-info{
              background-color: #448af1!important;
              color: #ffffff!important;
              border: none!important;
              cursor: auto;
            }

            &.has-event{
              position: relative;

              &::after{
                content: ' ';
                top: 27px;
                left: 50%;
                transform: translateX(-50%);
                position: absolute;
                background: url('../../images/ic_cal_event.svg') left center;
                height: 3px;
                width: 6px;
                margin-left: 1.5px;
              }

              &.n1::after{
                width: 6px;
                margin-left: 1.5px;
              }

              &.n2::after{
                width: 9px;
                margin-left: 0;
              }

              &.n3::after{
                width: 15px;
                margin-left: 0;
              }
            }

            &:hover{
              box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .17);
              border: 1px solid rgba(0, 0, 0, .17);
              border-bottom-color: rgba(0, 0, 0, .2);
            }
          }

          &.prev-day {
            button {
              color: #807e7e;
              background-color: transparent;

              &:hover {
                background-color: #ffffff;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
                color: #807e7e;
              }

              &.has-event{
                background-color: #d8d8d8;
                color: #ffffff;
              }

              &.btn-info {
                background-color: #448af1;
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }

  button{
    border: none;
    background: none transparent;

    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;

    border-radius: 3px;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;

    strong{
      font-weight: 400;
    }
  }
}
