<div class="art-mini-dropdown">
  <span ng-bind="$artMiniDropdown.getText()"></span>
  <ul ng-if="$artMiniDropdown.value === 'text'">
    <li class="act">TEXT</li>
    <li ng-click="$artMiniDropdown.setValue('block')">BLOCK</li>
  </ul>
  <ul ng-if="$artMiniDropdown.value === 'block'">
    <li class="act">BLOCK</li>
    <li ng-click="$artMiniDropdown.setValue('text')">TEXT</li>
  </ul>
</div>
