.qr-message-container {
  margin: 44px -33px 0;
  &:before {
    content: '';
    display: block;
    border-top: 1px dashed #e0e0e0;
    position: relative;
    top: -12px;
  }
  &:after {
    content: '';
    display: block;
    border-bottom: 1px dashed #e0e0e0;
    position: relative;
    bottom: -12px;
  }

  .qr-message-header {
    padding: 0 36px;
    .qr-message-header-main {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      color: #000000;
      display: inline-block;
    }
    .qr-message-header-switcher {
      cursor: pointer;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      color: #767676;
      display: inline-block;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      &:after {
        content: "\25BE";
        display: inline-block;
        width: 24px;
        font-size: 12px;
        text-align: center;
        transform: rotate(-90deg);
      }
      &.expanded {
        &:after {
          transform: rotate(0);
        }
      }
    }
  }
  .qr-message-text {
    margin-top: 6px;
    padding: 0 36px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    color: #767676;
  }
}
