.svp-variables{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.error{
    .sk{
      color: #e9604a!important;
    }
  }

  &.cf-input{
    height: 36px;
    border-radius: 7px;
    padding: 3px 5px;
    font-size: 16px;

    .cvp-input-box{
      display: inline-block;
      position: relative;
      height: 26px;
      line-height: 26px;
      max-width: 100%;

      .trash-popup{
        display: none;
        left: auto;
        right: -6px;
      }

      &:hover{
        .trash-popup{
          opacity: 1;
          transform: scale(1, 1);
        }
      }

      .sk{
        position: absolute;
        top: 0;
        font-size: 16px;
        color: #000000;
        transition: color 100ms;

        &.left{
          left: 8px;
        }
        &.right{
          right: 8px;
        }
      }

      .cvp-input{
        outline: none;
        display: inline-block;
        padding: 0 24px;
        border-radius: 13px;
        -webkit-user-select: auto;
        -moz-user-select: all;
        -ms-user-select: all;
        user-select: all;
        background-color: rgba(144, 109, 96, 0);
        transition: background-color 0ms, color 0ms;
        color: #a6a6a6;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
        margin: 1px 0 0;

        br{
          content: '';
        }

        &:not(:empty) {
          background-color: rgba(144, 109, 96, 1);
          color: #ffffff;
          font-size: 14px;

          transition: background-color 100ms, color 100ms;
          & ~ .sk{
            font-size: 16px;
            color: #e0995d;
          }

          & ~ .trash-popup{
            display: block;
          }
        }
      }
    }



  }

  .svp-popup {
    position: absolute;
    border-radius: 7px;
    background-color: #ffffff;
    border: solid 1px rgba(0, 0, 0, 0.13);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    z-index: 9;
    padding: 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height cubic-bezier(0.2, 0.7, 0.5, 1) 150ms 0ms, opacity 0ms 150ms;
    pointer-events: none;
    left: 0;

    &.open{
      max-height: 267px;
      opacity: 1;
      transition: max-height cubic-bezier(0.2, 0.7, 0.5, 1) 150ms 0ms, opacity 0ms 0ms;
      pointer-events: all;
    }

    ul{
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      min-width: unset;


      li {
        display: flex;
        height: 48px;
        line-height: 47px;
        // padding: 0 12px;
        margin: 0;
        cursor: pointer;
        background-color: #ffffff;
        order: 2;
        justify-content: space-between;

        &:last-child{
          border-radius: 0 0 3px 0;
        }

        &.act{
          background-color: #f3f3f3;
        }

        > span {
          display: table-cell;
          padding: 0 5px;

          &.name{
            span{
              display: inline-block;
              height: 26px;
              border-radius: 13px;
              background-color: #906d60;
              padding: 0 10px;
              font-size: 14px;
              line-height: 26px;
              color: #ffffff;
              max-width: 211px;
              overflow: hidden;
              margin-top: 11px;
              text-overflow: ellipsis;

              &::before{
                content: '{{';
                font-size: 16px;
                position: relative;
                left: -2px;
                top: -1px;
                color: #e0995d;
              }
              &::after {
                content: '}}';
                font-size: 16px;
                position: relative;
                left: 2px;
                top: -1px;
                color: #e0995d;
              }
            }
            &.noresponse {
              span {
                background-color: #c3c3c3;
              }
            }
          }

          &.stat{
            color: #b5b5b5;
            font-size: 14px;
            padding: 0 12px 0 0;
          }
        }
        &.firstValue {
          order: 1;
        }
      }
    }
  }
}
