<div>
  <p class="title">
    Digest
  </p>
  <p class="info">
    Shows last unseen updates in a gallery based on user subscriptions.
  </p>
  <div class="digest-body">
    <p><b>Preview</b> <span class="editable">(editable)</span></p>
    <div class="digest-body-line digest-body-line--margin-bottom">
      <div class="textarea-wrapper digest-text">
        <plugin-card-title item="vm.item.config.title"></plugin-card-title>
      </div>
      <div class="digest-body-line__info-wrapper">
        <p class="digest-body-line__title">Digest title</p>
        <p class="info digest-info">This is the first "intro" message before user subscriptions.</p>
      </div>
    </div>
    <div class="digest-body-line">
      <div class="textarea-wrapper subscription-text">
        <plugin-card-title item="vm.item.config.subscription_title"></plugin-card-title>
        <div class="bottom-sub-title">subscription_title</div>
      </div>
      <div class="digest-body-line__info-wrapper">
        <p class="digest-body-line__title">Subscription title</p>
        <p class="info">This text is shown before each user subscription item.<br>Note that <b>subscription title</b> is defined in search and RSS plugins.</p>
      </div>
    </div>
  </div>
  <a ng-href="https://help.chatfuel.com/facebook-messenger/plugins/digest" target="_blank">
    <div class="asc"></div>
  </a>
  <localization item="vm.item"></localization>
</div>
