div.fixedbigbutton{
  position: fixed;
  bottom:0;
  left:0;
  z-index: 100;
  width: 100%;
  height: 96px;
  background-color: #ffffff;
  opacity: 0;
  transition: opacity 600ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms, transform 0ms linear 60ms;
  -webkit-transition: opacity 600ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms, -webkit-transform 0ms linear 60ms;
  box-shadow: 0 -1px 2px rgba(0,0,0,0.2);
  display: block;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  div{
    .button{
      margin: 16px auto;
    }
  }
}

div.fixedbigbutton.show{
  transition: opacity 60ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms, transform 0ms linear 0ms;
  -webkit-transition: opacity 60ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms, -webkit-transform 0ms linear 0ms;
  opacity:1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

@media (max-width: 720px){
  div.fixedbigbutton{
    display: none!important;
  }
}