div.fixedtopmenu{
  position: fixed;
  top:0;
  left:0;
  z-index: 100;
  width: 100%;
  height: 64px;
  background-color: #ffffff;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transition: transform 220ms cubic-bezier(0.17,  0.84, 0.44, 1) 0ms;
  -webkit-transition: -webkit-transform 220ms cubic-bezier(0.17,  0.84, 0.44, 1) 0ms;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);

  div{

    > *{
      position: absolute;
    }

    .logo-mini{
      display: block;
      top: 22px;
      left: 16px;
      width: 103px;
      img{
        width: 100%;
      }
    }

    nav{
      right: 81px;
      top: 24px;

      text-align: right;
      white-space: nowrap;

      a{
        display: inline-block;
        vertical-align: top;

        margin-left: 36px;

        color: #000000;
        font-size: 12px;

        text-decoration: none;
        text-transform: uppercase;

        border-bottom:1px solid rgba(233,96,74,0);


        transition: all 60ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);
        -webkit-transition: all 60ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);
      }

      a:hover{
        color: #e9604a;
        border-bottom-color: rgba(233,96,74,1);
      }
    }

    .language-selector{
      cursor: pointer;
      top:22px;
      right: 16px;

      width: 25px;
      height: 20px;
      line-height: 18px;

      border: 1px solid rgba(0,0,0,1);
      border-radius: 3px;

      color: #000000;
      font-size: 11px;
      text-transform: uppercase;
      text-align: center;

      transition: all 60ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);
      -webkit-transition: all 60ms 0ms cubic-bezier(0.22,  0.61, 0.36, 1);

      .popup{
        position: absolute;
        top:-1000px;
        right: 0;
        width: 120px;
        border-radius: 3px;
        background-color: #ffffff;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        padding: 6px 0;
        overflow: hidden;
        opacity: 0;
        max-height: 0;

        transition: opacity 60ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms, max-height 600ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms, top 0ms linear 60ms;
        -webkit-transition: opacity 60ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms, max-height 600ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms, top 0ms linear 60ms;

        a{
          position: static;
          display: block;
          text-decoration: none;
          font-size: 16px;
          line-height: 40px;
          color: #000000;
          text-transform: none;
          text-align: left;
          padding-left: 24px;
        }

        a:hover{
          color: #e9604a;
        }
      }

      .popup::before{
        content: " ";
        position: absolute;
        width: 100%;
        height: 40px;
        top:-40px;
        right: 0;
      }
    }

    .language-selector:hover{
      color: rgba(233,96,74,1);
      border-color: rgba(233,96,74,1);
      .popup{
        transition: opacity 60ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms, max-height 60ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms, top 0ms linear 0ms;
        -webkit-transition: opacity 60ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms, max-height 60ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms, top 0ms linear 0ms;
        top:23px;
        opacity: 1;
        max-height: 300px;
        overflow: visible;
      }
    }

    .language-selector::after{
      content: " ";
      position: absolute;
      width: 100%;
      height: 5px;
      bottom:-5px;
      right: 0;
    }
  }
}

div.fixedtopmenu.show{
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

@media (max-width: 720px){
  div.fixedtopmenu{
    display: none;
  }
}