body{


  > div.popup2{
    position: fixed;
    left:0;
    top:-100%;
    width: 100%;
    height: 100%;
    max-width: inherit;
    max-height: inherit;
    min-width: 320px;
    background-color: rgba(101, 101, 101, 0.94);
    z-index: 10000;
    opacity: 0;
    color: #000000;

    transition: opacity 250ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms, top 0ms linear 250ms;
    -webkit-transition: opacity 250ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms, top 0ms linear 250ms;

    > * {
      transform: translateZ(0px);
      -webkit-transform: translateZ(0px);
    }

    > div {
      max-width: inherit;
      min-width: inherit;
      max-height: inherit;
      position: absolute;
      width: 740px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);


      .window {
        position: relative;
        border-radius: 8px;
        background-color: #ffffff;
        overflow: hidden;

        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);

        .close {
          font-size: 1px;
          color: transparent;
          position: absolute;
          top: 0px;
          right: 0px;
          height: 52px;
          width: 52px;
          background: url("/images/ic_close.svg") no-repeat center center;
          cursor: pointer;
          opacity: 0.3;
          z-index: 10000;
        }

        .close:hover {
          opacity: 0.5;
          transition: opacity 60ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms;
          -webkit-transition: opacity 60ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms;
        }

        .content{
          position: relative;
          padding: 48px 0 0;

          p{
            margin: 0;
            padding: 0;
          }

          > .title{
            font-size: 28px;
            line-height: 1.6;
            font-weight: 300;
            margin-bottom: 32px;
            text-align: center;
            span{
              display: inline-block;
              width: 36px;
              height: 36px;
              vertical-align: middle;
              margin-left: 5px;
              background: url("/images/av_forbesbot.png") no-repeat center center;
              background-size: 36px 36px;
              margin-top: -3px;
            }
            > p{
              display: none;
            }

            > p:nth-child(1){
              display: block;
            }

          }

          .body{
            background-color: #f5f5f7;
            padding: 0 48px 0 0;
            overflow: hidden;

            .sliderbox{
              position: relative;
              width: 336px;
              height: 236px;
              float:left;
              margin: 32px 0 0;
              overflow: hidden;

              ul{
                position: absolute;
                top:0;
                left: 48px;
                margin: 0;
                padding: 0;
                white-space: nowrap;

                li {
                  display: inline-block;
                  vertical-align: top;
                  height: 208px;
                  width: 240px;
                  margin: 0 24px;
                  cursor: pointer;

                  .title{
                    font-size: 24px;
                    line-height: 1.3;
                    text-align: center;
                    margin: 0 0 12px;
                  }

                  img{
                    width: 240px;
                  }

                  img.tc{
                    display: none;
                  }
                }
                li:first-child{
                  margin-left: 0;
                }
                li:last-child{
                  margin-right: 48px;
                }
              }

              .dots{
                position: absolute;
                top: 205px;
                width: 100%;
                text-align: center;

                div {
                  display: inline-block;
                  span {
                    display: inline-block;
                    margin-right: 8px;
                    width: 8px;
                    height: 8px;
                    background-color: #053748;
                    border-radius: 50%;
                    opacity: 0.3;
                    transition: opacity 60ms 0ms cubic-bezier(0.22, 0.61, 0.36, 1);
                    -webkit-transition: opacity 60ms 0ms cubic-bezier(0.22, 0.61, 0.36, 1);
                    cursor: pointer;
                  }
                  span:last-child {
                    margin: 0;
                  }
                  span.act {
                    cursor: auto;
                    opacity: 1;
                  }
                }
              }
            }

            form{

              p{
                input::-webkit-input-placeholder {color:#9b9b9b;}
                input::-moz-placeholder          {color:#9b9b9b;}
                input:-moz-placeholder           {color:#9b9b9b;}
                input:-ms-input-placeholder      {color:#9b9b9b;}
                input:-o-input-placeholder      {color:#9b9b9b;}
                input:input-placeholder      {color:#9b9b9b;}

                input{
                  color:#000000;
                }
              }

              p:nth-child(1){
                font-size: 16px;
                line-height: 1.5;
                padding-top: 44px;
                height: 92px;

                > span{
                  display: none;
                }

                > span:nth-child(1){
                  display: block;
                }


                a{
                  text-decoration: none;
                  color: #4a90e2;
                }
                a:hover{
                  text-decoration: underline;
                }
              }
              p:nth-child(2){
                font-size: 16px;
                line-height: 1.5;
                height: 48px;
                margin-bottom: 24px;
              }
              p:nth-child(3){
                margin-bottom: 16px;

                input{
                  font-size: 16px;
                  width: 355px;
                  height: 36px;
                  line-height: 34px;
                  border-radius: 3px;
                  background-color: #ffffff;
                  border: solid 1px #e0e2e6;
                  padding: 0 16px;
                  -webkit-appearance: none;
                  box-shadow: none;
                  -webkit-box-shadow: none;
                  -webkit-appearance: none;
                }
              }
              p:nth-child(4){
                display: table;
                padding-bottom: 36px;
                width: 354px;

                > span{
                  display: table-cell;
                }

                span {
                  input {
                    font-size: 16px;
                    width: 100%;
                    height: 36px;
                    line-height: 34px;
                    border-radius: 3px;
                    background-color: #ffffff;
                    border: solid 1px #e0e2e6;
                    padding: 0 16px;
                    margin-right: 12px;
                    -webkit-appearance: none;
                    box-shadow: none;
                    -webkit-box-shadow: none;
                  }
                }

                span:last-child {
                  padding-left: 10px;

                  button {
                    width: auto;
                    padding: 0 10px;
                    height: 36px;
                    line-height: 36px;
                    font-size: 16px;
                    white-space: nowrap;
                  }
                }
              }

            }
          }

          .footer{
            text-align: center;
            padding: 16px 48px;
            a{
              font-size: 16px;
              line-height: 1.5;
              color: #4a90e2;
              text-decoration: none;
            }
            a:hover{
              text-decoration: underline;
            }
          }

          .done{
            display: none;
            position: absolute;
            left: 0;
            top:0;
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            z-index: 1000;
            > div{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              -webkit-transform: translate(-50%, -50%);
              text-align: center;

              p:nth-child(1){
                font-size: 28px;
                line-height: 1.6;
                font-weight: 300;
                margin-bottom: 24px;
              }

              p:nth-child(2){
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 64px;
              }

              p:nth-child(3){
                font-size: 16px;
                line-height: 1.5;
                a{
                  color: #4a90e2;
                  text-decoration: none;
                }
                a:hover{
                  text-decoration: underline;
                }
              }

            }
          }
        }


      }
    }
  }


}

body.show-popup2{
  overflow: hidden;
  height: 100%;
  overflow-scrolling: none;
  -webkit-overflow-scrolling: none;

  >*{
    pointer-events: none;
  }

  > div.popup2{
    pointer-events: auto;
    opacity: 1;
    top:0;
    transition: opacity 250ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms, top 0ms linear 0ms;
    -webkit-transition: opacity 250ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms, top 0ms linear 0ms;
  }
}

body.techcrunch{

  > div.popup2{
    > div{
      .window{
        .content{
          > .title{
            span {
              background-image: url("/images/av_tc.png");
            }
            > p{
              display: none;
            }

            > p:nth-child(3){
              display: block;

            }

          }
          .body{

            .sliderbox{
              ul{
                li{
                  img.any{
                    display: none;
                  }
                  img.tc{
                    display: block;
                  }
                }
              }
            }

            form{
              > p:nth-child(1){
                > span{
                  display: none;
                }
                > span:nth-child(3){
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
}



body.for-publishers{

  > div.popup2{
    > div{
      .window{
        .content{
          .title{

            > p{
              display: none;
            }

            > p:nth-child(2){
              display: block;
            }

          }
          .body{
            form{
              > p:nth-child(1){
                > span{
                  display: none;
                }
                > span:nth-child(2){
                  display: block;
                }
              }
            }
          }
          .footer{
            display: none;
          }
        }
      }
    }
  }
}



@media (max-width: 740px)  {
  body {

    > div.popup2 {
      > div {
        right: 0;
        left: 0;
        padding: 16px 16px;
        width: auto;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        max-height: 100%;
        -webkit-overflow-scrolling: touch;
        overflow-scrolling: touch;
        overflow: auto;

        .window {
          .content{

            padding: 41px 0 0;

            > .title{
              font-size: 24px;
              line-height: 1.3;
              margin-bottom: 24px;
              padding: 0 22px;

              span{
                width: 24px;
                height: 24px;
                background-size: 24px 24px;
              }
            }

            .body{

              padding: 0 16px 0;

              .sliderbox{
                display: none;
              }

              form{
                p{
                  height: auto!important;
                  text-align: center;
                  width: auto!important;
                }

                p:nth-child(1){
                  margin-bottom: 20px;
                  padding-top: 24px;
                }

                p:nth-child(3){
                  input{
                    width: 100%;
                    max-width: 340px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                  }
                }

                p:nth-child(4){
                  padding-bottom: 23px;
                  display: block!important;

                  input{
                    margin-bottom: 16px;
                  }

                  > span{
                    display: block!important;
                    padding-left: 0!important;

                    input, button{
                      display: inline-block;
                      width: 100%!important;
                      max-width: 340px;
                      margin-right: 0!important;
                    }
                  }
                }


              }
            }

            .footer {
              padding: 8px 48px;
            }

            .done{
              > div{
                width: 100%;
                padding: 0 22px;

                p:nth-child(1){
                  font-size: 24px;
                  line-height: 1.3;
                  margin-bottom: 20px;
                }

                p:nth-child(2){
                  font-size: 16px;
                  line-height: 24px;
                  margin-bottom: 0;
                }

                p:nth-child(3){
                  font-size: 16px;
                  line-height: 24px;
                }
              }
            }
          }


        }
      }
    }
  }



}