body{


  > div.popup{
    position: fixed;
    left:0;
    top:-100%;
    width: 100%;
    height: 100%;
    max-width: inherit;
    max-height: inherit;
    min-width: 320px;
    background-color: rgba(101, 101, 101, 0.94);
    z-index: 10000;
    opacity: 0;

    transition: opacity 250ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms, top 0ms linear 250ms;
    -webkit-transition: opacity 250ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms, top 0ms linear 250ms;

    > * {
      transform: translateZ(0px);
      -webkit-transform: translateZ(0px);
    }

    > div {
      max-width: inherit;
      min-width: inherit;
      max-height: inherit;
      position: absolute;
      width: 680px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);


      .window {
        position: relative;
        border-radius: 8px;
        background-color: #ffffff;
        overflow: hidden;
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);

        .close {
          font-size: 1px;
          color: transparent;
          position: absolute;
          top: 0px;
          right: 0px;
          height: 52px;
          width: 52px;
          background: url("/images/ic_close.svg") no-repeat center center;
          cursor: pointer;
          opacity: 0.3;
        }

        .close:hover {
          opacity: 0.5;
          transition: opacity 60ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms;
          -webkit-transition: opacity 60ms cubic-bezier(0.22, 0.61, 0.36, 1) 0ms;
        }


        .content{
          text-align: center;
          padding: 44px 30px 41px;

          > p{
            padding: 0;
          }

          .title{
            font-weight: 300;
            font-size: 28px;
            line-height: 44px;
            margin:0 0 42px;

            span{
              display: inline-block;
              vertical-align: middle;
              width: 32px;
              height: 32px;
              border-radius: 50%;
              background: url("/images/ic_telegram_.svg") no-repeat 1px 2px #2da5e0;
              background-size: 28px auto;
              margin-left: 5px;
              margin-top: -3px;
            }
          }

          .gray{
            font-size: 16px;
            line-height: 1.5;
            color: #9b9b9b;
            margin:0 0 33px;
          }

          ol{
            display: inline-block;
            width: auto;
            padding: 0;
            margin:0 0 13px;
            counter-reset: item;

            li{
              position: relative;
              display: block;
              text-align: left;
              font-size: 16px;
              line-height: 24px;
              color: #000000;
              padding-left: 30px;
              height: 40px;

              a{
                color: #2da5e0;
                text-decoration: none;
              }
              a:hover{
                text-decoration: underline;
              }
            }

            li::before{
              display: block;
              position: absolute;
              left: 0;
              top:0px;
              content: counter(item);
              width: 24px;
              height: 24px;
              line-height: 22px;
              border: solid 1px #2da5e0;
              border-radius: 50%;
              color: #2da5e0;
              margin-right: 12px;
              font-size: 16px;
              text-align: center;
              counter-increment: item;
            }

            li.mobile{
              display: none;
            }
          }

          .button{
            margin: 0 auto;
          }
        }


        .subs{
          background-color: #f5f5f7;
          text-align: center;
          position: relative;

          .link{
            height: 108px;
            line-height: 108px;
            text-align: center;
            overflow: hidden;
            a{
              display: inline-block;
              vertical-align: middle;
              font-size: 16px;
              line-height: 1.5;
              color: #3c87f7;
              cursor: pointer;
              text-decoration: none;
            }
            a:hover{
              text-decoration: underline;
            }
          }

          .add{
            display: none;
            overflow: hidden;
            padding: 31px 40px 41px;

            .info{
              font-size: 16px;
              line-height: 1.5;
              color: #000000;
              margin:0 0 29px;
              padding: 0 20px;
            }

            form{
              p{
                input::-webkit-input-placeholder {color:#9b9b9b;}
                input::-moz-placeholder          {color:#9b9b9b;}
                input:-moz-placeholder           {color:#9b9b9b;}
                input:-ms-input-placeholder      {color:#9b9b9b;}
                input:-o-input-placeholder      {color:#9b9b9b;}
                input:input-placeholder      {color:#9b9b9b;}

                input{
                  color:#000000;
                }
              }


              p:first-child{

                margin: 0 0 30px;
                padding: 0;
                text-align: center;

                label{
                  vertical-align: top;
                  display: inline-block;
                  margin-right: 16px;
                  height: 28px;

                  input{
                    vertical-align: middle;
                    margin-right: 6px;
                  }

                    img{
                      vertical-align: middle;
                      height: 24px;
                      margin-top: -2px;
                    }

                }
                label:last-child{
                  margin-right: 0;
                }
              }

              p:last-child{
                margin: 0;

                padding: 0;

                input{
                  display: inline-block;
                  vertical-align: middle;
                  width: 300px;
                  height: 36px;
                  line-height: 34px;
                  border-radius: 3px;
                  background-color: #ffffff;
                  border: solid 1px #e0e2e6;
                  font-size: 16px;
                  padding: 0 15px;
                  margin-right: 6px;

                  -webkit-appearance: none;
                  box-shadow: none;
                  -webkit-box-shadow: none;
                  -webkit-appearance: none;

                }

                button{
                  display: inline-block;
                  vertical-align: middle;
                }

              }

            }
          }

          .done{
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #f5f5f7;
            top: 0;
            left: 0;
            z-index: 1000;
            div{
              position: absolute;
              top:50%;
              left: 50%;
              transform: translate(-50%, -50%);
              -webkit-transform: translate(-50%, -50%);

              p{
                margin: 0;
                padding: 0;
                color: #000000;
                font-weight: 300;
              }
              p:first-child{
                font-size: 28px;
                line-height: 1.6;
                margin-bottom: 24px;
              }
              p:last-child{
                font-size: 16px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
  }


}


body.show-popup{
  overflow: hidden;
  height: 100%;
  overflow-scrolling: none;
  -webkit-overflow-scrolling: none;

  >*{
    pointer-events: none;
  }

  > div.popup{
    pointer-events: auto;
    opacity: 1;
    top:0;
    transition: opacity 250ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms, top 0ms linear 0ms;
    -webkit-transition: opacity 250ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms, top 0ms linear 0ms;
  }
}





@media (max-width: 720px)  {
  body {

    > div.popup {
      > div {
        right: 0;
        left: 0;
        padding: 16px 16px;
        width: auto;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        max-height: 100%;
        -webkit-overflow-scrolling: touch;
        overflow-scrolling: touch;
        overflow: auto;

        .window {

          .content{

            padding: 40px 22px 28px;

            .title{
              font-size: 24px;
              line-height: 1.3;
              margin: 0 0 32px;

              span{
                width: 24px;
                height: 24px;
                background-size: 21px auto;
              }
            }

            .gray{
              margin: 0 0 25px;
            }

            ol{
              margin: 0 0 32px;

              li.mobile{
                display: block;
              }

              li.desktop {
                display: none;
              }
            }
          }

          .subs{
            .link{

            }
            .add{
              padding: 31px 15px 32px;

              form {


                p:first-child {
                  display: inline-block;
                  margin: 0 0 20px;

                  label{
                    display: block;
                    text-align: left;
                    height: 40px;
                    margin: 0;
                  }
                }
                p:last-child{
                  input{
                    width: 100%;
                    max-width: 400px;
                    margin: 0 0 16px;
                  }

                  button{
                    width: 100%;
                    max-width: 400px;
                  }
                }
              }
            }
          }

        }
      }
    }
  }



}
