div.sidebar{
  display: block;
  z-index: 100;

  position: fixed;
  top:0;
  left: 0;
  width: 100%;
 // height: 100%;
  height: 0;
  overflow: hidden;

  background-color: rgba(0,0,0,0);

 // transform: translateX(-100%);
  transition: height 0ms cubic-bezier(0.22,  0.61, 0.36, 1) 200ms, background-color 200ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms;
  -webkit-transition: height 0ms cubic-bezier(0.22,  0.61, 0.36, 1) 200ms, background-color 200ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms;

  > div{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 240px;
    background-color: #ffffff;
    min-width: inherit;
    max-width: inherit;
    box-shadow: 2px 0 2px rgba(0,0,0,0.2);
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: transform 200ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms;
    -webkit-transition: -webkit-transform 200ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms;

    .button.close{
      left: 0;
      top:0;
    }

    .menu{
      padding: 10px 0 0;

      a{
        display: block;
        padding: 0 16px;
        font-size: 20px;
        color: #000000;
        line-height: 56px;
        text-decoration: none;
        background-color: rgba(0,0,0,0);
        transition: background-color 60ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms;
        -webkit-transition: background-color 60ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms;
      }

      a:hover{
        background-color: rgba(0,0,0,0.05);
      }
    }

    .language{

      margin: 15px 16px 0;
      padding-top: 15px;
      border-top: 1px solid rgba(0,0,0,0.1);

      label {
        display: block;
        height: 56px;
        line-height: 56px;
        position: relative;


        .title{
          font-size: 20px;
        }

        span:nth-child(2){
          display: inline-block;
          opacity: 0.7;
          transform: scale(0.8, 1.4);
          -webkit-transform: scale(0.8, 1.4);
          margin-left: 3px;
        }

        select {
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          cursor: pointer;
        }
      }
    }
  }

}

body.show-sidebar{
  overflow: hidden;


  >*{
    pointer-events: none;
  }

  div.sidebar{
    display: block;
    background-color: rgba(0,0,0,0.5);
    pointer-events: all;
    height:100%;
    transition: height 0ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms, background-color 200ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms;
    -webkit-transition: height 0ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms, background-color 200ms cubic-bezier(0.22,  0.61, 0.36, 1) 0ms;

    > div{
      transform: translateX(0);
      -webkit-transform: translateX(0);
    }
  }
}


@media (min-width: 720px){
  div.sidebar {
    display: none;
  }
}


