.art-textarea-expand{
  position: relative;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.01);
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  border: solid 1px rgba(0, 0, 0, 0.2);
  padding: 3px 16px;
  font-size: 16px;
  line-height: 1.75;
  color: #000000;
  min-height: 36px;
  outline: 1px solid rgba(0,0,0,0);
  //    max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-user-select: auto;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;

  &.error{
    box-shadow: inset 0 1px 3px 0 rgba(81, 0, 0, 0.07);
    border: solid 1px #e9604a;
    background-color: #fff5f4;

    &::before{
      color:#e9604a;
    }
  }

  &::before{
    display: inline-block;
    pointer-events: none;
  }

  &.show-discount{
    &::after{
      content: attr(discount);
      position: absolute;
      right: 0;
      bottom: 0;
      width: 20px;
      height: 14px;
      border-radius: 8px;
      background-color: #5dc991;
      font-size: 10px;
      line-height: 14px;
      text-align: center;
      color: #ffffff;
      z-index: 10;
      opacity: 0;
      transition: opacity 100ms;
    }

    &:focus{
      &::after{
        opacity: 1;
      }
    }

    &.show-discount-red {
      &::after{
        background-color: #E9604A;
      }
    }
  }
}
