.art-vars-suggest{
  .values {
    position: relative;
    height: auto;


    //&:hover{
    //  & + .trash-popup{
    //    opacity: 1;
    //    transform: scale(1,1) translateY(-50%);
    //  }
    //}


    .values-list {
      width: 100%;
      height: auto;
      min-height: 36px;
      overflow: hidden;
      white-space: nowrap;

      padding: 4px 3px 0 3px;

      .value-item {
        display: inline-block;
        position: relative;
        height: 26px;
        line-height: 26px;
        border-radius: 13px;
        font-size: 16px;
        color: #ffffff;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin: 0 8px 4px 0;
        max-width: 98%;

        background-color: #906d60;

        > span{
          display: block;
          padding: 0 10px;
          height: 26px;
          max-width: 100%;

          &::before{
            content: '{{';
            font-size: 16px;
            position: relative;
            left: -2px;
            top: -1px;
            color: #e0995d;
          }
          &::after {
            content: '}}';
            font-size: 16px;
            position: relative;
            left: 2px;
            top: -1px;
            color: #e0995d;
          }

          span{
            display: inline-block;
            vertical-align: top;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        &::after{
          content: ', ';
          position: absolute;
          right: -5px;
          top: 0;
          color: #000000;
        }

        &:nth-last-of-type(2){
          margin: 0 0 4px 0;
          &::after{
            content: '';
          }
        }
        &.noresponse {
          background-color: #c3c3c3;
        }

        .trash-popup{
          left: auto;
          right: -6px;
        }

        &:hover{
          .trash-popup{
            transform: scale(1, 1);
            opacity: 1;
          }
        }
      }



      .popup-box{
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;

        .valuePopup {
          position: absolute;
          border-radius: 7px;
          background-color: #ffffff;
          border: solid 1px rgba(0, 0, 0, 0.13);
          box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
          z-index: 10000;
          padding: 0;
          width: auto;
          overflow-y: auto;
          overflow-x: hidden;
          margin: 29px 0 0 -4px;
          max-height: 258px;

          ul{
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            min-width: unset;


            li {
              display: flex;
              height: 48px;
              line-height: 47px;
              // padding: 0 12px;
              margin: 0;
              cursor: pointer;
              background-color: #ffffff;
              order: 2;
              justify-content: space-between;

              &:last-child{
                border-radius: 0 0 3px 0;
              }

              &.act{
                background-color: #f3f3f3;
              }

              > span {
                display: table-cell;
                padding: 0 5px;

                &.name{
                  span{
                    display: inline-block;
                    height: 26px;
                    border-radius: 13px;
                    background-color: #906d60;
                    padding: 0 10px;
                    font-size: 16px;
                    line-height: 26px;
                    color: #ffffff;
                    max-width: 211px;
                    overflow: hidden;
                    margin-top: 11px;
                    text-overflow: ellipsis;

                    &::before{
                      content: '{{';
                      font-size: 16px;
                      position: relative;
                      left: -2px;
                      top: -1px;
                      color: #e0995d;
                    }
                    &::after {
                      content: '}}';
                      font-size: 16px;
                      position: relative;
                      left: 2px;
                      top: -1px;
                      color: #e0995d;
                    }
                  }
                  &.noresponse {
                    span {
                      background-color: #c3c3c3;
                    }
                  }
                }

                &.stat{
                  color: #b5b5b5;
                  font-size: 14px;
                  padding: 0 12px 0 0;
                }
              }
              &.firstValue {
                order: 1;
              }
            }
          }
        }

        input{
          display: inline-block;
          height: 26px;
          line-height: 26px;
          font-size: 16px;
          border: none;
          outline: none;
          padding: 0 0 0 8px;
          background-color: transparent;
          width: 150px;
        }
      }

    }

    &.act{
      .values-list{
        height: auto;
        overflow: visible;
        white-space: normal;
        z-index: 100;

        .value-item{

        }
      }
    }

  }
}
