<div>

  <ol class="zero-begin">

    <li>
      <h2>
        Add Testers <span>(optional)</span>
      </h2>
      <div class="pic n11"></div>
      <p>
        You can add testers to try a chatbot linked to your Facebook Page while your app is under review.
      </p>
      <ul>
        <li>In you App open <b>Roles</b> section.</li>
        <li>Find <b>Testers</b> group in the bottom of the page and click <b>Add Testers</b>.</li>
        <li>Add people to test your app.</li>
      </ul>
    </li>


    <li>
      <h2>
        Request permissions
      </h2>
      <ul>
        <li>In <b>Messenger</b> section press <b>Request Permissions</b> button.</li>
        <li>Choose <b>pages_messaging</b> from left panel in popup apperared.</li>
        <li>Fill required fields and upload a video showing your chatbot perfomance.</li>
      </ul>
      <div class="pic n7"></div>
    </li>

    <li>
      <h2>
        Set Settings
      </h2>
      <div class="pic n8"></div>
      <ul>
        <li>In <b>Settings</b> section choose Basic and fill required fields.</li>
        <li>Fill in your desired <b>Display Name</b>.</li>
        <li>Copy <b>api.chatfuel.com</b> to App Domains.</li>
        <li>Copy <b>https://chatfuel.com/privacypolicy.html</b> to Privacy Policy URL.</li>
        <li>Click <b>Add Platform</b> and choose <b>Website</b>.</li>
        <li>Copy <b>api.chatfuel.com</b> to Site URL.</li>
      </ul>

    </li>

    <li>
      <h2>
        Submit for Review
      </h2>
      <p>
        In <b>App Review</b> section click on <b>Submit For Review</b>.<br/>It takes from one day up to a week until your App is submitted by Facebook.
      </p>
      <p>
        You’ll be prompted to upload a screencast of your chatbot working. To do this use:
      </p>
      <p>
        On Mac — QuickTime.
      </p>
      <p>
        On Windows — <a href="http://www.videolan.org/vlc/" target="_blank">VLC</a> or <a href="https://obsproject.com/" target="_blank">OBS</a>.
      </p>
      <div class="pic n9"></div>
      <p>
        <a href="https://developers.facebook.com/docs/messenger-platform/app-review" target="_blank" class="button db-blue">CHECK OUT FACEBOOK REVIEW TUTORIAL</a>
      </p>
    </li>




    <li>
      <h2>
        Confirm that you submitted a chatbot
      </h2>

      <p class="checkbox-box">
        <label class="checkbox-style-label">
          <input ng-model="vm.botReadOnly" ng-change="vm.onBotReadOnlyChange()" type="checkbox"/><span></span>
          I confirm that I’ve submitted <b ng-bind="vm.bot.title"></b> for review on Facebook.
        </label>
      </p>
    </li>

  </ol>

  <p>
    <a ng-click="vm.done()" class="button db-orange next" ng-class="{disabled: vm.botReadOnly !== true }">Done</a>
    <a ui-sref="wizard.page2({ bot_id: vm.$stateParams.bot_id })" class="button db-orange back">Back</a>
  </p>

</div>
