.action-item-v2{
  position: relative;
  width: 254px;
  height: 49px;
  border-top: solid 1px #ebebeb;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.animate-off{
    transition: none!important;
    *{
      transition: none!important;
    }
  }


  > .trash-popup {
    left: auto;
    right: -6px;
  }

  &:last-child{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .content-box{
  //  overflow: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 254px;
    max-height: 48px;
    z-index: 0;
    background-color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0);
    border: solid 1px rgba(0, 0, 0, 0);
    border-radius: 6px;
    transition: width cubic-bezier(0.2, 0.7, 0.5, 1) 100ms, max-height cubic-bezier(0.2, 0.7, 0.5, 1) 130ms,  box-shadow cubic-bezier(0.2, 0.7, 0.5, 1) 100ms, border-color cubic-bezier(0.2, 0.7, 0.5, 1) 100ms;
//top cubic-bezier(0.2, 0.7, 0.5, 1) 100ms,
    .title-box{
      padding: 12px 0 0;
      width: 100%;
      height: 48px;
      text-align: center;

    //  transition: padding cubic-bezier(0.2, 0.7, 0.5, 1) 100ms, height cubic-bezier(0.2, 0.7, 0.5, 1) 100ms;

      .title-resize-box{
        overflow: hidden;
        margin: 0 0 -6px;
        line-height: 20px;
        text-align: center;
        padding: 0;
        display: inline-block;



    //    transition: background-color cubic-bezier(0.2, 0.7, 0.5, 1) 100ms,
    //                box-shadow cubic-bezier(0.2, 0.7, 0.5, 1) 100ms,
    //                border cubic-bezier(0.2, 0.7, 0.5, 1) 100ms,
    //                line-height cubic-bezier(0.2, 0.7, 0.5, 1) 100ms;


        .title{
          display: inline-block;
          font-size: 17px;
          line-height: 20px;
          text-align: center;
          color: #448af1;

          &::before{
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }

          &:empty:not(:focus)::before{
            color: #e9604a;
          }

          br{
            content: '';
            &::after{
              content: ' ';
            }
          }
        }

        &.not-been-change{
          background-color: rgba(0, 0, 0, 0.01)!important;
          box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08)!important;
          border: solid 1px rgba(0, 0, 0, 0.24)!important;
          .title {
            &::before {
              color: #a6a6a6 !important;
            }
          }
        }


        &.share-title-box{
          background-color: rgba(0, 0, 0, 0)!important;
          box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0)!important;
          border: solid 1px rgba(0, 0, 0, 0)!important;
        }

        &.buy-title-box{
          background-color: rgba(0, 0, 0, 0)!important;
          box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0)!important;
          border: solid 1px rgba(0, 0, 0, 0)!important;
          width: 252px;
          padding: 0 10px;
          cursor: pointer;

          line-height: 24px;

          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          .buy-title{
            cursor: pointer;
            text-align: left;
            margin: -2px 0 0;

            .coast{
              display: inline-block;
              color: #000000;
              font-size: 17px;

              &.error{
                color: #e9604a;
              }

              span{
                display: inline-block;
                text-overflow: ellipsis;
                border: none;
                outline: none;
            //    line-height: 24px;
                width: 130px;
                overflow: hidden;
            //    vertical-align: -6px;
                vertical-align: bottom;
              }
            }

            .buy-title-text{
              float: right;
              text-align: right;
              color: #448af1;
              .button-ver2{
                display: inline-block;
                vertical-align: -6px;
              }
            }

          }
        }

        .discount{
          display: none;
        }

        .share-title{
          color: #448af1;
          padding: 0 28px 0 0;
          margin: 0;

          font-size: 17px;

          .icon{
            display: inline-block;
            position: relative;
            vertical-align: -6px;

            &.ihide{
              opacity: 0;
              pointer-events: none;
            }
          }
        }
      }

      .preview{
        font-size: 12px;
        line-height: 1.17;
        color: #a6a6a6;
        text-align: center;

        .blocks{
          max-width: 100%;
          overflow: hidden;
          white-space: nowrap;
          position: relative;

          &::after{
            content: '';
            position: absolute;
            height: 14px;
            width: 14px;
            top: 0;
            right: 0;
            z-index: 10;

            background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
            background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
            background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
          }


          span{
            position: relative;
            display: inline-block;
            height: 14px;
            line-height: 14px;
            font-size: 12px;
            color: #767676;
            white-space: nowrap;
            border-radius: 3px;
            background-color: #f3f2f2;
            padding: 0 2px;

            margin: 0 7px 0 0;

            &::after{
              content: ',';
              position: absolute;
              top: 0;
              right: -5px;
              font-size: 12px;
              color: #767676;
              width: 4px;
              text-align: right;
              height: 14px;
              line-height: 14px;
            }

            &:last-child{
              margin: 0;
              &::after{
                display: none;
              }
            }
          }
        }

        .url{
          max-width: 230px;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 0 auto;
          white-space: nowrap;
        }
      }
    }

    .hide-box{
      width: 400px;
      pointer-events: none;
      opacity: 0;
      transform: translateY(-50px);
      transition: opacity 30ms 0ms, transform cubic-bezier(0.2, 0.7, 0.5, 1) 50ms 0ms;

  //    border-top: 1px solid #e0e0e0;
      padding: 12px 16px 16px;

      .state-selector{
        padding: 0;
        margin: 0 0 10px;
        display: block;

        li{
          display: inline-block;
          position: relative;
          vertical-align: top;
          white-space: nowrap;
          cursor: pointer;
          border-bottom: 2px solid transparent;
          font-size: 14px;
          line-height: 1.5;
          color: #000000;
          transition: color 100ms, border-bottom-color 100ms;
          margin: 0 12px 0 0;
          padding:  0 0 0 20px;

          &:last-child{
            margin: 0;
          }

          &::before{
            position: absolute;
            content: '';
            width: 16px;
            height: 16px;
            opacity: 0.3;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background: left center no-repeat;
          }

          &.blocks {
            &::before {
              background-image: url('../images/action-icons/ic_blocks_small.svg');
            }
          }
          &.url{
            &::before{
              background-image: url('../images/action-icons/ic_link_small.svg');
            }
          }
          &.phone-call{
            &::before{
              background-image: url('../images/action-icons/ic_call_small.svg');
            }
          }
          &.share{
            &::before{
              background-image: url('../images/action-icons/ic_share_small.svg');
            }
          }
          &.buy{
            &::before{
              background-image: url('../images/action-icons/ic_buy_small.svg');
            }
          }

          &:hover, &.act{
            color: #e9604a;
            &::before{
              opacity: 1;
            }

            &.blocks{
              &::before{
                background-image: url('../images/action-icons/ic_blocks_small_active.svg');
              }
            }
            &.url{
              &::before{
                background-image: url('../images/action-icons/ic_link_small_active.svg');
              }
            }
            &.phone-call{
              &::before{
                background-image: url('../images/action-icons/ic_call_small_active.svg');
              }
            }
            &.share{
              &::before{
                background-image: url('../images/action-icons/ic_share_small_active.svg');
              }
            }
            &.buy{
              &::before{
                background-image: url('../images/action-icons/ic_buy_small_active.svg');
              }
            }
          }

          &.act{
            border-bottom: 2px solid #e9604a;
          }
        }
      }

      .states-box{
        margin: 0 0 16px;
        > div {

          &.url{
            .webview-h-sel-box{
              padding: 22px 0 8px;
              .art-big-dropdown{
                float: right;
                margin: -6px 0;
              }
            }
          }

          > p {
            margin: 0;
            padding: 6px 0;
            font-size: 16px;
            line-height: 1.5;
            color: #767676;
          }

          .input-box{
            height: 36px;
            border-radius: 7px;
            //background-color: #fafafa;
            //box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.07);
            //border: solid 1px rgba(0, 0, 0, 0.09);

            .input{
              height: 34px;
              line-height: 34px;
              border: none;
              background-color: transparent;
              outline: none;
              width: 100%;
              padding: 0 16px;

              //&.error:not(:focus) {
              //  transition: color 60ms;
              //  color: #e9604a;
              //  &::-webkit-input-placeholder {color:#e9604a;}
              //  &::-moz-placeholder          {color:#e9604a;}
              //  &:-moz-placeholder           {color:#e9604a;}
              //  &:-ms-input-placeholder      {color:#e9604a;}
              //  &:-o-input-placeholder      {color:#e9604a;}
              //  &:input-placeholder      {color:#e9604a;}
              //}
            }

            .intl-tel-input{
              width: 100%;
              .input{
                padding: 0 16px 0 52px;
              }
            }
          }

          .input-url-box{
            .art-textarea-expand,
            .art-textarea-expand.error:focus{
              border-radius: 7px;
              background-color: #fafafa;
              box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.07);
              border: solid 1px rgba(0, 0, 0, 0.09);
              color: #000000;
              max-height: 72px;
              &::before{
                color: #a6a6a6;
              }

              br{
                content: '';
                &::after{
                  content: ' ';
                }
              }

              div{
                display: inline;
              }
            }

            .art-textarea-expand.error:not(:focus){
              &::before{
                transition: color 60ms;
                color: #e9604a;
              }
            }
          }
        }
      }

      .buttons{
        text-align: right;
        .button-ver2{
          display: inline-block;
          vertical-align: top;
          height: 36px;
          width: 104px;
          line-height: 34px;
          margin: 0 0 0 12px;

          &.orange-rounded{
            line-height: 36px;
          }
        }
      }
    }



  }

  &:not(.expand) {
    .content-box{
      .title-box{
        .title-resize-box{
          background-color: rgba(0, 0, 0, 0)!important;
          box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0)!important;
          border: solid 1px rgba(0, 0, 0, 0)!important;
        }
      }
    }
  }

  &.has-target{
    .content-box{
      .title-box {
        padding: 6px 5px;
      }
    }
  }

  &.expand{
    cursor: auto;

    .content-box{
      top: -7px;
      width: 402px;
      max-height: 1400px;
      border-radius: 7px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.13);
      border: solid 1px rgba(0, 0, 0, 0.09);
      z-index: 100000;

      .title-box{
        padding: 12px 0 0;
        height: 60px;
        border-bottom: 1px solid #e0e0e0;

        .title-resize-box{
          position: relative;
          margin: 0;
          display: inline-block;
          vertical-align: top;
          cursor: text;

          line-height: 34px;
          border-radius: 7px;
          //background-color: rgba(0, 0, 0, 0.01);
          //box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
          //border: solid 1px rgba(0, 0, 0, 0.24);
          width: 236px;

          &.buy-title-box{
            width: 252px;
            line-height: 34px;
            cursor: default;
            .buy-title{
              margin: 0;
              cursor: default;
            }
          }

          .title{
            display: inline-block;
            font-size: 17px;
            text-align: center;
            color: #448af1;
            outline: none;
            white-space: nowrap;
            -webkit-user-select: auto!important;
            -moz-user-select: text!important;
            -ms-user-select: auto!important;
            user-select: auto!important;
          }

          .discount{
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            text-align: center;
            font-size: 10px;
            color: #ffffff;
            opacity: 0;
            transition: opacity 100ms;
            line-height: 14px;
            padding: 0 4px;
            height: 14px;
            border-radius: 8px;
            background-color: #5dc991;
          }

          .title:focus + .discount{
            opacity: 1;
          }

        }

        .preview{
          display: none;
        }
      }

      .hide-box{
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
        transition: opacity 50ms 50ms, transform cubic-bezier(0.2, 0.7, 0.5, 1) 50ms 50ms;
      }
    }
  }

  &:not(.expand):hover{
    .trash-popup{
      opacity: 1;
      transform: scale(1, 1);
    }
  }
}


.button-tooltip{
  z-index: 100009;
  width: auto;
  .tooltip-inner{
    width: 247px;
    height: 52px;
    border-radius: 4px;
    background-color: #053748;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.29;
    color: #ffffff;
    min-width: unset;
    text-align: left;
    padding: 8px 12px;
  }
  .tooltip-arrow {
    border-top-color: #053748!important;
    min-width: unset;
  }
}

.button-tooltip-warring{
  z-index: 100009;
  width: auto;
  .tooltip-inner{
    width: 240px;
    height: auto;
    border-radius: 4px;
    background-color: #053748;
    font-size: 14px;
    line-height: 1.29;
    color: #ffffff;
    min-width: unset;
    text-align: left;
    padding: 8px 12px;
  }
  .tooltip-arrow {
    border-top-color: #053748!important;
    min-width: unset;
  }
}

.button-tooltip-error{
  z-index: 100009;
  width: auto;
  transform: translateX(-90px);
  .tooltip-inner{
    width: 247px;
    height: 52px;
    border-radius: 4px;
    background-color: #e9604a;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.29;
    color: #ffffff;
    min-width: unset;
    text-align: left;
    padding: 8px 12px;
  }
  .tooltip-arrow {
    border-top-color: #e9604a!important;
    min-width: unset;
  }
}
