// .cards-list{
.card-item{
  position: relative;
  margin: 0 0 40px;
  display: table;
  width: 100%;

  > div{
    display: inline-block;
  }
  &.text, &.gallery, &.image {
    > div{
      display: block;
    }
  }

  .card{
    padding:0;
    width: 254px;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 3px 6px -1px rgba(0, 0, 0, 0.07);
    position: relative;

    //border: solid 1px rgba(0,0,0,.07);
    //border-bottom: solid 1px rgba(0,0,0,.15);

    &.card-error{
      box-shadow: 0 0 0 1px #e9604a, 0 3px 6px -1px rgba(0, 0, 0, 0.07);
      .action-list{
        .action-item{
          border-top: solid 1px #e9604a;
        }
      }
    }

    .content{
      padding: 3px 3px;

      > div{
        position: relative;

        textarea{
          display: block;
          width: 100%;
          padding: 3px 6px 0;
          background-color: #ffffff;
          border: solid 1px transparent;
          resize: none;
          transition: border-color 100ms;
          margin: 0;
          overflow: hidden;
          white-space: inherit;
          border-radius: 7px;

          &.error:not(:focus) {
            border: solid 1px #e9604a;
            padding: 3px 6px 0;
            color: #e9604a;
            box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.07);

            &::-webkit-input-placeholder {color:#e9604a;}
            &::-moz-placeholder          {color:#e9604a;}
            &:-moz-placeholder           {color:#e9604a;}
            &:-ms-input-placeholder      {color:#e9604a;}
            &:-o-input-placeholder      {color:#e9604a;}
            &:input-placeholder      {color:#e9604a;}
          }
        }

        textarea:last-child{
          margin:0;
        }

        textarea:focus{
          box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.07);
          border: solid 1px rgba(0, 0, 0, 0.33)!important;
        }

        .discount{
          position: absolute;
          right: 0;
          bottom: 1px;
          text-align: center;
          font-size: 10px;
          color: #ffffff;
          opacity: 0;
          transition: opacity 100ms;

          line-height: 14px;
          padding: 0 4px;
          height: 14px;
          border-radius: 8px;
          background-color: #5dc991;
        }

        textarea:focus + .discount{
          opacity: 1;
        }

      }

      > div.title{
        textarea, .wrap-mask{
          height: 54px;
          font-size: 13px;
          font-weight: 600;
          line-height: 1.4;
          top:-1px;
          color: #1d1d1d;
          padding: 2px 6px 0!important;

        }

      }

      > div.body{

        textarea, .wrap-mask{
          height: 38px;
          font-size: 12px;
          line-height: 1.4;
          color: #767676;
          top: -1px;
          padding: 4px 6px 0!important;
        }

      }

      > div.url{
        textarea, .wrap-mask{
          height: 22px;
          font-size: 12px;
          line-height: 15px;
          color: #a6a6a6;
          white-space: nowrap;
        }

      }

    }

    .top-buttons{
      position: absolute;
      right: -8px;
      top: -28px;
      height: 27px;
      width: 271px;
      text-align: right;
      opacity: 1;
      transition: opacity 100ms;
      -webkit-transition: opacity 100ms;
   //   overflow: hidden;
      white-space: nowrap;
      padding: 0 4px 0 0;
      z-index: 10;

      .button{
        display: inline-block;
        vertical-align: top;
        transition: opacity 60ms;
        width: 24px;
        height: 24px;
        background-position: center center;
        background-repeat: no-repeat;
        margin-right: 8px;
        opacity: 0;
      }

      .button:hover{
        opacity: 1;
      }

      .button.image{
        background-image: url('../images/new/ic_image.svg');
      }

      .button.remove{
        top: 21px;
        left: 238px;
        position: absolute;
        margin: 0;

        width: 32px;
        height: 32px;
        background: #ffffff none;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
        border: solid 1px rgba(0, 0, 0, 0.1);
        border-radius: 16px;
        transform: scale(0.3);
        opacity: 0;
        transition: opacity cubic-bezier(0.2, 0.7, 0.5, 1) 200ms, transform cubic-bezier(0.2, 0.7, 0.5, 1) 200ms;


        &::before{
          content: '';
          position: absolute;
          background: url("../images/new/ic_trash.svg") center center no-repeat;
          top: 0;
          left: 0;
          width: 30px;
          height: 31px;
          opacity: 0.3;
          transition: opasity 60ms;
        }

        &:hover{
          &::before{
            opacity: 1;
          }
        }
      }

      .button.drag{
        position: absolute;
        left: 8px;
        top: 0;
        background-image: url(../images/ic_drag_hor.svg);
        cursor: ew-resize;
        width: 190px;
        background-position: 4px center;
      }

    }

    .action-list{
      position: relative;

      &:hover ~ .top-buttons{
        .button{
          opacity: 0!important;
        }
      }

      //&::after{
      //  content: '';
      //  position: absolute;
      //  width: 100%;
      //  height: 10px;
      //  left: 0;
      //  bottom: -8px;
      //}

      > div{
        position: relative;
      }

      > .act{
        display: block!important;
      }


      .action-item{
        position: relative;
        width: 254px;
        height: 37px;
        line-height: 36px;
        border-top: solid 1px #ebebeb;
        background-color: #ffffff;
        transition: border-color 400ms ease;

        &.ui-sortable-helper {
          border: 1px solid rgba(0, 0, 0, 0)!important;
          box-shadow: 0 12px 16px -1px rgba(0, 0, 0, 0);
          transition: transform 80ms ease, box-shadow 200ms ease, border-color 80ms ease;
          cursor: ns-resize!important;
          overflow: hidden;
          pointer-events: none;
          border-radius: 0!important;

          * {
            cursor: ns-resize!important;
          }

          .remove-btn-float{
            display: none;
          }

          &:active{
            border-color: rgba(0, 0, 0, 0.17)!important;
            box-shadow: 0 12px 16px -1px rgba(0, 0, 0, .13);
            transform: scale(1.02,1.02);
          }

          &.error{
            border-color: #e9604a!important;
          }
        }

        .remove-btn-float{
          position: absolute;
          z-index: 10000;
          top: -6px;
          left: -6px;
          width: 32px;
          height: 32px;
          background-color: #ffffff;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
          border: solid 1px rgba(0, 0, 0, 0.1);
          border-radius: 100%;
          transform: scale(0.3);
          opacity: 0;
          transition: opacity cubic-bezier(0.2,0.7,0.5,1) 200ms, transform cubic-bezier(0.2,0.7,0.5,1) 200ms;
          > div{
            width: 100%;
            height: 100%;
          }
        }

        &:hover{
          .remove-btn-float{
            transform: scale(1);
            opacity: 1;
          }
        }

        .title{
          position: relative;
          text-align: center;
          font-size: 16px;
          color: #448af1;
          width: 200px;
          height: 34px;
          border: none;
          overflow: hidden;
          white-space: nowrap;
          padding: 0 2px;
          text-overflow: ellipsis;
          resize: none;
          background-color: transparent;
        }

        .discount{
          position: absolute;
          text-align: center;
          font-size: 10px;
          color: #ffffff;
          opacity: 0;
          transition: opacity 100ms;
          right: 55px;
          bottom: 0;
          line-height: 14px;
          padding: 0 4px;
          height: 14px;
          border-radius: 8px;
          background-color: #5dc991
        }

        textarea:focus + .discount{
          opacity: 1;
        }



        .preview{
          display: none;
          position: absolute;
          z-index: 10;
          height: 34px;
          top: 1px;
          left: 199px;
          width: 55px;
          overflow: hidden;
          line-height: 31px;
          font-size: 13px;
          padding-left: 2px;
          cursor: pointer;

          span{
            display: inline-block;
            vertical-align: middle;
            height: 32px;
            border-radius: 3px;
            background-color: rgba(0,0,0,0.1);
            padding: 0 8px;
            font-size: 12px;
            line-height: 34px;
          }
        }

        .preview::after{
          content: ' ';
          position: absolute;
          width: 60px;
          height: 44px;
          top:0;
          right: 2px;
          background-color: #ffffff;
          z-index: -1;

          border-bottom-right-radius: 7px;
        }


        .popup-editor{
          position: absolute;
          top:-2px;
          left:-2px;
          width: 390px;
          height: 48px;
          background-color: #ffffff;
          box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
          border: solid 1px rgba(0, 0, 0, 0.05);
          z-index: 100000;
          overflow: hidden;

          .editor-type-buttons{
            display: block!important;
            right: auto;
            left: 8px;
            top: 7px;
            width: auto;

          }

          .editor-type-buttons::after{
            // display: none;
          }



          .content{
            position: absolute;
            left: 70px;
            top:7px;
            height: 32px;
            width: 220px;
            padding: 0;
            > input{
              display: block;
              border:0;
              height: 100%;
              width: 100%;
              font-size: 12px;
              line-height: 1.3;
              color: #000000;
              overflow: hidden;
              text-overflow: ellipsis;
            }

          }

          .save-close-buttons{
            height: 48px;
            position: absolute;
            right: 0;
            top: 0;
            white-space: nowrap;
            width: 96px;


            .button{
              display: inline-block;
              opacity: 0.3;
              width: 48px;
              height: 46px;
              background-position: center center;
              background-repeat: no-repeat;
            }

            .button.save:hover{
              opacity: 1;
            }

            .button.save{
              background-image: url('../images/ic_done.svg');
              background-size: 25px 25px;
              margin-right: -4px;
            }

            .button.cancel{
              position: relative;
              opacity: 1;
              background-color: #f3f2f2;

              &::after{
                content: ' ';
                display: block;
                height: 100%;
                width: 100%;
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url('../images/ic_trash.svg');
                background-size: 23px 23px;
                opacity: 0.3;
              }

              &:hover::after{
                opacity: 1;
              }
            }
          }
        }

        .target-add{
          position: absolute;
          top: 0;
          right: 0;
          width: 44px;
          height: 36px;
          border-left: 1px solid #f3f2f2;
          cursor: pointer;

          &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: url("../images/new/ic_add_small.svg") no-repeat center center;
            width: 100%;
            height: 100%;
            opacity: 0.3;
            transition: opacity 60ms;
          }

          &:hover{
            &::after{
              opacity: 1;
            }
          }
        }

        .editor-type-buttons{
          display: none;
          position: absolute;
          top:6px;
          right: 2px;
          height: 32px;
          width: 55px;
          text-align: right;
          white-space: nowrap;
          z-index: 100;
          background-color: #ffffff;
          padding-right: 2px;

          .button{
            display: inline-block;
            opacity: 0.3;
            width: 24px;
            height: 32px;
            background-position: center center;
          }

          .button:hover,
          .button.act{
            opacity: 1;
            display: inline-block !important;
          }

          .button.tag{
            margin-right: 2px;
            background-image: url('../images/ic_hash.svg');
          }

          .button.url{
            background-image: url('../images/ic_link.svg');
          }

          &.inline{
            top: 0px;
            right: 1px;
            text-align: right;
            height: 35px;
            width: 54px;
            border-radius: 7px;

            &::after{
              display: none!important;
            }

            .button{
              height: 36px;
              width: 26px;
              background-position: center center;
              background-repeat: no-repeat;
              border-left: solid 1px #ebebeb;
            }

          }
        }

        .editor-type-buttons::after{
          position: absolute;
          content: ' ';
          width: 2px;
          height: 24px;
          background-color: #ebebeb;
          top:4px;
          left: 26px;
        }

        &.error{
          border: none;
          box-shadow: 0 0 0 1px #e9604a;
          z-index: 500;
          height: 36px;
          margin: 1px 0 0px 0;
          line-height: 37px;

          .editor-type-buttons{

            .button{
            //  border-left: solid 1px #e9604a;
            }

            .button.tag{
              background-image: url('../images/ic_hash_red.svg');
              opacity: 1;
            }
            .button.url{
              background-image: url('../images/ic_link_red.svg');
              opacity: 1;
            }
          }
        }
      }


      .action-item:last-child {
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
      }

      .action-item.add {
        font-size: 14px;
        color: #000000;
        text-align: center;
        line-height: 48px;
        height: 49px;
        cursor: pointer;
        text-transform: uppercase;

        &:nth-child(4) {
          display: none;
        }

        &::before {
          content: " ";
          width: 24px;
          height: 24px;
          display: inline-block;
          background: url("../images/new/ic_add_small.svg") no-repeat center center;
          opacity: 0.25;
          vertical-align: -7px;
          transition: opacity 60ms;
        }

        &:hover::before {
          opacity: 1;
        }
      }



    }
  }

  .card:hover{
    .top-buttons{
      .button{
        opacity: 0.3;
        transform: scale(1);

        &.remove{
          opacity: 1;
        }
      }

    }
  }


  .r-buttons{
    left: -27px;
    position: absolute;
    top: 10px;
    //  transform: translateY(-50%);
    width: 34px;
    opacity: 0;
    z-index: 10;
    transition: opacity 60ms;
    height: 90%;

    &.r-hide{
      opacity: 0!important;
    }

    > .button{
      width: 24px;
      height: 24px;
      opacity: 0.3;
      z-index: 10;
    }

    > .button:hover{
      opacity: 1;
    }

    .remove{
      background: url("../images/ic_trash.svg") center center no-repeat;
      position: absolute;
      left: 0;
      top: 0;
    }

    .move{
      cursor: ns-resize;
      background: url("../images/ic_drag_ver.svg") center center no-repeat;
      position: absolute;
      left: 0;
      top: 48px;
    }

    .l-hover{
      position: absolute;
      width: 24px;
      height: 100%;
      z-index: 1;
    }

  }

  &.text, &.image, &.plugin {

    .l-hover:hover ~ .remove,
    .move:hover ~ .remove{
      opacity: 0!important;
      transform: scale(0.3)!important;
    }

    .move{
      top: 0;
    }

    .remove{
      top: -17px;
      left: 257px;
      position: absolute;
      margin: 0;

      width: 32px;
      height: 32px;
      background: #ffffff none;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
      border: solid 1px rgba(0, 0, 0, 0.1);
      border-radius: 16px;
      transform: scale(0.3);
      opacity: 0;
      transition: opacity cubic-bezier(0.2, 0.7, 0.5, 1) 200ms, transform cubic-bezier(0.2, 0.7, 0.5, 1) 200ms;


      &::before{
        content: '';
        position: absolute;
        background: url("../images/new/ic_trash.svg") center center no-repeat;
        top: 0;
        left: 0;
        width: 30px;
        height: 31px;
        opacity: 0.3;
        transition: opasity 60ms;
      }

      &:hover{
        &::before{
          opacity: 1;
        }
      }
    }
  }

  &.plugin {
    .remove{
      left: 680px;
    }
  }
}

.card-item{
  > div:hover{
    .r-buttons{
      opacity: 1;
    }
  }


  &.text, &.image, &.plugin{
    > div:hover {
      .r-buttons {
        .remove {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }
}

.card-item.gallery{
  white-space: nowrap;
  //  overflow-x: auto;
 // padding: 0 0 8px;
  position: relative;

  .drag-box{
    position: relative;
    white-space: nowrap;
    display: inline-block;
  }

  .card{
    display: inline-block;
    white-space: normal;
    margin-right: 8px;
    border-radius: 7px;
    vertical-align: top;

    //.title {
    //  textarea {
    //    &::-webkit-input-placeholder {
    //      color: #ed7f6e;
    //    }
    //    &::-moz-placeholder {
    //      color: #ed7f6e;
    //    }
    //  }
    //}

    &.ui-sortable-helper {
      border-color: rgba(0, 0, 0, 0);
      box-shadow: 0 12px 16px -1px rgba(0, 0, 0, 0);
      transition: transform 80ms ease, box-shadow 200ms ease, border-color 80ms ease;
      &:active{
        border-color: rgba(0, 0, 0, .07);
        box-shadow: 0 12px 16px -1px rgba(0, 0, 0, .13);
        transform: scale(1.02,1.02); background:white;
      }
    }

    .body{
      textarea{
        white-space: pre-wrap;
      }
    }

    > .image {
      margin: 0;
      width: 254px;
      height: 144px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      background-color: #ffffff;
      overflow: hidden;

      &.found{
        background-color: #353e41;
      }

      &:hover {

        .img {
          opacity: 0.1;
        }

        .button-image,
        .button.remove,
        .button.crop {
          opacity: 0.7;

          &:hover {
            opacity: 1;
          }
        }
      }

      .img {
        width: 254px;
        height: 144px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: opacity 100ms;
        background-color: #ffffff;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;

        &.loading {
          text-align: center;
          vertical-align: middle;
          line-height: 160px;
          opacity: 1!important;
        }

        &.placeholder{
          opacity: 1!important;
          background-color: #ffffff;
          position: relative;
          border-bottom: solid 1px #ebebeb;

          .button-image--replace{
            opacity: 0.35;
            background-position: center 51px;
            background-image: url('../images/new/ic_image.svg');
            width: 100%;
            height: 100%!important;
            top: 0!important;
            margin: 0;
            line-height: 65px!important;

            .button-image__title{
              color: #000;
              font-size: 16px;
            }

            &:hover{
              opacity: 1;
            }
          }


        }
      }

      .button {
        @size: 24px;
        @offset: 8px;

        width: @size;
        height: @size;
        top: @offset;
        opacity: 0;
        z-index: 15;
        position: absolute;
        background-position: center center;
        background-repeat: no-repeat;
        transition: opacity 100ms;

        &.remove {
          background-image: url('../images/ic-close-white.svg');
          right: @offset;
        }

        &.crop {
          background-image: url('../images/ic_crop.svg');
          right: @offset + @size + 2px;
        }
      }
    }

    .action-list{
      .action-item:last-child{
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
      }
    }

    .top-buttons{
      button.image{
        position: relative;
        overflow: hidden;
        border:none;
        background-color: transparent;
      }
    }
  }

  .card.add{
    height: 321px;
    line-height: 321px;
    text-align: center;
    cursor: pointer;
    margin-left: -4px;
    //  border-radius: 7px;
    &.qr-mode{
      height: 277px;
      line-height: 277px;
    }
  }

  .card.add::after{
    content: " ";
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    background: url("../images/new/ic_add_large.svg") no-repeat center center;
    opacity: 0.3;
  }

  .card.add:hover::after{
    opacity: 1;
  }

  //.card:nth-child(1){
  //  border-top-left-radius: 7px;
  //  border-bottom-left-radius: 7px;
  //
  //  > .image{
  //    border-top-left-radius: 5px;
  //    .img{
  //      border-top-left-radius: 5px;
  //    }
  //  }
  //
  //  .action-list{
  //    .action-item:last-child{
  //      border-bottom-left-radius: 7px;
  //    }
  //  }
  //}

  .card:last-child{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;

    > .image{
      border-top-right-radius: 7px;
    }

    .action-list{
      .action-item:last-child{
        border-bottom-right-radius: 7px;
      }
    }
  }
}

.card-item.text{
  .card{
    background-color: #e2e2e2;

    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 6px -1px rgba(0, 0, 0, 0.07);

    .content{

      padding: 5px;
      .body{
        textarea, .wrap-mask{
          overflow: hidden;
          background-color: transparent;
          font-size: 16px;
          line-height: 1.32;
          color: #000000;
          height: 89px;
          padding: 7px 9px;
          white-space: pre-wrap;
          margin: 0;
          border-radius: 7px;
          top: 0;

          &:focus{
            box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.07);
            border: solid 1px rgba(0, 0, 0, 0.33)!important;
          }

          &.error:not(:focus){
            padding: 7px 9px;
          }
        }
      }
    }
  }
}

.card-item.bc-plugin{
  float:none;
  width: 680px;
  user-select: none;

  a{
    color:#e9604a;
    text-decoration: none;
  }

  a:hover{
    color:#e9604a;
    text-decoration: underline;
  }

  .card{
    position: relative;
    width: auto;
    padding: 32px 40% 52px 68px;
    border-radius: 7px;
    background-color: #f3f2f2;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    border: none;


    ol{
      padding: 0;
      margin: 0 0 24px;
      counter-reset: item;
      li{
        display: block;
        position: relative;
        margin: 0 0 24px;
        padding: 0 30px 0 0;

        input{
          display: block;
          border-radius: 3px;
          background-color: #ffffff;
          border: solid 1px #d9d9d9;
          height: 36px;
          line-height: 34px;
          width:90%;
          margin-top:12px;
          padding: 0 12px;
          user-select: text;
        }
      }

      li::before{
        left:-36px;
        width: 24px;
        height: 24px;
        line-height: 22px;
        border: solid 1px rgba(0,0,0,0.3);
        border-radius: 50%;
        counter-increment: item;
        content:counter(item);
        position: absolute;
        font-size: 16px;
        color: #000000;
        text-align: center;
      }
    }

    .col{
      position: absolute;
      right: 0px;
      top: 50%;
      height: 80%;
      width: 40%;
      border-left: 1px solid rgba(0,0,0,0.05);
      transform: translateY(-50%);
      margin-top: -23px;

      > div{
        position: absolute;
        right: 0px;
        top: 50%;
        height: auto;
        width: 100%;
        transform: translateY(-50%);
        padding: 0 32px 0 54px;
        font-size: 16px;
        line-height: 1.5;
        p{
          margin: 24px 0;
          label{
            position: relative;
            margin: 24px 0;

            input{
              position: absolute;
              left: -23px;
              top: 2px;
              height: 20px;

            }

            span{
              display: block;
              color: #999999;
            }
          }
        }

      }
    }

    .remove{
      position: absolute;
      width: 24px;
      height: 24px;
      background: url('../images/ic-close-black.svg') no-repeat center center;
      opacity: 0.2;
      right: 12px;
      top:12px;
      background-size: 24px 24px;
    }

    .remove:hover{
      opacity: 0.5;
    }

    .footer{
      background-color: #69a1f3;
      bottom: 0;
      color: #ffffff;
      font-size: 14px;
      height: 48px;
      left: 0;
      line-height: 1.1;
      padding: 8px 32px;
      position: absolute;
      width: 100%;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;

      .no-connection-page {
        margin-top: 0;
      }

      .fb-btn-box {
        position: relative;
        display: inline-block;
        vertical-align: center;
        width: 123px;
        height: 20px;
        border-radius: 3px;
        overflow: hidden;
        background: url("../images/spinner_b.svg") no-repeat 4px center #ffffff;
        background-size: 18px 18px;

        > div{
          > span{
            height: 40px!important;
          }
        }

        iframe {
          margin: -10px 0 0 -3px;
        }
      }
    }
  }
}




.card-item.admin-chat-plugin{
  .card{
    padding: 32px 32px 62px 32px;
    position: relative;
    overflow: hidden;
    width: 680px;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.07);
    border: solid 1px rgba(0,0,0,.07);
    border-bottom: solid 1px rgba(0,0,0,.15);

    .ptitle{
      padding: 0;
      font-weight: 300;
      font-size: 24px;
      line-height: 1.5;
      color: #000000;
      margin: 0 0 32px;
    }

    .selector{
      margin: 0 0 30px;
    }

    .admin-chat-top-buttons{
      position: absolute;
      left: 42px;
      top: 72px;
      height: 27px;
      width: 254px;
      text-align: right;
      opacity: 0;
      transition: opacity 100ms;
      -webkit-transition: opacity 100ms;
      overflow: hidden;
      white-space: nowrap;
      padding: 0 4px 0 0;

      .button{
        display: inline-block;
        vertical-align: top;
        opacity: 0.4;
        transition: opacity 60ms;
        width: 24px;
        height: 24px;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: transparent;
        margin-right: 8px;
      }

      .button:hover{
        opacity: 1;
      }

      .button.image{
        background-image: url('../images/new/ic_image.svg');
      }
    }

    .admin-chat-image {
      margin: -5px 0 0 -2px;
      width: 254px;
      height: 142px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      background-color: #000000;
      overflow: hidden;

      &:hover {
        @opacity: 0.5;

        .img {
          opacity: @opacity;
        }

        .button.remove,
        .button.crop {
          opacity: @opacity;

          &:hover {
            opacity: @opacity * 2;
          }
        }
      }

      .img {
        width: 254px;
        height: 142px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: opacity 100ms;
        background-color: #f3f2f2;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;

        &.loading {
          text-align: center;
          vertical-align: middle;
          line-height: 160px;
        }
      }

      .button {
        @size: 24px;
        @offset: 8px;

        width: @size;
        height: @size;
        top: @offset;
        opacity: 0;
        z-index: 15;
        position: absolute;
        background-position: center center;
        background-repeat: no-repeat;
        transition: opacity 100ms;

        &.remove {
          background-image: url('../images/ic-close-white.svg');
          background-size: 16px 16px;
          right: @offset;
        }

        &.crop {
          background-image: url('../images/ic_crop.svg');
          right: @offset + @size + 2px;
        }
      }
    }

    .sub-card{
      width: 254px;
      background-color: #ffffff;
      border: solid 1px #ebebeb;

      border-radius: 7px;

      &.start{
        margin: 0 0 32px;
        .content{
          .body{
            textarea{
              height: 40px;
            }
          }
        }
      }

      &.stop{
        margin: 0 0 32px;
        background-color: #ebebeb;
        .content{
          .body{
            textarea{
              font-size: 16px;
              line-height: 1.3;
              color: #000000;
              height: 68px;
              background-color: transparent;
              &:focus{
                background-color: #ffffff;
              }
            }
          }
        }

      }

      .action-item{
        width: 252px;

        .title{
          width: 252px;
        }

        .discount{
          right: 0;
        }
      }

      .col{
        position: absolute;
        left: 316px;
        top: auto;
        transform: none;
        -webkit-transform: none;
        height: auto;
        width: 333px;
        border: none;
        margin: -4px 0 0;

        h4{
          text-align: left;
          padding: 0;
          margin: 0 0 12px;
          font-size: 16px;
          line-height: 1.5;
          color: #000000;
          font-weight: bold;
        }
        p{
          font-size: 13px;
          line-height: 1.4;
          color: #807e7e;
          padding: 0;
          margin: 0 0 14px;
        }
      }
    }

    .settings{
      clear: both;
      margin: 0 0 32px;

      .title{
        font-weight: bold;
        font-size: 16px;
        line-height: 1.5;
        color: #000000;
        margin: 0 0 16px;
        padding: 0;
      }

      .timeout-settings {
        width: 260px;
        height: 84px;
        line-height: 84px;
        border-radius: 7px;
        background-color: #ffffff;
        font-size: 16px;
        color: #000000;
        display: inline-block;
        vertical-align: top;
     //   padding: 0 14px;

        > input {
          display: inline-block;
          vertical-align: middle;
          width: 64px;
          height: 36px;
          line-height: 34px;
          border-radius: 3px;
          background-color: #ffffff;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
          border: solid 1px rgba(0, 0, 0, 0.1);
          padding: 0 10px;
          margin: 0 8px 0 12px;
        }
      }

      .timeout-description {
        display: inline-block;
        width: 345px;
        padding: 0 0 0 19px;
        vertical-align: top;
        color: #807e7e;
        font-size: 13px;
        line-height: 1.4;
        margin: 0;
      }
    }

    .line {
      position: relative;
      .control {
        > label{
          display: block;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          input[type=checkbox]{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            opacity: 0;
            & + span{
              display: inline-block;
              width: 16px;
              height: 16px;
              border-radius: 3px;
              background-color: #ffffff;
              border: solid 2px #dfdddd;
              margin: 0 8px 0 0;
              vertical-align: -2px;
            }

            &:checked{
              & + span{
                background: url('../images/ic_done_w.svg') center center no-repeat #448af1;
                border: none;
                background-size: cover;
              }
            }
          }

          input[type=radio]{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            opacity: 0;
            & + span{
              display: inline-block;
              position: relative;
              border-radius: 50%;
              width: 16px;
              height: 16px;
              background-color: #ffffff;
              box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
              border: solid 1px rgba(0, 0, 0, 0.1);
              margin: 0 8px 0 0;
              vertical-align: -1px;
            }

            &:checked{
              & + span{
                &::after{
                  content: ' ';
                  z-index: 5;
                  top: 3px;
                  left: 3px;
                  position: absolute;
                  width: 8px;
                  height: 8px;
                  background-color: #448af1;
                  border-radius: 50%;
                }
              }
            }
          }
        }
      }
    }

    .footer{
      background-color: #69a1f3;
      bottom: 0;
      color: #ffffff;
      font-size: 16px;
      height: 48px;
      left: 0;
      line-height: 46px;
      padding: 0 32px;
      position: absolute;
      width: 100%;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;

      span{
        display: inline-block;
        width: 145px;
        height: 24px;
        border-radius: 3px;
        background-color: #ffffff;
        border: solid 1px rgba(0, 0, 0, 0.08);
        vertical-align: middle;
        margin: 0 5px 0 0;
      }
    }

    .page-connected {
      //  padding-bottom: 48px;
    }
  }

  .card:hover{
    .admin-chat-top-buttons{
      opacity: 1;
    }
  }
}


.card-item.form{
  float:none;
  width: auto;
  min-width: 680px;
  max-width: 960px;

  user-select: none;

  .card {
    position: relative;
    width: auto;
    padding: 40px 32px 0;
    border-radius: 7px;
    background-color: #f3f2f2;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    border: none;
    min-width: 880px;



    .line {
      margin-bottom: 16px;
      position: relative;

      input {
        height: 36px;
        line-height: 34px;
        border-radius: 3px;
        background-color: #ffffff;
        border: solid 1px #d9d9d9;
        padding: 0 12px;
        appearance: none;
        outline: none !important;
        font-size: 16px;
        color: #000000;
        margin:0 11px 0 0;
      }

      .selector{
        display: inline-block;
        margin:0 11px 0 0;
      }

      .s1{
        width: 20%;
        min-width: 170px;
      }

      .s2{
        width: 74.5%;
      }

      .s3{
        width: 52.5%;
      }

      .s4{
        width: 47.25%;
      }


      @media (max-width: 1280px){

        .s1{

        }

        .s2{

        }

        .s3{

        }

        .s4{

        }
      }


      .button.add{
        height: 32px;
        line-height: 32px;
        border-radius: 3px;
        background-color: rgba(0,0,0,0.05);
        text-align: center;
        margin: auto;
      }

      .button.add::after{
        content: " ";
        display: inline-block;
        background: url('../images/ic_add_small.svg') no-repeat center center;
        width: 24px;
        height: 24px;
        vertical-align: middle;
        opacity: 0.3;
      }

      .button.add:hover::after{
        opacity: 1;
      }

      .button.remove{
        height: 24px;
        position: absolute;
        right: 8px;
        top: 4px;
        width: 24px;
        background: url('../images/ic_trash.svg') no-repeat center center;
        opacity: 0;
        transition: opacity 100ms;

      }

      .button.remove:hover{
        opacity: 1!important;
      }
    }

    .line:last-child{
      margin:0 0 24px;
    }

    .line:hover{
      .button.remove{
        opacity: 0.3;
      }

    }

    .button.close{
      position: absolute;
      background-image: url('../images/ic-close-black.svg');
      width: 24px;
      height: 24px;
      top: 8px;
      right: 8px;
      background-size: 24px 24px;
      opacity: 0.3;
      transition: opacity 100ms;
    }

    .button.close:hover{
      opacity: 1;
    }

    .content{
      padding: 0;
      margin-right: -32px;
    }

    .footer{
      margin:0 -32px;
      padding: 0 0 8px 32px;
      border-top: 1px solid #ffffff;

      .title{
        font-size: 16px;
        line-height: 1.5;
        color: #000000;
        padding: 16px 0 12px;
      }
    }
  }
}

.card-item.image{
  .card{
    height: 200px;

    div {
      > *,
      > .image-box .replace{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
      }

      > .act{
        display: block;
      }

      > .upload,
      .replace{
        background: url("../images/new/ic_image.svg") no-repeat center 77px;
        text-align: center;
        padding: 31px 0 0;
        opacity: 0.3;
        border-radius: 5px;
        cursor: pointer;
        box-sizing: border-box;
        border: none;
        font-size: 14px;
        line-height: 1.71;
        color: #767676;
        transition: opacity 60ms;

        &:hover{
          opacity: 1;
        }
      }

      .replace{
        background: url("../images/new/ic_image_white.svg") no-repeat center 75px rgba(53,62,65,0.9);
        z-index: 10;
        opacity: 0;
        color: #ffffff;
        display: block!important;
        transition: opacity 100ms;
      }

      > .image-box{
        border-radius: 7px;
        box-sizing: initial;
        left: 0;
        padding: 0;
        top: 0;
        z-index: 1;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;

        &:hover {
          .replace{
            opacity: 1;
          }
        }
      }

      > .pre-loader{
        background-color: #ffffff;
        border-radius: 5px;
        z-index: 2;

        &::after{
          content: ' ';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0.3;
          z-index: 3;

          background: url("../images/spinner_b.svg") no-repeat center center;
          background-size: 32px 32px;
        }
      }

      &:hover {
        .button-picture-wrapper {
          display: block !important;
        }
      }
    }
  }
}


.add-button-wrapper .add-button-title {
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  color: #767676;
  box-shadow: none;
  margin-bottom: 12px;
}
.card-item.add{
  position: relative;
  // height: 270px;
  //padding: 23px 0 0;

  // width: 680px;
  width: 540px;
  height: 64px;
  border-radius: 7px;
  background-color: #ffffff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 3px 6px -1px rgba(0, 0, 0, 0.07);

  ul{
    opacity: 1;
    pointer-events: none;
    transition: opacity 150ms;

    padding: 0;
  //  margin: -15px 0 15px 0;
    margin: 0;
    li{
      display: block;
      padding: 0;
      margin: 0;
      outline: none;
      float: left;
      height: 64px;
      width: 135px;
      cursor: pointer;
      box-shadow: inset -1px 0 0 0 #e0e0e0;
      > a{
        display: inline-block;
        outline: none;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
        text-decoration: none;
        transition: background-color 100ms 0ms;
        width: 100%;
        text-align: center;
        text-transform: uppercase;

        .asc{
          position: absolute;
          right: 12px;
          opacity: 0;
          transition: opacity 100ms;
          width: 24px;
          height: 24px;
          margin-top: -36px;
          cursor: pointer;

          background: url('../images/ic_info.svg') center center no-repeat;
          background-size: 22px auto;
        }

        .asc-popup{
          width: 256px;
          border-radius: 7px;
          background-color: rgba(0, 0, 0, 0.05);
          height: 242px;
          padding: 0;
          position: absolute;
          right: -272px;
          top: -99999px;
          opacity: 0;
          transition: top 0ms 100ms, opacity 100ms 0ms;
          line-height: 242px;

          > div {
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            padding: 0 24px;

            font-size: 14px;
            line-height: 24px;
            color: #000000;

            text-align: left;

            p{
              padding: 0;
              margin: 0 0 24px;

              &:last-child{
                margin: 0;
              }
            }

            ol{
              margin: 0 0 20px;
             padding: 0;
              li{
                list-style-position: inside;
                display: list-item;
              }
            }
          }

        }


        .asc:hover{
          opacity: 1!important;
        }

        .asc:hover + .asc-popup{
          transition: top 0ms 0ms, opacity 100ms 0ms;
          top: -2px;
          opacity: 1;
        }
      }

      // > span:hover,a:hover{
      //   //text-decoration: underline;
      //   background-color: #f3f2f2;
      //   .asc{
      //     opacity: 0.3;
      //   }
      //
      //   &::before{
      //     opacity: 1;
      //   }
      // }

      // > span{
      //   color: rgba(0,0,0,0.4);
      // }

    span {
      display: inline-block;
      vertical-align: middle;
      margin: 10px 0 0 0;
      width: 100%;
      height: 24px;
      background: center center no-repeat;
      background-size: contain;
      opacity: 0.3;
      transition: opacity 150ms;

      &.gallery{
        background-image: url('../../assets/images/new/ic_gallery.svg');
      }

      &.text{
        background-image: url('../../assets/images/new/ic_textcard.svg');
      }

      &.image{
        background-image: url('../../assets/images/new/ic_imagecard.svg');
      }

      &.plugin{
        background-image: url('../../assets/images/new/ic_plugin.svg');
      }
    }
      &:hover {
        background-color: #F6F6F6;
        span {
          opacity: 1;
        }
      }
    }
    li:last-child {
      box-shadow: none;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
    }
    li:first-child {
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;
    }
  }


  //&::after{
  //  content: ' ';
  //  position: absolute;
  //  left: 0;
  //  top: 0;
  //  width: 100%;
  //  height: 100%;
  //  z-index: 10;
  //  background: url('../images/new/ic_add_large.svg') no-repeat center center;
  //  opacity: 0.3;
  //}

  &:hover{
    ul{
      opacity: 1;
      pointer-events: auto;
    }

    &::after{
      display: none;
    }
  }
}

.card-item::after{
  content: " ";
  display: block;
  clear: both;
}
// }
.cards-list{
  position: relative;
  &::after{
    content: " ";
    display: block;
    clear: both;
  }
}


.instagram-lock{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(243,242,242,0.7);
  overflow: hidden;
  border-radius: 7px;
  z-index: 100;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  > div{
    position: absolute;
    text-align: center;
    width: 325px;
    color: #000000;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    font-size: 14px;
  }

  & ~ *{
    -webkit-filter: blur(3px);
    filter: blur(3px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
    pointer-events: none;
  }
}

.button-picture-wrapper {
  position: relative !important;
  display: none !important;
  top: 0 !important;
  left: 0 !important;
  width: 255px !important;
  height: 200px !important;
  background-color: rgba(53,62,65,.9);
  border-radius: 7px;
  opacity: 1;
  z-index: 1;

  .button-image--replace-picture,
  .button-image--crop-picture {

    .button-image__title {
      height: 21px !important;
    }

    &:hover {
      opacity: 1 !important;
    }
  }

  .button-image--replace-picture {
    width: 50px !important;
    margin-left: 60px;
  }

  .button-image--crop-picture {
    width: 32px !important;
    margin-left: 161px;
  }

  &:hover {
    .button-image {
      opacity: 0.7;
    }
  }
}

.button-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 266px;
  height: 142px;

  &:hover {
    .button-image {
      opacity: 0.5;
    }
  }
}

.button-image {
  position: absolute !important;
  top: 50% !important;
  height: 50px !important;
  margin-top: -23px;
  line-height: 48px;
  cursor: pointer;
  opacity: 0;

  .button-image__title {
    position: static !important;
    display: inline-block !important;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    vertical-align: bottom;
    line-height: 1.43;
    color: #ffffff;
  }

  &--replace {
    display: inline-block !important;
    padding: 0px;
    border: none;
    outline: none;
    background: transparent url('../images/new/ic_image_white.svg') no-repeat top center;

    &-gallery {
      margin-left: 34px;
    }

    &-picture {
      margin-left: 34px;
    }
  }

  &--crop {
    display: inline-block !important;
    background: transparent url('../images/ic_crop.svg') no-repeat top center;

    &-gallery {
      margin-left: 114px;
    }
  }

  &--remove {
    display: inline-block !important;
    background: transparent url('../images/new/ic_remove.svg') no-repeat top center;
  //  background-size: 24px;

    &-gallery {
      margin-left: 172px;
    }
  }
}
