.suggest{
  .host{

    margin:0;

    .tags{

      border: 1px solid rgba(0, 0, 0, 0.05);
      box-shadow: none;

      padding: 0px 3px 2px;

      border-radius: 3px;
      white-space: nowrap;

      line-height: 0;

      .tag-list {

        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        max-width: 79%;

        .tag-item {
          font: 12px/25px "Open Sans";

          float: none;
          position: relative;

          border:none;
          border-radius: 3px;
          background: rgba(0, 0, 0, 0.05) none repeat scroll 0 0 !important;
          margin: 0 6px 0 0;

          max-width: 220px;

          span{
            display: inline-block;
            max-width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle;
          }

          .remove-button{
            opacity: 0.3;
            padding: 0 0 1px;
            font: normal 16px "Open Sans";
          }
          .remove-button:hover{
            opacity: 1;
          }

          &::after{
            bottom: 15px;
            content: ", ";
            height: 5px;
            position: absolute;
            right: -5px;
            top: 0;
            width: 5px;

          }
        }

        .tag-item:last-child{
          &::after{
            content: '';
          }
        }
      }

      .input{
        float: none;
        vertical-align: middle;
        min-width: 154px;
        font: 12px/25px "Open Sans";
      }
    }


    .autocomplete{
      padding: 0;
      width: 233px;
      right: 0;
      margin: 0;
      border: none;
      border-radius: 3px;
      overflow: hidden;
      text-align: left;


      .suggestion-list{
        margin: 0;
        padding: 0 0 13px;
        max-height: 219px;
        overflow-y: auto;
        position: relative;
        width: auto;
        overflow-x: hidden;

        border-radius: 3px;
        background-color: #ffffff;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
        border: solid 1px rgba(0, 0, 0, 0.0);

        .suggestion-item{
          padding: 5px 10px 5px 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          font: 14px/1.5 "Open Sans";
          color:#000000;
          min-width: 162px;

          em{
            background-color: transparent!important;
            color:#000000!important;
            font: 14px/1.5 "Open Sans"!important;
          }

          &.selected{
            background-color: #f3f2f2;
            color:#000000;

          }
        }
      }
    }
  }

  &.vertical{
    .host{
      .tags{
        min-height: 32px;

        .tag-list{
          display: inline;
          width: 100%;
          min-width: 100%;

          .tag-item{
            white-space: nowrap;
            margin: 2px 6px 0 0;
          }
        }

        .input{
          margin-bottom: -4px;
          width: 100px;
          min-width: inherit;
        }
      }

      .tags.focused{

        white-space: normal;

        .tag-list{
          white-space: normal!important;
          width: 100%;
          min-width: 100%;
          display: block;

          .tag-item{
            white-space: nowrap!important;
            max-width: 100%;
          }


        }

        .input{
          width: 100%!important;
        }
      }
    }

    .autocomplete{
      width: 100%;
      max-height: 206px;
    }
  }

}
