div.plugin-modules{


  .card{
    width: 680px;
    height: auto;
    border-radius: 7px;
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,0.1);
    border-bottom-color: rgba(0,0,0,0.13);
    box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.07);

    padding: 24px;

    .title{
      padding: 0;
      color: #000000;
      margin: 0 0 14px;

      font-size: 18px;
      font-weight: 600;
      line-height: 24px;

      &.has-error{
        color: #e9604a;
        &::after{
          content: 'ERROR(S)';
      //    vertical-align: 12px;
          font-size: 11px;
          font-weight: normal;
          color: #e9604a;
          margin: 0 0 0 6px;
          text-transform: uppercase;
          top: 16px;
          position: absolute;
        }
      }

      &.icon{
        background-repeat: no-repeat;
        background-position: left center;
        padding: 0 0 0 30px;
        background-size: auto 24px;

        &.rss {
        }
        &.twitter {
        }
        &.youtube {
        }
        &.instagram {
        }
        &.google {
        }
        &.bind {
        }
        &.contact {
        }
        &.form {
        }
        &.json {
        }
        &.subscriptions-manager {
          background-image: url('../images/icons/ic_r_sub_mngr.svg');
        }
        &.subscriptions-publisher {
        }
        &.zapier {
        }
        &.subscriber {
          background-image: url('../images/icons/ic_r_subscriber.svg');
        }
        &.set-up-variable {
          background-image: url('../images/icons/ic_parameter_round.svg');
        }
        &.go-to-block {
          background-image: url('../images/icons/ic_go_to_block_round.svg');
        }
        &.audio-plugin {
          background-image: url('../images/icons/ic_audio_round.svg');
        }
        &.video-plugin {
          background-image: url('../images/icons/ic_video_round.svg');
        }
        &.chatroom {
          background-image: url('../images/icons/ic_chatroom_round.svg');
        }
      }
    }

    .info{
      font-size: 14px;
      line-height: 1.71;
      color: #767676;

      margin: 0 0 24px;
      &:last-child{
        margin: 0;
      }
    }
    .info.auto-post {
      margin: 0 0 12px;
    }
    .info.chatroom-info {
      margin: 0;
    }

    a {
      text-decoration: none;
      color: #458af1;
      &:hover {
        text-decoration: underline;
      }
    }
    .content.autopost {
      ol {
        width: auto;
      }
      input {
        width: 100%;
      }
      div.status {
        top: 6px;
      }
    }
    .content{
      position: relative;
      padding: 0;

      &.zap{
        min-height: 250px;
      }

      .sub-title{
        font-size: 16px;
        line-height: 1.5;
        color: #000000;
        margin: 0 0 16px;
        font-weight: bold;
      }

      .copy-link{
        font-weight: bold;
        word-wrap: break-word;
      }

      ol{
        width: 356px;
        margin: 0;
        padding: 0;

        li{
          list-style-position: inside;
          font-size: 16px;
          font-weight: normal;
          line-height: 1.5;
          margin-bottom: 16px;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }


      .control{

        position: relative;

        .control-title{
          font-weight: normal;
          margin: 0 0 6px 1px;
          text-transform: uppercase;
          font-size: 13px;
          line-height: 24px;
          color: #767676;
        }

        &.required .control-title{
          &::after{
            content: ' *';
            color: #e9604a;
          }
        }
        .variable-input {
          text-indent: 13px;
        }
        .variable-input-focused {
          padding-right: 20px;
        }
        .variable-mask-wrapper {
          height: 24px;
          position: absolute;
          width: 184px;
          top: 36px;
          left: 5px;
          overflow-x: hidden;
          pointer-events: none;
        }
        .variable-mask {
          direction:rtl;
          display: inline-block;
          // position: relative;
          // top: -30px;
          // left: 5px;
          text-align: left;
          pointer-events: none;
          color: transparent;
          float: left;
          padding: 0 5px;
          border-radius: 13px;
          max-width: 185px;
          &:before {
            content: '{{';
            color: #000;
            margin-left: 18px;
          }
          &:after {
            content: '}}';
            color: #000;
            margin-right: 4px;
            position: absolute;
            left: 6px;
          }
          &.show-mask {
            background-color: #906d60;
            color: #ffffff;
            padding: 1px 8px;
            direction: ltr;
            max-width: none;
            &::before{
              content: '{{';
              font-size: 16px;
              position: relative;
              left: -2px;
              top: -1px;
              color: #e0995d;
              margin-right: 0px;
              margin-left: 0;
            }
            &::after {
              content: '}}';
              font-size: 16px;
              position: relative;
              left: 2px;
              top: -1px;
              color: #e0995d;
              margin-left: 0px;
            }
          }
        }
        .input-mask {
          max-width: 161px;
        }


        > label{
          display: block;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          input[type=checkbox]{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            opacity: 0;
            & + span{
              display: inline-block;
              width: 16px;
              height: 16px;
              border-radius: 3px;
              background-color: #ffffff;
              border: solid 2px #dfdddd;
              margin: 0 8px 0 0;
              vertical-align: -2px;
            }

            &:checked{
              & + span{
                background: url('../images/ic_done_w.svg') center center no-repeat #448af1;
                border: none;
                background-size: cover;
              }
            }
          }

          input[type=radio]{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            opacity: 0;
            & + span{
              display: inline-block;
              position: relative;
              border-radius: 50%;
              width: 16px;
              height: 16px;
              background-color: #ffffff;
              box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
              border: solid 1px rgba(0, 0, 0, 0.1);
              margin: 0 8px 0 0;
              vertical-align: -1px;
            }

            &:checked{
              & + span{
                &::after{
                  content: ' ';
                  z-index: 5;
                  top: 3px;
                  left: 3px;
                  position: absolute;
                  width: 8px;
                  height: 8px;
                  background-color: #448af1;
                  border-radius: 50%;
                }
              }
            }
          }
        }

        .selector{
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
          border: solid 1px rgba(0, 0, 0, 0.15);
          margin: 0;
          vertical-align: inherit;
          ul{
            width: 102%;
            max-height: 274px;//for 6.5 options google-search selector
          }

          &.disabled{
            pointer-events: none;
            cursor: default;
            opacity: 0.6;
          }
        }

        input, .input {
          display: inline-block;
          height: 36px;
          line-height: 34px;
          border-radius: 3px;
          background-color: #ffffff;
          box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.07);
          border: solid 1px rgba(0, 0, 0, 0.15);
          font-size: 16px;
          color: #000000;
          padding: 0 0 0 11px;
          &.input-audio, &.input-video {
            border-radius: 7px;
            background-color: rgba(0, 0, 0, 0.01);
            box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
            border: solid 1px rgba(0, 0, 0, 0.12);
          }
        }




        .status{
          content: ' ';
          width: 24px;
          height: 24px;
          position: absolute;
          right: 4px;
          top: 36px;
          cursor: pointer;
          background: no-repeat center center;
          background-size: cover;
          display: none;
        }

        &.error{
          input{
            border: solid 2px #e9604a;
            line-height: 32px;
            color: #e9604a;
            background-color: #ffefed;
            padding-right: 27px;

            &::-webkit-input-placeholder {color:#e9604a;}
            &::-moz-placeholder          {color:#e9604a;}
            &:-moz-placeholder           {color:#e9604a;}
            &:-ms-input-placeholder      {color:#e9604a;}
            &:-o-input-placeholder      {color:#e9604a;}
            &:input-placeholder      {color:#e9604a;}
            &.input-audio, &.input-video {
              border: solid 1px #e9604a;
            }
          }
          .status{
            display: block;
            background-image: url('../images/ic_error.svg');

            &:hover{
              &::after{
                position: absolute;
                content: attr(error);
                min-width: 100px;
                border-radius: 3px;
                background-color: #053748;
                padding: 12px;
                bottom: 34px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 100;
                font-size: 14px;
                font-weight: normal;
                line-height: 1.29;
                color: #ffffff;
                word-wrap: break-word;
                white-space: nowrap;
              }

              &::before{
                position: absolute;
                content: ' ';
                left: 50%;
                bottom: 28px;
                width: 10px;
                height: 13px;
                z-index: 99;
                background-color: #053748;
                transform: translateX(-50%) rotate(45deg);
              }
            }
          }
        }

        &.process{
          input{
            padding-right: 27px;
          }
          .status{
            display: block;
            background-image: url('../images/spinner_b.svg');
            background-size: 20px auto;
          }
        }

        &.ok{
          input{
            padding-right: 27px;
          }
          .status{
            display: block;
            background-image: url('../images/ic_done_green.svg');
          }
        }

        &.new-line{
          display: block!important;
          margin: 0!important;
        }

        .comment{
          font-size: 14px;
          line-height: 1.71;
          color: #767676;
          margin: -10px 0 16px;
          white-space: normal;
        }
      }

      .l-col {
        width: 100%;

        .h-block{
          margin: 0 0 32px;
          &:last-child{
            margin: 0;
          }
        }

        .line {
          display: block;
          white-space: nowrap;
          position: relative;

          &.white-block{
            background-color: #ffffff;
            border-radius: 7px;
            padding: 24px;
            font-size: 16px;
            line-height: 1.5;
            color: #000000;
          }
          &.border-block{
            padding: 24px;
            font-size: 16px;
            line-height: 1.5;
            color: #000000;
            border-radius: 7px;
            border: solid 2px #dfdddd;
          }

          &:last-child{
            .control{
              margin: 0 11px 0 0;
            }
          }

          .control {
            display: inline-block;
            vertical-align: top;
            margin: 0 13px 18px -2px;
            padding: 0 0 0 1px;

            &.size-181 {
              width: 181px;
            }
            &.size-191 {
              width: 191px;
            }
            &.size-195 {
              width: 195px;
            }
            &.size-199 {
              width: 199px;
            }
            &.size-294 {
              width: 294px
            }
            &.size-300 {
              width: 300px
            }
            &.size-337 {
              width: 337px;
            }
            &.size-360 {
              width: 360px
            }
            &.size-365 {
              width: 365px;
            }
            &.size-406 {
              width: 406px;
            }
            &.size-616 {
              width: 616px;
            }
            &.size-full {
              width: 100%;
            }

            input, .input {
              display: block;
              width: 100%;
            }

            .selector {
              width: 100%;
            }

            p {
              margin: 8px 0 0 1px;
              white-space: normal;
              font-size: 14px;
              font-weight: normal;
              line-height: 1.43;
              color: #a6a6a6;
            }

            .button.add{
              width: 100%;
              height: 36px;
              line-height: 34px;
              border-radius: 3px;
              background-color: #ffffff;
              box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
              border: solid 1px rgba(0, 0, 0, 0.15);
              font-size: 14px;
              color: #000000;
              text-align: center;
              text-transform: uppercase;

              &::before{
                background: url(../images/ic_add_big.svg) no-repeat center center;
                content: ' ';
                display: inline-block;
                width: 12px;
                height: 12px;
                margin: 0 8px 0 0;
                opacity: 0.25;
                background-size: 20px auto;
                vertical-align: -1px;
              }

              &:hover{
                border: solid 1px rgba(0, 0, 0, 0.8);
                &::before{
                  opacity: 0.8;
                }
              }
            }

            div.text{
              white-space: normal;
              font-size: 14px;
              line-height: 1.4;
              color: #807e7e;
            }

          }

          .button.remove{
            display: inline-block;
            opacity: 0;
            margin: 25px 0 0 -14px;
            left: 632px;
            top: 6px;

            &:hover{
              opacity: 1!important;
            }
          }

          &:hover{
            .button.remove{
              opacity: 1;
              transform: scale(1);
            }
          }
        }


      }


      .r-col{
        position: absolute;
        top: 0;
        right: 0;
        width: 235px;
        height: 100%;

        .section{
          position: absolute;
          top: 40px;
          bottom: 0;
          width: 100%;
          height: auto;
          border-radius: 7px;
          background-color: #ffffff;
          padding: 24px 22px;
          border: 1px solid #e6e6e6;

          .line {
            font-size: 16px;
            line-height: 1.5;
            color: #000000;
            margin: 0 0 24px;

            .control{
              display: inline-block;

              .selector {
                width: 187px;
              //  margin: -10px 0 -10px 8px;
              }

              > p{
                color: #999999;
                font-size: 14px;
              //  margin: 3px 0 0 29px;
                margin: 3px 0 0;
              }
            }
          }
        }
      }
      &.audio-content, &.video-content {
        .line {
          .control {
            .status {
              top: 6px;
            }
          }
        }
      }
    }

    .asc{
      position: absolute;
      top: 24px;
      right: 24px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      background: url('../images/ic_info.svg') center center no-repeat;
      background-size: cover;
      opacity: 0.25;

      .popup-help {
        width: 380px;
        height: 1px;
        overflow: hidden;
        border-radius: 7px;
        background-color: #f0efef;
        box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
        border: solid 1px rgba(0, 0, 0, 0.05);
        position: absolute;
        z-index: 1000;
        padding: 24px;

        font-size: 14px;
        line-height: 1.4;
        color: #807e7e;

        opacity: 0;
        right: 42px;
        top: 50%;
        transform: translateY(-50%);
        transition: height 0ms 100ms, opacity 100ms 0ms;

        pointer-events: auto;
        cursor: default;

        &::after{
          content: ' ';
          position: absolute;
          width: 20px;
          height: 20px;
          background-color: #f0efef;
          border-top: solid 1px rgba(0, 0, 0, 0.05);
          border-left: solid 1px rgba(0, 0, 0, 0.05);
          top: 50%;
          right: -10px;
          transform: translateY(-50%) rotate(135deg);
        }

        h3{
          color: #000000;
          margin: 0 0 24px;
          padding: 0;
        }

        ul{
          padding: 0 0 0 20px;
          list-style-type: disc;
          margin: -10px 0 0;
        }

        p{
          padding: 0;
          margin: 0 0 14px;
          &:nth-last-child(1){
            margin: 0!important;
          }
        }

        .button.close{
          pointer-events: auto;
          position: absolute;
          right: 24px;
          top: 24px;
          background-size: 20px auto;
          opacity: 0.25;
          &:hover{
            opacity: 1;
          }
        }
      }

      &:hover{
        opacity: 1;
      }

      &.act{
        opacity: 1;

        .popup-help{
          opacity: 1;
          overflow: visible;
          transition: height 0ms 0ms, opacity 100ms 0ms;
          height: auto;
        }
      }
    }
  }


  .block-autocomplete{
    display: inline-block;
    vertical-align: middle;
    margin: -7px 0 -7px 8px!important;

    .suggest{



      .host{
        //  width: 412px;
        height: 36px;
        border-radius: 3px;
        background-color: #ffffff;
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.07);
        border: solid 1px rgba(0, 0, 0, 0.15);

        .autocomplete{
          width: 100%!important;
          max-height: 206px;
        }

        .tags{
          border: none;
          padding: 0;
          background-color: transparent;

          .tag-list{
            display: block;
            width: auto;
            max-width: inherit;
            padding: 3px;

            .tag-item{
              font: 16px/28px "Open Sans";
              color: #ffffff;
              float: none;
              max-width: inherit;
              padding: 0 10px;
              height: 28px;
              border-radius: 3px;
              background-color: #448af1!important;

              span{
                max-width: inherit;
                margin: -4px 0 0 0;
              }

              .remove-button{
                font-size: 22px;
                text-decoration: none;
                height: 20px;
                line-height: 20px;
                display: inline-block;
                vertical-align: -2px;
                color: #ffffff;
                opacity: 1;
                pointer-events: auto;
              }
            }
          }

          input{
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%!important;
            border: none;
            background-color: transparent;
            box-shadow: none;
            margin: 0;
          }
        }
      }
    }

    &.selected{
      input{
        width: 1px!important;
        opacity: 0;
        height: 1px!important;
        position: absolute;
      }

      .host{
        background-color: rgba(255,255,255,0.5);
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.045);
        border: solid 1px rgba(0, 0, 0, 0.07);
        pointer-events: none;
      }
    }
  }
}

.help-image{
  margin:0 0 16px;
  > .line{
    margin: 0 0 6px;

    &:last-child{
      margin: 0;
    }

    &.left{
      text-align: left;
    }
    &.right{
      text-align: right;
    }
    &.center{
      text-align: center;
    }

    &.size-170{
      width: 170px;
    }
    &.size-295{
      width: 295px;
    }

    > .box{
      display: inline-block;
      margin: 0 1px;

      &.white{
        width: 80px;
        border-radius: 8px;
        background-color: #ffffff;
        overflow: hidden;
      }

      .img{
        background-size: cover;
        background-position: 0 0;
        background-repeat: no-repeat;

        &.top-img1{
          width: 80px;
          height: 32px;
          background-image: url('../../../../assets/images/help/pic_plgn_help_top_img1.svg');
        }
        &.top-img2{
          width: 80px;
          height: 32px;
          background-image: url('../../../../assets/images/help/pic_plgn_help_top_img2.svg');
        }
        &.top-img3{
          width: 80px;
          height: 32px;
          background-image: url('../../../../assets/images/help/pic_plgn_help_top_img3.svg');
        }
        &.top-text1{
          width: 80px;
          height: 60px;
          background-image: url('../../../../assets/images/help/pic_plgn_help_top_text1.svg');
        }
        &.top-text2{
          width: 80px;
          height: 60px;
          background-image: url('../../../../assets/images/help/pic_plgn_help_top_text2.svg');
        }
        &.card1-long{
          width: 80px;
          height: 60px;
          background-image: url('../../../../assets/images/help/pic_plgn_help_card1_long.svg');
        }
        &.card2-long{
          width: 80px;
          height: 60px;
          background-image: url('../../../../assets/images/help/pic_plgn_help_card2_long.svg');
        }
        &.middle-text1{
          width: 80px;
          height: 28px;
          background-image: url('../../../../assets/images/help/pic_plgn_help_middle_text1.svg');
        }
        &.middle-btnsubscr{
          width: 80px;
          height: 18px;
          background-image: url('../../../../assets/images/help/pic_plgn_help_middle_btnsubscr.svg');
        }
        &.middle-btn{
          width: 80px;
          height: 18px;
          background-image: url('../../../../assets/images/help/pic_plgn_help_middle_btn.svg');
        }
        &.bottom-text1{
          width: 80px;
          height: 28px;
          background-image: url('../../../../assets/images/help/pic_plgn_help_bottom_text1.svg');
        }
        &.bottom-btnshow{
          width: 80px;
          height: 18px;
          background-image: url('../../../../assets/images/help/pic_plgn_help_bottom_btnshow.svg');
        }
        &.bottom-btn{
          width: 80px;
          height: 18px;
          background-image: url('../../../../assets/images/help/pic_plgn_help_bottom_btn.svg');
        }
        &.msg-bot1{
          width: 120px;
          height: 28px;
          background-image: url('../../../../assets/images/help/pic_plgn_help_msg_bot1.svg');
        }
        &.msg-user1{
          width: 120px;
          height: 28px;
          background-image: url('../../../../assets/images/help/pic_plgn_help_msg_user1.svg');
        }
      }

    }

  }
}

.communication-info-link {
  position: absolute;
  top: 32px;
  right: 34px;
  width: 20px;
  height: 20px;
  background: url('../images/ic_info.svg') center center no-repeat;
  background-size: cover;
  text-decoration: none;
  opacity: 0.25;
  cursor: pointer;

  &:hover{
    opacity: 1;
  }
}

.digest-body {

  .digest-body-line {
    &::after {
      display: table;
      clear: both;
      content: '';
    }
  }

  .digest-body-line--margin-bottom {
    margin-bottom: 5px;
  }

  .digest-body-line__info-wrapper {
    float: left;
    margin-left: 25px;
    width: 303px;
  }

  .digest-body-line__title {
    margin-top: 0;
    margin-bottom: 8px;
  }

  .textarea-wrapper {
    position: relative;
    float: left;
    width: 270px;
    height: 59px;
    padding: 5px 2px 4px;
    border-radius: 18px;
    background-color: #ebebeb;
    margin: 0px;
    .title {
      margin: 0 !important;
      font-weight: normal !important;
      font-size: 16px !important;
      line-height: normal !important;
    }
    .wrap-mask {
      width: 252px;
      height: 44px!important;
      top: -1px;
      left: 7px;
    }
    .error:not(:focus) {
      border: solid 2px #e9604a;
      padding: 2px 5px 0;
      color: #e9604a;

      &::-webkit-input-placeholder {color:#e9604a;}
      &::-moz-placeholder          {color:#e9604a;}
      &:-moz-placeholder           {color:#e9604a;}
      &:-ms-input-placeholder      {color:#e9604a;}
      &:-o-input-placeholder      {color:#e9604a;}
      &:input-placeholder      {color:#e9604a;}
    }
    textarea {
      display: block;
      width: 252px;
      height: 45px;
      padding: 3px 6px 0;
      margin: 2px 7px;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.3;
      color: #000000;
      white-space: inherit;
      border-radius: 4px;
      border: solid 1px transparent;
      background-color: transparent;
      transition: border-color 100ms;
      overflow: hidden;
      resize: none;
      &:focus {
        border: solid 1px #d9d9d9;
        background-color: #ffffff;
        transition: border-color 100ms;
      }

      &:focus + .discount {
        opacity: 1;
      }
    }

    .discount {
      position: absolute;
      right: 8px;
      bottom: 1px;
      text-align: center;
      font-size: 10px;
      color: #ffffff;
      opacity: 0;
      transition: opacity 100ms;

      line-height: 14px;
      padding: 0 4px;
      height: 14px;
      border-radius: 8px;
      background-color: #5dc991;
    }
  }

  .editable {
    color: #807e7e;
  }

  .digest-text {
    border-bottom-left-radius: 5px;
  }

  .subscription-text {
    border-top-left-radius: 5px;
    height: 92px;
    span.discount {
      top: 32px;
    }
  }

  .bottom-sub-title {
    background: #ffffff;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
    margin-left: 12px;
  }
  &::after {
    display: table;
    clear: both;
    content: '';
  }
}
