<div>
  <p ng-class="{'has-error': vm.hasValidationError}" class="title">
    JSON API
  </p>
  <p class="info">
    Shows JSON based data as a gallery, a text card and/or an image. You can use a static URL or a URL with a user variable saved in a Data collection form plugin. View <a href="https://help.chatfuel.com/facebook-messenger/plugins/json-plugin/" target="_blank">http://help.chatfuel.com/facebook-messenger/plugins/json-plugin/</a> to use proper JSON format.
  </p>
  <div class="content">
    <div class="l-col">
      <div class="line sub-title">
        Input:
      </div>
      <div class="line">
        <div smart-save="url" class="control size-616 required" suggest-template>
          <div class="control-title">JSON URL</div>
          <input ng-blur="vm.save()" placeholder="Required" ng-model="vm.item.config.url"/>
          <p ng-bind-html="'To add user variable saved via «User input» plugin use this format: <b>\{\{user variable\}\}</b>.'"></p>
        </div>
      </div>
      <div class="line">
        <div class="control">
          <label>
            <input type="checkbox" ng-change="vm.save()" ng-model="vm.item.config.show_error_messages" /><span></span>
            Report plugin errors in the bot
          </label>
        </div>
      </div>
    </div>
  </div>

  <a href="https://help.chatfuel.com/facebook-messenger/plugins/json-plugin/" target="_blank">
    <div class="asc"></div>
  </a>
  <localization item="vm.item"></localization>
</div>
